<template>
    <div >
            <h1>福彩3D</h1>
            <ul>
<li>该游戏的投注时间、开奖时间和开奖号码与福彩3D完全同步，每天开奖 1 期。</li>
<li><span class="li-head">三星直选复式</span><p>玩法说明</p>从百、十、个位中选择一个3位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖。    <p>中奖举例</p>如：百位选择1，十位选择2，个位选择3，开奖号码为是123，即为中奖。</li>
<li><span class="li-head">三星直选单式</span><p>玩法说明</p>手动输入一个3位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖。<p>中奖举例</p>如：手动输入123，开奖号码为是123，即为中奖。</li>
<li><span class="li-head">三星直选和值</span><p>玩法说明</p>所选数值等于开奖号码的三个数字相加之和，即为中奖。    <p>中奖举例</p>如：选择6，开奖号码为123、141、114、006、060等任意一个和值为6的结果，即为中奖。</li>
<li><span class="li-head">三星组三</span><p>玩法说明</p> 从0-9中任意选择2个数字组成2注，所选号码与开奖号码相同，顺序不限，即为中奖。    <p>中奖举例</p> 如：选择12（展开为122，212，221 和 112、121、211），开奖号码为212 或 121，即为中奖。</li>
<li><span class="li-head">三星组选和值</span><p>玩法说明</p> 所选和值等于开奖号码的三个数字相加之和，即为中奖。    <p>中奖举例</p> 如：选择6，开奖号码为114中组三奖，开奖号码为015中组六奖。</li>
<li><span class="li-head">一码不定位</span><p>玩法说明</p>从0-9中选择1个号码组成一注，只要开奖结果中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择一码不定位4，开出4xx、x4x、xx4即为中奖。</li>
<li><span class="li-head">二码不定位</span><p>玩法说明</p>从0-9中选择2个不同的号码组成一注，开奖号码中同时包含所选的2个号码，即为中奖。    <p>中奖举例</p>如：选择二码不定位4、5，开奖号码为x45、5x4、x54即为中奖。</li>
<li><span class="li-head">前二直选</span><p>玩法说明</p>从百位和十位上至少各选1个号码，所选号码与开奖号码百位、十位相同，且顺序一致，即为中奖。    <p>中奖举例</p>如：百位选择3，十位选择4，开奖号码为34x，即为中奖。</li>
<li><span class="li-head">前二组选</span><p>玩法说明</p>从0-9中选2个号码组成一注，所选号码与开奖号码的百位、十位相同，顺序不限，即为中奖。    <p>中奖举例</p>如：号码选择7、8，开奖号码78x或87x，即为中奖。</li>
<li><span class="li-head">后二组选</span><p>玩法说明</p>从0-9中选2个号码组成一注，所选号码与开奖号码的十位、个位相同，顺序不限，即为中奖。    <p>中奖举例</p>如：选择7、8，开奖号码x78或x87，即为中奖。</li>
<li><span class="li-head">定位胆</span><p>玩法说明</p>从百、十、个位任意1个位置或多个位置上选择1个号码，所选号码与相同位置上的开奖号码一致，即为中奖。    <p>中奖举例</p>如：定百位为3，开奖号码为3xx，即为中奖。</li>
<li><span class="li-head">前二大小单双</span><p>玩法说明</p>对百位和十位的“大（56789）小（01234）、单双”进行购买，所选号码的位置、形态与开奖号码相同，即为中奖。<p>中奖举例</p>如：百位选择大，十位选择单，开出63x即为中奖。</li>
<li><span class="li-head">后二大小单双</span><p>玩法说明</p>对十位和个位的“大（56789）小（01234）、单双”进行购买，所选号码的位置、形态与开奖号码相同，即为中奖。<p>中奖举例</p>如：十位选择小，个位选择双，开出x12即为中奖。</li>
            </ul>
    </div>
</template>
