<template>
    <div class="game-center" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area" v-if="betCfg[options.group_type] && betGroupCheck[options.group_type]">
				<el-tabs type="border-card" v-model="selectMenu" @tab-click="click_play_menu">
					<el-tab-pane  :label="item.groupName" v-for="(item) in Groups" :name="item.id" :key="item.id" >
						<el-row>
							<div class="menu-group" @click="get_play_menu('p-'+pitem.id,pitem.id,'p3')" v-for="(pitem) in menu_plays(item.id)" :key="pitem.id" :data-id="pitem.id" :ref="'p-'+pitem.id"
							:class="{'checked':pitem.checked}"
							>
								{{pitem.name}}
							</div>
						</el-row>
						<el-divider></el-divider>
						<component :is="default_view" :options="options" ref="bet_mun_area"></component>
					</el-tab-pane>
				</el-tabs>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import PreInfo from '@/components/game/pre-info.vue';
import play_1 from '@/components/game/official/p3/5x_q3.vue';
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            options:{
                title:"排列3",
                type_id:10,
                model:"official",
                type_name:"pl3",
                group_type:3,
                playedId:70,
                gplayedId:16,
            },
            default_view:play_1,
            targetMenu:null,
            targetPMenu:[],
            selectMenu:'',
        }
    },
    methods: {

    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            mapByGroup:"mapByGroup",
			mapByGroupToPlay: "mapByGroupToPlay",
            betCfg:"betCfg",
			betGroupCheck:"betGroupCheck",
            mapByType:"mapByType",
			betAmount:"betAmount",
        }),
        Groups()
        {
            let Data = [];
            for(var key in this.mapByGroup[this.options.group_type])
            {
                Data.push({
                    "id":this.mapByGroup[this.options.group_type][key].id.toString(),
                    "groupName":this.mapByGroup[this.options.group_type][key].groupName,
                });
            }
            return Data;
        },

    },
    components: {
		BetBar,
		PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        if(!this.mapByGroup[this.options.group_type])
        {
            this.$store.dispatch('setGroup',this.options.group_type);
        }
        if(this.targetMenu==null)
        {
            this.selectMenu = this.options.gplayedId.toString();
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/bet-official.styl'
</style>
