<template>
    <div class="bet_space credit_bet" >
                <div class="game-title" >
                        <div class="icon-title">两面</div>
                </div>
                    <div class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col3 name" data-id="5958"><span class="fonts long-fonts">{{mapByPlay[5958].name}}</span> <span class="pl">{{mapByPlay[5958].bp | numFilter}}</span> <el-input v-model="finput[5958]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col3 name" data-id="5959"><span class="fonts long-fonts">{{mapByPlay[5959].name}}</span> <span class="pl">{{mapByPlay[5959].bp | numFilter}}</span> <el-input v-model="finput[5959]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5960"><span class="fonts long-fonts">{{mapByPlay[5960].name}}</span> <span class="pl">{{mapByPlay[5960].bp | numFilter}}</span> <el-input v-model="finput[5960]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5961"><span class="fonts long-fonts">{{mapByPlay[5961].name}}</span> <span class="pl">{{mapByPlay[5961].bp | numFilter}}</span> <el-input v-model="finput[5961]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr><tr>
                                <td colspan="3" class="col2 name" data-id="5962"><span class="fonts long-fonts">{{mapByPlay[5962].name}}</span> <span class="pl">{{mapByPlay[5962].bp | numFilter}}</span> <el-input v-model="finput[5962]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5963"><span class="fonts long-fonts">{{mapByPlay[5963].name}}</span> <span class="pl">{{mapByPlay[5963].bp | numFilter}}</span> <el-input v-model="finput[5963]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5964"><span class="fonts long-fonts">{{mapByPlay[5964].name}}</span> <span class="pl">{{mapByPlay[5964].bp | numFilter}}</span> <el-input v-model="finput[5964]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5965"><span class="fonts long-fonts">{{mapByPlay[5965].name}}</span> <span class="pl">{{mapByPlay[5965].bp | numFilter}}</span> <el-input v-model="finput[5965]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr><tr>
                                <td colspan="3" class="col2 name" data-id="5966"><span class="fonts long-fonts">{{mapByPlay[5966].name}}</span> <span class="pl">{{mapByPlay[5966].bp | numFilter}}</span> <el-input v-model="finput[5966]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5967"><span class="fonts long-fonts">{{mapByPlay[5967].name}}</span> <span class="pl">{{mapByPlay[5967].bp | numFilter}}</span> <el-input v-model="finput[5967]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5968"><span class="fonts long-fonts">{{mapByPlay[5968].name}}</span> <span class="pl">{{mapByPlay[5968].bp | numFilter}}</span> <el-input v-model="finput[5968]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5969"><span class="fonts long-fonts">{{mapByPlay[5969].name}}</span> <span class="pl">{{mapByPlay[5969].bp | numFilter}}</span> <el-input v-model="finput[5969]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr><tr>
                                <td colspan="3" class="col2 name" data-id="5970"><span class="fonts long-fonts">{{mapByPlay[5970].name}}</span> <span class="pl">{{mapByPlay[5970].bp | numFilter}}</span> <el-input v-model="finput[5970]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5971"><span class="fonts long-fonts">{{mapByPlay[5971].name}}</span> <span class="pl">{{mapByPlay[5971].bp | numFilter}}</span> <el-input v-model="finput[5971]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5972"><span class="fonts long-fonts">{{mapByPlay[5972].name}}</span> <span class="pl">{{mapByPlay[5972].bp | numFilter}}</span> <el-input v-model="finput[5972]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5973"><span class="fonts long-fonts">{{mapByPlay[5973].name}}</span> <span class="pl">{{mapByPlay[5973].bp | numFilter}}</span> <el-input v-model="finput[5973]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr><tr>
                                <td colspan="3" class="col2 name" data-id="5974"><span class="fonts long-fonts">{{mapByPlay[5974].name}}</span> <span class="pl">{{mapByPlay[5974].bp | numFilter}}</span> <el-input v-model="finput[5974]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5975"><span class="fonts long-fonts">{{mapByPlay[5975].name}}</span> <span class="pl">{{mapByPlay[5975].bp | numFilter}}</span> <el-input v-model="finput[5975]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5976"><span class="fonts long-fonts">{{mapByPlay[5976].name}}</span> <span class="pl">{{mapByPlay[5976].bp | numFilter}}</span> <el-input v-model="finput[5976]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5977"><span class="fonts long-fonts">{{mapByPlay[5977].name}}</span> <span class="pl">{{mapByPlay[5977].bp | numFilter}}</span> <el-input v-model="finput[5977]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr><tr>
                                <td colspan="3" class="col2 name" data-id="5978"><span class="fonts long-fonts">{{mapByPlay[5978].name}}</span> <span class="pl">{{mapByPlay[5978].bp | numFilter}}</span> <el-input v-model="finput[5978]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5979"><span class="fonts long-fonts">{{mapByPlay[5979].name}}</span> <span class="pl">{{mapByPlay[5979].bp | numFilter}}</span> <el-input v-model="finput[5979]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5980"><span class="fonts long-fonts">{{mapByPlay[5980].name}}</span> <span class="pl">{{mapByPlay[5980].bp | numFilter}}</span> <el-input v-model="finput[5980]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5981"><span class="fonts long-fonts">{{mapByPlay[5981].name}}</span> <span class="pl">{{mapByPlay[5981].bp | numFilter}}</span> <el-input v-model="finput[5981]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                    </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>