<template>
    <div class="bet_space credit_bet" >
            <div class="game-title" >
                    <div class="icon-title">平特尾数</div>
            </div>
                <div  class="play-menu">
                    <table>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6474">{{mapByPlay[6474].name}} <span class="pl">{{mapByPlay[6474].bp | numFilter}}</span> <el-input v-model="finput[6474]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6475">{{mapByPlay[6475].name}} <span class="pl">{{mapByPlay[6475].bp | numFilter}}</span> <el-input v-model="finput[6475]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6476">{{mapByPlay[6476].name}} <span class="pl">{{mapByPlay[6476].bp | numFilter}}</span> <el-input v-model="finput[6476]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6477">{{mapByPlay[6477].name}} <span class="pl">{{mapByPlay[6477].bp | numFilter}}</span> <el-input v-model="finput[6477]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr><tr>
                            <td colspan="3" class="col2 name" data-id="6478">{{mapByPlay[6478].name}} <span class="pl">{{mapByPlay[6478].bp | numFilter}}</span> <el-input v-model="finput[6478]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6479">{{mapByPlay[6479].name}} <span class="pl">{{mapByPlay[6479].bp | numFilter}}</span> <el-input v-model="finput[6479]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6480">{{mapByPlay[6480].name}} <span class="pl">{{mapByPlay[6480].bp | numFilter}}</span> <el-input v-model="finput[6480]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6481">{{mapByPlay[6481].name}} <span class="pl">{{mapByPlay[6481].bp | numFilter}}</span> <el-input v-model="finput[6481]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr><tr>
                            <td colspan="3" class="col2 name" data-id="6482">{{mapByPlay[6482].name}} <span class="pl">{{mapByPlay[6482].bp | numFilter}}</span> <el-input v-model="finput[6482]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6483">{{mapByPlay[6483].name}} <span class="pl">{{mapByPlay[6483].bp | numFilter}}</span> <el-input v-model="finput[6483]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                    </table>
                </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
  data() {
    return {
        finput:[],
    };
  },
    components: {
    },
    methods: {

  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>

