<template>
    <div class="bet_space credit_bet" >
            <div class="game-title" >
                    <div class="icon-title">七色波</div>
            </div>
                <div  class="play-menu">
                    <table>
                        <tr>
                            <td colspan="3" class="col2 pcdd_red name" data-id="6496">{{mapByPlay[6496].name}} <span class="pl">{{mapByPlay[6496].bp | numFilter}}</span> <el-input v-model="finput[6496]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 pcdd_blue name" data-id="6497">{{mapByPlay[6497].name}} <span class="pl">{{mapByPlay[6497].bp | numFilter}}</span> <el-input v-model="finput[6497]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 pcdd_green name" data-id="6498">{{mapByPlay[6498].name}} <span class="pl">{{mapByPlay[6498].bp | numFilter}}</span> <el-input v-model="finput[6498]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6499">{{mapByPlay[6499].name}} <span class="pl">{{mapByPlay[6499].bp | numFilter}}</span> <el-input v-model="finput[6499]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                    </table>
                </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
  data() {
    return {
        finput:[],
    };
  },
    components: {
    },
    methods: {
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

