<template>
    <div class="bet_space credit_bet" >
            <div class="game-title" >
                    <div class="icon-title">总肖</div>
            </div>
                <div class="play-menu">
                    <table>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6500"><span class="fonts long-fonts">{{mapByPlay[6500].name}}</span> <span class="pl">{{mapByPlay[6500].bp | numFilter}}</span> <el-input v-model="finput[6500]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6501"><span class="fonts long-fonts">{{mapByPlay[6501].name}}</span> <span class="pl">{{mapByPlay[6501].bp | numFilter}}</span> <el-input v-model="finput[6501]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6502"><span class="fonts long-fonts">{{mapByPlay[6502].name}}</span> <span class="pl">{{mapByPlay[6502].bp | numFilter}}</span> <el-input v-model="finput[6502]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6503"><span class="fonts long-fonts">{{mapByPlay[6503].name}}</span> <span class="pl">{{mapByPlay[6503].bp | numFilter}}</span> <el-input v-model="finput[6503]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6504"><span class="fonts long-fonts">{{mapByPlay[6504].name}}</span> <span class="pl">{{mapByPlay[6504].bp | numFilter}}</span> <el-input v-model="finput[6504]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6505"><span class="fonts long-fonts">{{mapByPlay[6505].name}}</span> <span class="pl">{{mapByPlay[6505].bp | numFilter}}</span> <el-input v-model="finput[6505]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6506"><span class="fonts long-fonts">{{mapByPlay[6506].name}}</span> <span class="pl">{{mapByPlay[6506].bp | numFilter}}</span> <el-input v-model="finput[6506]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            <td colspan="3" class="col2 name" data-id="6507"><span class="fonts long-fonts">{{mapByPlay[6507].name}}</span> <span class="pl">{{mapByPlay[6507].bp | numFilter}}</span> <el-input v-model="finput[6507]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        </tr>
                    </table>
                </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
  data() {
    return {
        finput:[],
    };
  },
    components: {
    },
    methods: {

  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

