<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">色波</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="5982">{{mapByPlay[5982].name}} <span class="pl">{{mapByPlay[5982].bp | numFilter}}</span> <el-input v-model="finput[5982]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="5983">{{mapByPlay[5983].name}} <span class="pl">{{mapByPlay[5983].bp | numFilter}}</span> <el-input v-model="finput[5983]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="5984">{{mapByPlay[5984].name}} <span class="pl">{{mapByPlay[5984].bp | numFilter}}</span> <el-input v-model="finput[5984]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>                                      
                </table>
            </div>

        <div class="game-title" >
                        <div class="icon-title">半波</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="5985">{{mapByPlay[5985].name}} <span class="pl">{{mapByPlay[5985].bp | numFilter}}</span> <el-input v-model="finput[5985]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_red   name" data-id="5986">{{mapByPlay[5986].name}} <span class="pl">{{mapByPlay[5986].bp | numFilter}}</span> <el-input v-model="finput[5986]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_red   name" data-id="5987">{{mapByPlay[5987].name}} <span class="pl">{{mapByPlay[5987].bp | numFilter}}</span> <el-input v-model="finput[5987]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_red   name" data-id="5988">{{mapByPlay[5988].name}} <span class="pl">{{mapByPlay[5988].bp | numFilter}}</span> <el-input v-model="finput[5988]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 pcdd_blue  name" data-id="5989">{{mapByPlay[5989].name}} <span class="pl">{{mapByPlay[5989].bp | numFilter}}</span> <el-input v-model="finput[5989]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="5990">{{mapByPlay[5990].name}} <span class="pl">{{mapByPlay[5990].bp | numFilter}}</span> <el-input v-model="finput[5990]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="5991">{{mapByPlay[5991].name}} <span class="pl">{{mapByPlay[5991].bp | numFilter}}</span> <el-input v-model="finput[5991]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="5992">{{mapByPlay[5992].name}} <span class="pl">{{mapByPlay[5992].bp | numFilter}}</span> <el-input v-model="finput[5992]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr> 
                    <tr>
                        <td  class="col3 pcdd_green name" data-id="5993">{{mapByPlay[5993].name}} <span class="pl">{{mapByPlay[5993].bp | numFilter}}</span> <el-input v-model="finput[5993]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="5994">{{mapByPlay[5994].name}} <span class="pl">{{mapByPlay[5994].bp | numFilter}}</span> <el-input v-model="finput[5994]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="5995">{{mapByPlay[5995].name}} <span class="pl">{{mapByPlay[5995].bp | numFilter}}</span> <el-input v-model="finput[5995]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="5996">{{mapByPlay[5996].name}} <span class="pl">{{mapByPlay[5996].bp | numFilter}}</span> <el-input v-model="finput[5996]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr> 
                </table>
            </div>

        <div class="game-title" >
                        <div class="icon-title">半半波</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="5997">{{mapByPlay[5997].name}} <span class="pl">{{mapByPlay[5997].bp | numFilter}}</span> <el-input v-model="finput[5997]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_red   name" data-id="5998">{{mapByPlay[5998].name}} <span class="pl">{{mapByPlay[5998].bp | numFilter}}</span> <el-input v-model="finput[5998]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_red   name" data-id="5999">{{mapByPlay[5999].name}} <span class="pl">{{mapByPlay[5999].bp | numFilter}}</span> <el-input v-model="finput[5999]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_red   name" data-id="6000">{{mapByPlay[6000].name}} <span class="pl">{{mapByPlay[6000].bp | numFilter}}</span> <el-input v-model="finput[6000]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 pcdd_blue  name" data-id="6001">{{mapByPlay[6001].name}} <span class="pl">{{mapByPlay[6001].bp | numFilter}}</span> <el-input v-model="finput[6001]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6002">{{mapByPlay[6002].name}} <span class="pl">{{mapByPlay[6002].bp | numFilter}}</span> <el-input v-model="finput[6002]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6003">{{mapByPlay[6003].name}} <span class="pl">{{mapByPlay[6003].bp | numFilter}}</span> <el-input v-model="finput[6003]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6004">{{mapByPlay[6004].name}} <span class="pl">{{mapByPlay[6004].bp | numFilter}}</span> <el-input v-model="finput[6004]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 pcdd_green name" data-id="6005">{{mapByPlay[6005].name}} <span class="pl">{{mapByPlay[6005].bp | numFilter}}</span> <el-input v-model="finput[6005]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6006">{{mapByPlay[6006].name}} <span class="pl">{{mapByPlay[6006].bp | numFilter}}</span> <el-input v-model="finput[6006]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6007">{{mapByPlay[6007].name}} <span class="pl">{{mapByPlay[6007].bp | numFilter}}</span> <el-input v-model="finput[6007]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6008">{{mapByPlay[6008].name}} <span class="pl">{{mapByPlay[6008].bp | numFilter}}</span> <el-input v-model="finput[6008]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr> 
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>