<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">特码头尾</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3  name" data-id="6021">{{mapByPlay[6021].name}} <span class="pl">{{mapByPlay[6021].bp | numFilter}}</span> <el-input v-model="finput[6021]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6022">{{mapByPlay[6022].name}} <span class="pl">{{mapByPlay[6022].bp | numFilter}}</span> <el-input v-model="finput[6022]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6023">{{mapByPlay[6023].name}} <span class="pl">{{mapByPlay[6023].bp | numFilter}}</span> <el-input v-model="finput[6023]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6024">{{mapByPlay[6024].name}} <span class="pl">{{mapByPlay[6024].bp | numFilter}}</span> <el-input v-model="finput[6024]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3  name" data-id="6025">{{mapByPlay[6025].name}} <span class="pl">{{mapByPlay[6025].bp | numFilter}}</span> <el-input v-model="finput[6025]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6026">{{mapByPlay[6026].name}} <span class="pl">{{mapByPlay[6026].bp | numFilter}}</span> <el-input v-model="finput[6026]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6027">{{mapByPlay[6027].name}} <span class="pl">{{mapByPlay[6027].bp | numFilter}}</span> <el-input v-model="finput[6027]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6028">{{mapByPlay[6028].name}} <span class="pl">{{mapByPlay[6028].bp | numFilter}}</span> <el-input v-model="finput[6028]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3  name" data-id="6029">{{mapByPlay[6029].name}} <span class="pl">{{mapByPlay[6029].bp | numFilter}}</span> <el-input v-model="finput[6029]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6030">{{mapByPlay[6030].name}} <span class="pl">{{mapByPlay[6030].bp | numFilter}}</span> <el-input v-model="finput[6030]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6031">{{mapByPlay[6031].name}} <span class="pl">{{mapByPlay[6031].bp | numFilter}}</span> <el-input v-model="finput[6031]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6032">{{mapByPlay[6032].name}} <span class="pl">{{mapByPlay[6032].bp | numFilter}}</span> <el-input v-model="finput[6032]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3  name" data-id="6033">{{mapByPlay[6033].name}} <span class="pl">{{mapByPlay[6033].bp | numFilter}}</span> <el-input v-model="finput[6033]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6034">{{mapByPlay[6034].name}} <span class="pl">{{mapByPlay[6034].bp | numFilter}}</span> <el-input v-model="finput[6034]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3  name" data-id="6035">{{mapByPlay[6035].name}} <span class="pl">{{mapByPlay[6035].bp | numFilter}}</span> <el-input v-model="finput[6035]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>