<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">正码</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6036"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6036].name}}</span> <span class="pl">{{mapByPlay[6036].bp | numFilter}}</span> <el-input v-model="finput[6036]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6037"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6037].name}}</span> <span class="pl">{{mapByPlay[6037].bp | numFilter}}</span> <el-input v-model="finput[6037]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6038"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6038].name}}</span> <span class="pl">{{mapByPlay[6038].bp | numFilter}}</span> <el-input v-model="finput[6038]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6039"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6039].name}}</span> <span class="pl">{{mapByPlay[6039].bp | numFilter}}</span> <el-input v-model="finput[6039]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6040"><span class="balls2 lhc_bg_green">{{mapByPlay[6040].name}}</span> <span class="pl">{{mapByPlay[6040].bp | numFilter}}</span> <el-input v-model="finput[6040]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6041"><span class="balls2 lhc_bg_green">{{mapByPlay[6041].name}}</span> <span class="pl">{{mapByPlay[6041].bp | numFilter}}</span> <el-input v-model="finput[6041]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6042"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6042].name}}</span> <span class="pl">{{mapByPlay[6042].bp | numFilter}}</span> <el-input v-model="finput[6042]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6043"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6043].name}}</span> <span class="pl">{{mapByPlay[6043].bp | numFilter}}</span> <el-input v-model="finput[6043]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6044"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6044].name}}</span> <span class="pl">{{mapByPlay[6044].bp | numFilter}}</span> <el-input v-model="finput[6044]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6045"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6045].name}}</span> <span class="pl">{{mapByPlay[6045].bp | numFilter}}</span> <el-input v-model="finput[6045]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6046"><span class="balls2 lhc_bg_green">{{mapByPlay[6046].name}}</span> <span class="pl">{{mapByPlay[6046].bp | numFilter}}</span> <el-input v-model="finput[6046]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6047"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6047].name}}</span> <span class="pl">{{mapByPlay[6047].bp | numFilter}}</span> <el-input v-model="finput[6047]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6048"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6048].name}}</span> <span class="pl">{{mapByPlay[6048].bp | numFilter}}</span> <el-input v-model="finput[6048]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6049"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6049].name}}</span> <span class="pl">{{mapByPlay[6049].bp | numFilter}}</span> <el-input v-model="finput[6049]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6050"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6050].name}}</span> <span class="pl">{{mapByPlay[6050].bp | numFilter}}</span> <el-input v-model="finput[6050]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6051"><span class="balls2 lhc_bg_green">{{mapByPlay[6051].name}}</span> <span class="pl">{{mapByPlay[6051].bp | numFilter}}</span> <el-input v-model="finput[6051]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6052"><span class="balls2 lhc_bg_green">{{mapByPlay[6052].name}}</span> <span class="pl">{{mapByPlay[6052].bp | numFilter}}</span> <el-input v-model="finput[6052]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6053"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6053].name}}</span> <span class="pl">{{mapByPlay[6053].bp | numFilter}}</span> <el-input v-model="finput[6053]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6054"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6054].name}}</span> <span class="pl">{{mapByPlay[6054].bp | numFilter}}</span> <el-input v-model="finput[6054]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6055"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6055].name}}</span> <span class="pl">{{mapByPlay[6055].bp | numFilter}}</span> <el-input v-model="finput[6055]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6056"><span class="balls2 lhc_bg_green">{{mapByPlay[6056].name}}</span> <span class="pl">{{mapByPlay[6056].bp | numFilter}}</span> <el-input v-model="finput[6056]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6057"><span class="balls2 lhc_bg_green">{{mapByPlay[6057].name}}</span> <span class="pl">{{mapByPlay[6057].bp | numFilter}}</span> <el-input v-model="finput[6057]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6058"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6058].name}}</span> <span class="pl">{{mapByPlay[6058].bp | numFilter}}</span> <el-input v-model="finput[6058]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6059"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6059].name}}</span> <span class="pl">{{mapByPlay[6059].bp | numFilter}}</span> <el-input v-model="finput[6059]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6060"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6060].name}}</span> <span class="pl">{{mapByPlay[6060].bp | numFilter}}</span> <el-input v-model="finput[6060]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6061"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6061].name}}</span> <span class="pl">{{mapByPlay[6061].bp | numFilter}}</span> <el-input v-model="finput[6061]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6062"><span class="balls2 lhc_bg_green">{{mapByPlay[6062].name}}</span> <span class="pl">{{mapByPlay[6062].bp | numFilter}}</span> <el-input v-model="finput[6062]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6063"><span class="balls2 lhc_bg_green">{{mapByPlay[6063].name}}</span> <span class="pl">{{mapByPlay[6063].bp | numFilter}}</span> <el-input v-model="finput[6063]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6064"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6064].name}}</span> <span class="pl">{{mapByPlay[6064].bp | numFilter}}</span> <el-input v-model="finput[6064]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6065"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6065].name}}</span> <span class="pl">{{mapByPlay[6065].bp | numFilter}}</span> <el-input v-model="finput[6065]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6066"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6066].name}}</span> <span class="pl">{{mapByPlay[6066].bp | numFilter}}</span> <el-input v-model="finput[6066]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6067"><span class="balls2 lhc_bg_green">{{mapByPlay[6067].name}}</span> <span class="pl">{{mapByPlay[6067].bp | numFilter}}</span> <el-input v-model="finput[6067]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6068"><span class="balls2 lhc_bg_green">{{mapByPlay[6068].name}}</span> <span class="pl">{{mapByPlay[6068].bp | numFilter}}</span> <el-input v-model="finput[6068]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6069"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6069].name}}</span> <span class="pl">{{mapByPlay[6069].bp | numFilter}}</span> <el-input v-model="finput[6069]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6070"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6070].name}}</span> <span class="pl">{{mapByPlay[6070].bp | numFilter}}</span> <el-input v-model="finput[6070]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6071"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6071].name}}</span> <span class="pl">{{mapByPlay[6071].bp | numFilter}}</span> <el-input v-model="finput[6071]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6072"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6072].name}}</span> <span class="pl">{{mapByPlay[6072].bp | numFilter}}</span> <el-input v-model="finput[6072]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6073"><span class="balls2 lhc_bg_green">{{mapByPlay[6073].name}}</span> <span class="pl">{{mapByPlay[6073].bp | numFilter}}</span> <el-input v-model="finput[6073]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6074"><span class="balls2 lhc_bg_green">{{mapByPlay[6074].name}}</span> <span class="pl">{{mapByPlay[6074].bp | numFilter}}</span> <el-input v-model="finput[6074]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6075"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6075].name}}</span> <span class="pl">{{mapByPlay[6075].bp | numFilter}}</span> <el-input v-model="finput[6075]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6076"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6076].name}}</span> <span class="pl">{{mapByPlay[6076].bp | numFilter}}</span> <el-input v-model="finput[6076]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6077"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6077].name}}</span> <span class="pl">{{mapByPlay[6077].bp | numFilter}}</span> <el-input v-model="finput[6077]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6078"><span class="balls2 lhc_bg_green">{{mapByPlay[6078].name}}</span> <span class="pl">{{mapByPlay[6078].bp | numFilter}}</span> <el-input v-model="finput[6078]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6079"><span class="balls2 lhc_bg_green">{{mapByPlay[6079].name}}</span> <span class="pl">{{mapByPlay[6079].bp | numFilter}}</span> <el-input v-model="finput[6079]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6080"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6080].name}}</span> <span class="pl">{{mapByPlay[6080].bp | numFilter}}</span> <el-input v-model="finput[6080]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6081"><span class="balls2 lhc_bg_red  ">{{mapByPlay[6081].name}}</span> <span class="pl">{{mapByPlay[6081].bp | numFilter}}</span> <el-input v-model="finput[6081]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6082"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6082].name}}</span> <span class="pl">{{mapByPlay[6082].bp | numFilter}}</span> <el-input v-model="finput[6082]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6083"><span class="balls2 lhc_bg_blue ">{{mapByPlay[6083].name}}</span> <span class="pl">{{mapByPlay[6083].bp | numFilter}}</span> <el-input v-model="finput[6083]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6084"><span class="balls2 lhc_bg_green">{{mapByPlay[6084].name}}</span> <span class="pl">{{mapByPlay[6084].bp | numFilter}}</span> <el-input v-model="finput[6084]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                                     
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>