<template>
    <div class="bet_space credit_bet">
        <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-title">正码一 <i class="fas fa-caret-up" v-show="show[0]"></i><i class="fas fa-caret-down"  v-show="!show[0]"></i></div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6134"><span class="fonts long-fonts">{{mapByPlay[6134].name}}</span> <span class="pl">{{mapByPlay[6134].bp | numFilter}}</span> <el-input v-model="finput[6134]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6135"><span class="fonts long-fonts">{{mapByPlay[6135].name}}</span> <span class="pl">{{mapByPlay[6135].bp | numFilter}}</span> <el-input v-model="finput[6135]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6136"><span class="fonts long-fonts">{{mapByPlay[6136].name}}</span> <span class="pl">{{mapByPlay[6136].bp | numFilter}}</span> <el-input v-model="finput[6136]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>                        
                        <td  class="col3 name" data-id="6137"><span class="fonts long-fonts">{{mapByPlay[6137].name}}</span> <span class="pl">{{mapByPlay[6137].bp | numFilter}}</span> <el-input v-model="finput[6137]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6138"><span class="fonts long-fonts">{{mapByPlay[6138].name}}</span> <span class="pl">{{mapByPlay[6138].bp | numFilter}}</span> <el-input v-model="finput[6138]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6139"><span class="fonts long-fonts">{{mapByPlay[6139].name}}</span> <span class="pl">{{mapByPlay[6139].bp | numFilter}}</span> <el-input v-model="finput[6139]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6140"><span class="fonts long-fonts">{{mapByPlay[6140].name}}</span> <span class="pl">{{mapByPlay[6140].bp | numFilter}}</span> <el-input v-model="finput[6140]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6141"><span class="fonts long-fonts">{{mapByPlay[6141].name}}</span> <span class="pl">{{mapByPlay[6141].bp | numFilter}}</span> <el-input v-model="finput[6141]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td colspan="2" class="col3 name" data-id="6145"><span class="fonts long-fonts">{{mapByPlay[6145].name}}</span> <span class="pl">{{mapByPlay[6145].bp | numFilter}}</span> <el-input v-model="finput[6145]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="2" class="col3 name" data-id="6146"><span class="fonts long-fonts">{{mapByPlay[6146].name}}</span> <span class="pl">{{mapByPlay[6146].bp | numFilter}}</span> <el-input v-model="finput[6146]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="6142">{{mapByPlay[6142].name}} <span class="pl">{{mapByPlay[6142].bp | numFilter}}</span> <el-input v-model="finput[6142]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6143">{{mapByPlay[6143].name}} <span class="pl">{{mapByPlay[6143].bp | numFilter}}</span> <el-input v-model="finput[6143]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6144">{{mapByPlay[6144].name}} <span class="pl">{{mapByPlay[6144].bp | numFilter}}</span> <el-input v-model="finput[6144]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(1)" >
                        <div class="icon-title">正码二 <i class="fas fa-caret-up" v-show="show[1]"></i><i class="fas fa-caret-down"  v-show="!show[1]"></i></div>
        </div>
        <transition name="playmenu">
            <div v-show="show[1]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6196"><span class="fonts long-fonts">{{mapByPlay[6196].name}}</span> <span class="pl">{{mapByPlay[6196].bp | numFilter}}</span> <el-input v-model="finput[6196]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6197"><span class="fonts long-fonts">{{mapByPlay[6197].name}}</span> <span class="pl">{{mapByPlay[6197].bp | numFilter}}</span> <el-input v-model="finput[6197]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6198"><span class="fonts long-fonts">{{mapByPlay[6198].name}}</span> <span class="pl">{{mapByPlay[6198].bp | numFilter}}</span> <el-input v-model="finput[6198]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>                        
                        <td  class="col3 name" data-id="6199"><span class="fonts long-fonts">{{mapByPlay[6199].name}}</span> <span class="pl">{{mapByPlay[6199].bp | numFilter}}</span> <el-input v-model="finput[6199]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6200"><span class="fonts long-fonts">{{mapByPlay[6200].name}}</span> <span class="pl">{{mapByPlay[6200].bp | numFilter}}</span> <el-input v-model="finput[6200]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6201"><span class="fonts long-fonts">{{mapByPlay[6201].name}}</span> <span class="pl">{{mapByPlay[6201].bp | numFilter}}</span> <el-input v-model="finput[6201]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6202"><span class="fonts long-fonts">{{mapByPlay[6202].name}}</span> <span class="pl">{{mapByPlay[6202].bp | numFilter}}</span> <el-input v-model="finput[6202]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6203"><span class="fonts long-fonts">{{mapByPlay[6203].name}}</span> <span class="pl">{{mapByPlay[6203].bp | numFilter}}</span> <el-input v-model="finput[6203]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td colspan="2" class="col3 name" data-id="6207"><span class="fonts long-fonts">{{mapByPlay[6207].name}}</span> <span class="pl">{{mapByPlay[6207].bp | numFilter}}</span> <el-input v-model="finput[6207]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="2" class="col3 name" data-id="6208"><span class="fonts long-fonts">{{mapByPlay[6208].name}}</span> <span class="pl">{{mapByPlay[6208].bp | numFilter}}</span> <el-input v-model="finput[6208]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="6204">{{mapByPlay[6204].name}} <span class="pl">{{mapByPlay[6204].bp | numFilter}}</span> <el-input v-model="finput[6204]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6205">{{mapByPlay[6205].name}} <span class="pl">{{mapByPlay[6205].bp | numFilter}}</span> <el-input v-model="finput[6205]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6206">{{mapByPlay[6206].name}} <span class="pl">{{mapByPlay[6206].bp | numFilter}}</span> <el-input v-model="finput[6206]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(2)" >
                        <div class="icon-title">正码三 <i class="fas fa-caret-up" v-show="show[2]"></i><i class="fas fa-caret-down"  v-show="!show[2]"></i></div>
        </div>
        <transition name="playmenu">
            <div v-show="show[2]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6258"><span class="fonts long-fonts">{{mapByPlay[6258].name}}</span> <span class="pl">{{mapByPlay[6258].bp | numFilter}}</span> <el-input v-model="finput[6258]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6259"><span class="fonts long-fonts">{{mapByPlay[6259].name}}</span> <span class="pl">{{mapByPlay[6259].bp | numFilter}}</span> <el-input v-model="finput[6259]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6260"><span class="fonts long-fonts">{{mapByPlay[6260].name}}</span> <span class="pl">{{mapByPlay[6260].bp | numFilter}}</span> <el-input v-model="finput[6260]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>                        
                        <td  class="col3 name" data-id="6261"><span class="fonts long-fonts">{{mapByPlay[6261].name}}</span> <span class="pl">{{mapByPlay[6261].bp | numFilter}}</span> <el-input v-model="finput[6261]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6262"><span class="fonts long-fonts">{{mapByPlay[6262].name}}</span> <span class="pl">{{mapByPlay[6262].bp | numFilter}}</span> <el-input v-model="finput[6262]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6263"><span class="fonts long-fonts">{{mapByPlay[6263].name}}</span> <span class="pl">{{mapByPlay[6263].bp | numFilter}}</span> <el-input v-model="finput[6263]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6264"><span class="fonts long-fonts">{{mapByPlay[6264].name}}</span> <span class="pl">{{mapByPlay[6264].bp | numFilter}}</span> <el-input v-model="finput[6264]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6265"><span class="fonts long-fonts">{{mapByPlay[6265].name}}</span> <span class="pl">{{mapByPlay[6265].bp | numFilter}}</span> <el-input v-model="finput[6265]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td colspan="2" class="col3 name" data-id="6269"><span class="fonts long-fonts">{{mapByPlay[6269].name}}</span> <span class="pl">{{mapByPlay[6269].bp | numFilter}}</span> <el-input v-model="finput[6269]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="2" class="col3 name" data-id="6270"><span class="fonts long-fonts">{{mapByPlay[6270].name}}</span> <span class="pl">{{mapByPlay[6270].bp | numFilter}}</span> <el-input v-model="finput[6270]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="6266">{{mapByPlay[6266].name}} <span class="pl">{{mapByPlay[6266].bp | numFilter}}</span> <el-input v-model="finput[6266]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6267">{{mapByPlay[6267].name}} <span class="pl">{{mapByPlay[6267].bp | numFilter}}</span> <el-input v-model="finput[6267]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6268">{{mapByPlay[6268].name}} <span class="pl">{{mapByPlay[6268].bp | numFilter}}</span> <el-input v-model="finput[6268]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(3)" >
                        <div class="icon-title">正码四 <i class="fas fa-caret-up" v-show="show[3]"></i><i class="fas fa-caret-down"  v-show="!show[3]"></i></div>
        </div>
        <transition name="playmenu">
            <div v-show="show[3]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6320"><span class="fonts long-fonts">{{mapByPlay[6320].name}}</span> <span class="pl">{{mapByPlay[6320].bp | numFilter}}</span> <el-input v-model="finput[6320]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6321"><span class="fonts long-fonts">{{mapByPlay[6321].name}}</span> <span class="pl">{{mapByPlay[6321].bp | numFilter}}</span> <el-input v-model="finput[6321]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6322"><span class="fonts long-fonts">{{mapByPlay[6322].name}}</span> <span class="pl">{{mapByPlay[6322].bp | numFilter}}</span> <el-input v-model="finput[6322]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>                        
                        <td  class="col3 name" data-id="6323"><span class="fonts long-fonts">{{mapByPlay[6323].name}}</span> <span class="pl">{{mapByPlay[6323].bp | numFilter}}</span> <el-input v-model="finput[6323]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6324"><span class="fonts long-fonts">{{mapByPlay[6324].name}}</span> <span class="pl">{{mapByPlay[6324].bp | numFilter}}</span> <el-input v-model="finput[6324]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6325"><span class="fonts long-fonts">{{mapByPlay[6325].name}}</span> <span class="pl">{{mapByPlay[6325].bp | numFilter}}</span> <el-input v-model="finput[6325]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6326"><span class="fonts long-fonts">{{mapByPlay[6326].name}}</span> <span class="pl">{{mapByPlay[6326].bp | numFilter}}</span> <el-input v-model="finput[6326]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6327"><span class="fonts long-fonts">{{mapByPlay[6327].name}}</span> <span class="pl">{{mapByPlay[6327].bp | numFilter}}</span> <el-input v-model="finput[6327]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td colspan="2" class="col3 name" data-id="6331"><span class="fonts long-fonts">{{mapByPlay[6331].name}}</span> <span class="pl">{{mapByPlay[6331].bp | numFilter}}</span> <el-input v-model="finput[6331]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="2" class="col3 name" data-id="6332"><span class="fonts long-fonts">{{mapByPlay[6332].name}}</span> <span class="pl">{{mapByPlay[6332].bp | numFilter}}</span> <el-input v-model="finput[6332]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="6328">{{mapByPlay[6328].name}} <span class="pl">{{mapByPlay[6328].bp | numFilter}}</span> <el-input v-model="finput[6328]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6329">{{mapByPlay[6329].name}} <span class="pl">{{mapByPlay[6329].bp | numFilter}}</span> <el-input v-model="finput[6329]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6330">{{mapByPlay[6330].name}} <span class="pl">{{mapByPlay[6330].bp | numFilter}}</span> <el-input v-model="finput[6330]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(4)" >
                        <div class="icon-title">正码五 <i class="fas fa-caret-up" v-show="show[4]"></i><i class="fas fa-caret-down"  v-show="!show[4]"></i></div>
        </div>
        <transition name="playmenu">
            <div v-show="show[4]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6382"><span class="fonts long-fonts">{{mapByPlay[6382].name}}</span> <span class="pl">{{mapByPlay[6382].bp | numFilter}}</span> <el-input v-model="finput[6382]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6383"><span class="fonts long-fonts">{{mapByPlay[6383].name}}</span> <span class="pl">{{mapByPlay[6383].bp | numFilter}}</span> <el-input v-model="finput[6383]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6384"><span class="fonts long-fonts">{{mapByPlay[6384].name}}</span> <span class="pl">{{mapByPlay[6384].bp | numFilter}}</span> <el-input v-model="finput[6384]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>                        
                        <td  class="col3 name" data-id="6385"><span class="fonts long-fonts">{{mapByPlay[6385].name}}</span> <span class="pl">{{mapByPlay[6385].bp | numFilter}}</span> <el-input v-model="finput[6385]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6386"><span class="fonts long-fonts">{{mapByPlay[6386].name}}</span> <span class="pl">{{mapByPlay[6386].bp | numFilter}}</span> <el-input v-model="finput[6386]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6387"><span class="fonts long-fonts">{{mapByPlay[6387].name}}</span> <span class="pl">{{mapByPlay[6387].bp | numFilter}}</span> <el-input v-model="finput[6387]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6388"><span class="fonts long-fonts">{{mapByPlay[6388].name}}</span> <span class="pl">{{mapByPlay[6388].bp | numFilter}}</span> <el-input v-model="finput[6388]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6389"><span class="fonts long-fonts">{{mapByPlay[6389].name}}</span> <span class="pl">{{mapByPlay[6389].bp | numFilter}}</span> <el-input v-model="finput[6389]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td colspan="2" class="col3 name" data-id="6393"><span class="fonts long-fonts">{{mapByPlay[6393].name}}</span> <span class="pl">{{mapByPlay[6393].bp | numFilter}}</span> <el-input v-model="finput[6393]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="2" class="col3 name" data-id="6394"><span class="fonts long-fonts">{{mapByPlay[6394].name}}</span> <span class="pl">{{mapByPlay[6394].bp | numFilter}}</span> <el-input v-model="finput[6394]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="6390">{{mapByPlay[6390].name}} <span class="pl">{{mapByPlay[6390].bp | numFilter}}</span> <el-input v-model="finput[6390]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6391">{{mapByPlay[6391].name}} <span class="pl">{{mapByPlay[6391].bp | numFilter}}</span> <el-input v-model="finput[6391]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6392">{{mapByPlay[6392].name}} <span class="pl">{{mapByPlay[6392].bp | numFilter}}</span> <el-input v-model="finput[6392]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(5)" >
                        <div class="icon-title">正码六 <i class="fas fa-caret-up" v-show="show[5]"></i><i class="fas fa-caret-down"  v-show="!show[5]"></i></div>
        </div>
        <transition name="playmenu">
            <div v-show="show[5]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6444"><span class="fonts long-fonts">{{mapByPlay[6444].name}}</span> <span class="pl">{{mapByPlay[6444].bp | numFilter}}</span> <el-input v-model="finput[6444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6445"><span class="fonts long-fonts">{{mapByPlay[6445].name}}</span> <span class="pl">{{mapByPlay[6445].bp | numFilter}}</span> <el-input v-model="finput[6445]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6446"><span class="fonts long-fonts">{{mapByPlay[6446].name}}</span> <span class="pl">{{mapByPlay[6446].bp | numFilter}}</span> <el-input v-model="finput[6446]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>                        
                        <td  class="col3 name" data-id="6447"><span class="fonts long-fonts">{{mapByPlay[6447].name}}</span> <span class="pl">{{mapByPlay[6447].bp | numFilter}}</span> <el-input v-model="finput[6447]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td  class="col3 name" data-id="6448"><span class="fonts long-fonts">{{mapByPlay[6448].name}}</span> <span class="pl">{{mapByPlay[6448].bp | numFilter}}</span> <el-input v-model="finput[6448]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6449"><span class="fonts long-fonts">{{mapByPlay[6449].name}}</span> <span class="pl">{{mapByPlay[6449].bp | numFilter}}</span> <el-input v-model="finput[6449]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6450"><span class="fonts long-fonts">{{mapByPlay[6450].name}}</span> <span class="pl">{{mapByPlay[6450].bp | numFilter}}</span> <el-input v-model="finput[6450]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="6451"><span class="fonts long-fonts">{{mapByPlay[6451].name}}</span> <span class="pl">{{mapByPlay[6451].bp | numFilter}}</span> <el-input v-model="finput[6451]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr><tr>
                        <td colspan="2" class="col3 name" data-id="6455"><span class="fonts long-fonts">{{mapByPlay[6455].name}}</span> <span class="pl">{{mapByPlay[6455].bp | numFilter}}</span> <el-input v-model="finput[6455]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="2" class="col3 name" data-id="6456"><span class="fonts long-fonts">{{mapByPlay[6456].name}}</span> <span class="pl">{{mapByPlay[6456].bp | numFilter}}</span> <el-input v-model="finput[6456]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red   name" data-id="6452">{{mapByPlay[6452].name}} <span class="pl">{{mapByPlay[6452].bp | numFilter}}</span> <el-input v-model="finput[6452]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue  name" data-id="6453">{{mapByPlay[6453].name}} <span class="pl">{{mapByPlay[6453].bp | numFilter}}</span> <el-input v-model="finput[6453]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="6454">{{mapByPlay[6454].name}} <span class="pl">{{mapByPlay[6454].bp | numFilter}}</span> <el-input v-model="finput[6454]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
        },
    };
  },
  methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            return;
        }
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

