<template>
    <div class="bet_space credit_bet" >
                <div class="game-title" >
                        <div class="icon-title">五行</div>
                </div>
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6457">{{mapByPlay[6457].name}} 
								<span class="pl">{{mapByPlay[6457].bp | numFilter}}</span> 
								<span class="ten-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.wx[mapByPlay[6457].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6458">{{mapByPlay[6458].name}} 
								<span class="pl">{{mapByPlay[6458].bp | numFilter}}</span>
								<span class="ten-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.wx[mapByPlay[6458].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6459">{{mapByPlay[6459].name}} <span class="pl">{{mapByPlay[6459].bp | numFilter}}</span> 
								<span class="ten-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.wx[mapByPlay[6459].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6460">{{mapByPlay[6460].name}} <span class="pl">{{mapByPlay[6460].bp | numFilter}}</span>
								<span class="ten-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.wx[mapByPlay[6460].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6461">{{mapByPlay[6461].name}} <span class="pl">{{mapByPlay[6461].bp | numFilter}}</span>
								<span class="ten-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.wx[mapByPlay[6461].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                    </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
      red_color(num)
      {
            var key = "红";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      blue_color(num)
      {
            var key = "蓝";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      green_color(num)
      {
            var key = "绿";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      }
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

