<template>
    <div class="bet_space credit_bet" >
            <div class="game-title" >
                    <div class="icon-title">平特一肖</div>
            </div>
                <div  class="play-menu">
                    <table>
                        <tr>
                            <td class="col3 name page3" data-id="6462">
                                <span class="fonts long-fonts">{{mapByPlay[6462].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6462].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6462].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6462]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                            <td class="col3 name page3" data-id="6468">
                                <span class="fonts long-fonts">{{mapByPlay[6468].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6468].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6468].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6468]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6463">
                                <span class="fonts long-fonts">{{mapByPlay[6463].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6463].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6463].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6463]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                            <td class="col3 name page3" data-id="6469">
                                <span class="fonts long-fonts">{{mapByPlay[6469].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6469].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6469].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6469]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6464">
                                <span class="fonts long-fonts">{{mapByPlay[6464].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6464].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6464].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6464]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                            <td class="col3 name page3" data-id="6470">
                                <span class="fonts long-fonts">{{mapByPlay[6470].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6470].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6470].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6470]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6465">
                                <span class="fonts long-fonts">{{mapByPlay[6465].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6465].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6465].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6465]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                            <td class="col3 name page3" data-id="6471">
                                <span class="fonts long-fonts">{{mapByPlay[6471].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6471].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6471].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6471]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6466">
                                <span class="fonts long-fonts">{{mapByPlay[6466].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6466].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6466].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6466]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                            <td class="col3 name page3" data-id="6472">
                                <span class="fonts long-fonts">{{mapByPlay[6472].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6472].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6472].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6472]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6467">
                                <span class="fonts long-fonts">{{mapByPlay[6467].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6467].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6467].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6467]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                            <td class="col3 name page3" data-id="6473">
                                <span class="fonts long-fonts">{{mapByPlay[6473].name}}</span> <span class="pl pl-noblock">{{mapByPlay[6473].bp | numFilter}}</span>
								<span class="five-balls-space">
									<span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6473].name]" :key="index">{{item}}</span>
								</span>
								<el-input v-model="finput[6473]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                            </td>
                        </tr>
                    </table>
                </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
      red_color(num)
      {
            var key = "红";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      blue_color(num)
      {
            var key = "蓝";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      green_color(num)
      {
            var key = "绿";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      }
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.page3
    text-align:left !important;
    padding-left:10px  !important;
    line-height: 55px  !important;
.addbet:before
    bottom: -19px !important;
.addbet:after
    bottom: 0px  !important;
</style>

