<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">混合</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5553"><span class="fonts sort-fonts">{{mapByPlay[5553].name}}</span> <span class="pl">{{mapByPlay[5553].bp | numFilter}}</span> <el-input v-model="finput[5553]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5554"><span class="fonts sort-fonts">{{mapByPlay[5554].name}}</span> <span class="pl">{{mapByPlay[5554].bp | numFilter}}</span> <el-input v-model="finput[5554]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5555"><span class="fonts sort-fonts">{{mapByPlay[5555].name}}</span> <span class="pl">{{mapByPlay[5555].bp | numFilter}}</span> <el-input v-model="finput[5555]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5556"><span class="fonts sort-fonts">{{mapByPlay[5556].name}}</span> <span class="pl">{{mapByPlay[5556].bp | numFilter}}</span> <el-input v-model="finput[5556]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5557"><span class="fonts sort-fonts">{{mapByPlay[5557].name}}</span> <span class="pl">{{mapByPlay[5557].bp | numFilter}}</span> <el-input v-model="finput[5557]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5558"><span class="fonts sort-fonts">{{mapByPlay[5558].name}}</span> <span class="pl">{{mapByPlay[5558].bp | numFilter}}</span> <el-input v-model="finput[5558]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5559"><span class="fonts sort-fonts">{{mapByPlay[5559].name}}</span> <span class="pl">{{mapByPlay[5559].bp | numFilter}}</span> <el-input v-model="finput[5559]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5560"><span class="fonts sort-fonts">{{mapByPlay[5560].name}}</span> <span class="pl">{{mapByPlay[5560].bp | numFilter}}</span> <el-input v-model="finput[5560]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5561"><span class="fonts sort-fonts">{{mapByPlay[5561].name}}</span> <span class="pl">{{mapByPlay[5561].bp | numFilter}}</span> <el-input v-model="finput[5561]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5562"><span class="fonts sort-fonts">{{mapByPlay[5562].name}}</span> <span class="pl">{{mapByPlay[5562].bp | numFilter}}</span> <el-input v-model="finput[5562]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5563"><span class="fonts sort-fonts">{{mapByPlay[5563].name}}</span> <span class="pl">{{mapByPlay[5563].bp | numFilter}}</span> <el-input v-model="finput[5563]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>

        <div class="game-title" >
                        <div class="icon-title">色波</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="5564">{{mapByPlay[5564].name}} <span class="pl">{{mapByPlay[5564].bp | numFilter}}</span> <el-input v-model="finput[5564]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_green name" data-id="5565">{{mapByPlay[5565].name}} <span class="pl">{{mapByPlay[5565].bp | numFilter}}</span> <el-input v-model="finput[5565]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 pcdd_blue name" data-id="5566">{{mapByPlay[5566].name}} <span class="pl">{{mapByPlay[5566].bp | numFilter}}</span> <el-input v-model="finput[5566]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>

        <div class="game-title" >
                        <div class="icon-title">特码</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5567"><span class="balls2 pcdd_bg_no">{{mapByPlay[5567].name}}</span> <span class="pl">{{mapByPlay[5567].bp | numFilter}}</span> <el-input v-model="finput[5567]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5568"><span class="balls2 pcdd_bg_green">{{mapByPlay[5568].name}}</span> <span class="pl">{{mapByPlay[5568].bp | numFilter}}</span> <el-input v-model="finput[5568]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5569"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5569].name}}</span> <span class="pl">{{mapByPlay[5569].bp | numFilter}}</span> <el-input v-model="finput[5569]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5570"><span class="balls2 pcdd_bg_red">{{mapByPlay[5570].name}}</span> <span class="pl">{{mapByPlay[5570].bp | numFilter}}</span> <el-input v-model="finput[5570]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5571"><span class="balls2 pcdd_bg_green">{{mapByPlay[5571].name}}</span> <span class="pl">{{mapByPlay[5571].bp | numFilter}}</span> <el-input v-model="finput[5571]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5572"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5572].name}}</span> <span class="pl">{{mapByPlay[5572].bp | numFilter}}</span> <el-input v-model="finput[5572]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5573"><span class="balls2 pcdd_bg_red">{{mapByPlay[5573].name}}</span> <span class="pl">{{mapByPlay[5573].bp | numFilter}}</span> <el-input v-model="finput[5573]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5574"><span class="balls2 pcdd_bg_green">{{mapByPlay[5574].name}}</span> <span class="pl">{{mapByPlay[5574].bp | numFilter}}</span> <el-input v-model="finput[5574]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5575"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5575].name}}</span> <span class="pl">{{mapByPlay[5575].bp | numFilter}}</span> <el-input v-model="finput[5575]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5576"><span class="balls2 pcdd_bg_red">{{mapByPlay[5576].name}}</span> <span class="pl">{{mapByPlay[5576].bp | numFilter}}</span> <el-input v-model="finput[5576]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5577"><span class="balls2 pcdd_bg_green">{{mapByPlay[5577].name}}</span> <span class="pl">{{mapByPlay[5577].bp | numFilter}}</span> <el-input v-model="finput[5577]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5578"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5578].name}}</span> <span class="pl">{{mapByPlay[5578].bp | numFilter}}</span> <el-input v-model="finput[5578]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5579"><span class="balls2 pcdd_bg_red">{{mapByPlay[5579].name}}</span> <span class="pl">{{mapByPlay[5579].bp | numFilter}}</span> <el-input v-model="finput[5579]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5580"><span class="balls2 pcdd_bg_no">{{mapByPlay[5580].name}}</span> <span class="pl">{{mapByPlay[5580].bp | numFilter}}</span> <el-input v-model="finput[5580]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5581"><span class="balls2 pcdd_bg_no">{{mapByPlay[5581].name}}</span> <span class="pl">{{mapByPlay[5581].bp | numFilter}}</span> <el-input v-model="finput[5581]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5582"><span class="balls2 pcdd_bg_red">{{mapByPlay[5582].name}}</span> <span class="pl">{{mapByPlay[5582].bp | numFilter}}</span> <el-input v-model="finput[5582]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5583"><span class="balls2 pcdd_bg_green">{{mapByPlay[5583].name}}</span> <span class="pl">{{mapByPlay[5583].bp | numFilter}}</span> <el-input v-model="finput[5583]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5584"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5584].name}}</span> <span class="pl">{{mapByPlay[5584].bp | numFilter}}</span> <el-input v-model="finput[5584]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5585"><span class="balls2 pcdd_bg_red">{{mapByPlay[5585].name}}</span> <span class="pl">{{mapByPlay[5585].bp | numFilter}}</span> <el-input v-model="finput[5585]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5586"><span class="balls2 pcdd_bg_green">{{mapByPlay[5586].name}}</span> <span class="pl">{{mapByPlay[5586].bp | numFilter}}</span> <el-input v-model="finput[5586]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5587"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5587].name}}</span> <span class="pl">{{mapByPlay[5587].bp | numFilter}}</span> <el-input v-model="finput[5587]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5588"><span class="balls2 pcdd_bg_red">{{mapByPlay[5588].name}}</span> <span class="pl">{{mapByPlay[5588].bp | numFilter}}</span> <el-input v-model="finput[5588]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5589"><span class="balls2 pcdd_bg_green">{{mapByPlay[5589].name}}</span> <span class="pl">{{mapByPlay[5589].bp | numFilter}}</span> <el-input v-model="finput[5589]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5590"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5590].name}}</span> <span class="pl">{{mapByPlay[5590].bp | numFilter}}</span> <el-input v-model="finput[5590]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5591"><span class="balls2 pcdd_bg_red">{{mapByPlay[5591].name}}</span> <span class="pl">{{mapByPlay[5591].bp | numFilter}}</span> <el-input v-model="finput[5591]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5592"><span class="balls2 pcdd_bg_green">{{mapByPlay[5592].name}}</span> <span class="pl">{{mapByPlay[5592].bp | numFilter}}</span> <el-input v-model="finput[5592]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5593"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5593].name}}</span> <span class="pl">{{mapByPlay[5593].bp | numFilter}}</span> <el-input v-model="finput[5593]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5594"><span class="balls2 pcdd_bg_no">{{mapByPlay[5594].name}}</span> <span class="pl">{{mapByPlay[5594].bp | numFilter}}</span> <el-input v-model="finput[5594]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>