<template >
	<div >
		<div class="main-title">
			登录注册
		</div>
		<el-collapse v-model="activeNames" class="help-main">
			<el-collapse-item title="开户条约" name="1" >
				<h1>一、基本条款</h1><p>1.	为避免于本网站投注时之争议，请会员务必於进入网站前详阅本娱乐场所定之各项槼则，客户一经“我同意”进入本网站进行投注时，即被视为已接受本娱乐场的所有协议与槼则。</p><p>2.	会员有责任确保自己的帐户以及登录数据的保密性，以会员帐号及密码进行的任何网上投注，将被视为有效。敬请不定时做密码变更之动作。若帐号密码被盗用，进行的投注，本公司一概不负赔偿责任。</p><p>3.	本公司保留不定时更改本协定或游戏规则或保密条例，更改之条款将从更改发生後指定之日起生效，并保留一切有争议事项及最后的决策权。</p><p>4.	用户需达到居住地国家法律槼定之合法年龄方可使用线上娱乐场或网站。</p><p>5.	网上投注如未能成功提交，投注将被视为无效。</p><p>6.	凡玩家於出牌途中且尚无结果前自动或强制断线时，并不影响比赛之结果。</p><p>7.	如遇发生不可抗拒之灾害，骇客入侵，网络问题造成数据丢失的情况，以本公司公告为最终方案。</p><p>8.	特此声明，本公司将会对所有的电子交易进行记录，如有任何争议，本公司将会以注单记录为准。</p><p>9.	本公司保留更改、修改现有条款或增加任何适当条款的权利，而条款改动後将会在会员端跑马灯上公布。</p><p>10.	无论在任何情况下，本公司具有最终的解释权。</p><p>11.	若经本公司发现会员以不正当手法&lt;利用外挂进程&gt;进行投注或以任何非正常方式进行的个人、团体投注有损公司利益之投注事情发生，本公司保留权利取消该类注单以及注单生成之红利，并停用该会员帐号。</p><p>12.	无风险投注包括在百家乐同时投注的庄闲，单双，大小。龙虎斗中同时投注龙虎，龙双龙单，虎双虎单。在轮盘同时投注黑红，单双，大小等相反的下注，本公司保留权利取消所有优惠、该注单以及单注生成之红利，并停用该会员帐号之权利，本公司不承担对此做出任何说明及解释之责任。<br>若本公司发现会员有重覆申请帐号行为时，保留取消、收回会员所有优惠红利，以及优惠红利所生成的盈利之权利。每位玩家、每一电子邮箱、每一电话号码、每一收款银行帐号，以及共享电脑环境(例如:网吧、其他公共用电脑等)只能够拥有一个会员帐号，各项优惠只适用于每位客户在本公司唯一的帐户。<br>所有的优惠是特别为玩家而设，在玩家注册信息有争议时，为确保双方利益、杜绝身分盗用行为，本公司保留权利要求客户向我们提供充足有效的文档， 并以各种方式辨别客户是否符合资格享有我们的任何优惠。<br>本公司是提供互联网投注服务的机构。请会员在注册前参考当地政府的法律，在博彩不被允许的地区，如有会员在本公司平台注册、下注，为会员个人行为，本公司不负责、承担任何相关责任。<br>无论是个人或是团体，如有任何威胁、滥用优惠的行为，本公司保留权利取消、收回由优惠生成的红利，并保留权利追讨最高50%手续费。<br>客户一经注册开户，将被视为接受所有颁布在本公司网站上的槼则与条例。</p><h1>二、真人娱乐条款</h1><p>1.	当您下注後，请等待显示“您共下注XXXX元”，这个消息在中间的消息窗口可以看见。</p><p>2.	开牌後，若您已有下注，请确认您的输赢金额，这个消息在中间的消息窗口可以看见。</p><p>3.	您的“总下注金额”及“赢得金额”亦会每局显示於右上角的窗口中，请会员详加确认。</p><p>4.	当会员在游戏中途发生网络问题而断线，所有已被确定的投注仍然有效。会员再重新登录时，就可以查找游戏端内的“下注记录”查找发牌结果，会员的额度也会随着当局的输赢增加或减少。</p><p>5.	如果您在消息窗口看到“开牌”的话，而您的游戏画面未显示投注金额，这代表该局您的投注不成功，这有可能下注的时间太迟或是因为网络问题而没有被系统接受。</p><p>6.	百家乐游戏在本网内设计为每手牌局前不销牌。</p><p>7.	当会员进入游戏，超过5局没下注会有提示。若您连续10局未下注的时候将会被游戏弹出至首页，请会员重新登录。若会员於下注开牌期间强行登出，帐号将被系统锁住三分钟，请会员稍后再重新登录。</p><p>8.	本网上游戏是在现场把牌通过扫描後将牌例显示在会员端荧幕上，故若牌没扫描到必将重新扫描一遍，若还是没有感应则把牌翻开由现场公务输入牌卡数码，牌例便会显示在会员端荧幕上。</p><p>9.	当荷官不小心同时从牌靴中抽出两张牌，而扫描到的不是按顺序正确的那张牌：<br>（a）若牌局已开牌，而结果不符，系统将根据现况决定牌的先后摆放顺序之开牌结果进行手动开牌，并换上新牌靴开始新局。<br>（b）若牌局未开牌，则由现场公务决定牌的先后摆放顺序，牌局会如常继续。</p><p>10.	在洗牌或将牌放入牌靴过程中，有牌不慎曝光，荷官会把牌叠起并重新洗牌，牌局将重新开始。</p><p>11.	牌局进行中，未扬牌前(该张牌未於视频显示点数花色前)，牌不慎离开台面，牌丢落地上，或离开视频范围，则该牌局予以注销作废，所有下注本金退回。</p><p>12.	若该牌已经过扫描且已扬牌後，该牌不慎离开台面，牌丢落地上，或离开视频范围，因其不影响游戏之正确结果，牌由现场工务摆回後，该牌局正常行其结果仍视为有效。</p><p>13.	派错牌例（已不须补牌，荷官仍补牌）现场工务会把多补的那张牌放到牌靴底，牌局结果依视频显示为准，牌局将如常进行。若该张多补的牌已亮开，公务将在做完以上同样进程後换上新牌靴，牌局会重新开始。</p><p>14.	荷官未依闲、庄发牌正确顺序将牌放错位置，由工务将牌依正确顺序摆放回位置後牌局将照常继续。</p><p>15.	开牌过程中，牌有感应但无显示，荷官已亮牌（如:已派出数张牌，但第一张牌有感应但未显示，至第二、三张牌显示在错误的闲、庄位置上），现场工务会依牌的正确次序输入代码，牌局将如常继续。</p><p>16.	同一张牌，扫描了一次出现2张（闲、庄位置各一张）<br>（a）若牌局已开牌，而结果不符，系统将根据视频荷官完成该局之正确结果进行手动开牌，牌局也将在牌路无误的情况下如常继续。<br>（b）若牌局未开牌，荷官避开扫描如常开牌後，工务将输入牌之正确数码，并修正不符那张牌的花色、点数，牌局会如常继续。</p><p>17.	电脑、扫描仪出现异常、牌局中断、牌无法扫描又无法输入牌卡数码时，该牌局便会作废，所有进程将被关闭，并重开进程，牌局将重新开始。但若荷官发牌视频已有结果，则以视频开牌为主，会由系统完成开配。</p><p>18.	有关例行性维护、网络问题、视频中断、牌局作废、注销情况等事宜，皆可于会员端左上角处公告栏上得知最新消息。</p><p>19.	发牌视频仅保留三日，若有异议请於游戏当日起三日内提出，三日后恕不受理。</p><p>20.	本娱乐场之视频为真人直播，故该局游戏若因国际线路传输问题出现争议，将以视频看到牌局结果决定输赢。</p><p>21.	本娱乐场所提供之牌路仅供参考，若因国际线路问题或其他因素造成牌路显示有误，所有游戏结果将以视频开牌及游戏记录为主。</p><p>22.	本公司保留一切有争议事项的修正及最后的决策。</p><p>23.	本娱乐场保留随时更改、修订或删除游戏、游戏规则（包括几率及赔率）及协议条款的权利而无须做事先通知。</p><p>24.	本娱乐场保留随时修订、撤销或中止任何投注的权利而无须做事先通知，亦无须做任何解释。</p><p>25.	本娱乐场记录每一项於本网站服务器内运行的交易及投注功能。若会员认为向本娱乐场提供的数据与本网站数据库中的数据记录之间出现了任何声称的差异，一切均以本网站数据库的数据为准。</p><p>26.	当会员已於本娱乐场之游戏厅内下注，而电脑出现连接异常导致牌局中断时，会员最后押住仍视为有效，本娱乐场将以会员於本网站数据库的交易记录为准。</p><p>27.	会员在本娱乐场之游戏厅内任何游戏的押注记录均视为有效，会员需自行承担下注後的风险。<br>若经本公司发现会员以不正当手法&lt;利用外挂进程&gt;进行投注或以任何非正常方式进行的个人、团体投注有损公司利益之投注事情发生，本公司保留取消该类注单之权利。</p><h1>三、彩票类游戏</h1><p>1.	当您在下注之后，请等待显示“下注成功”信息。</p><p>2.	为了避免出现争论，您必须在下注之后检查“下注状况”。</p><p>3.	任何的投诉必须在开彩之前提出，本公司不会受理任何开彩之后的投诉。</p><p>4.	所有投注项目，公布赔率时出现的任何打字错误或非故意人为失误，本公司保留改正错误和按正确赔率结算投注的权力。</p><p>5.	开彩後的投注，将被视为“无效”。所有赔率将不时浮动，派彩时的赔率将以确认投注时之赔率为准。</p><p>6.	所有赛果以官方网站公布的结果为依据，若因官网延迟、错误或取消。本公司保留对已下注注单的裁决权。</p><p>7.	若发生两颗球同时吸起，将依照在结果区之号码球为主。</p><p>8.	在游戏尚未完成开配之前，若因机器问题而导致有结果生成，该局将一律注销。</p><p>9.	在下注时间尚未结束之前，若因任何因素导致有结果生成，该局将一律注销。</p><p>10.	若该局己有结果但与实际结果不符，系统将根据视频完成该局之正确结果进行手动开牌。</p><h1>四、电子游艺</h1><p>1.	电子游戏中奖画面与派彩结果不符时，本公司将以数据库最终结果为依据。</p><p>2.	彩池金额是以满注中奖结果显示，玩家中奖系以押注比例分配彩池金额。</p><p>3.	老虎机游戏过程中如遇断线情况将以数据库最终结果为依据，本公司保留对已下注注单的裁决权。</p><p>4.	21点游戏补牌中如遇玩家断线，则视玩家为不补牌。游戏结果将视为有效。</p>
			</el-collapse-item>
			<el-collapse-item title="如何注册？" name="2">
				<p>打开本公司的网站後，点击登录区的注册，如实填写您的数据信息，确认送出後即可完成注册。</p>
			</el-collapse-item>
			<el-collapse-item title="如何登录会员中心？" name="3">
				<p>在选单底部点击登录，在登录页面输入正确的帐号及密码後，即可登录。</p>
			</el-collapse-item>
			<el-collapse-item title="登录时密码提示错误，我该怎麽办？" name="4">
				<p>首先请您再次确认输入的密码是否正确，必须是6-12个字符（由大小写英文本母和数字组成）。若确认後仍提示错误，建议您通过自助流程找回密码。或者，您也可以在线客服协助您找回密码。</p>
			</el-collapse-item>
			<el-collapse-item title="我可以注册多个帐号吗？" name="5">
				<p>客户不可以同时拥有多个帐号，如发现客户拥有多个户口，公司有权取消其户口以及投注，本公司保留权利取消或关闭您的帐户本公司有权限制客户只保留其中一个户口。</p>
			</el-collapse-item>
			<el-collapse-item title="我想删除/注销我的帐号可以吗？" name="6">
				<p>本公司不会以任何理由注销玩家帐号。您可在线客服申请停用帐号，以停止其帐号的使用。</p>
			</el-collapse-item>
			<el-collapse-item title="如何找回登录密码？" name="7">
				<p>若忘记登录密码，请点击页面顶部登录区（或其他相关页面）的“忘记密码？”，然后根据页面提示进行操作即可。<br>具体操作步骤如下：<br>(1)输入您要找回登录密码的手机号／邮箱地址。<br>(2)根据页面提示，选择其中一种找回方式。<br>(3)核实身分後，重新设置新的登录密码。<br>(4)登录密码修改成功。</p>
			</el-collapse-item>
		</el-collapse>
	</div>
</template>

<script type="text/ecmascript-6" >

export default {
    data() {
        return {
            activeNames:['0'],
        }
    },
    methods: {
    },
    computed: {
    },
    components: {
    },
    created() {
		if(this.$route.params.id=="1")
		{
			this.activeNames=['1']
		}
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
p
	font-size: 0.9rem;
	margin: 18px 0 ;
	line-height: 1.5rem;   
h1
	font-weight: 700;
	color: #333;
</style>
