<template >
    <div slot="content" >
		<div class="main-title" >
			银行相关
		</div>
        <el-collapse v-model="activeNames" class="help-main">
            <el-collapse-item title="如何绑定银行帐户？" name="1" >
                <p>具体操作流程如下：<br>(1)登录玩家中心後，依次点击 “帐户管理-&gt;银行帐户信息”。<br>(2)根据页面提示填写相关银行帐户信息。<br>(3)确认信息无误後，点击“确认”即可完成绑定</p>
            </el-collapse-item>
            <el-collapse-item title="我可以绑定多个银行帐户吗？" name="2">
                <p>不可以！一个玩家帐户仅支持绑定一个银行帐户，且绑定的银行帐户名必须与玩家的真实姓名一致。</p>
            </el-collapse-item>
            <el-collapse-item title="如何更换已绑定的银行帐户？" name="3">
                <p>银行帐户更换与绑定流程基本一致，具体操作步骤详见如何绑定银行帐户？其中，仅支持更换为帐户名与真实姓名一致的银行帐户，否则取款将失败！<br><br>温馨提示：<br>若由于玩家绑定的银行帐户名与您填写的真实姓名不一致，而导致出款失败或延迟，请玩家自行负责！</p>
            </el-collapse-item>
            <el-collapse-item title="为什麽我要设置真实姓名？" name="4">
                <p>真实姓名是证明您身分的重要凭证之一，且真实姓名将用于匹配收款银行帐号，银行卡帐户名与玩家真实姓名一致时才可以取款成功！为确保您帐户的安全，真实姓名一旦设置不可修改！</p>
            </el-collapse-item>
            <el-collapse-item title="真实姓名填错了怎麽修改？" name="5">
                <p>一经填写，玩家本人无法直接修改真实姓名！如有需要，请您在线客服服协助您做数据更改。</p>
            </el-collapse-item>
            <el-collapse-item title="我的真实姓名会被泄漏吗？" name="6">
                <p>本公司网站绝对安全，我们决不泄漏玩家的真实姓名及其他个人资料给任何商业机构。</p>
            </el-collapse-item>         
        </el-collapse>
    </div>
</template>

<script type="text/ecmascript-6" >
export default {
    data() {
        return {
            activeNames:['0'],
        }
    },
    methods: {
    },
    computed: {
    },
    components: {
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
p
    font-size: 0.9rem;
    margin: 18px 0 ;
    line-height: 1.5rem;    
h1
    font-weight: 700;
    color: #333;
</style>
