<template >
    <div slot="content" >
		<div class="main-title" style="border-bottom: 1px solid #EBEEF5">
			会员制度
		</div>
        <div class="help-main">
<ol style="line-height: 24px;color: #666;font-size:15px;">
　<li>所有优惠点数以人民币(RMB)：点数 = 1：1 为结算金额，以北京时间为计时区间。</li>
　<li>单以获得的返水金额进行游戏，隔日无返水金额：如当天有进行储值，可合并计算，故隔日将发放返水金额。所获得的返水金额需达1倍的有效投注，方可出款。</li>
　<li>本活动计算的为有效押码，无风险投注皆不计算入有效押码。</li>
　<li>北京赛车、幸运飞艇：最多只能下六车，超过六车一律视为洗流水套利。</li>
　<li>每位玩家、每户、每一住址、每一电子信箱地址、每一电话号码、相同付款方式及IP地址只能享有一次优惠。若会员有重复申请帐号行为，公司保留取消或收回会员优惠彩金的权利。</li>
　<li>娱乐城的所有优惠特为玩家而设，如发现任何团体或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等行为，公司保留冻结、取消该团体或个人帐户及帐户结余的权利。</li>
　<li>任何会员不得利用本公司提供的各种优惠红利，进行集体投注及其他方式恶意套利。本公司保留追究恶意影响本公司正常运作的权利。</li>
　<li>若会员对活动有争议时，为确保双方利益，杜绝身分盗用行为，本公司有权要求会员向我们提供充足有效的文档，用以确认是否享有该优惠的资格。</li>
　<li>当参与优惠会员未能完全遵守、或违反、或滥用任何有关公司优惠或推广的条款，又或我们有任何证据有任何团队或个人投下一连串的关联赌注，籍以造成无论赛果怎样都可以确保可以从该存款红利或其他推广活动提供的优惠获利，公博娱乐城保留权利向此团队或个人停止、取消优惠或索回已支付的全部优惠红利。此外，公司亦保留权利向这些客户扣取相当于优惠红利价值的行政费用，以补偿我们的行政成本。</li>
　<li>最终解释权由本公司所有。 </li>
</ol>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
export default {
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    components: {
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
li
    margin-bottom: 15px;
    list-style: unset !important;
    margin-left 15px;
p
    font-size: 0.9rem;
    margin: 18px 0 ;
    line-height: 1.5rem;   
h1
    font-weight: 700;
    color: #333;
</style>
