<template >
    <div slot="content" >
		<div class="main-title" >
			热门问题
		</div>
        <el-collapse v-model="activeNames" class="help-main">
            <el-collapse-item title="为什麽在线支付成功後额度没有立即增加" name="1" >
                <p>这是因为在线支付系统需要经过密码锁切换及内部验证进程，而这也是我们的保安进程之一，所以请您不必担心，款项一定不会丢失。如果您在线支付超过30分锺後仍然还未收到您的款项，请与我们客服联系处理。</p>
            </el-collapse-item>
            <el-collapse-item title="快速入款存款未到帐如何处理？" name="2">
                <p>由于跨行汇款的到帐时间是取决银行方面办理速度，请您耐心等待。如果已成功汇款，可能是由于第三方支付公司还没有收到您的款项，请麻烦发送扫描件或是清淅照片（如果是网银汇款请发送汇款明细的截屏）给我们，我们会马上为您提交到第三方支付公司进行查找。</p>
            </el-collapse-item>
            <el-collapse-item title="提款什麽时候可以到帐？" name="3">
                <p>取款申请审核通过后，一般会在3-5分锺内为您进行线下转帐。若逾时仍未收到款项，则可能是取款银行帐号数据有误或银行帐号小额管理费未缴等问题所造成的。财务人员在无法出款时都会及时进行通知，若玩家未填写有效的联系方式也会造成财务无法联系的情况发生，请您务必填写正确有效的联系信息。同时，您也可随时联系在线客服了解进度。</p>
            </el-collapse-item>
            <el-collapse-item title="提款申请为什麽会不通过？" name="4">
                <p>防止部分玩家利用本公司进行洗钱等非法资金操作，为避免部分玩家以套利为目的参与活动，我司对于所有的提款均会进行审核，申请不通过的主要因素考虑如下：<br>1、判断有效投注额是否达到存款，优惠的流水要求。<br>2、取款信息是否符合取款者信息。<br>3、投注是否异常，存在恶意刷流水套利行为。 <br>4、同一用户多帐户行为。</p>
            </el-collapse-item>
            <el-collapse-item title="隐私信息是否安全？" name="5">
                <p>本公司将尽全力保护客户提供给我们的个人资料，不会蓄意将该数据泄漏给外人，除非此政策条款里有明文槼定。所有本公司员工都被要求遵循该政策条款。员工有义务严密​​的保守客户的个人资料，即使员工离开本公司後仍须坚守此义务。阁下本人也须保护好您的个人资料。阁下应严守您的帐户密码，不应将此透露给其他人。</p>
            </el-collapse-item>
            <el-collapse-item title="我可以注册多个帐号吗？" name="6">
                <p>客户不可以同时拥有多个帐号，如发现客户拥有多个户口，公司有权取消其户口以及投注，本公司保留权利取消或关闭您的帐户本公司有权限制客户只保留其中一个户口。</p>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>

<script type="text/ecmascript-6" >
export default {
    data() {
        return {
            activeNames:['0'],
        }
    },
    methods: {
    },
    computed: {
    },
    components: {
    },
    created() {
		if(Object.keys(this.$route.params).length)
		{
			this.activeNames=[this.$route.params.id]
		}
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
p
    font-size: 0.9rem;
    margin: 18px 0 ;
    line-height: 1.5rem;    
h1
    font-weight: 700;
    color: #333;
</style>
