<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第一球</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6512"><span class="balls">{{mapByPlay[6512].name}}</span> <span class="pl">{{mapByPlay[6512].bp | numFilter}}</span> <el-input v-model="finput[6512]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6513"><span class="balls">{{mapByPlay[6513].name}}</span> <span class="pl">{{mapByPlay[6513].bp | numFilter}}</span> <el-input v-model="finput[6513]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6514"><span class="balls">{{mapByPlay[6514].name}}</span> <span class="pl">{{mapByPlay[6514].bp | numFilter}}</span> <el-input v-model="finput[6514]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6515"><span class="balls">{{mapByPlay[6515].name}}</span> <span class="pl">{{mapByPlay[6515].bp | numFilter}}</span> <el-input v-model="finput[6515]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6516"><span class="balls">{{mapByPlay[6516].name}}</span> <span class="pl">{{mapByPlay[6516].bp | numFilter}}</span> <el-input v-model="finput[6516]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6517"><span class="balls">{{mapByPlay[6517].name}}</span> <span class="pl">{{mapByPlay[6517].bp | numFilter}}</span> <el-input v-model="finput[6517]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6518"><span class="balls">{{mapByPlay[6518].name}}</span> <span class="pl">{{mapByPlay[6518].bp | numFilter}}</span> <el-input v-model="finput[6518]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6519"><span class="balls">{{mapByPlay[6519].name}}</span> <span class="pl">{{mapByPlay[6519].bp | numFilter}}</span> <el-input v-model="finput[6519]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6520"><span class="balls">{{mapByPlay[6520].name}}</span> <span class="pl">{{mapByPlay[6520].bp | numFilter}}</span> <el-input v-model="finput[6520]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6521"><span class="balls">{{mapByPlay[6521].name}}</span> <span class="pl">{{mapByPlay[6521].bp | numFilter}}</span> <el-input v-model="finput[6521]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6522"><span class="fonts">{{mapByPlay[6522].name}}</span> <span class="pl">{{mapByPlay[6522].bp | numFilter}}</span> <el-input v-model="finput[6522]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6523"><span class="fonts">{{mapByPlay[6523].name}}</span> <span class="pl">{{mapByPlay[6523].bp | numFilter}}</span> <el-input v-model="finput[6523]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6524"><span class="fonts">{{mapByPlay[6524].name}}</span> <span class="pl">{{mapByPlay[6524].bp | numFilter}}</span> <el-input v-model="finput[6524]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6525"><span class="fonts">{{mapByPlay[6525].name}}</span> <span class="pl">{{mapByPlay[6525].bp | numFilter}}</span> <el-input v-model="finput[6525]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

