<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第二球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6526"><span class="balls">{{mapByPlay[6526].name}}</span> <span class="pl">{{mapByPlay[6526].bp | numFilter}}</span> <el-input v-model="finput[6526]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6527"><span class="balls">{{mapByPlay[6527].name}}</span> <span class="pl">{{mapByPlay[6527].bp | numFilter}}</span> <el-input v-model="finput[6527]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6528"><span class="balls">{{mapByPlay[6528].name}}</span> <span class="pl">{{mapByPlay[6528].bp | numFilter}}</span> <el-input v-model="finput[6528]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6529"><span class="balls">{{mapByPlay[6529].name}}</span> <span class="pl">{{mapByPlay[6529].bp | numFilter}}</span> <el-input v-model="finput[6529]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6530"><span class="balls">{{mapByPlay[6530].name}}</span> <span class="pl">{{mapByPlay[6530].bp | numFilter}}</span> <el-input v-model="finput[6530]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6531"><span class="balls">{{mapByPlay[6531].name}}</span> <span class="pl">{{mapByPlay[6531].bp | numFilter}}</span> <el-input v-model="finput[6531]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6532"><span class="balls">{{mapByPlay[6532].name}}</span> <span class="pl">{{mapByPlay[6532].bp | numFilter}}</span> <el-input v-model="finput[6532]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6533"><span class="balls">{{mapByPlay[6533].name}}</span> <span class="pl">{{mapByPlay[6533].bp | numFilter}}</span> <el-input v-model="finput[6533]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6534"><span class="balls">{{mapByPlay[6534].name}}</span> <span class="pl">{{mapByPlay[6534].bp | numFilter}}</span> <el-input v-model="finput[6534]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6535"><span class="balls">{{mapByPlay[6535].name}}</span> <span class="pl">{{mapByPlay[6535].bp | numFilter}}</span> <el-input v-model="finput[6535]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6536"><span class="fonts">{{mapByPlay[6536].name}}</span> <span class="pl">{{mapByPlay[6536].bp | numFilter}}</span> <el-input v-model="finput[6536]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6537"><span class="fonts">{{mapByPlay[6537].name}}</span> <span class="pl">{{mapByPlay[6537].bp | numFilter}}</span> <el-input v-model="finput[6537]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6538"><span class="fonts">{{mapByPlay[6538].name}}</span> <span class="pl">{{mapByPlay[6538].bp | numFilter}}</span> <el-input v-model="finput[6538]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6539"><span class="fonts">{{mapByPlay[6539].name}}</span> <span class="pl">{{mapByPlay[6539].bp | numFilter}}</span> <el-input v-model="finput[6539]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

