<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第三球</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6540"><span class="balls">{{mapByPlay[6540].name}}</span> <span class="pl">{{mapByPlay[6540].bp | numFilter}}</span> <el-input v-model="finput[6540]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6541"><span class="balls">{{mapByPlay[6541].name}}</span> <span class="pl">{{mapByPlay[6541].bp | numFilter}}</span> <el-input v-model="finput[6541]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6542"><span class="balls">{{mapByPlay[6542].name}}</span> <span class="pl">{{mapByPlay[6542].bp | numFilter}}</span> <el-input v-model="finput[6542]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6543"><span class="balls">{{mapByPlay[6543].name}}</span> <span class="pl">{{mapByPlay[6543].bp | numFilter}}</span> <el-input v-model="finput[6543]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6544"><span class="balls">{{mapByPlay[6544].name}}</span> <span class="pl">{{mapByPlay[6544].bp | numFilter}}</span> <el-input v-model="finput[6544]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6545"><span class="balls">{{mapByPlay[6545].name}}</span> <span class="pl">{{mapByPlay[6545].bp | numFilter}}</span> <el-input v-model="finput[6545]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6546"><span class="balls">{{mapByPlay[6546].name}}</span> <span class="pl">{{mapByPlay[6546].bp | numFilter}}</span> <el-input v-model="finput[6546]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6547"><span class="balls">{{mapByPlay[6547].name}}</span> <span class="pl">{{mapByPlay[6547].bp | numFilter}}</span> <el-input v-model="finput[6547]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6548"><span class="balls">{{mapByPlay[6548].name}}</span> <span class="pl">{{mapByPlay[6548].bp | numFilter}}</span> <el-input v-model="finput[6548]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6549"><span class="balls">{{mapByPlay[6549].name}}</span> <span class="pl">{{mapByPlay[6549].bp | numFilter}}</span> <el-input v-model="finput[6549]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6550"><span class="fonts">{{mapByPlay[6550].name}}</span> <span class="pl">{{mapByPlay[6550].bp | numFilter}}</span> <el-input v-model="finput[6550]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6551"><span class="fonts">{{mapByPlay[6551].name}}</span> <span class="pl">{{mapByPlay[6551].bp | numFilter}}</span> <el-input v-model="finput[6551]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6552"><span class="fonts">{{mapByPlay[6552].name}}</span> <span class="pl">{{mapByPlay[6552].bp | numFilter}}</span> <el-input v-model="finput[6552]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6553"><span class="fonts">{{mapByPlay[6553].name}}</span> <span class="pl">{{mapByPlay[6553].bp | numFilter}}</span> <el-input v-model="finput[6553]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

