<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">三连</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6561">{{mapByPlay[6561].name}} <span class="pl">{{mapByPlay[6561].bp | numFilter}}</span> <el-input v-model="finput[6561]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6562">{{mapByPlay[6562].name}} <span class="pl">{{mapByPlay[6562].bp | numFilter}}</span> <el-input v-model="finput[6562]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6563">{{mapByPlay[6563].name}} <span class="pl">{{mapByPlay[6563].bp | numFilter}}</span> <el-input v-model="finput[6563]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6564">{{mapByPlay[6564].name}} <span class="pl">{{mapByPlay[6564].bp | numFilter}}</span> <el-input v-model="finput[6564]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6565">{{mapByPlay[6565].name}} <span class="pl">{{mapByPlay[6565].bp | numFilter}}</span> <el-input v-model="finput[6565]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

