<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">跨度</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6566"><span class="balls">{{mapByPlay[6566].name}}</span> <span class="pl">{{mapByPlay[6566].bp | numFilter}}</span> <el-input v-model="finput[6566]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6567"><span class="balls">{{mapByPlay[6567].name}}</span> <span class="pl">{{mapByPlay[6567].bp | numFilter}}</span> <el-input v-model="finput[6567]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6568"><span class="balls">{{mapByPlay[6568].name}}</span> <span class="pl">{{mapByPlay[6568].bp | numFilter}}</span> <el-input v-model="finput[6568]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6569"><span class="balls">{{mapByPlay[6569].name}}</span> <span class="pl">{{mapByPlay[6569].bp | numFilter}}</span> <el-input v-model="finput[6569]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6570"><span class="balls">{{mapByPlay[6570].name}}</span> <span class="pl">{{mapByPlay[6570].bp | numFilter}}</span> <el-input v-model="finput[6570]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6571"><span class="balls">{{mapByPlay[6571].name}}</span> <span class="pl">{{mapByPlay[6571].bp | numFilter}}</span> <el-input v-model="finput[6571]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6572"><span class="balls">{{mapByPlay[6572].name}}</span> <span class="pl">{{mapByPlay[6572].bp | numFilter}}</span> <el-input v-model="finput[6572]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6573"><span class="balls">{{mapByPlay[6573].name}}</span> <span class="pl">{{mapByPlay[6573].bp | numFilter}}</span> <el-input v-model="finput[6573]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6574"><span class="balls">{{mapByPlay[6574].name}}</span> <span class="pl">{{mapByPlay[6574].bp | numFilter}}</span> <el-input v-model="finput[6574]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="6575"><span class="balls">{{mapByPlay[6575].name}}</span> <span class="pl">{{mapByPlay[6575].bp | numFilter}}</span> <el-input v-model="finput[6575]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

