<template>
    <div class="bet_space credit_bet" >
                <div class="game-title" >
                        <div class="icon-title">总和/龙虎</div>
                </div>
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col name" data-id="6554">{{mapByPlay[6554].name}} <span class="pl">{{mapByPlay[6554].bp | numFilter}}</span> <el-input v-model="finput[6554]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col name" data-id="6555">{{mapByPlay[6555].name}} <span class="pl">{{mapByPlay[6555].bp | numFilter}}</span> <el-input v-model="finput[6555]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col name" data-id="6556">{{mapByPlay[6556].name}} <span class="pl">{{mapByPlay[6556].bp | numFilter}}</span> <el-input v-model="finput[6556]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col name" data-id="6557">{{mapByPlay[6557].name}} <span class="pl">{{mapByPlay[6557].bp | numFilter}}</span> <el-input v-model="finput[6557]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="col3 name" data-id="6558">{{mapByPlay[6558].name}} <span class="pl">{{mapByPlay[6558].bp | numFilter}}</span> <el-input v-model="finput[6558]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="2" class="col3 name" data-id="6559">{{mapByPlay[6559].name}} <span class="pl">{{mapByPlay[6559].bp | numFilter}}</span> <el-input v-model="finput[6559]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="2" class="col3 name" data-id="6560">{{mapByPlay[6560].name}} <span class="pl">{{mapByPlay[6560].bp | numFilter}}</span> <el-input v-model="finput[6560]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>                        
                    </div>

                <div class="game-title" >
                    <div class="icon-title">第一球</div>
                </div>
                    <div class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6522">{{mapByPlay[6522].name}} <span class="pl">{{mapByPlay[6522].bp | numFilter}}</span> <el-input v-model="finput[6522]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="6523">{{mapByPlay[6523].name}} <span class="pl">{{mapByPlay[6523].bp | numFilter}}</span> <el-input v-model="finput[6523]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6524">{{mapByPlay[6524].name}} <span class="pl">{{mapByPlay[6524].bp | numFilter}}</span> <el-input v-model="finput[6524]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="6525">{{mapByPlay[6525].name}} <span class="pl">{{mapByPlay[6525].bp | numFilter}}</span> <el-input v-model="finput[6525]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                    </div>
            
                <div class="game-title" >
                    <div class="icon-title">第二球</div>
                </div>

                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6536">{{mapByPlay[6536].name}} <span class="pl">{{mapByPlay[6536].bp | numFilter}}</span> <el-input v-model="finput[6536]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="6537">{{mapByPlay[6537].name}} <span class="pl">{{mapByPlay[6537].bp | numFilter}}</span> <el-input v-model="finput[6537]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6538">{{mapByPlay[6538].name}} <span class="pl">{{mapByPlay[6538].bp | numFilter}}</span> <el-input v-model="finput[6538]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="6539">{{mapByPlay[6539].name}} <span class="pl">{{mapByPlay[6539].bp | numFilter}}</span> <el-input v-model="finput[6539]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>

                <div class="game-title" >
                    <div class="icon-title">第三球</div>
                </div>

                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6550">{{mapByPlay[6550].name}} <span class="pl">{{mapByPlay[6550].bp | numFilter}}</span> <el-input v-model="finput[6550]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="6551">{{mapByPlay[6551].name}} <span class="pl">{{mapByPlay[6551].bp | numFilter}}</span> <el-input v-model="finput[6551]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6552">{{mapByPlay[6552].name}} <span class="pl">{{mapByPlay[6552].bp | numFilter}}</span> <el-input v-model="finput[6552]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="6553">{{mapByPlay[6553].name}} <span class="pl">{{mapByPlay[6553].bp | numFilter}}</span> <el-input v-model="finput[6553]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>

                        </table>
                        
                    </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

