<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第一球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5673"><span class="balls">{{mapByPlay[5673].name}}</span> <span class="pl">{{mapByPlay[5673].bp | numFilter}}</span> <el-input v-model="finput[5673]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5674"><span class="balls">{{mapByPlay[5674].name}}</span> <span class="pl">{{mapByPlay[5674].bp | numFilter}}</span> <el-input v-model="finput[5674]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5675"><span class="balls">{{mapByPlay[5675].name}}</span> <span class="pl">{{mapByPlay[5675].bp | numFilter}}</span> <el-input v-model="finput[5675]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5676"><span class="balls">{{mapByPlay[5676].name}}</span> <span class="pl">{{mapByPlay[5676].bp | numFilter}}</span> <el-input v-model="finput[5676]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5677"><span class="balls">{{mapByPlay[5677].name}}</span> <span class="pl">{{mapByPlay[5677].bp | numFilter}}</span> <el-input v-model="finput[5677]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5678"><span class="balls">{{mapByPlay[5678].name}}</span> <span class="pl">{{mapByPlay[5678].bp | numFilter}}</span> <el-input v-model="finput[5678]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5679"><span class="balls">{{mapByPlay[5679].name}}</span> <span class="pl">{{mapByPlay[5679].bp | numFilter}}</span> <el-input v-model="finput[5679]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5680"><span class="balls">{{mapByPlay[5680].name}}</span> <span class="pl">{{mapByPlay[5680].bp | numFilter}}</span> <el-input v-model="finput[5680]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5681"><span class="balls">{{mapByPlay[5681].name}}</span> <span class="pl">{{mapByPlay[5681].bp | numFilter}}</span> <el-input v-model="finput[5681]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5682"><span class="balls">{{mapByPlay[5682].name}}</span> <span class="pl">{{mapByPlay[5682].bp | numFilter}}</span> <el-input v-model="finput[5682]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5683"><span class="balls">{{mapByPlay[5683].name}}</span> <span class="pl">{{mapByPlay[5683].bp | numFilter}}</span> <el-input v-model="finput[5683]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5684"><span class="balls">{{mapByPlay[5684].name}}</span> <span class="pl">{{mapByPlay[5684].bp | numFilter}}</span> <el-input v-model="finput[5684]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5685"><span class="balls">{{mapByPlay[5685].name}}</span> <span class="pl">{{mapByPlay[5685].bp | numFilter}}</span> <el-input v-model="finput[5685]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5686"><span class="balls">{{mapByPlay[5686].name}}</span> <span class="pl">{{mapByPlay[5686].bp | numFilter}}</span> <el-input v-model="finput[5686]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5687"><span class="balls">{{mapByPlay[5687].name}}</span> <span class="pl">{{mapByPlay[5687].bp | numFilter}}</span> <el-input v-model="finput[5687]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5688"><span class="balls">{{mapByPlay[5688].name}}</span> <span class="pl">{{mapByPlay[5688].bp | numFilter}}</span> <el-input v-model="finput[5688]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5689"><span class="balls">{{mapByPlay[5689].name}}</span> <span class="pl">{{mapByPlay[5689].bp | numFilter}}</span> <el-input v-model="finput[5689]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5690"><span class="balls">{{mapByPlay[5690].name}}</span> <span class="pl">{{mapByPlay[5690].bp | numFilter}}</span> <el-input v-model="finput[5690]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5691"><span class="balls">{{mapByPlay[5691].name}}</span> <span class="pl">{{mapByPlay[5691].bp | numFilter}}</span> <el-input v-model="finput[5691]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5692"><span class="balls">{{mapByPlay[5692].name}}</span> <span class="pl">{{mapByPlay[5692].bp | numFilter}}</span> <el-input v-model="finput[5692]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5601"><span class="fonts long-fonts">{{mapByPlay[5601].name}}</span> <span class="pl">{{mapByPlay[5601].bp | numFilter}}</span> <el-input v-model="finput[5601]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5602"><span class="fonts long-fonts">{{mapByPlay[5602].name}}</span> <span class="pl">{{mapByPlay[5602].bp | numFilter}}</span> <el-input v-model="finput[5602]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5603"><span class="fonts long-fonts">{{mapByPlay[5603].name}}</span> <span class="pl">{{mapByPlay[5603].bp | numFilter}}</span> <el-input v-model="finput[5603]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5604"><span class="fonts long-fonts">{{mapByPlay[5604].name}}</span> <span class="pl">{{mapByPlay[5604].bp | numFilter}}</span> <el-input v-model="finput[5604]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5605"><span class="fonts long-fonts">{{mapByPlay[5605].name}}</span> <span class="pl">{{mapByPlay[5605].bp | numFilter}}</span> <el-input v-model="finput[5605]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5606"><span class="fonts long-fonts">{{mapByPlay[5606].name}}</span> <span class="pl">{{mapByPlay[5606].bp | numFilter}}</span> <el-input v-model="finput[5606]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5607"><span class="fonts long-fonts">{{mapByPlay[5607].name}}</span> <span class="pl">{{mapByPlay[5607].bp | numFilter}}</span> <el-input v-model="finput[5607]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5608"><span class="fonts long-fonts">{{mapByPlay[5608].name}}</span> <span class="pl">{{mapByPlay[5608].bp | numFilter}}</span> <el-input v-model="finput[5608]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>