<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">任一中一</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5833"><span class="balls">{{mapByPlay[5833].name}}</span> <span class="pl">{{mapByPlay[5833].bp | numFilter}}</span> <el-input v-model="finput[5833]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5834"><span class="balls">{{mapByPlay[5834].name}}</span> <span class="pl">{{mapByPlay[5834].bp | numFilter}}</span> <el-input v-model="finput[5834]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5835"><span class="balls">{{mapByPlay[5835].name}}</span> <span class="pl">{{mapByPlay[5835].bp | numFilter}}</span> <el-input v-model="finput[5835]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5836"><span class="balls">{{mapByPlay[5836].name}}</span> <span class="pl">{{mapByPlay[5836].bp | numFilter}}</span> <el-input v-model="finput[5836]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5837"><span class="balls">{{mapByPlay[5837].name}}</span> <span class="pl">{{mapByPlay[5837].bp | numFilter}}</span> <el-input v-model="finput[5837]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5838"><span class="balls">{{mapByPlay[5838].name}}</span> <span class="pl">{{mapByPlay[5838].bp | numFilter}}</span> <el-input v-model="finput[5838]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5839"><span class="balls">{{mapByPlay[5839].name}}</span> <span class="pl">{{mapByPlay[5839].bp | numFilter}}</span> <el-input v-model="finput[5839]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5840"><span class="balls">{{mapByPlay[5840].name}}</span> <span class="pl">{{mapByPlay[5840].bp | numFilter}}</span> <el-input v-model="finput[5840]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5841"><span class="balls">{{mapByPlay[5841].name}}</span> <span class="pl">{{mapByPlay[5841].bp | numFilter}}</span> <el-input v-model="finput[5841]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5842"><span class="balls">{{mapByPlay[5842].name}}</span> <span class="pl">{{mapByPlay[5842].bp | numFilter}}</span> <el-input v-model="finput[5842]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5843"><span class="balls">{{mapByPlay[5843].name}}</span> <span class="pl">{{mapByPlay[5843].bp | numFilter}}</span> <el-input v-model="finput[5843]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5844"><span class="balls">{{mapByPlay[5844].name}}</span> <span class="pl">{{mapByPlay[5844].bp | numFilter}}</span> <el-input v-model="finput[5844]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5845"><span class="balls">{{mapByPlay[5845].name}}</span> <span class="pl">{{mapByPlay[5845].bp | numFilter}}</span> <el-input v-model="finput[5845]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5846"><span class="balls">{{mapByPlay[5846].name}}</span> <span class="pl">{{mapByPlay[5846].bp | numFilter}}</span> <el-input v-model="finput[5846]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5847"><span class="balls">{{mapByPlay[5847].name}}</span> <span class="pl">{{mapByPlay[5847].bp | numFilter}}</span> <el-input v-model="finput[5847]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5848"><span class="balls">{{mapByPlay[5848].name}}</span> <span class="pl">{{mapByPlay[5848].bp | numFilter}}</span> <el-input v-model="finput[5848]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5849"><span class="balls">{{mapByPlay[5849].name}}</span> <span class="pl">{{mapByPlay[5849].bp | numFilter}}</span> <el-input v-model="finput[5849]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5850"><span class="balls">{{mapByPlay[5850].name}}</span> <span class="pl">{{mapByPlay[5850].bp | numFilter}}</span> <el-input v-model="finput[5850]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5851"><span class="balls">{{mapByPlay[5851].name}}</span> <span class="pl">{{mapByPlay[5851].bp | numFilter}}</span> <el-input v-model="finput[5851]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5852"><span class="balls">{{mapByPlay[5852].name}}</span> <span class="pl">{{mapByPlay[5852].bp | numFilter}}</span> <el-input v-model="finput[5852]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>