<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第二球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5693"><span class="balls">{{mapByPlay[5693].name}}</span> <span class="pl">{{mapByPlay[5693].bp | numFilter}}</span> <el-input v-model="finput[5693]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5694"><span class="balls">{{mapByPlay[5694].name}}</span> <span class="pl">{{mapByPlay[5694].bp | numFilter}}</span> <el-input v-model="finput[5694]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5695"><span class="balls">{{mapByPlay[5695].name}}</span> <span class="pl">{{mapByPlay[5695].bp | numFilter}}</span> <el-input v-model="finput[5695]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5696"><span class="balls">{{mapByPlay[5696].name}}</span> <span class="pl">{{mapByPlay[5696].bp | numFilter}}</span> <el-input v-model="finput[5696]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5697"><span class="balls">{{mapByPlay[5697].name}}</span> <span class="pl">{{mapByPlay[5697].bp | numFilter}}</span> <el-input v-model="finput[5697]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5698"><span class="balls">{{mapByPlay[5698].name}}</span> <span class="pl">{{mapByPlay[5698].bp | numFilter}}</span> <el-input v-model="finput[5698]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5699"><span class="balls">{{mapByPlay[5699].name}}</span> <span class="pl">{{mapByPlay[5699].bp | numFilter}}</span> <el-input v-model="finput[5699]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5700"><span class="balls">{{mapByPlay[5700].name}}</span> <span class="pl">{{mapByPlay[5700].bp | numFilter}}</span> <el-input v-model="finput[5700]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5701"><span class="balls">{{mapByPlay[5701].name}}</span> <span class="pl">{{mapByPlay[5701].bp | numFilter}}</span> <el-input v-model="finput[5701]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5702"><span class="balls">{{mapByPlay[5702].name}}</span> <span class="pl">{{mapByPlay[5702].bp | numFilter}}</span> <el-input v-model="finput[5702]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5703"><span class="balls">{{mapByPlay[5703].name}}</span> <span class="pl">{{mapByPlay[5703].bp | numFilter}}</span> <el-input v-model="finput[5703]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5704"><span class="balls">{{mapByPlay[5704].name}}</span> <span class="pl">{{mapByPlay[5704].bp | numFilter}}</span> <el-input v-model="finput[5704]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5705"><span class="balls">{{mapByPlay[5705].name}}</span> <span class="pl">{{mapByPlay[5705].bp | numFilter}}</span> <el-input v-model="finput[5705]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5706"><span class="balls">{{mapByPlay[5706].name}}</span> <span class="pl">{{mapByPlay[5706].bp | numFilter}}</span> <el-input v-model="finput[5706]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5707"><span class="balls">{{mapByPlay[5707].name}}</span> <span class="pl">{{mapByPlay[5707].bp | numFilter}}</span> <el-input v-model="finput[5707]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5708"><span class="balls">{{mapByPlay[5708].name}}</span> <span class="pl">{{mapByPlay[5708].bp | numFilter}}</span> <el-input v-model="finput[5708]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5709"><span class="balls">{{mapByPlay[5709].name}}</span> <span class="pl">{{mapByPlay[5709].bp | numFilter}}</span> <el-input v-model="finput[5709]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5710"><span class="balls">{{mapByPlay[5710].name}}</span> <span class="pl">{{mapByPlay[5710].bp | numFilter}}</span> <el-input v-model="finput[5710]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5711"><span class="balls">{{mapByPlay[5711].name}}</span> <span class="pl">{{mapByPlay[5711].bp | numFilter}}</span> <el-input v-model="finput[5711]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5712"><span class="balls">{{mapByPlay[5712].name}}</span> <span class="pl">{{mapByPlay[5712].bp | numFilter}}</span> <el-input v-model="finput[5712]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5611"><span class="fonts long-fonts">{{mapByPlay[5611].name}}</span> <span class="pl">{{mapByPlay[5611].bp | numFilter}}</span> <el-input v-model="finput[5611]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5612"><span class="fonts long-fonts">{{mapByPlay[5612].name}}</span> <span class="pl">{{mapByPlay[5612].bp | numFilter}}</span> <el-input v-model="finput[5612]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5613"><span class="fonts long-fonts">{{mapByPlay[5613].name}}</span> <span class="pl">{{mapByPlay[5613].bp | numFilter}}</span> <el-input v-model="finput[5613]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5614"><span class="fonts long-fonts">{{mapByPlay[5614].name}}</span> <span class="pl">{{mapByPlay[5614].bp | numFilter}}</span> <el-input v-model="finput[5614]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5615"><span class="fonts long-fonts">{{mapByPlay[5615].name}}</span> <span class="pl">{{mapByPlay[5615].bp | numFilter}}</span> <el-input v-model="finput[5615]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5616"><span class="fonts long-fonts">{{mapByPlay[5616].name}}</span> <span class="pl">{{mapByPlay[5616].bp | numFilter}}</span> <el-input v-model="finput[5616]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5617"><span class="fonts long-fonts">{{mapByPlay[5617].name}}</span> <span class="pl">{{mapByPlay[5617].bp | numFilter}}</span> <el-input v-model="finput[5617]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5618"><span class="fonts long-fonts">{{mapByPlay[5618].name}}</span> <span class="pl">{{mapByPlay[5618].bp | numFilter}}</span> <el-input v-model="finput[5618]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>
<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>