<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第三球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5713"><span class="balls">{{mapByPlay[5713].name}}</span> <span class="pl">{{mapByPlay[5713].bp | numFilter}}</span> <el-input v-model="finput[5713]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5714"><span class="balls">{{mapByPlay[5714].name}}</span> <span class="pl">{{mapByPlay[5714].bp | numFilter}}</span> <el-input v-model="finput[5714]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5715"><span class="balls">{{mapByPlay[5715].name}}</span> <span class="pl">{{mapByPlay[5715].bp | numFilter}}</span> <el-input v-model="finput[5715]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5716"><span class="balls">{{mapByPlay[5716].name}}</span> <span class="pl">{{mapByPlay[5716].bp | numFilter}}</span> <el-input v-model="finput[5716]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5717"><span class="balls">{{mapByPlay[5717].name}}</span> <span class="pl">{{mapByPlay[5717].bp | numFilter}}</span> <el-input v-model="finput[5717]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5718"><span class="balls">{{mapByPlay[5718].name}}</span> <span class="pl">{{mapByPlay[5718].bp | numFilter}}</span> <el-input v-model="finput[5718]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5719"><span class="balls">{{mapByPlay[5719].name}}</span> <span class="pl">{{mapByPlay[5719].bp | numFilter}}</span> <el-input v-model="finput[5719]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5720"><span class="balls">{{mapByPlay[5720].name}}</span> <span class="pl">{{mapByPlay[5720].bp | numFilter}}</span> <el-input v-model="finput[5720]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5721"><span class="balls">{{mapByPlay[5721].name}}</span> <span class="pl">{{mapByPlay[5721].bp | numFilter}}</span> <el-input v-model="finput[5721]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5722"><span class="balls">{{mapByPlay[5722].name}}</span> <span class="pl">{{mapByPlay[5722].bp | numFilter}}</span> <el-input v-model="finput[5722]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5723"><span class="balls">{{mapByPlay[5723].name}}</span> <span class="pl">{{mapByPlay[5723].bp | numFilter}}</span> <el-input v-model="finput[5723]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5724"><span class="balls">{{mapByPlay[5724].name}}</span> <span class="pl">{{mapByPlay[5724].bp | numFilter}}</span> <el-input v-model="finput[5724]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5725"><span class="balls">{{mapByPlay[5725].name}}</span> <span class="pl">{{mapByPlay[5725].bp | numFilter}}</span> <el-input v-model="finput[5725]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5726"><span class="balls">{{mapByPlay[5726].name}}</span> <span class="pl">{{mapByPlay[5726].bp | numFilter}}</span> <el-input v-model="finput[5726]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5727"><span class="balls">{{mapByPlay[5727].name}}</span> <span class="pl">{{mapByPlay[5727].bp | numFilter}}</span> <el-input v-model="finput[5727]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5728"><span class="balls">{{mapByPlay[5728].name}}</span> <span class="pl">{{mapByPlay[5728].bp | numFilter}}</span> <el-input v-model="finput[5728]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5729"><span class="balls">{{mapByPlay[5729].name}}</span> <span class="pl">{{mapByPlay[5729].bp | numFilter}}</span> <el-input v-model="finput[5729]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5730"><span class="balls">{{mapByPlay[5730].name}}</span> <span class="pl">{{mapByPlay[5730].bp | numFilter}}</span> <el-input v-model="finput[5730]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5731"><span class="balls">{{mapByPlay[5731].name}}</span> <span class="pl">{{mapByPlay[5731].bp | numFilter}}</span> <el-input v-model="finput[5731]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5732"><span class="balls">{{mapByPlay[5732].name}}</span> <span class="pl">{{mapByPlay[5732].bp | numFilter}}</span> <el-input v-model="finput[5732]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5621"><span class="fonts long-fonts">{{mapByPlay[5621].name}}</span> <span class="pl">{{mapByPlay[5621].bp | numFilter}}</span> <el-input v-model="finput[5621]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5622"><span class="fonts long-fonts">{{mapByPlay[5622].name}}</span> <span class="pl">{{mapByPlay[5622].bp | numFilter}}</span> <el-input v-model="finput[5622]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5623"><span class="fonts long-fonts">{{mapByPlay[5623].name}}</span> <span class="pl">{{mapByPlay[5623].bp | numFilter}}</span> <el-input v-model="finput[5623]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5624"><span class="fonts long-fonts">{{mapByPlay[5624].name}}</span> <span class="pl">{{mapByPlay[5624].bp | numFilter}}</span> <el-input v-model="finput[5624]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5625"><span class="fonts long-fonts">{{mapByPlay[5625].name}}</span> <span class="pl">{{mapByPlay[5625].bp | numFilter}}</span> <el-input v-model="finput[5625]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5626"><span class="fonts long-fonts">{{mapByPlay[5626].name}}</span> <span class="pl">{{mapByPlay[5626].bp | numFilter}}</span> <el-input v-model="finput[5626]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5627"><span class="fonts long-fonts">{{mapByPlay[5627].name}}</span> <span class="pl">{{mapByPlay[5627].bp | numFilter}}</span> <el-input v-model="finput[5627]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5628"><span class="fonts long-fonts">{{mapByPlay[5628].name}}</span> <span class="pl">{{mapByPlay[5628].bp | numFilter}}</span> <el-input v-model="finput[5628]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>
<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>
