<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第四球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5733"><span class="balls">{{mapByPlay[5733].name}}</span> <span class="pl">{{mapByPlay[5733].bp | numFilter}}</span> <el-input v-model="finput[5733]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5734"><span class="balls">{{mapByPlay[5734].name}}</span> <span class="pl">{{mapByPlay[5734].bp | numFilter}}</span> <el-input v-model="finput[5734]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5735"><span class="balls">{{mapByPlay[5735].name}}</span> <span class="pl">{{mapByPlay[5735].bp | numFilter}}</span> <el-input v-model="finput[5735]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5736"><span class="balls">{{mapByPlay[5736].name}}</span> <span class="pl">{{mapByPlay[5736].bp | numFilter}}</span> <el-input v-model="finput[5736]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5737"><span class="balls">{{mapByPlay[5737].name}}</span> <span class="pl">{{mapByPlay[5737].bp | numFilter}}</span> <el-input v-model="finput[5737]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5738"><span class="balls">{{mapByPlay[5738].name}}</span> <span class="pl">{{mapByPlay[5738].bp | numFilter}}</span> <el-input v-model="finput[5738]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5739"><span class="balls">{{mapByPlay[5739].name}}</span> <span class="pl">{{mapByPlay[5739].bp | numFilter}}</span> <el-input v-model="finput[5739]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5740"><span class="balls">{{mapByPlay[5740].name}}</span> <span class="pl">{{mapByPlay[5740].bp | numFilter}}</span> <el-input v-model="finput[5740]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5741"><span class="balls">{{mapByPlay[5741].name}}</span> <span class="pl">{{mapByPlay[5741].bp | numFilter}}</span> <el-input v-model="finput[5741]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5742"><span class="balls">{{mapByPlay[5742].name}}</span> <span class="pl">{{mapByPlay[5742].bp | numFilter}}</span> <el-input v-model="finput[5742]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5743"><span class="balls">{{mapByPlay[5743].name}}</span> <span class="pl">{{mapByPlay[5743].bp | numFilter}}</span> <el-input v-model="finput[5743]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5744"><span class="balls">{{mapByPlay[5744].name}}</span> <span class="pl">{{mapByPlay[5744].bp | numFilter}}</span> <el-input v-model="finput[5744]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5745"><span class="balls">{{mapByPlay[5745].name}}</span> <span class="pl">{{mapByPlay[5745].bp | numFilter}}</span> <el-input v-model="finput[5745]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5746"><span class="balls">{{mapByPlay[5746].name}}</span> <span class="pl">{{mapByPlay[5746].bp | numFilter}}</span> <el-input v-model="finput[5746]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5747"><span class="balls">{{mapByPlay[5747].name}}</span> <span class="pl">{{mapByPlay[5747].bp | numFilter}}</span> <el-input v-model="finput[5747]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5748"><span class="balls">{{mapByPlay[5748].name}}</span> <span class="pl">{{mapByPlay[5748].bp | numFilter}}</span> <el-input v-model="finput[5748]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5749"><span class="balls">{{mapByPlay[5749].name}}</span> <span class="pl">{{mapByPlay[5749].bp | numFilter}}</span> <el-input v-model="finput[5749]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5750"><span class="balls">{{mapByPlay[5750].name}}</span> <span class="pl">{{mapByPlay[5750].bp | numFilter}}</span> <el-input v-model="finput[5750]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5751"><span class="balls">{{mapByPlay[5751].name}}</span> <span class="pl">{{mapByPlay[5751].bp | numFilter}}</span> <el-input v-model="finput[5751]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5752"><span class="balls">{{mapByPlay[5752].name}}</span> <span class="pl">{{mapByPlay[5752].bp | numFilter}}</span> <el-input v-model="finput[5752]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5631"><span class="fonts long-fonts">{{mapByPlay[5631].name}}</span> <span class="pl">{{mapByPlay[5631].bp | numFilter}}</span> <el-input v-model="finput[5631]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5632"><span class="fonts long-fonts">{{mapByPlay[5632].name}}</span> <span class="pl">{{mapByPlay[5632].bp | numFilter}}</span> <el-input v-model="finput[5632]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5633"><span class="fonts long-fonts">{{mapByPlay[5633].name}}</span> <span class="pl">{{mapByPlay[5633].bp | numFilter}}</span> <el-input v-model="finput[5633]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5634"><span class="fonts long-fonts">{{mapByPlay[5634].name}}</span> <span class="pl">{{mapByPlay[5634].bp | numFilter}}</span> <el-input v-model="finput[5634]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5635"><span class="fonts long-fonts">{{mapByPlay[5635].name}}</span> <span class="pl">{{mapByPlay[5635].bp | numFilter}}</span> <el-input v-model="finput[5635]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5636"><span class="fonts long-fonts">{{mapByPlay[5636].name}}</span> <span class="pl">{{mapByPlay[5636].bp | numFilter}}</span> <el-input v-model="finput[5636]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5637"><span class="fonts long-fonts">{{mapByPlay[5637].name}}</span> <span class="pl">{{mapByPlay[5637].bp | numFilter}}</span> <el-input v-model="finput[5637]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5638"><span class="fonts long-fonts">{{mapByPlay[5638].name}}</span> <span class="pl">{{mapByPlay[5638].bp | numFilter}}</span> <el-input v-model="finput[5638]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>