<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第五球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5753"><span class="balls">{{mapByPlay[5753].name}}</span> <span class="pl">{{mapByPlay[5753].bp | numFilter}}</span> <el-input v-model="finput[5753]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5754"><span class="balls">{{mapByPlay[5754].name}}</span> <span class="pl">{{mapByPlay[5754].bp | numFilter}}</span> <el-input v-model="finput[5754]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5755"><span class="balls">{{mapByPlay[5755].name}}</span> <span class="pl">{{mapByPlay[5755].bp | numFilter}}</span> <el-input v-model="finput[5755]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5756"><span class="balls">{{mapByPlay[5756].name}}</span> <span class="pl">{{mapByPlay[5756].bp | numFilter}}</span> <el-input v-model="finput[5756]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5757"><span class="balls">{{mapByPlay[5757].name}}</span> <span class="pl">{{mapByPlay[5757].bp | numFilter}}</span> <el-input v-model="finput[5757]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5758"><span class="balls">{{mapByPlay[5758].name}}</span> <span class="pl">{{mapByPlay[5758].bp | numFilter}}</span> <el-input v-model="finput[5758]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5759"><span class="balls">{{mapByPlay[5759].name}}</span> <span class="pl">{{mapByPlay[5759].bp | numFilter}}</span> <el-input v-model="finput[5759]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5760"><span class="balls">{{mapByPlay[5760].name}}</span> <span class="pl">{{mapByPlay[5760].bp | numFilter}}</span> <el-input v-model="finput[5760]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5761"><span class="balls">{{mapByPlay[5761].name}}</span> <span class="pl">{{mapByPlay[5761].bp | numFilter}}</span> <el-input v-model="finput[5761]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5762"><span class="balls">{{mapByPlay[5762].name}}</span> <span class="pl">{{mapByPlay[5762].bp | numFilter}}</span> <el-input v-model="finput[5762]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5763"><span class="balls">{{mapByPlay[5763].name}}</span> <span class="pl">{{mapByPlay[5763].bp | numFilter}}</span> <el-input v-model="finput[5763]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5764"><span class="balls">{{mapByPlay[5764].name}}</span> <span class="pl">{{mapByPlay[5764].bp | numFilter}}</span> <el-input v-model="finput[5764]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5765"><span class="balls">{{mapByPlay[5765].name}}</span> <span class="pl">{{mapByPlay[5765].bp | numFilter}}</span> <el-input v-model="finput[5765]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5766"><span class="balls">{{mapByPlay[5766].name}}</span> <span class="pl">{{mapByPlay[5766].bp | numFilter}}</span> <el-input v-model="finput[5766]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5767"><span class="balls">{{mapByPlay[5767].name}}</span> <span class="pl">{{mapByPlay[5767].bp | numFilter}}</span> <el-input v-model="finput[5767]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5768"><span class="balls">{{mapByPlay[5768].name}}</span> <span class="pl">{{mapByPlay[5768].bp | numFilter}}</span> <el-input v-model="finput[5768]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5769"><span class="balls">{{mapByPlay[5769].name}}</span> <span class="pl">{{mapByPlay[5769].bp | numFilter}}</span> <el-input v-model="finput[5769]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5770"><span class="balls">{{mapByPlay[5770].name}}</span> <span class="pl">{{mapByPlay[5770].bp | numFilter}}</span> <el-input v-model="finput[5770]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5771"><span class="balls">{{mapByPlay[5771].name}}</span> <span class="pl">{{mapByPlay[5771].bp | numFilter}}</span> <el-input v-model="finput[5771]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5772"><span class="balls">{{mapByPlay[5772].name}}</span> <span class="pl">{{mapByPlay[5772].bp | numFilter}}</span> <el-input v-model="finput[5772]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5641"><span class="fonts long-fonts">{{mapByPlay[5641].name}}</span> <span class="pl">{{mapByPlay[5641].bp | numFilter}}</span> <el-input v-model="finput[5641]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5642"><span class="fonts long-fonts">{{mapByPlay[5642].name}}</span> <span class="pl">{{mapByPlay[5642].bp | numFilter}}</span> <el-input v-model="finput[5642]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5643"><span class="fonts long-fonts">{{mapByPlay[5643].name}}</span> <span class="pl">{{mapByPlay[5643].bp | numFilter}}</span> <el-input v-model="finput[5643]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5644"><span class="fonts long-fonts">{{mapByPlay[5644].name}}</span> <span class="pl">{{mapByPlay[5644].bp | numFilter}}</span> <el-input v-model="finput[5644]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5645"><span class="fonts long-fonts">{{mapByPlay[5645].name}}</span> <span class="pl">{{mapByPlay[5645].bp | numFilter}}</span> <el-input v-model="finput[5645]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5646"><span class="fonts long-fonts">{{mapByPlay[5646].name}}</span> <span class="pl">{{mapByPlay[5646].bp | numFilter}}</span> <el-input v-model="finput[5646]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5647"><span class="fonts long-fonts">{{mapByPlay[5647].name}}</span> <span class="pl">{{mapByPlay[5647].bp | numFilter}}</span> <el-input v-model="finput[5647]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5648"><span class="fonts long-fonts">{{mapByPlay[5648].name}}</span> <span class="pl">{{mapByPlay[5648].bp | numFilter}}</span> <el-input v-model="finput[5648]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>
<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>
