<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第六球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5773"><span class="balls">{{mapByPlay[5773].name}}</span> <span class="pl">{{mapByPlay[5773].bp | numFilter}}</span> <el-input v-model="finput[5773]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5774"><span class="balls">{{mapByPlay[5774].name}}</span> <span class="pl">{{mapByPlay[5774].bp | numFilter}}</span> <el-input v-model="finput[5774]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5775"><span class="balls">{{mapByPlay[5775].name}}</span> <span class="pl">{{mapByPlay[5775].bp | numFilter}}</span> <el-input v-model="finput[5775]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5776"><span class="balls">{{mapByPlay[5776].name}}</span> <span class="pl">{{mapByPlay[5776].bp | numFilter}}</span> <el-input v-model="finput[5776]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5777"><span class="balls">{{mapByPlay[5777].name}}</span> <span class="pl">{{mapByPlay[5777].bp | numFilter}}</span> <el-input v-model="finput[5777]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5778"><span class="balls">{{mapByPlay[5778].name}}</span> <span class="pl">{{mapByPlay[5778].bp | numFilter}}</span> <el-input v-model="finput[5778]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5779"><span class="balls">{{mapByPlay[5779].name}}</span> <span class="pl">{{mapByPlay[5779].bp | numFilter}}</span> <el-input v-model="finput[5779]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5780"><span class="balls">{{mapByPlay[5780].name}}</span> <span class="pl">{{mapByPlay[5780].bp | numFilter}}</span> <el-input v-model="finput[5780]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5781"><span class="balls">{{mapByPlay[5781].name}}</span> <span class="pl">{{mapByPlay[5781].bp | numFilter}}</span> <el-input v-model="finput[5781]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5782"><span class="balls">{{mapByPlay[5782].name}}</span> <span class="pl">{{mapByPlay[5782].bp | numFilter}}</span> <el-input v-model="finput[5782]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5783"><span class="balls">{{mapByPlay[5783].name}}</span> <span class="pl">{{mapByPlay[5783].bp | numFilter}}</span> <el-input v-model="finput[5783]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5784"><span class="balls">{{mapByPlay[5784].name}}</span> <span class="pl">{{mapByPlay[5784].bp | numFilter}}</span> <el-input v-model="finput[5784]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5785"><span class="balls">{{mapByPlay[5785].name}}</span> <span class="pl">{{mapByPlay[5785].bp | numFilter}}</span> <el-input v-model="finput[5785]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5786"><span class="balls">{{mapByPlay[5786].name}}</span> <span class="pl">{{mapByPlay[5786].bp | numFilter}}</span> <el-input v-model="finput[5786]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5787"><span class="balls">{{mapByPlay[5787].name}}</span> <span class="pl">{{mapByPlay[5787].bp | numFilter}}</span> <el-input v-model="finput[5787]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5788"><span class="balls">{{mapByPlay[5788].name}}</span> <span class="pl">{{mapByPlay[5788].bp | numFilter}}</span> <el-input v-model="finput[5788]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5789"><span class="balls">{{mapByPlay[5789].name}}</span> <span class="pl">{{mapByPlay[5789].bp | numFilter}}</span> <el-input v-model="finput[5789]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5790"><span class="balls">{{mapByPlay[5790].name}}</span> <span class="pl">{{mapByPlay[5790].bp | numFilter}}</span> <el-input v-model="finput[5790]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5791"><span class="balls">{{mapByPlay[5791].name}}</span> <span class="pl">{{mapByPlay[5791].bp | numFilter}}</span> <el-input v-model="finput[5791]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5792"><span class="balls">{{mapByPlay[5792].name}}</span> <span class="pl">{{mapByPlay[5792].bp | numFilter}}</span> <el-input v-model="finput[5792]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5649"><span class="fonts long-fonts">{{mapByPlay[5649].name}}</span> <span class="pl">{{mapByPlay[5649].bp | numFilter}}</span> <el-input v-model="finput[5649]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5650"><span class="fonts long-fonts">{{mapByPlay[5650].name}}</span> <span class="pl">{{mapByPlay[5650].bp | numFilter}}</span> <el-input v-model="finput[5650]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5651"><span class="fonts long-fonts">{{mapByPlay[5651].name}}</span> <span class="pl">{{mapByPlay[5651].bp | numFilter}}</span> <el-input v-model="finput[5651]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5652"><span class="fonts long-fonts">{{mapByPlay[5652].name}}</span> <span class="pl">{{mapByPlay[5652].bp | numFilter}}</span> <el-input v-model="finput[5652]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5653"><span class="fonts long-fonts">{{mapByPlay[5653].name}}</span> <span class="pl">{{mapByPlay[5653].bp | numFilter}}</span> <el-input v-model="finput[5653]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5654"><span class="fonts long-fonts">{{mapByPlay[5654].name}}</span> <span class="pl">{{mapByPlay[5654].bp | numFilter}}</span> <el-input v-model="finput[5654]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5655"><span class="fonts long-fonts">{{mapByPlay[5655].name}}</span> <span class="pl">{{mapByPlay[5655].bp | numFilter}}</span> <el-input v-model="finput[5655]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5656"><span class="fonts long-fonts">{{mapByPlay[5656].name}}</span> <span class="pl">{{mapByPlay[5656].bp | numFilter}}</span> <el-input v-model="finput[5656]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>


