<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第七球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5793"><span class="balls">{{mapByPlay[5793].name}}</span> <span class="pl">{{mapByPlay[5793].bp | numFilter}}</span> <el-input v-model="finput[5793]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5794"><span class="balls">{{mapByPlay[5794].name}}</span> <span class="pl">{{mapByPlay[5794].bp | numFilter}}</span> <el-input v-model="finput[5794]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5795"><span class="balls">{{mapByPlay[5795].name}}</span> <span class="pl">{{mapByPlay[5795].bp | numFilter}}</span> <el-input v-model="finput[5795]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5796"><span class="balls">{{mapByPlay[5796].name}}</span> <span class="pl">{{mapByPlay[5796].bp | numFilter}}</span> <el-input v-model="finput[5796]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5797"><span class="balls">{{mapByPlay[5797].name}}</span> <span class="pl">{{mapByPlay[5797].bp | numFilter}}</span> <el-input v-model="finput[5797]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5798"><span class="balls">{{mapByPlay[5798].name}}</span> <span class="pl">{{mapByPlay[5798].bp | numFilter}}</span> <el-input v-model="finput[5798]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5799"><span class="balls">{{mapByPlay[5799].name}}</span> <span class="pl">{{mapByPlay[5799].bp | numFilter}}</span> <el-input v-model="finput[5799]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5800"><span class="balls">{{mapByPlay[5800].name}}</span> <span class="pl">{{mapByPlay[5800].bp | numFilter}}</span> <el-input v-model="finput[5800]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5801"><span class="balls">{{mapByPlay[5801].name}}</span> <span class="pl">{{mapByPlay[5801].bp | numFilter}}</span> <el-input v-model="finput[5801]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5802"><span class="balls">{{mapByPlay[5802].name}}</span> <span class="pl">{{mapByPlay[5802].bp | numFilter}}</span> <el-input v-model="finput[5802]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5803"><span class="balls">{{mapByPlay[5803].name}}</span> <span class="pl">{{mapByPlay[5803].bp | numFilter}}</span> <el-input v-model="finput[5803]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5804"><span class="balls">{{mapByPlay[5804].name}}</span> <span class="pl">{{mapByPlay[5804].bp | numFilter}}</span> <el-input v-model="finput[5804]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5805"><span class="balls">{{mapByPlay[5805].name}}</span> <span class="pl">{{mapByPlay[5805].bp | numFilter}}</span> <el-input v-model="finput[5805]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5806"><span class="balls">{{mapByPlay[5806].name}}</span> <span class="pl">{{mapByPlay[5806].bp | numFilter}}</span> <el-input v-model="finput[5806]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5807"><span class="balls">{{mapByPlay[5807].name}}</span> <span class="pl">{{mapByPlay[5807].bp | numFilter}}</span> <el-input v-model="finput[5807]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5808"><span class="balls">{{mapByPlay[5808].name}}</span> <span class="pl">{{mapByPlay[5808].bp | numFilter}}</span> <el-input v-model="finput[5808]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5809"><span class="balls">{{mapByPlay[5809].name}}</span> <span class="pl">{{mapByPlay[5809].bp | numFilter}}</span> <el-input v-model="finput[5809]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5810"><span class="balls">{{mapByPlay[5810].name}}</span> <span class="pl">{{mapByPlay[5810].bp | numFilter}}</span> <el-input v-model="finput[5810]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5811"><span class="balls">{{mapByPlay[5811].name}}</span> <span class="pl">{{mapByPlay[5811].bp | numFilter}}</span> <el-input v-model="finput[5811]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col name" data-id="5812"><span class="balls">{{mapByPlay[5812].name}}</span> <span class="pl">{{mapByPlay[5812].bp | numFilter}}</span> <el-input v-model="finput[5812]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5657"><span class="fonts long-fonts">{{mapByPlay[5657].name}}</span> <span class="pl">{{mapByPlay[5657].bp | numFilter}}</span> <el-input v-model="finput[5657]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5658"><span class="fonts long-fonts">{{mapByPlay[5658].name}}</span> <span class="pl">{{mapByPlay[5658].bp | numFilter}}</span> <el-input v-model="finput[5658]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5659"><span class="fonts long-fonts">{{mapByPlay[5659].name}}</span> <span class="pl">{{mapByPlay[5659].bp | numFilter}}</span> <el-input v-model="finput[5659]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5660"><span class="fonts long-fonts">{{mapByPlay[5660].name}}</span> <span class="pl">{{mapByPlay[5660].bp | numFilter}}</span> <el-input v-model="finput[5660]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5661"><span class="fonts long-fonts">{{mapByPlay[5661].name}}</span> <span class="pl">{{mapByPlay[5661].bp | numFilter}}</span> <el-input v-model="finput[5661]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5662"><span class="fonts long-fonts">{{mapByPlay[5662].name}}</span> <span class="pl">{{mapByPlay[5662].bp | numFilter}}</span> <el-input v-model="finput[5662]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5663"><span class="fonts long-fonts">{{mapByPlay[5663].name}}</span> <span class="pl">{{mapByPlay[5663].bp | numFilter}}</span> <el-input v-model="finput[5663]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col2 name" data-id="5664"><span class="fonts long-fonts">{{mapByPlay[5664].name}}</span> <span class="pl">{{mapByPlay[5664].bp | numFilter}}</span> <el-input v-model="finput[5664]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>
