<template>
	<div class="bet_space credit_bet">
		<div class="game-title">
			<div class="icon-title">总和</div>
		</div>

		<div class="play-menu">
			<table>
				<tr>
					<td colspan="3" class="col2 name" data-id="5595"><span class="fonts long-fonts">{{mapByPlay[5595].name}}</span> <span class="pl">{{mapByPlay[5595].bp | numFilter}}</span>
						<el-input v-model="finput[5595]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
					</td>
					<td colspan="3" class="col2 name" data-id="5596"><span class="fonts long-fonts">{{mapByPlay[5596].name}}</span> <span class="pl">{{mapByPlay[5596].bp | numFilter}}</span>
						<el-input v-model="finput[5596]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="col2 name" data-id="5597"><span class="fonts long-fonts">{{mapByPlay[5597].name}}</span> <span class="pl">{{mapByPlay[5597].bp | numFilter}}</span>
						<el-input v-model="finput[5597]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
					</td>
					<td colspan="3" class="col2 name" data-id="5598"><span class="fonts long-fonts">{{mapByPlay[5598].name}}</span> <span class="pl">{{mapByPlay[5598].bp | numFilter}}</span>
						<el-input v-model="finput[5598]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
					</td>
				</tr>
				<tr>
					<td colspan="3" class="col2 name" data-id="5599"><span class="fonts long-fonts">{{mapByPlay[5599].name}}</span> <span class="pl">{{mapByPlay[5599].bp | numFilter}}</span>
						<el-input v-model="finput[5599]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
					</td>
					<td colspan="3" class="col2 name" data-id="5600"><span class="fonts long-fonts">{{mapByPlay[5600].name}}</span> <span class="pl">{{mapByPlay[5600].bp | numFilter}}</span>
						<el-input v-model="finput[5600]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
					</td>
				</tr>
			</table>
		</div>
		<el-container>
			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第一球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5601"><span class="fonts long-fonts">{{mapByPlay[5601].name}}</span>
								<span class="pl">{{mapByPlay[5601].bp | numFilter}}</span>
								<el-input v-model="finput[5601]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5602"><span class="fonts long-fonts">{{mapByPlay[5602].name}}</span>
								<span class="pl">{{mapByPlay[5602].bp | numFilter}}</span>
								<el-input v-model="finput[5602]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5603"><span class="fonts long-fonts">{{mapByPlay[5603].name}}</span>
								<span class="pl">{{mapByPlay[5603].bp | numFilter}}</span>
								<el-input v-model="finput[5603]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5604"><span class="fonts long-fonts">{{mapByPlay[5604].name}}</span>
								<span class="pl">{{mapByPlay[5604].bp | numFilter}}</span>
								<el-input v-model="finput[5604]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5605"><span class="fonts long-fonts">{{mapByPlay[5605].name}}</span>
								<span class="pl">{{mapByPlay[5605].bp | numFilter}}</span>
								<el-input v-model="finput[5605]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5606"><span class="fonts long-fonts">{{mapByPlay[5606].name}}</span>
								<span class="pl">{{mapByPlay[5606].bp | numFilter}}</span>
								<el-input v-model="finput[5606]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5607"><span class="fonts long-fonts">{{mapByPlay[5607].name}}</span>
								<span class="pl">{{mapByPlay[5607].bp | numFilter}}</span>
								<el-input v-model="finput[5607]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5608"><span class="fonts long-fonts">{{mapByPlay[5608].name}}</span>
								<span class="pl">{{mapByPlay[5608].bp | numFilter}}</span>
								<el-input v-model="finput[5608]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>

			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第二球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5611"><span class="fonts long-fonts">{{mapByPlay[5611].name}}</span> <span class="pl">{{mapByPlay[5611].bp | numFilter}}</span>
								<el-input v-model="finput[5611]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5612"><span class="fonts long-fonts">{{mapByPlay[5612].name}}</span> <span class="pl">{{mapByPlay[5612].bp | numFilter}}</span>
								<el-input v-model="finput[5612]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5613"><span class="fonts long-fonts">{{mapByPlay[5613].name}}</span> <span class="pl">{{mapByPlay[5613].bp | numFilter}}</span>
								<el-input v-model="finput[5613]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5614"><span class="fonts long-fonts">{{mapByPlay[5614].name}}</span> <span class="pl">{{mapByPlay[5614].bp | numFilter}}</span>
								<el-input v-model="finput[5614]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5615"><span class="fonts long-fonts">{{mapByPlay[5615].name}}</span> <span class="pl">{{mapByPlay[5615].bp | numFilter}}</span>
								<el-input v-model="finput[5615]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5616"><span class="fonts long-fonts">{{mapByPlay[5616].name}}</span> <span class="pl">{{mapByPlay[5616].bp | numFilter}}</span>
								<el-input v-model="finput[5616]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5617"><span class="fonts long-fonts">{{mapByPlay[5617].name}}</span> <span class="pl">{{mapByPlay[5617].bp | numFilter}}</span>
								<el-input v-model="finput[5617]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5618"><span class="fonts long-fonts">{{mapByPlay[5618].name}}</span> <span class="pl">{{mapByPlay[5618].bp | numFilter}}</span>
								<el-input v-model="finput[5618]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>

			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第三球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5621"><span class="fonts long-fonts">{{mapByPlay[5621].name}}</span> <span class="pl">{{mapByPlay[5621].bp | numFilter}}</span>
								<el-input v-model="finput[5621]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5622"><span class="fonts long-fonts">{{mapByPlay[5622].name}}</span> <span class="pl">{{mapByPlay[5622].bp | numFilter}}</span>
								<el-input v-model="finput[5622]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5623"><span class="fonts long-fonts">{{mapByPlay[5623].name}}</span> <span class="pl">{{mapByPlay[5623].bp | numFilter}}</span>
								<el-input v-model="finput[5623]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5624"><span class="fonts long-fonts">{{mapByPlay[5624].name}}</span> <span class="pl">{{mapByPlay[5624].bp | numFilter}}</span>
								<el-input v-model="finput[5624]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5625"><span class="fonts long-fonts">{{mapByPlay[5625].name}}</span> <span class="pl">{{mapByPlay[5625].bp | numFilter}}</span>
								<el-input v-model="finput[5625]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5626"><span class="fonts long-fonts">{{mapByPlay[5626].name}}</span> <span class="pl">{{mapByPlay[5626].bp | numFilter}}</span>
								<el-input v-model="finput[5626]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5627"><span class="fonts long-fonts">{{mapByPlay[5627].name}}</span> <span class="pl">{{mapByPlay[5627].bp | numFilter}}</span>
								<el-input v-model="finput[5627]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5628"><span class="fonts long-fonts">{{mapByPlay[5628].name}}</span> <span class="pl">{{mapByPlay[5628].bp | numFilter}}</span>
								<el-input v-model="finput[5628]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>

				</div>
			</el-aside>

			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第四球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5631"><span class="fonts long-fonts">{{mapByPlay[5631].name}}</span> <span class="pl">{{mapByPlay[5631].bp | numFilter}}</span>
								<el-input v-model="finput[5631]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5632"><span class="fonts long-fonts">{{mapByPlay[5632].name}}</span> <span class="pl">{{mapByPlay[5632].bp | numFilter}}</span>
								<el-input v-model="finput[5632]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5633"><span class="fonts long-fonts">{{mapByPlay[5633].name}}</span> <span class="pl">{{mapByPlay[5633].bp | numFilter}}</span>
								<el-input v-model="finput[5633]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5634"><span class="fonts long-fonts">{{mapByPlay[5634].name}}</span> <span class="pl">{{mapByPlay[5634].bp | numFilter}}</span>
								<el-input v-model="finput[5634]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5635"><span class="fonts long-fonts">{{mapByPlay[5635].name}}</span> <span class="pl">{{mapByPlay[5635].bp | numFilter}}</span>
								<el-input v-model="finput[5635]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5636"><span class="fonts long-fonts">{{mapByPlay[5636].name}}</span> <span class="pl">{{mapByPlay[5636].bp | numFilter}}</span>
								<el-input v-model="finput[5636]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5637"><span class="fonts long-fonts">{{mapByPlay[5637].name}}</span> <span class="pl">{{mapByPlay[5637].bp | numFilter}}</span>
								<el-input v-model="finput[5637]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5638"><span class="fonts long-fonts">{{mapByPlay[5638].name}}</span> <span class="pl">{{mapByPlay[5638].bp | numFilter}}</span>
								<el-input v-model="finput[5638]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>
		</el-container>

		<el-container>
			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第五球</div>
				</div>

				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5641"><span class="fonts long-fonts">{{mapByPlay[5641].name}}</span> <span class="pl">{{mapByPlay[5641].bp | numFilter}}</span>
								<el-input v-model="finput[5641]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5642"><span class="fonts long-fonts">{{mapByPlay[5642].name}}</span> <span class="pl">{{mapByPlay[5642].bp | numFilter}}</span>
								<el-input v-model="finput[5642]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5643"><span class="fonts long-fonts">{{mapByPlay[5643].name}}</span> <span class="pl">{{mapByPlay[5643].bp | numFilter}}</span>
								<el-input v-model="finput[5643]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5644"><span class="fonts long-fonts">{{mapByPlay[5644].name}}</span> <span class="pl">{{mapByPlay[5644].bp | numFilter}}</span>
								<el-input v-model="finput[5644]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5645"><span class="fonts long-fonts">{{mapByPlay[5645].name}}</span> <span class="pl">{{mapByPlay[5645].bp | numFilter}}</span>
								<el-input v-model="finput[5645]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5646"><span class="fonts long-fonts">{{mapByPlay[5646].name}}</span> <span class="pl">{{mapByPlay[5646].bp | numFilter}}</span>
								<el-input v-model="finput[5646]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5647"><span class="fonts long-fonts">{{mapByPlay[5647].name}}</span> <span class="pl">{{mapByPlay[5647].bp | numFilter}}</span>
								<el-input v-model="finput[5647]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5648"><span class="fonts long-fonts">{{mapByPlay[5648].name}}</span> <span class="pl">{{mapByPlay[5648].bp | numFilter}}</span>
								<el-input v-model="finput[5648]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>

			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第六球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5649"><span class="fonts long-fonts">{{mapByPlay[5649].name}}</span> <span class="pl">{{mapByPlay[5649].bp | numFilter}}</span>
								<el-input v-model="finput[5649]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5650"><span class="fonts long-fonts">{{mapByPlay[5650].name}}</span> <span class="pl">{{mapByPlay[5650].bp | numFilter}}</span>
								<el-input v-model="finput[5650]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5651"><span class="fonts long-fonts">{{mapByPlay[5651].name}}</span> <span class="pl">{{mapByPlay[5651].bp | numFilter}}</span>
								<el-input v-model="finput[5651]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5652"><span class="fonts long-fonts">{{mapByPlay[5652].name}}</span> <span class="pl">{{mapByPlay[5652].bp | numFilter}}</span>
								<el-input v-model="finput[5652]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5653"><span class="fonts long-fonts">{{mapByPlay[5653].name}}</span> <span class="pl">{{mapByPlay[5653].bp | numFilter}}</span>
								<el-input v-model="finput[5653]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5654"><span class="fonts long-fonts">{{mapByPlay[5654].name}}</span> <span class="pl">{{mapByPlay[5654].bp | numFilter}}</span>
								<el-input v-model="finput[5654]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5655"><span class="fonts long-fonts">{{mapByPlay[5655].name}}</span> <span class="pl">{{mapByPlay[5655].bp | numFilter}}</span>
								<el-input v-model="finput[5655]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5656"><span class="fonts long-fonts">{{mapByPlay[5656].name}}</span> <span class="pl">{{mapByPlay[5656].bp | numFilter}}</span>
								<el-input v-model="finput[5656]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>

			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第七球</div>
				</div>

				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5657"><span class="fonts long-fonts">{{mapByPlay[5657].name}}</span> <span class="pl">{{mapByPlay[5657].bp | numFilter}}</span>
								<el-input v-model="finput[5657]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5658"><span class="fonts long-fonts">{{mapByPlay[5658].name}}</span> <span class="pl">{{mapByPlay[5658].bp | numFilter}}</span>
								<el-input v-model="finput[5658]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5659"><span class="fonts long-fonts">{{mapByPlay[5659].name}}</span> <span class="pl">{{mapByPlay[5659].bp | numFilter}}</span>
								<el-input v-model="finput[5659]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5660"><span class="fonts long-fonts">{{mapByPlay[5660].name}}</span> <span class="pl">{{mapByPlay[5660].bp | numFilter}}</span>
								<el-input v-model="finput[5660]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5661"><span class="fonts long-fonts">{{mapByPlay[5661].name}}</span> <span class="pl">{{mapByPlay[5661].bp | numFilter}}</span>
								<el-input v-model="finput[5661]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5662"><span class="fonts long-fonts">{{mapByPlay[5662].name}}</span> <span class="pl">{{mapByPlay[5662].bp | numFilter}}</span>
								<el-input v-model="finput[5662]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5663"><span class="fonts long-fonts">{{mapByPlay[5663].name}}</span> <span class="pl">{{mapByPlay[5663].bp | numFilter}}</span>
								<el-input v-model="finput[5663]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5664"><span class="fonts long-fonts">{{mapByPlay[5664].name}}</span> <span class="pl">{{mapByPlay[5664].bp | numFilter}}</span>
								<el-input v-model="finput[5664]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>

			<el-aside width="25%">
				<div class="game-title">
					<div class="icon-title">第八球</div>
				</div>

				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5665"><span class="fonts long-fonts">{{mapByPlay[5665].name}}</span> <span class="pl">{{mapByPlay[5665].bp | numFilter}}</span>
								<el-input v-model="finput[5665]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5666"><span class="fonts long-fonts">{{mapByPlay[5666].name}}</span> <span class="pl">{{mapByPlay[5666].bp | numFilter}}</span>
								<el-input v-model="finput[5666]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5667"><span class="fonts long-fonts">{{mapByPlay[5667].name}}</span> <span class="pl">{{mapByPlay[5667].bp | numFilter}}</span>
								<el-input v-model="finput[5667]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5668"><span class="fonts long-fonts">{{mapByPlay[5668].name}}</span> <span class="pl">{{mapByPlay[5668].bp | numFilter}}</span>
								<el-input v-model="finput[5668]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5669"><span class="fonts long-fonts">{{mapByPlay[5669].name}}</span> <span class="pl">{{mapByPlay[5669].bp | numFilter}}</span>
								<el-input v-model="finput[5669]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5670"><span class="fonts long-fonts">{{mapByPlay[5670].name}}</span> <span class="pl">{{mapByPlay[5670].bp | numFilter}}</span>
								<el-input v-model="finput[5670]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5671"><span class="fonts long-fonts">{{mapByPlay[5671].name}}</span> <span class="pl">{{mapByPlay[5671].bp | numFilter}}</span>
								<el-input v-model="finput[5671]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5672"><span class="fonts long-fonts">{{mapByPlay[5672].name}}</span> <span class="pl">{{mapByPlay[5672].bp | numFilter}}</span>
								<el-input v-model="finput[5672]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
							</td>
						</tr>
					</table>
				</div>
			</el-aside>
		</el-container>
	</div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>