<template>
    <div slot="content" >
		<div class="main-title">
			團隊統計
		</div>
		<div class="mainTeam" style="padding: 25px 25px 0px 25px;">
			<el-card shadow="hover">
				<div class="team-head">团队盈亏总计</div>
				<el-divider></el-divider>
				<el-row>
					<el-col :span="6" class="agent-text-center">
						<div>${{u_info.real_bet | numFilter}}</div>
						<div>團隊投注</div>
					</el-col>
					<el-col :span="6" class="agent-text-center">
						<div>${{u_info.zj | numFilter}}</div>
						<div>團隊中奖</div>
					</el-col>
					<el-col :span="6" class="agent-text-center">
						<div class="team-double-right"><i class="fas fa-angle-double-right"></i></div>
					</el-col>
					<el-col :span="6" class="agent-text-center">
						<div>${{u_info.fandian | numFilter}}</div>
						<div>您获得返点</div>
					</el-col>
				</el-row>
			</el-card>
		</div>
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.Date"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="开始日期"
				end-placeholder="结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-input class="agent-member-list"
			v-model="filterData.UserName" placeholder="输入用戶名" clearable
			></el-input>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="user-padding">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td class="td-head">用户名</td>
						<td class="td-head">投注额</td>
						<td class="td-head">中奖</td>
						<td class="td-head">输赢</td>
						<td class="td-head">活动</td>
						<td class="td-head">返点</td>
					</tr>
					<tr v-for="(item, index) in results" class="record-item" :key="index" :class="{'tr-color':index%2==1}">
						<td @click="getsubLog(item.uid,item.sub_members)">
							<span v-if="item.ch_parent > 0">
								<i class="fas fa-angle-right parent-color" v-for="n in item.ch_parent" :key="n"></i>
							</span>
							{{ item.username }} ({{ item.pfandian }}%)
							<span class="icon-size" v-if="item.sub_members > 0"><i class="fas fa-caret-down" ></i></span>
							<br>
							类型: <span >{{check_type(item.type)}}</span> <i :class="{'fas fa-crown agent-color':item.type==1,'fas fa-user member-color':item.type==0}"></i>
						</td>
						<td>
							<span :class="{'bonus-color':checkPosNum(item.team_bet),'nbonus-color':!checkPosNum(item.team_bet)}" v-if="item.type==1">{{item.team_bet | numFilter}}</span>
							<span :class="{'bonus-color':checkPosNum(item.team_bet),'nbonus-color':!checkPosNum(item.real_bet)}" v-if="item.type==0">{{item.real_bet | numFilter}}</span>
						</td>
						<td>
							<span :class="{'bonus-color':checkPosNum(item.team_zj),'nbonus-color':!checkPosNum(item.team_zj)}" v-if="item.type==1">{{item.team_zj | numFilter}}</span>
							<span :class="{'bonus-color':checkPosNum(item.zj),'nbonus-color':!checkPosNum(item.zj)}" v-if="item.type==0">{{item.zj | numFilter}}</span>
						</td>
						<td>
							<span :class="{'bonus-color':checkPosNum(item.team_wl - cal_up_bonus(item)),'nbonus-color':!checkPosNum(item.team_wl - cal_up_bonus(item))}" v-if="item.type==1">{{item.team_wl | numFilter}}</span>
							<span :class="{'bonus-color':checkPosNum(item.wl),'nbonus-color':!checkPosNum(item.wl)}" v-if="item.type==0">{{item.wl | numFilter}}</span>
						</td>
						<td><span :class="{'bonus-color':checkPosNum(item.team_broker),'nbonus-color':!checkPosNum(item.team_broker)}">{{item.team_broker | numFilter}}</span></td>
						<td>
							<span class="bonus-color" >{{item.fandian | numFilter}}</span>
						</td>
					</tr>
				</table>
				<p v-if="loading">加载中...</p>
				<p v-if="noMore && results.length > 0">没有更多了</p>
				<div class="no-record" v-if="!results.length">
					<img class="no-record-img" src="~assets/images/norecord.png">
					<div class="no-record-txt">暂无相关纪录</div>
				</div>
			</div>
		</el-row>
    </div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiAgentSearch,apiAgentSearchSub } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
                Date:'',
                UserName:'',
            },
            u_info:{
                fandian:0,
                real_bet:0,
                zj:0,
				pfandian:0,
            },
            results:[],
            current_page:1,
        }
    },
    methods: {
		getsubLog(uid,sub_members)
		{
			if(sub_members <= 0)
			{
				return;
			}
			let check = false;
			let temp_arr=[];
			let temp_arr2=[];
			for(var k in this.results)
			{
				var check_parents = this.results[k].parents.toString();
				if(check_parents.indexOf(","+uid+",") != -1)
				{
					check = true;
				}else
				{
					temp_arr2.push(this.results[k]);
				}
			}
			if(check)
			{
				this.results = temp_arr2;
				return;
			}
			else
			{
				let fromTime = "";
				let toTime = "";
				if(this.filterData.Date)
				{
					fromTime = moment(this.filterData.Date[0]).format("YYYY-MM-DD");
					toTime = moment(this.filterData.Date[1]).format("YYYY-MM-DD");
				}
				apiAgentSearchSub({
					uid: uid,
					fromTime: fromTime,
					toTime: toTime,
					})
					.then(response => {
						if(response.data.error)
						{
							this.error_handler(response.data);
						}
						if(response.data.status)
						{
							if(response.data.team_info.length==0)
							{
								return;
							}
							for(var k in this.results)
							{
								temp_arr.push(this.results[k]);
								if(this.results[k].uid == uid)
								{
									if(!this.results[parseInt(k)+1])
									{
										temp_arr = temp_arr.concat(response.data.team_info);
									}
									if(this.results[parseInt(k)+1])
									{
										if(this.results[parseInt(k)+1].uid!=response.data.team_info[0].uid)
										{
											temp_arr = temp_arr.concat(response.data.team_info);
										}
									}
								}
							}
							this.results = temp_arr;
						}
						return;
					}).catch(error => {
						console.log(error);
						return;
					});
			}
		},
        cal_up_bonus(item)
        {
            let bonus = (item.team_bet - item.team_zj - item.team_broker) * (1-(item.fenHong/100)) ;
            return bonus;
        },
		check_type(type)
		{
            if(type==1)
            {
                return '代理';
            }
            if(type==0)
            {
                return '会员';
            }
		},
        showSearch(value,data)
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			this.getLog(this.current_page);
        },
        getLog(page)
        {
			this.loading = true;
			let fromTime = "";
			let toTime = "";
			if(this.filterData.Date)
			{
				fromTime = moment(this.filterData.Date[0]).format("YYYY-MM-DD");
				toTime = moment(this.filterData.Date[1]).format("YYYY-MM-DD");
			}
            apiAgentSearch({
                page: page,
                username: this.filterData.UserName,
                fromTime: fromTime,
                toTime: toTime,
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.team_info.length==0)
                        {
                            this.stopLoad();
                            return;
                        }
						if(response.data.team_info.length<20)
						{
							this.stopLoad();
						}
                        this.results=this.results.concat(response.data.team_info);
                        this.u_info=response.data.u_info;
                    }
					this.loading = false;
                    return;
                }).catch(error => {
                    console.log(error);
                    this.stopLoad();
                    return;
                });
        },
		load () {
			if(!this.loading )
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		},
    },
    computed: {
		...mapGetters({

        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	overflow-y scroll;
	height 100%;
	font-size: 0.9rem;
	.record-item
		margin-bottom 1px;
		padding: 0px 10px;
	.icon-size
		margin-left 5px;
		font-size: 1.5rem;
		vertical-align: middle;
		-webkit-text-stroke-width: 0px;
	.parent-color
		color: #284994;
.agent-text-center
	text-align: -webkit-center;
	width 20%;
.team-double-right
	line-height: 40px;
	font-size: 1.4rem;
	color: #909399;
</style>
