<template>
    <div slot="content" >
		<div class="main-title">
			代理總覽
		</div>
        <div class="mainTeam">
			<el-card shadow="never" class="main-card">
				<el-row>
					<el-col :span="8">
						您的邀請碼: <span class="agent-code-color">{{qr.lid}}</span>
					</el-col>
					<el-col :span="8">
						今日獲得返點: {{todayFd}}
					</el-col>
					<el-col :span="8">
						您的直屬下級數: {{qr.usedTimes}}
					</el-col>
				</el-row>
				<el-divider></el-divider>
				<el-row class="main-card-content">
					<el-col :span="12">
						<el-row>
							<el-col>掃碼轉發</el-col>
							<el-col><vue-qr :text="qr_url" :size="200"></vue-qr></el-col>
							<el-col>打開手機掃碼軟件,掃碼立即註冊</el-col>
						</el-row>
					</el-col>
					<el-col :span="12">
						<el-row>
							<el-col>点击复制链接按钮后发送给好友</el-col>
							<el-col class="main-card-url">
								<div class="main-card-url-title">以下是您的专属链接:</div>
								<div class="main-card-url-content">
									<div class="main-card-url-border">{{qr_url}}</div>
									<el-button type="danger" class="copy-btn" @click="copy(qr_url)" >
										<i class="fas fa-copy"></i> 复制链接
									</el-button>
								</div>
							</el-col>
						</el-row>
					</el-col>
				</el-row>
			</el-card>
			<el-card shadow="never" class="main-card" style="margin-top: 25px;">
				<div slot="header" style="text-align: left;">
					<span style="font-size: 1.2rem;">代理制度</span>
				</div>
				</el-row>
				<el-row style="padding: 25px 50px 0px;">
					<el-col :span="4" class="agent-text-center">
						<div class="agent-round"><i class="fas fa-users"></i></div>
						<div class="agent-text-info">
							推廣代理返點
						</div>
					</el-col>
					<el-col :span="4" class="agent-text-center">
						<div class="agent-icon"><i class="fas fa-equals"></i></div>
					</el-col>
					<el-col :span="4" class="agent-text-center">
						<div class="agent-round"><i class="fas fa-gem"></i></div>
						<div class="agent-text-info">
							直屬會員返點
						</div>
					</el-col>
					<el-col :span="4" class="agent-text-center">
						<div class="agent-icon"><i class="fas fa-plus"></i></div>
					</el-col>
					<el-col :span="4" class="agent-text-center">
						<div class="agent-round"><i class="fas fa-people-carry"></i></div>
						<div class="agent-text-info">
							團隊返點
						</div>
					</el-col>
				</el-row>
				<el-divider class="agent-divider"></el-divider>
				<el-row class="main-card-content" style="padding: 25px 0px 0px">
					<el-col :span="12" style="text-align: left;">
						<div>
							<p>1、直属会员佣金计算方式</p>
							<div class="agent-info-text">直属有效投注量总和 × (您的返點 - 直属返點)%</div>
						</div>
						<div>
							<p>2、团队佣金计算方式</p>
							<div class="agent-info-text">团队有效投注量总和 × (您的返點 - 直属代理返點)%</div>
							<div class="agent-info-text">例如:您與代理團隊點差為1%,A会员发展B会员与C会员,B会员发展D和E会员,
							C会员发展F和G会员,A会员佣金=(B+C)×1%+(D
							+E+F+G)×1%
							</div>
						</div>
						<div>
							<p>3、既是玩家,也是代理,合为一体</p>
							<div class="agent-info-text">(1) 您可自娱投注亦可赚取下级会员流水返佣,娱乐赚钱两不误</div>
							<div class="agent-info-text">(2) 根据下级会员产生的有效投注计算,不计输赢,代理即可赚取</div>
							<div class="agent-info-text">(3) 實時結算,自动派送至游戏账号,自行提款即可</div>
						</div>
					</el-col>
					<el-col :span="12">
						<img src="~assets/images/tuijian_04.png">
					</el-col>
				</el-row>
			</el-card>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiAgentQR,apiAgentLast7 } from "@/api.js";
import VueQr from 'vue-qr'
import Clipboard from 'clipboard';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			todayFd:0,
            qr:{
                usedTimes:0,
                fanDian: '',
                lid:'',
            },
        }
    },
    methods: {
        getLog()
        {
            apiAgentLast7({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
						this.todayFd=response.data.todayFd;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        copy(str)
        {
            var clipboard = new Clipboard(".copy-btn", {
            text: (trigger)=>{
                    return str;
                }
            });
            clipboard.on('success', e => {
                this.toast('复制成功');
                clipboard.destroy()
            })
            clipboard.on('error', e => {
                clipboard.destroy()
            })
        },
    },
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
        qr_url()
        {
            return this.config.domain_name+"/spreg/"+this.qr.lid;
        },
        qr_lid()
        {
            return this.qr.lid.toString();
        },
    },
    components: {
        VueQr,
        Clipboard,
    },
    created() {
        apiAgentQR({
        })
        .then(response => {
            if(response.data.error)
            {
                this.toast(response.data.error,null);
                return;
            }
            if(response.data.status)
            {
                this.qr=response.data.sp;
                return;
            }
            return;
        }).catch(error => {
            console.log(error);
            return;
        });
		this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainTeam
	.main-card-content
		padding-top 25px
	.main-card-url
		padding-top 80px
		.main-card-url-title
			text-align: left;
			padding-bottom: 10px;
		.main-card-url-content
			text-align: left;
			.main-card-url-border
				border: 1px #ddd solid;
				display: inline-block;
				padding: 10px;
				width 260px;
	.agent-code-color
		color: #d09215;
	.agent-text-center
		text-align: -webkit-center;
		width 20%;
		.agent-text-info
			padding 10px 0px;
	.agent-round
		border: 1px #d09215 solid;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 2rem;
		color: #d09215;
	.agent-icon
		font-size: 1.2rem;
		line-height: 80px;
		color: #606266;
	.agent-divider
		background-color: #d09215;
	p
		font-weight 700;
	.agent-info-text
		line-height: 25px;
</style>
