<template>
    <div slot="content" >
		<div class="main-title">
			邀请码設置
		</div>
		<div class="mainTeam">
			<el-card shadow="never" class="main-card">
				<el-row>
					<el-col :span="8">
						您的邀請碼: <span class="agent-code-color">{{qr.lid}}</span>
					</el-col>
					<el-col :span="8">
						今日獲得返點: {{todayFd}}
					</el-col>
					<el-col :span="8">
						您的直屬下級數: {{qr.usedTimes}}
					</el-col>
				</el-row>
				<el-divider></el-divider>
				<el-row class="main-card-content">
					<el-col :span="12">
						<el-row>
							<el-col>掃碼轉發</el-col>
							<el-col><vue-qr :text="qr_url" :size="200"></vue-qr></el-col>
							<el-col>打開手機掃碼軟件,掃碼立即註冊</el-col>
						</el-row>
					</el-col>
					<el-col :span="12">
						<el-row>
							<el-col>点击复制链接按钮后发送给好友</el-col>
							<el-col class="main-card-url">
								<div class="main-card-url-title">以下是您的专属链接:</div>
								<div class="main-card-url-content">
									<div class="main-card-url-border">{{qr_url}}</div>
									<el-button type="danger" class="copy-btn" @click="copy(qr_url)" >
										<i class="fas fa-copy"></i> 复制链接
									</el-button>
								</div>
							</el-col>
						</el-row>
					</el-col>
				</el-row>
				<el-divider></el-divider>
				<el-form >
					<el-row class="agent-input">
						<el-col class="agent-input-title">
							设置返点 <el-link  @click="go2page('/agent')" style="margin-left: 20px;">更多代理制度說明 <i class="fas fa-angle-double-right"></i></el-link>
						</el-col>
						<el-col class="agent-fanDian-input">
							<el-input  v-model="qr.fanDian" placeholder="输入返点" @keypress.native="$bet.onlyNumber()"></el-input>
							<el-button type="primary" class="card-button" @click="up" :disabled="qr.fanDian==''">設置</el-button>
						</el-col>
						<el-col class="agent-input-info">
							<div class="card-red"><i class="fas fa-info-circle"></i> 下级最高返点为{{this.user.fanDian}}% , 最低为0%</div>

						</el-col>
					</el-row>
				</el-form>
			</el-card>
			<el-row>
				<el-col class="last7-total">
					近14日統計
				</el-col>
			</el-row>
<!-- 			<VeLine :data="chartDataFD"></VeLine>
			<VeLine :data="chartDataREG"></VeLine>
			<VeLine :data="chartDataBET"></VeLine> -->
		</div>
    </div>
</template>

<script type="text/ecmascript-6" >
import { validator } from '@/utils/validator.js'
import { mapGetters } from "vuex";
import { apiAgentQR,apiAgentQRupdate,apiAgentTeamLast7 } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import VueQr from 'vue-qr'
import Clipboard from 'clipboard';
//import VeLine from 'v-charts/lib/histogram.common'
export default {
    mixins: [globalMixin],
    data() {
        return {
            check:false,
            todayFd:0,
            qr:{
                usedTimes:0,
                fanDian: '',
                lid:'',
            },
            rules:{
                type: 'number',
                required: true,
                mix: 0,
            },
			chartDataFD: {
					  columns: ['日期', '返點收益'],
					  rows: []
			},
			chartDataREG: {
					  columns: ['日期', '註冊人數'],
					  rows: []
			},
			chartDataBET: {
					  columns: ['日期', '下級投注'],
					  rows: []
			}
        }
    },
    methods: {
        copy(str)
        {
            var clipboard = new Clipboard(".copyBtn1", {
            text: (trigger)=>{
                    return str;
                }
            });
            clipboard.on('success', e => {
                this.toast('复制成功');
                clipboard.destroy()
            })
            clipboard.on('error', e => {
                clipboard.destroy()
            })
        },
        up(){
            if(this.qr.fanDian > this.user.fanDian || this.qr.fanDian < 0){
                this.toast('返点不可大于'+this.user.fanDian);
                return;
            };
            apiAgentQRupdate({
                fandian:this.qr.fanDian,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.msg)
                {
                    this.toast(response.data.msg);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
        getLog()
        {
            apiAgentTeamLast7({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
						for(var n in response.data.last7)
						{
							this.chartDataFD.rows=this.chartDataFD.rows.concat(
								{ '日期': response.data.last7[n].actionDate, '返點收益': response.data.last7[n].fandian}
							);
							this.chartDataREG.rows=this.chartDataREG.rows.concat(
								{ '日期': response.data.last7[n].actionDate, '註冊人數': response.data.last7[n].members}
							);
							this.chartDataBET.rows=this.chartDataBET.rows.concat(
								{ '日期': response.data.last7[n].actionDate, '下級投注': response.data.last7[n].real_bet}
							);
						}
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
        qr_url()
        {
            return this.config.domain_name+"/spreg/"+this.qr.lid;
        },
        qr_lid()
        {
            return this.qr.lid.toString();
        },
    },
    components: {
        VueQr,
        Clipboard,
//		VeLine
    },
    created() {
        apiAgentQR({
        })
        .then(response => {
            if(response.data.error)
            {
                this.toast(response.data.error,null);
                return;
            }
            if(response.data.status)
            {
                this.qr=response.data.sp;
                return;
            }
            return;
        }).catch(error => {
            console.log(error);
            return;
        });
		this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainTeam
	.main-card-content
		padding-top 25px
	.main-card-url
		padding-top 80px
		.main-card-url-title
			text-align: left;
			padding-bottom: 10px;
		.main-card-url-content
			text-align: left;
			.main-card-url-border
				border: 1px #ddd solid;
				display: inline-block;
				padding: 10px;
				width 260px;
	.last7-total
		text-align left;
		font-size 1.2rem;
		padding 20px 0px;
	.agent-code-color
		color: #d09215;
	.agent-input
		padding 0px 50px
		.agent-fanDian-input
			display inline-flex
			width 400px;
		.card-button
			margin-left 10px;
		.agent-input-title
			padding-bottom 10px;
			text-align left;
		.agent-input-info
			padding-top 10px;
			text-align left;

</style>
