<template>
	<div class="betlog">
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.betDate"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="开始日期"
				end-placeholder="结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-select v-model="filterData.StatusValue" placeholder="请选择狀態">
				<el-option
					v-for="item in StatusOptions"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
			<el-select v-model="filterData.LotteryValue" placeholder="请选择彩種">
				<el-option
					v-for="item in lt_type"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="user-betlog">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td class="td-head">彩種</td>
							<td class="td-head">注單編號</td>
							<td class="td-head">獎期</td>
							<td class="td-head">內容</td>
							<td class="td-head">金額</td>
							<td class="td-head">時間</td>
							<td class="td-head">狀態</td>
						</tr>
						<tr v-for="(item, index) in betlog.results" class="record-item" :key="index"  :class="{'tr-color':index%2==1}">
							<td>{{ mapByType[item.type].title }}</td>
							<td>{{ item.wjorderId }}</td>
							<td>
								<div>{{ item.actionNo }}</div>
								<div v-if="item.lottery_type != 18">{{ item.lotteryNo }}</div>
								<div v-if="item.lottery_type == 18 && item.lotteryNo!=''" >
									<div v-for="(item, index) in getStrtoJson(item.lotteryNo)"  :key="index">
										<span v-if="index=='1st'">First prize(首獎)  : <br></span>
										<span v-if="index=='2nd'">Second prize(第二獎)  : <br></span>
										<span v-if="index=='3th'">Third prize(第三獎)  : <br></span>
										<span v-if="index=='en1'">Encouragement prize 1(安慰獎 1)  : <br></span>
										<span v-if="index=='en2'">Encouragement prize 2(安慰獎 2)  : <br></span>
										<span class="max4d-number-color">{{item}}</span>
									</div>
								</div>
							</td>
							<td>
								<div>玩法 : {{ item.actionName }}</div>
								<div v-if="item.type != 120">號碼 : {{item.weiShu | CodeWeiShu}} {{ item.actionData }} {{ item.betInfo }}</div>
								<div v-if="item.type == 120" class="flex">號碼 :
									<img class="ld_img_big" :class="{ld_img_extraBig: (item.actionData==='陆' || item.actionData==='水')}" :src="require('@/assets/images/ld/'+ item.actionData+'.png')" >
								</div>
							</td>
							<td>
								<div>下注 : {{ item.actionAmount | numFilter }}</div>
								<div>中獎 : {{ item.bonus | numFilter }}</div>
							</td>
							<td>
								<div>下注 : {{getMomentDTDate(item.actionTime)}}</div>
								<div>開獎 : {{getMomentDTDate(item.kjTime)}}</div>
							</td>
							<td >
								<el-tag type="success" v-if="item.lotteryNo!=''">{{ getStatus(item) }}</el-tag>
								<el-tag type="info" v-else>{{ getStatus(item) }}</el-tag>
							</td>
						</tr>
					</table>
					<p v-if="loading">加载中...</p>
					<p v-if="noMore && betlog.results.length > 0">没有更多了</p>
					<div class="no-record" v-if="!betlog.results.length">
						<img class="no-record-img" src="~assets/images/norecord.png">
						<div class="no-record-txt">暂无相关纪录</div>
					</div>
			</div>
		</el-row>
	</div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetBetLog } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
				betDate:'',
                LotteryValue:'',
                StatusValue:'',
            },
            betlog:{
                //page_current:1,
                results:[],
                //total:0
            },
            current_page:1,
			StatusOptions: [
				{
				  value: 0,
				  label: '全部'
				}, {
				  value: 1,
				  label: '已开奖'
				}, {
				  value: 2,
				  label: '未开奖'
				}, {
				  value: 3,
				  label: '撤单'
				},
			],
        }
    },
	filters:{
		CodeWeiShu:function(value)
		{
			let wei='';
			let w=[
				{
					v:16,
					c:'万'
				},
				{
					v:8,
					c:'千'
				},
				{
					v:4,
					c:'百'
				},
				{
					v:2,
					c:'十'
				},
				{
					v:1,
					c:'个'
				},
			];
			for(var key in w)
			{
				if (value & w[key].v) wei += w[key].c ;
			}
			return wei;
		}
	},
    methods: {
        getStrtoJson(str)
        {
            let _json = JSON.parse(str);
            return _json;
        },
        showSearch()
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			this.getLog(this.current_page);
        },
        getLog(page)
        {
			this.loading = true;
            apiGetBetLog({
                page: page,
                type: this.filterData.LotteryValue,
                status: this.filterData.StatusValue,
                fromTime: moment(this.filterData.betDate[0]).format("YYYY-MM-DD"),
                toTime: moment(this.filterData.betDate[1]).format("YYYY-MM-DD"),
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.betlog.results.splice(0,this.betlog.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
							this.stopLoad();
                            return;
                        }
						if(response.data.data.length<20)
						{
							this.stopLoad();
						}
                        this.betlog.results=this.betlog.results.concat(response.data.data);
                    }
					this.loading = false;
                    return;
                }).catch(error => {
					this.stopLoad();
                    console.log(error);
                    return;
                });
        },
		load () {
			if(!this.loading)
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		}
    },
    computed: {
		...mapGetters({
            mapByType: "mapByType",
        }),
        lt_type(){
            var data=[];
            var lt=this.mapByType;
            data.push({value:0,label:'全部'});
            for(var k in lt)
            {
                data.push({value:String(lt[k].id),label:lt[k].title});
            }
            return data;
        },
    },
    components: {

    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.betlog
	.user-betlog
		height 630px;
		overflow: hidden;
	.mainSearch
		overflow-y scroll;
	.max4d-number-color
		color #008000
.flex
	display flex
	align-items center
// .ld_img
	// width 1rem;
.ld_img_big
	width 2rem;
.ld_img_extraBig
	width 6rem;
@media screen and (max-width: 1800px) {
	.user-betlog
	{
		height 340px ;
	}
}
</style>
