<template>
    <div >
		<div class="main-title">
			資金紀錄
		</div>
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.coinDate"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="开始日期"
				end-placeholder="结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-cascader v-model="filterData.CashTpye" :options="cashData" placeholder="请选择狀態" ></el-cascader>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="user-padding">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td class="td-head">時間</td>
						<td class="td-head">类别</td>
						<td class="td-head">單號</td>
						<td class="td-head">金额</td>
						<td class="td-head">钱包余额</td>
						<td class="td-head">備註</td>
					</tr>
					<tr v-for="(item, index) in results" class="record-item" :key="index"  :class="{'tr-color':index%2==1}">
						<td>{{getMomentFullDate(item.actionTime)}}</td>
						<td>{{ config.cash_type[item.liqType] }}</td>
						<td>{{ item.id }}</td>
						<td class="red-color">${{ item.coin |numFilter}}</td>
						<td>${{ item.userCoin |numFilter}}</td>
						<td><div>{{ item.info }}</div></td>
					</tr>
				</table>
				<p v-if="loading">加载中...</p>
				<p v-if="noMore && results.length > 0">没有更多了</p>
				<div class="no-record" v-if="!results.length">
					<img class="no-record-img" src="~assets/images/norecord.png">
					<div class="no-record-txt">暂无相关纪录</div>
				</div>
			</div>
		</el-row>
		<el-backtop target=".user-padding .mainSearch"></el-backtop>
    </div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetCoinLog } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
				coinDate:'',
                CashTpye:'',
            },
            results:[],
            current_page:1,
			cashData:[
			  {
				value: '账户类',
				label: '账户类',
				children: [
				  {
					value: '1',
					label: '用户充值',
				  },
				  {
					value: '9',
					label: '系统充值',
				  },
				  {
					value: '4',
					label: '人工扣减',
				  },
				  {
					value: '12',
					label: '上级转款',
				  },
				  {
					value: '8',
					label: '提现失败返还',
				  },
				  {
					value: '107',
					label: '提现扣除',
				  },
				  {
					value: '125',
					label: '重新结算',
				  },
				  {
					value: '9',
					label: '退水',
				  },
				]
			  },
			  {
				value: '游戏类',
				label: '游戏类',
				children: [
				  {
					value: '101',
					label: '投注扣款',
				  },
				  {
					value: '6',
					label: '中奖奖金',
				  },
				  {
					value: '7',
					label: '撤单返款',
				  },
				  {
					value: '5',
					label: '追号撤单',
				  }                      
				]
			  },
			  {
				value: '代理类',
				label: '代理类',
				children: [
				  {
					value: '2',
					label: '下级返点',
				  },
				  {
					value: '3',
					label: '代理分红',
				  },
				  {
					value: '52',
					label: '充值佣金',
				  },
				  {
					value: '13',
					label: '转款给下级',
				  },
				  {
					value: '53',
					label: '消费佣金',
				  },
				  {
					value: '56',
					label: '亏损佣金',
				  }
				]
			  },
			  {
				value: '活动类',
				label: '活动类',
				children: [
				  {
					value: '54',
					label: '充值奖励',
				  },
				  {
					value: '55',
					label: '注册奖励',
				  },
				  {
					value: '50',
					label: '签到赠送',
				  },
				  {
					value: '120',
					label: '幸运大转盘',
				  },
				  {
					value: '121',
					label: '积分兑换',
				  },
				  {
					value: '51',
					label: '绑定银行奖励',
				  },
				  {
					value: '57',
					label: '活动赠送',
				  }                      
				]
			  },
			]
        }
    },
    methods: {
        showSearch()
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			this.getLog(this.current_page);
        },
        getLog(page)
        {
			this.loading = true;
			var type='';
			if(this.filterData.CashTpye!='')
			{
				type=this.filterData.CashTpye[1];
			}
            apiGetCoinLog({
                page: page,
                type: type,
                fromTime: moment(this.filterData.coinDate[0]).format("YYYY-MM-DD"),
                toTime: moment(this.filterData.coinDate[1]).format("YYYY-MM-DD"),
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
						console.log(response.data.data.length);
                        if(response.data.data.length==0)
                        {
							this.stopLoad();
                            return;
                        }
						if(response.data.data.length<20)
						{
							this.stopLoad();
						}
                        this.results=this.results.concat(response.data.data);
                    }
					this.loading = false;
                    return;
                }).catch(error => {
					this.stopLoad();
                    console.log(error);
                    return;
                });
        },
		load () {
			if(!this.loading )
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		},
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.user-padding
	.mainSearch
		overflow-y scroll;
		height 100%;
		font-size: 0.9rem;
		.record-item
			margin-bottom 1px;
			padding: 0px 10px;
	
</style>
