<template>
	<div class="betlog">
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.betDate"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="开始日期"
				end-placeholder="结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="user-betlog">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td class="td-head">游戏</td>
							<td class="td-head">局号</td>
							<td class="td-head">金额</td>
							<td class="td-head">更新日期</td>
							<td class="td-head">状态</td>
						</tr>
						<tr v-for="(item, index) in betlog.results" class="record-item" :key="index"  :class="{'tr-color':index%2==1}">
							<td>{{ item.gameName }}</td>
							<td>{{ item.roundId }}</td>
							<td>{{ item.amount | numFilter }}</td>
							<td>{{ item.actionTime }}</td>
							<td>
								<el-tag type="success" v-if="item.status=='结算'">{{ item.status }}</el-tag>
								<el-tag type="info" v-else>{{ item.status }}</el-tag>
							</td>
						</tr>
					</table>
					<p v-if="loading">加载中...</p>
					<p v-if="noMore && betlog.results.length > 0">没有更多了</p>
					<div class="no-record" v-if="!betlog.results.length">
						<img class="no-record-img" src="~assets/images/norecord.png">
						<div class="no-record-txt">暂无相关纪录</div>
					</div>
			</div>
		</el-row>
	</div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetEBetLog } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
				betDate:'',
            },
            betlog:{
                //page_current:1,
                results:[],
                //total:0
            },
            current_page:1,
			StatusOptions: [
				{
				  value: 0,
				  label: '全部'
				}, {
				  value: 1,
				  label: '已开奖'
				}, {
				  value: 2,
				  label: '未开奖'
				}, {
				  value: 3,
				  label: '撤单'
				},
			],
        }
    },
    methods: {
        showSearch()
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			this.getLog(this.current_page);
        },
        getLog(page)
        {
			this.loading = true;
            apiGetEBetLog({
                page: page,
                fromTime: moment(this.filterData.betDate[0]).format("YYYY-MM-DD"),
                toTime: moment(this.filterData.betDate[1]).format("YYYY-MM-DD"),
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.betlog.results.splice(0,this.betlog.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
							this.stopLoad();
                            return;
                        }
						if(response.data.data.length<20)
						{
							this.stopLoad();
						}
                        this.betlog.results=this.betlog.results.concat(response.data.data);
                    }
					this.loading = false;
                    return;
                }).catch(error => {
					this.stopLoad();
                    console.log(error);
                    return;
                });
        },
		load () {
			if(!this.loading)
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		}
    },
    computed: {
		...mapGetters({
            mapByType: "mapByType",
        }),
        lt_type(){
            var data=[];
            var lt=this.mapByType;
            data.push({value:0,label:'全部'});
            for(var k in lt)
            {
                data.push({value:String(lt[k].id),label:lt[k].title});
            }
            return data;
        },
    },
    components: {

    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.betlog
	.user-betlog
		height 630px;
		overflow: hidden;
	.mainSearch
		overflow-y scroll;
@media screen and (max-width: 1800px) {
	.user-betlog
	{
		height 340px ;
	}
}
</style>
