<template>
	<div >
		<div class="main-title">
			站內消息
		</div>
		<div class="mainSearch card-recharge">
			<el-tabs  @tab-click="clickHandler"  v-model="activeName">
				<el-tab-pane label="系統公告" name="1">
					<transition name="el-fade-in-linear">
						<keep-alive>
							<BulletinList v-if="showBulletin"  ></BulletinList>
						</keep-alive>
					</transition>
				</el-tab-pane>
				<el-tab-pane label="站內信件" name="2">
					<transition name="el-fade-in-linear" >
						<keep-alive>
							<LetterList v-if="showLetter"  ></LetterList>
						</keep-alive>
					</transition>
				</el-tab-pane>
			</el-tabs>
		</div>
	</div>
</template>

<script type="text/ecmascript-6" >
import BulletinList from '@/components/user/bulletin.vue'
import LetterList from '@/components/user/letter.vue'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			activeName: '1',
			showBulletin:true,
			showLetter:false,
        }
    },
    methods: {
        clickHandler(tab, event)
        {
            switch(tab.name)
            {
                case "1":
                    this.showBulletin=true;
                    this.showLetter=false;
                    break;
                case "2":
                    this.showBulletin=false;
                    this.showLetter=true;
                    break;
            }
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),     
    },
    components: {
      BulletinList,
      LetterList,
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	font-size: 0.9rem;
	.mail-tab-bar
		top: 2px;
	.no-record
		margin: 30px auto;
	.no-record-txt
		color: #999;
		font-size: 14px;
		margin: 14px auto;
	.no-record-img
		width 121px;
	.record-bot
		padding-bottom: 5px;
		.col
			width 100%;
		.record-title
			font-weight: bold;
			line-height: 29px;
			font-size: 1.1rem;
		.record-subtitle
			line-height: 20px;
			font-size: 0.85rem;
	.record-top
		display flex;
		padding-bottom: 5px;
		.col
			width 100%;
		.record-img
			width 100%;
	.record-head
		display flex;
		border-bottom: 1px #ddd solid;
		padding: 0px 10px;
	.record-item
		padding: 10px 10px;
		margin-bottom: 10px;
		background-color #fff;
	.fw700
		font-weight 700;
	.text-left
		text-align left;
	.text-right
		text-align: center;
		border-radius: 5px;
		background-color: #eee;
		font-size: 0.85rem;
</style>
