<template>
    <div slot="content" >
		<div class="main-title">
			在線充值
		</div>
		<el-form>
			<div class="mainSearch card-recharge">
				<el-tabs type="card" @tab-click="clickHandler" >
					<el-tab-pane label="公司汇款" v-if="comPay">
						<el-row class="record-tab">
							<div v-if="nowStep==1">
								<div class="record-item" >
									<div class="col25 text-left">选择渠道</div>
									<div class="col75 text-left">
										<el-select v-model="form.bank" placeholder="请选择银行" @change="change">
											<el-option
												v-for="item in bank_array"
												:key="item.value"
												:label="item.label"
												:value="item.value">
											</el-option>
										</el-select>
									</div>
								</div>
								<transition name="el-fade-in-linear">
									<div v-if="form.bank">
										<div v-if="form.qrcode!=''">
											<div class="record-item" >
												<div class="record-qrcode">
													<img src="/static/images/qrcode/LDG813MI3D.png">
												</div>
											</div>
										</div>
										<div v-else>
											<div class="record-item" >
												<div class="col25 text-left">
													帐户名
												</div>
												<div class="col60 text-left">
													{{form.username}}
												</div>
												<div class="col15 text-right">
													<el-button type="danger" class="copy-btn" @click="copy(form.username)" >
														<i class="fas fa-copy"></i> 复制
													</el-button>
												</div>
											</div>
											<div class="record-item" >
												<div class="col25 text-left">
													帐号
												</div>
												<div class="col60 text-left">
													{{form.userbankid}}
												</div>
												<div class="col15 text-right">
													<el-button type="danger" class="copy-btn" @click="copy(form.userbankid)" >
														<i class="fas fa-copy"></i> 复制
													</el-button>
												</div>
											</div>
											<div class="record-item">
												<div class="col25 text-left">附言</div>
												<div class="col60 text-left">{{form.memo}}</div>
												<div class="col15 text-right">
													<el-button type="danger" class="copy-btn" @click="copy(form.memo)" >
														<i class="fas fa-copy"></i> 复制
													</el-button>
												</div>
											</div>
										</div>
										<div class="record-item">
											<div class="col25 text-left">金额</div>
											<div class="col75">
												<el-input v-model="form.amount" placeholder="请输入金额" type="number" @keypress.native="$bet.onlyNumber()">
												</el-input>
											</div>
										</div>
										<div class="record-info" >
											<div class="record-info-content">
												{{form.remark}}
											</div>
										</div>
									</div>
								</transition>

								<div class="padding">
									<el-button type="primary" :loading="load" @click="finish()" class="reg-button blue-btn" :disabled="form.bank=='' || form.amount==''" >下一步</el-button>
								</div>
							</div>

							<transition name="el-fade-in-linear">
								<div v-if="nowStep==2">
									<div class="record-finish blue-color" >
											<div ><i class="record-finish-icon far fa-check-circle "></i></div>
											<div> <span class="record-finish-text fw700">提交成功</span></div>
											<div  class="record-finish-commet" >订单编号:{{this.form.rechargeId}}</div>
											<div  class="record-finish-commet" >请及时查看资金记提款录申请状态</div>
									</div>
								</div>
							</transition>
						</el-row>
					</el-tab-pane>
					<el-tab-pane label="三方支付" v-if="thirdPay">
						<el-row class="record-tab">
							<div v-if="nowStep==1">
								<div class="record-item" >
									<div class="col25 text-left">选择渠道</div>
									<div class="col75 text-left">
										<el-select v-model="form.bank" placeholder="请选择" >
											<el-option
												v-for="item in third_array"
												:key="item.value"
												:label="item.label"
												:value="item.value">
											</el-option>
										</el-select>
									</div>
								</div>
								<transition name="el-fade-in-linear">
									<div v-if="form.bank">
										<div class="record-item">
											<div class="col25 text-left">金额</div>
											<div class="col75">
												<el-input v-model="form.amount" placeholder="请输入金额" @keypress.native="$bet.onlyNumber()" >
												</el-input>
											</div>
										</div>
									</div>
								</transition>
								<div class="padding">
									<el-button type="primary" :loading="load" @click="third_finish()" class="reg-button blue-btn" :disabled="form.bank=='' || form.amount==''" >下一步</el-button>
								</div>
							</div>
							<transition name="el-fade-in-linear">
								<div v-if="nowStep==2">
									<div class="record-finish blue-color" >
											<div ><i class="record-finish-icon far fa-check-circle "></i></div>
											<div> <span class="record-finish-text fw700">提交成功</span></div>
											<div  class="record-finish-commet" >订单编号:{{this.form.rechargeId}}</div>
											<div  class="record-finish-commet" >请及时查看资金记提款录申请状态</div>
									</div>
								</div>
							</transition>
						</el-row>
					</el-tab-pane>
				</el-tabs>
				<div class="record-hint text-left">
					<h3>温馨提示</h3>
					<p>为确保您的款项及时到帐，请您留意以下几点：</p>
					<ol>
						<li>若您支付过程中遇到问题且未完成支付，请重新下单。</li>
						<li>若您支付遇到困难，联系线上客服获得帮助。</li>
					</ol>
					<p>支付遇到困难？联系客服人员获得帮助</p>
				</div>
			</div>
		</el-form>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetRecharge,apiPostRecharge,apiPostThirdRecharge } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
import Clipboard from 'clipboard';
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"在线充值",
            nowStep:1,
			min_amount: 100,
			max_amount: 30000,
			comPay:true,
			thirdPay:true,
			load:false,
            recharge:{
				bank:[],
				third:[],
			},
			form:{
				bank:'',
                username:'',
                userbankid:'',
                remark:'',
                memo: this.$faker().random.number(999999),
                qrcode:'',
                rechargeId:'',
				amount:'',
				load:false,
				thirdID:'',
            },
        }
    },
    methods: {
        third_finish()
        {
            if(!validator.num_pos_int(this.form.amount))
            {
                this.toast('金额请输入数字');
                return;
            }
            if(this.form.amount < this.min_amount || this.form.amount > this.max_amount)
            {
                this.toast('金额范围 ' + this.min_amount + ' ~ ' + this.max_amount);
                return;
            }
            //let loadingInstance = this.$loading(this.loadOptions); // 防用户连点
			this.load=true;
			var newWindow = window.open("about:blank", '');
            apiPostThirdRecharge({
                    amount: this.form.amount,
                    code: this.form.bank,
                    rechargeType: 0,
					thirdID : this.form.thirdID,
                })
                .then(response => {
                    //loadingInstance.close();
					this.load=false;
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if (response.data.status) {
                        this.nowStep++;
                        this.form.rechargeId=response.data.data.rechargeId;
						var recharge_url = '';
                        if(this.form.thirdID==6)
                        {
                            //window.open(this.config.ApiUrl+"/third/usdt?html="+response.data.data.url,'', '');
							recharge_url = this.config.ApiUrl+"/third/usdt?html="+response.data.data.url;
                        }else
                        {
                            //window.open(response.data.data.url,'', '');
							recharge_url = response.data.data.url;
                        }
						newWindow.location.href = recharge_url;
                    }
                    return;
                })
                .catch(error => {
                    loadingInstance.close();
                    console.log(error);
                });
        },
        clickHandler(tab)
        {
            this.nowStep=1;
			this.form={
				bank:'',
                username:'',
                userbankid:'',
                remark:'',
                memo: this.$faker().random.number(999999),
                qrcode:'',
                rechargeId:'',
				amount:'',
				thirdID:this.form.thirdID,
            };
        },
        change(value)
        {
            this.form.username=this.recharge.bank[value].username;
            this.form.userbankid=this.recharge.bank[value].userbankid;
            this.form.remark=this.recharge.bank[value].remark;
            this.form.qrcode=this.recharge.bank[value].qrcode;
        },
        copy(str)
        {
            var clipboard = new Clipboard(".copy-btn", {
            text: (trigger)=>{
                    return str;
                }
            });
            clipboard.on('success', e => {
                this.toast('复制成功');
                clipboard.destroy()
            })
            clipboard.on('error', e => {
                clipboard.destroy()
            })
        },
        finish()
        {
            if(!validator.num_pos_int(this.form.amount))
            {
                this.toast('金额请输入数字');
                return;
            }
            if(this.form.amount < this.min_amount || this.form.amount > this.max_amount)
            {
                this.toast('金额范围 ' + this.min_amount + ' ~ ' + this.max_amount);
                return;
            }
			//let loadingInstance = this.$loading(this.loadOptions); // 防用户连点
			this.load=true;
            apiPostRecharge({
                    amount: this.form.amount,
                    bankid: this.form.bank,
                    memo: this.form.memo,
                    rechargeType: 1,
                })
                .then(response => {
					//loadingInstance.close();
					this.load=false;
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if (response.data.status) {
                        this.nowStep++;
                        this.form.rechargeId=response.data.data.rechargeId;
                    }
                    return;
                })
                .catch(error => {
                    loadingInstance.close();
                    console.log(error);
                });
        },
        getRecharge()
        {
            apiGetRecharge({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data)
                        {
							var data = response.data.data;
							for(var n in data.bank)
							{
								this.recharge.bank[data.bank[n].id]={}
								this.recharge.bank.splice(data.bank[n].id, 1, data.bank[n])
							}
							if(this.recharge.bank.length==0)
							{
								this.comPay=false;
							}
							for(var n in data.third)
							{
								this.recharge.third[data.third[n].id]={}
								this.recharge.third.splice(data.third[n].id, 1, data.third[n])
							}
							if(this.recharge.third.length==0)
							{
								this.thirdPay=false;
							}else
							{
								this.form.thirdID = response.data.data.third_id;
							}
                        }
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                });
        },
    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
        }),
        bank_array(){
            var data=[];
            if(this.recharge)
            {
                var lt=this.recharge.bank;
                for(var k in lt)
                {
                    data.push({value:lt[k].id,label:lt[k].bankselect});
                }
                return data;
            }
        },
        third_array(){
            var data=[];
            if(this.recharge)
            {
                var lt=this.recharge.third;
                for(var k in lt)
                {
                    data.push({value:lt[k].code,label:lt[k].name});
                }
                return data;
            }
        },
    },
    components: {
      Clipboard
    },
    created() {
        this.getRecharge();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	font-size: 0.9rem;
	.record-tab
		padding 25px 50px;
	.record-item
		display flex;
		margin-bottom 1px;
		background-color #fff;
		padding: 10px 10px;
		border-bottom: 1px #dcdfe6 solid;
		.copy-btn
			margin-right 50px;
	.record-qrcode
		margin: auto;
	.record-error
		display flex;
	.col15
		width 15%;
		height 35px;
		line-height: 35px;
	.col25
		width 25%;
		height 35px;
		line-height: 35px;
	.col60
		width 60%;
		height 35px;
		line-height: 35px;
	.col75
		width 75%;
		height 35px;
		line-height: 35px;
	.fw700
		font-weight 700;
	.text-left
		text-align left;
	.text-right
		text-align right;
		color #aaa;
	.padding
		padding: 5px 10px;
	.reg-button
		margin-top 10px;
		width 150px;
	.record-info
		background-color: #fff;
		padding: 10px;
		.record-info-content
			background-color: #ddd;
			padding: 15px;
			border-radius: 10px;
			text-align: left;
	.record-hint
		padding: 0px 50px;
		line-height: 25px;
		font-size: 0.85rem;
		margin-bottom: 30px;
		ol
			list-style-type: decimal;
			margin-left: 12px;
			li
				list-style: unset;
	.record-finish
		padding:10px 0;
		background-color #fff;
		.record-finish-icon
			font-size: 3.5rem;
			line-height: 60px;
		.record-finish-text
			font-size: 1.3rem;
			line-height: 45px;
		.record-finish-commet
			line-height: 25px;
			color:#999

</style>
