<template>
    <div slot="content" >
        <div class="mainSearch">
			<el-row>
				<el-col class="main-title">
					個人資料
				</el-col>
				<el-row class="mainCard">
					<el-col class="card-left card-red">
						<i class="fas fa-info-circle"></i> 如您无法自助修改,联系线上客服获得帮助
					</el-col>
				</el-row>
				<el-row class="mainCard">
					<el-card shadow="hover">
						<div style="text-align: left;margin-bottom: -12px;">
							<span>登录密码</span>
						</div>
						<el-divider></el-divider>
						<el-row>
							<el-form>
								<el-col :span="6" class="card-left"><el-input v-model="form.oldLonginPw" placeholder="原登录密码" show-password class="card-input"></el-input></el-col>
								<el-col :span="6" class="card-left"><el-input v-model="form.newLonginPw" placeholder="新登录密码" show-password class="card-input"></el-input></el-col>
								<el-col :span="6" class="card-left"><el-input v-model="form.newLonginPwConf" placeholder="确认密码" show-password class="card-input"></el-input></el-col>
								<el-col :span="6" class="card-left"><el-button type="primary" @click="up(1)">設置</el-button></el-col>
							</el-form>
						</el-row>
					</el-card>
				</el-row>

				<el-row class="mainCard">
					<el-card shadow="hover">
						<div style="text-align: left;margin-bottom: -12px;">
							<span>提款密码</span>
							<span v-if="!safe.coinPassword"><el-tag type="danger"><i class="fas fa-times-circle"></i> 未设置</el-tag></span>
							<span v-else><el-tag type="success"><i class="fas fa-check-circle"></i> 已设置</el-tag></span>
						</div>
						<el-divider></el-divider>
						<el-row>
							<el-form>
								<el-col :span="6" class="card-left" v-if="safe.coinPassword"><el-input v-model="form.oldCoinPw" placeholder="原提款密码" show-password class="card-input"></el-input></el-col>
								<el-col :span="6" class="card-left"><el-input v-model="form.newCoinPw" placeholder="新提款密码" show-password class="card-input"></el-input></el-col>
								<el-col :span="6" class="card-left"><el-input v-model="form.newCoinPwConf" placeholder="确认密码" show-password class="card-input"></el-input></el-col>
								<el-col :span="6" class="card-left"><el-button type="primary" @click="up(2)">設置</el-button></el-col>
							</el-form>
						</el-row>
					</el-card>
				</el-row>

				<el-row class="mainCard">
					<el-card shadow="hover">
						<div style="text-align: left;margin-bottom: -12px;">
							<span>手机号码</span>
							<span v-if="safe.phone==''"><el-tag type="danger"><i class="fas fa-times-circle"></i> 未设置</el-tag></span>
							<span v-else><el-tag type="success"><i class="fas fa-check-circle"></i> 已设置</el-tag></span>
						</div>
						<el-divider></el-divider>
						<el-row >
							<el-form :model="form" :rules="rules" status-icon>
								<el-col :span="12" class="card-left">
									<el-form-item label="" prop="phone">
										<el-input v-if="safe.phone==''" v-model="form.phone" placeholder="请输入手机号"  class="card-input"></el-input>
										<el-input v-else v-model="safe.phone" placeholder="" :disabled="safe.phone!=''" class="card-input"></el-input>
										<el-button type="primary" class="card-button" @click="up(3)" :disabled="safe.phone!=''">設置</el-button>
									</el-form-item>
								</el-col>
							</el-form>
						</el-row>
					</el-card>
				</el-row>
			
				<el-row class="mainCard">
					<el-card shadow="hover">
						<div style="text-align: left;margin-bottom: -12px;">
							<span>电子邮件</span>
							<span v-if="safe.email==''"><el-tag type="danger"><i class="fas fa-times-circle"></i> 未设置</el-tag></span>
							<span v-else><el-tag type="success"><i class="fas fa-check-circle"></i> 已设置</el-tag></span>
						</div>
						<el-divider></el-divider>
						<el-row >
							<el-form :model="form" :rules="rules" status-icon>
								<el-col :span="12" class="card-left">
									<el-form-item label="" prop="email">
										<el-input v-if="safe.email==''" v-model="form.email" placeholder="请输入邮箱地址"  class="card-input"></el-input>
										<el-input v-else v-model="safe.email" placeholder="" :disabled="safe.email!=''" class="card-input"></el-input>
										<el-button type="primary" class="card-button" @click="up(4)" :disabled="safe.email!=''">設置</el-button>
									</el-form-item>
								</el-col>
							</el-form>
						</el-row>
					</el-card>
				</el-row>

				<el-row class="mainCard">
					<el-card shadow="hover">
						<el-form :model="form" :rules="rules" status-icon>
							<div style="text-align: left;margin-bottom: -12px;">
								<span>银行卡</span>
								<span v-if="safe.bank_username==''"><el-tag type="danger"><i class="fas fa-times-circle"></i> 未设置</el-tag></span>
								<span v-else><el-tag type="success"><i class="fas fa-check-circle"></i> 已设置</el-tag></span>
							</div>
							<el-divider></el-divider>
							<el-row >
								<el-col :span="8" class="card-left">
									<el-form-item label="持卡人" prop="username">
										<el-input v-if="safe.bank_username==''" v-model="form.username" placeholder="请输入姓名"  class="card-input"></el-input>
										<el-input v-else v-model="safe.bank_username" placeholder=""  class="card-input" :disabled="safe.bank_username!=''"></el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8" class="card-left">
									<el-form-item label="银行卡号" prop="account">
										<el-input v-if="safe.bank_username==''" v-model="form.account" placeholder="请输入卡号"  class="card-input"></el-input>
										<el-input v-else v-model="safe.bank_account" placeholder=""  class="card-input" :disabled="safe.bank_username!=''"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="5" class="card-left">
									<el-form-item label="" prop="bank">
										<el-select v-model="form.bank" placeholder="请选择银行" :disabled="safe.bank_username!=''">
											<el-option
												v-for="item in bank_array"
												:key="item.value"
												:label="item.label"
												:value="item.value">
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="3" class="card-left"><el-button type="primary" class="card-button" @click="up(5)" :disabled="safe.bank_username!=''">設置</el-button></el-col>
							</el-row >
						</el-form>
					</el-card>
				</el-row>
			</el-row>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetSafe,apiGetBank,apiPostSafeUp } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin],
    data() {
        return {
			bank_list:null,
			form:{
				oldLonginPw:'',
				newLonginPw:'',
				newLonginPwConf:'',
				oldCoinPw:'',
				newCoinPw:'',
				newCoinPwConf:'',
                username:'',
                account:'',
                bank:'',
				phone:'',
				email:'',
			},
            safe:{
                coinPassword:true,
                email:'',
                phone:'',
				bank_id:'',
            },
			rules: {
			  phone: [
				{ required: true, message: '請輸入手機號', trigger: 'blur' },
				{ min: 11, max: 11, message: '請輸入11個數字', trigger: 'blur' },
			  ],
			  email: [
				{ required: true, message: '請輸入邮箱地址', trigger: 'blur' },
				{ type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
			  ],
			  username:[
				{ required: true, message: '請輸入姓名', trigger: 'blur' },
			  ],
			  account:[
				{ required: true, message: '請輸入卡號', trigger: 'blur' },
			  ],
			  bank:[
				{ required: true, message: '請選擇銀行', trigger: 'blur' },
			  ],
			},
        }
    },
    methods: {
        getLog()
        {
            apiGetSafe({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data)
                        {
                            this.safe=response.data.data;
							this.form.bank=this.safe.bank_id;
							if(this.safe.bank_account != '')
							{
								this.safe.bank_account = "*******"+this.safe.bank_account
							}
                        }
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        getBank()
        {
            apiGetBank({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.toast(response.data.error);
                        return;
                    }
                    if(response.data.status)
                    {
                        this.bank_list=response.data.data;
                        return;
                    }
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        up(type)
        {
			switch(type)
			{
				case 1:
					if(this.form.newLonginPw != this.form.newLonginPwConf){
						this.toast('密码与确认密码不一致');
						return;
					};
					if(this.form.newLonginPw == this.form.oldLonginPw){
						this.toast('新密码不能与原密码相同');
						return;
					};
				break;
				case 2:
					if(this.safe.coinPassword)
					{
						if(this.form.newCoinPw != this.form.newCoinPwConf){
							this.toast('密码与确认密码不一致');
							return;
						};
						if(this.form.newCoinPw == this.form.oldCoinPw){
							this.toast('新密码不能与原密码相同');
							return;
						};
					}
					if(!this.safe.coinPassword)
					{
						if(this.form.newCoinPw != this.form.newCoinPwConf){
							this.toast('密码与确认密码不一致');
							return;
						};
						this.form.oldCoinPw = this.form.newCoinPwConf;
					}
				break;
				case 3:
					if(this.safe.phone != ''){
						this.toast('请联系客服重置手机号');
						return;
					};
				break;
				case 4:
					if(this.safe.email != ''){
						this.toast('请联系客服重置邮箱');
						return;
					};
				break;
				case 5:
					if(this.safe.bank != ''){
						this.toast('请联系客服重置银行卡');
						return;
					};
					if(this.form.username=="")
					{
						this.toast('请输入姓名');
						return;
					}
					if(this.form.account=="")
					{
						this.toast('请输入卡號');
						return;
					}
					if(this.form.bank=="")
					{
						this.toast('請選擇銀行');
						return;
					}
				break;
			}
            apiPostSafeUp({
                type:type,
                phone:this.form.phone,
				email:this.form.email,
                password:this.form.oldLonginPw,
                new_password:this.form.newLonginPw,
                coinpassword:this.form.oldCoinPw,
                confirm_coinpassword:this.form.newCoinPw,
                username:this.form.username,
                account:this.form.account,
                bank:this.form.bank,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(response.data.msg);
                    }
					this.form.oldLonginPw = '';
					this.form.newLonginPw = '';
					this.form.newLonginPwConf = '';
					this.form.oldCoinPw = '';
					this.form.newCoinPw = '';
					this.form.newCoinPwConf = '';
					this.getLog();
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        }
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        bank_array(){
            var data=[];
            var lt=this.bank_list;
            for(var k in lt)
            {
                data.push({value:lt[k].id,label:lt[k].name});
            }
            return data;
        },
    },
    components: {

    },
    created() {
        this.getLog();
		this.getBank();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	width: 100%;
	text-align: -webkit-center;
	font-size: 1rem;
	.mainCard
		width 850px;
		margin 10px 0px;
		.card-input
			width 180px;
		.card-left
			text-align left;
		.card-button
			margin-left 10px;
</style>
