<template>
	<div class="user-center-betlog">
		<div class="main-title">
			投注紀錄
		</div>
		<BetLog></BetLog>
	</div>
</template>

<script type="text/ecmascript-6" >
import BetLog from '@/page/user/ebetlog.vue'
export default {
    components: {
      BetLog,
    },
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.user-center-betlog
	overflow hidden;
	.betlog
		.mainSearch
			height 100%
</style>
