<template>
    <div slot="content" >
		<div class="main-title">
			提款紀錄
		</div>
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.Date"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="开始日期"
				end-placeholder="结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="user-padding">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td class="td-head">時間</td>
						<td class="td-head">类别</td>
						<td class="td-head">單號</td>
						<td class="td-head">金额</td>
						<td class="td-head">狀態</td>
					</tr>
					<tr v-for="(item, index) in results" class="record-item" :key="index"  :class="{'tr-color':index%2==1}">
						<td>{{getMomentFullDate(item.actionTime)}}</td>
						<td>提款</td>
						<td>{{ item.id }}</td>
						<td class="red-color">${{ item.amount |numFilter}}</td>
						<td>
							<el-tag type="success" v-if="item.state==0">{{ getCashStatus(item) }}</el-tag>
							<el-tag type="danger" v-if="item.state==1">{{ getCashStatus(item) }}</el-tag>
							<el-tag type="info"  v-if="item.state!=0 && item.state!=1">{{ getCashStatus(item) }}</el-tag>
						</td>
					</tr>
				</table>
				<p v-if="loading">加载中...</p>
				<p v-if="noMore && results.length > 0">没有更多了</p>
				<div class="no-record" v-if="!results.length">
					<img class="no-record-img" src="~assets/images/norecord.png">
					<div class="no-record-txt">暂无相关纪录</div>
				</div>
			</div>
		</el-row>
		<el-backtop target=".user-padding .mainSearch"></el-backtop>
	</div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetCashLog } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
				Date:'',
            },
            results:[],
            current_page:1,
        }
    },
    methods: {
        showSearch()
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			this.getLog(this.current_page);
        },
        getLog(page)
        {
			this.loading = true;
            apiGetCashLog({
                page: page,
                fromTime: moment(this.filterData.Date[0]).format("YYYY-MM-DD"),
                toTime: moment(this.filterData.Date[1]).format("YYYY-MM-DD"),
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.stopLoad();
                            return;
                        }
						if(response.data.data.length<20)
						{
							this.stopLoad();
						}
                        this.results=this.results.concat(response.data.data);
                    }
					this.loading = false;
                    return;
                }).catch(error => {
					this.stopLoad();
                    console.log(error);
                    return;
                });
        },
		load () {
			if(!this.loading )
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		},
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.user-padding
	.mainSearch
		overflow-y scroll;
		height 100%;
		font-size: 0.9rem;
		.record-item
			margin-bottom 1px;
			padding: 0px 10px;
</style>
