<template>
    <div slot="content" >
        <div class="mainSearch">
			<div class="main-title">
				在線提款
			</div>
            <el-form>
                <div class="record-body step-space">
					<el-steps :active="nowStep" finish-status="success" align-center>
						<el-step title="確認帳戶安全" space="33.3%"></el-step>
						<el-step title="提交表單" space="33.3%"></el-step>
						<el-step title="申請完成" space="33.3%"></el-step>
					</el-steps>

                    <div class="record-info" v-if="nowStep==0">
                        <i class="fas fa-info-circle"></i> 为了您的资金安全，完善以下数据才可提款
                    </div>
					<div v-if="nowStep==0" class="step1-space">
						<el-row class="record-item">
							<el-col :span="12" class="text-left">
								<span v-if="!safe.coinPassword" class="error-icon"><i class="fas fa-times-circle"></i></span>
								<span v-else class="success-icon"><i class="fas fa-check-circle"></i></span>
								设置提款密码
							</el-col>
							<el-col :span="12" class="text-right">
								<el-link @click="go2page('/user/safe')">前往设置 <i class="fas fa-angle-double-right"></i></el-link>
							</el-col>
						</el-row>
						<el-row class="record-item">
							<el-col :span="12" class="text-left">
								<span v-if="safe.bank==''"><i class="fas fa-times-circle"></i></span>
								<span v-else class="success-icon"><i class="fas fa-check-circle"></i></span>
								设置银行帳戶
							</el-col>
							<el-col :span="12" class="text-right">
								<el-link @click="go2page('/user/safe')">前往设置 <i class="fas fa-angle-double-right"></i></el-link>
							</el-col>
						</el-row>
                        <div class="padding">
                            <el-button type="primary" class="reg-button blue-btn" @click="next(1)"  :disabled="!safe.coinPassword || safe.bank==''" >下一步</el-button>
                        </div>
					</div>

                    <div v-if="nowStep==1" class="step1-space">
						<el-row class="record-item">
							<el-col :span="12" class="text-left">可提金额</el-col>
							<el-col :span="12" class="text-left">{{user.coin | numFilter}}</el-col>
						</el-row>
						<el-row class="record-item">
							<el-col :span="12" class="text-left">银行卡</el-col>
							<el-col :span="12" class="text-left">{{safe.bank}}</el-col>
						</el-row>
						<el-row class="record-item">
							<el-col :span="12" class="text-left">提款金额</el-col>
							<el-col :span="12" class="text-left">
								<el-input v-model="form.amount"
									placeholder="请输入金额"
									@keypress.native="$bet.onlyNumber()"
									>
								</el-input>
							</el-col>
						</el-row>
						<el-row class="record-item">
							<el-col :span="12" class="text-left">提款密码</el-col>
							<el-col :span="12" class="text-left">
								<el-input v-model="form.cashPassword"
									placeholder="请输入密碼"
									show-password
									input="text"
									>
								</el-input>
							</el-col>
						</el-row>

                        <div class="padding">
                            <el-button type="primary" :loading="load" @click="finish" class="reg-button blue-btn" :disabled="form.amount=='' || form.cashPassword=='' " >下一步</el-button>
                            <el-button type="primary" @click="next(0)" class="reg-button blue-btn" >回上一步</el-button>
                        </div>
                    </div>

                    <div v-if="nowStep==2" class="step1-space">
						<el-row class="record-finish blue-color">
                                <div ><i class="record-finish-icon far fa-check-circle "></i></div>
                                <div> <span class="record-finish-text fw700">申请成功</span></div>
                                <div  style="color:#999">	请及时查看资金记提款录申请状态</div>
                        </el-row>
                    </div>

					<div class="record-hint text-left">
						<h3>温馨提示</h3>
						<p>为确保您的款项及时到帐，请您留意以下几点：</p>
						<ol>
							<li>在輸入您的存款金額時確保您提交的金額在限額範圍之內。</li>
							<li>若不清楚操作步驟，可至幫助中心查詢相關問題。</li>
						</ol>
						<p>支付遇到困难？联系客服人员获得帮助</p>
					</div>
			
                </div>
            </el-form>
        </div> 

    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetSafe,apiPostCash } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin],
    data() {
        return {
			load:false,
			min_amount: 100,
			max_amount: 30000,
            safe:{
                coinPassword:true,
                email:'',
                phone:'',
            },
			form:{
				amount:'',
				cashPassword:'',
				limit: false,
            },
            nowStep: 0,
        }
    },  
    methods: {
        next(step)
        {
            this.nowStep=step;
        },
        finish()
        {
            if(!validator.num_pos_int(this.form.amount))
            {
                this.toast('金额请输入数字');
                return;
            }
            if(this.form.amount < this.min_amount || this.form.amount > this.max_amount)
            {
                this.toast('金额范围 ' + this.min_amount + ' ~ ' + this.max_amount);
                return;
            }
			var amount = parseFloat(this.user.coin);
			if(this.form.amount > amount) {
                this.toast('金额不足');
				return;
			}
			if (!this.form.cashPassword) {
                this.toast('请输入提款密码');
				return;
            }
            //this.toast('申请中...',null,0); // 防用户连点
			this.load=true;
            apiPostCash({
                    money: this.form.amount,
                    password: this.form.cashPassword
                })
                .then(response => {
					this.load=false;
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if (response.data.status) {
                        this.nowStep++;
                    }
                    return;
                })
                .catch(error => {
					this.load=false;
                    console.log(error);
                });
        },
        getCoin()
        {
            this.$store.dispatch('getCoin');
            apiGetSafe({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data)
                        {
                            this.safe=response.data.data;
                        }
                    }
                }).catch(error => {
                    console.log(error);
                });
        },
    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
        }),
    },
    components: {
    },
    created() {
        this.getCoin();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	font-size: 0.9rem;
	.step-space
		width: 835px;
		margin: auto;
	.record-body
		padding 20px 50px;
		.step1-space
			padding-top: 25px;
			width: 350px;
			margin: auto;
		.record-item
			background-color #fff;
			padding: 15px 10px;
		.error-icon
			color #F56C6C;
		.success-icon
			color #67C23A;
	.fw700
		font-weight 700;
	.text-left
		text-align left;
	.text-right
		text-align right;
		color #aaa;
	.padding
		padding: 20px 10px;
	.reg-button
		margin-top 10px;
		width 150px;
	.record-info
		color #F56C6C;
		padding 20px 0px;
	.record-hint
		padding: 0px 50px;
		line-height: 25px;
		font-size: 0.85rem;
		margin-bottom: 30px;
		ol
			list-style-type: decimal;
			margin-left: 12px;
			li
				list-style: unset;
	.record-finish
		padding:10px 0;
		background-color #fff;
		.record-finish-icon
			font-size: 3.5rem;
			line-height: 60px;
		.record-finish-text
			font-size: 1.3rem;
			line-height: 45px;

</style>
