<template>
	<div class="default-body">
		<div class="default-head">
			<MainHead></MainHead>
		</div>
		<div class="default-content" :class="{'app-long-width':$router.currentRoute.path=='/app'}">
			<router-view></router-view>
		</div>
		<div class="default-foot">
			<MainFoot></MainFoot>
		</div>
	</div>
</template>

<script>
import MainHead from '@/components/main-head.vue'
import MainFoot from '@/components/main-foot.vue'
import { mapGetters } from "vuex";
export default {
	components: {
		MainHead,
		MainFoot
	},
    computed: {
		...mapGetters({
          mapByType: "mapByType",
          user: "user",
        }),
    },
    created() {
        if(!Object.keys(this.mapByType).length)
        {
            this.$store.dispatch('setType');
        }  
        this.$store.dispatch('getCoin');
    },		
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/default.styl'
.app-long-width
	width 100% !important;;
</style>