<template>
	<div class="default-body">
		<div class="default-head">
			<MainHead></MainHead>
		</div>
		<div class="default-content">
			<el-row class="game-center">
				<el-container>
					<el-aside class="body-left" width="200px">
						<el-row class="menu-left">
						  <el-col >
							<el-tag type="danger" effect="dark" class="body-left-title">彩票中心</el-tag>
							<el-menu
							  :default-active="activeIndex"
							  class="body-left-menu" >
								<el-menu-item :index="index"  @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.hot==1">
									<img :src="require('@/assets/images/lottery/'+item.id+'.png')" >
									<span class="main-title">{{item.title}}</span>
								</el-menu-item>
								<el-submenu index="6">
									<template slot="title">
										<i class="el-icon-hot-water icon "></i>
										高頻彩
									</template>
									<el-menu-item :index="'6-'+index" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.frequency==1">
										<span class="main-subtitle">{{item.title}}</span>
									</el-menu-item>
								</el-submenu>
								<el-submenu index="7">
									<template slot="title">
										<i class="el-icon-bangzhu icon "></i>
										低頻彩
									</template>
									<el-menu-item :index="'7-'+index" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.frequency==0">
										<span class="main-subtitle">{{item.title}}</span>
									</el-menu-item>
								</el-submenu>
								<el-submenu index="8">
									<template slot="title">
										<i class="el-icon-trophy icon "></i>
										時時彩</template>
									<el-menu-item :index="'8-'+index" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.type==1">
										<span class="main-subtitle">{{item.title}}</span>
									</el-menu-item>
								</el-submenu>
								<el-submenu index="9">
									<template slot="title">
										<i class="el-icon-ship icon "></i>
										PK拾</template>
									<el-menu-item :index="'9-'+index" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.type==6">
										<span class="main-subtitle">{{item.title}}</span>
									</el-menu-item>
								</el-submenu>
								<el-submenu index="10">
									<template slot="title">
										<i class="el-icon-baseball icon "></i>
										11選5</template>
									<el-menu-item :index="'10-'+index" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.type==2">
										<span class="main-subtitle">{{item.title}}</span>
									</el-menu-item>
								</el-submenu>
								<el-submenu index="11">
									<template slot="title">
										<i class="el-icon-set-up icon "></i>
										快三
									</template>
									<el-menu-item :index="'11-'+index" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.type==9">
										<span class="main-subtitle">{{item.title}}</span>
									</el-menu-item>
								</el-submenu>
							</el-menu>
						  </el-col>
						</el-row>
					</el-aside>
					<el-main class="time-center">
						<router-view></router-view>
					</el-main>
				</el-container>
			</el-row>
		</div>
		<div class="default-foot">
			<MainFoot></MainFoot>
		</div>
	</div>
</template>

<script>
import MainHead from '@/components/main-head.vue'
import MainFoot from '@/components/main-foot.vue'
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
	data() {
		return {
			activeIndex: this.$router.currentRoute.path,
		}
	},
	components: {
		MainHead,
		MainFoot
	},
    computed: {
		...mapGetters({
          mapByType: "mapByType",
          user: "user",
        }),
    },
    created() {
        if(!Object.keys(this.mapByType).length)
        {
            this.$store.dispatch('setType');
        }
        this.$store.dispatch('getCoin');
    },
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/default.styl'
.game-center
	.body-left
		text-align left
		padding-top: 25px;
		.body-left-title
			width: 100%;
			text-align: center;
		.menu-left
			.body-left-menu
				border-right: solid 1px #e4e7ed;
				.main-title
					font-size 1rem;
				.el-menu-item
					border-bottom: dashed 1px #e4e7ed;
			p
				text-align center
			img
				height 40px
				margin-right 10px
			.icon
				margin-right 10px
				color : #6b94e6;
			.star
				color #0c96f4
			.spa
				color #c86bf0
			.rocket
				color #01b30d
			.plane
				color #ec9b0c
			.paw
				color #0c96f4
			.glass-cheers
				color #f04274
	.time-center
		padding-top: 25px;
		padding-right: 4px;
		padding-left: 4px;
</style>
