<template>
	<div class="default-body">
		<div class="default-head">
			<MainHead></MainHead>
		</div>
		<div class="default-content">
			<el-row class="user-center">
				<el-container>
					<el-aside class="body-left" width="200px">
						<div class="userInfo">
							<div>
								<div class="user-logo"></div>
							</div>
							<el-row class="user-info">
								<el-col>
									{{ user.username }},歡迎您!
								</el-col>
								<el-col class="user-coin">
									<el-row>
										<el-col :span="18">
											餘額: {{ user.coin }}
										</el-col>
										<el-col :span="6">
											<el-link :underline="false" v-loading.fullscreen.lock="fullscreenLoading" @click="getCoin"><i class="fas fa-sync-alt" ></i></el-link>
										</el-col>
									</el-row>
								</el-col>
								<el-col class="user-coin">
									<el-row>
										<el-col :span="18">
											積分: {{ user.score }}
										</el-col>
										<el-col :span="6">
											<el-link :underline="false"  @click="getDzp"><i class="fas fa-gift" ></i></el-link>
										</el-col>
									</el-row>
								</el-col>
							</el-row>
						</div>
						<el-menu :default-active="activeIndex" :router="true" class="main-user-menu">
							<el-menu-item index="/user/safe">
								<el-row>
									<el-col :span="20">個人資料</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
<!-- 							<el-menu-item index="/agent">
								<el-row>
									<el-col :span="20">代理中心</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item> -->
							<el-menu-item index="/user/mail">
								<el-row>
									<el-col :span="20">
										<el-badge :value="checkLetter" :hidden="checkLetter == 0 || checkLetter==false" >
											站內消息
										</el-badge>
									</el-col>
									<el-col :span="4">
										<i class="el-icon-arrow-right pull-right"></i>
									</el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/recharge" v-if="config.platform_type==1">
								<el-row>
									<el-col :span="20">在線充值</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/withdraw" v-if="config.platform_type==1">
								<el-row>
									<el-col :span="20">在線提款</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/coin">
								<el-row>
									<el-col :span="20">資金記錄</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/betlog">
								<el-row>
									<el-col :span="20">彩票注單</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/ebetlog">
								<el-row>
									<el-col :span="20">電子注單</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/withdrawLog">
								<el-row>
									<el-col :span="20">提款記錄</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/user/rechargeLog">
								<el-row>
									<el-col :span="20">充值記錄</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="/help">
								<el-row>
									<el-col :span="20">帮助中心</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item @click="logout">
								<el-row>
									<el-col :span="20">安全登出</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
						</el-menu>
					</el-aside>
					<el-main class="main-user-center">
						<router-view></router-view>
					</el-main>
				</el-container>
			</el-row>
		</div>
		<div class="default-foot">
			<MainFoot></MainFoot>
		</div>
		<el-dialog :title="dzp.title" :visible.sync="dzp.Visible" width="550px">
			<component :is="default_view" ></component>
		</el-dialog>
	</div>
</template>

<script>
import MainHead from '@/components/main-head.vue'
import MainFoot from '@/components/main-foot.vue'
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
import { apiPostLogout,apiGetCheckLetter } from "@/api.js";
export default {
	mixins: [globalMixin],
	data() {
		return {
			default_view:null,
			dzp:{
				title:'幸運大轉盤',
				Visible:false,
			},
			fullscreenLoading: false,
			checkLetter:0,
			activeIndex: this.$router.currentRoute.path,
		};
	},
	components: {
		MainHead,
		MainFoot
	},
	methods: {
        getCoin()
        {
			this.$store.dispatch('setCoin','');
            this.$store.dispatch('getCoin');
        },
		getDzp()
		{	this.dzp.Visible = true;
			this.default_view = require('@/page/user/dzp.vue').default;
		},
        check_letter()
        {
            apiGetCheckLetter({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.checkLetter=response.data.data;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        logout()
        {
            apiPostLogout({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(response.data.msg);
						this.$store.dispatch('clearUserInfo');
						this.$router.push("/");
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
	},
    computed: {
		...mapGetters({
			mapByType: "mapByType",
			user: "user",
			config: "config",
        }),
    },
    created() {
        if(!Object.keys(this.mapByType).length)
        {
            this.$store.dispatch('setType');
        }
        this.$store.dispatch('getCoin');
		this.check_letter();
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/default.styl'
.user-center
	border: 1px solid #eaeaea;
	margin-top 20px
	.body-left
		padding-top: 25px;
		background-color: #f2f2f2;
		overflow: unset;
		.main-user-menu
			padding 20px 0px;
			background-color: #f2f2f2;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			border-right: unset;
			.el-menu-item.is-active
				background: #fff;
		.user-info
			padding 10px 25px 15px 25px;
		.user-logo
			width 100px
			height 100px
			background-size cover
			margin auto
			z-index 2
			border-radius 50%
			background-size contain
			border 1px solid #86b6ca
			background-size 85%
			background-position 50%
			background-repeat no-repeat
			background-image url("~assets/images/user/logo.png")
			background-color #eff7ff
		.user-info
			line-height 30px;
		.user-coin
			text-align left;
			font-size .9rem;
	.main-user-center
		padding 0px 0px
		.main-title
			height: 40px;
			background: #f9f9f9;
			border-bottom: 1px solid #eaeaea;
			line-height: 2.7rem;
			padding: 0 30px;
			text-align left
			font-size 1.2rem
		.mainBar
			margin-top 25px;
			margin-bottom 15px;
		.card-recharge
			padding 25px 50px;
		.user-padding
			height 600px;
.el-badge__content.is-fixed
	top: 18px;
	right: 5px;
</style>
