<template>
		<div slot="content">
        <div class="mainBar">
            <el-select v-model="filterData.LotteryValue" placeholder="请选择彩種">
              <el-option
                v-for="item in lt_type"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
            <el-button type="primary" icon="el-icon-search" @click="showSearch">确认</el-button>
        </div>
        <div class="mainSearch">
            <div class="rules">
                <component :is="default_view" ></component>
            </div>
        </div>
		</div>
</template>
<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
	data() {
			return {
					filterData:{
							LotteryValue:this.options.type_name,
					},
					default_view:null,
			}
	},
	methods: {
		showSearch()
		{
			switch(this.options.model)
			{
				case "credit":
					this.default_view=require('@/components/rule/credit/'+this.filterData.LotteryValue+'.vue').default;
					break;
				case "official":
					this.default_view=require('@/components/rule/official/'+this.filterData.LotteryValue+'.vue').default;
					break;
			}
		},
	},
	props:['options'],
	components: {
	},
	computed: {
		...mapGetters({
			config:'config',
			mapByType: "mapByType",
		}),
		lt_type(){
				var data=[];
				var lt=this.mapByType;
				for(var k in lt)
				{
						data.push({value:String(lt[k].name),label:lt[k].title});
				}
				return data;
		},
	},
	created() {
	this.showSearch();
	},
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.rules
	p
		font-weight 700;
	.li-head
		font-weight 700;
</style>
