<template>
    <div class="bet_space official_bet">

            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 从01～11中任选1个或多个号码，所选号码与开奖号码第一位号码相同，即中前一直选</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
                        <el-tag >{{item.label}}</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls"
                                    :ref="item.row+'-'+num"
                                    :data-row="item.row"
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="betTool"  >
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="c">清</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="max">大</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="min">小</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="d">單</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="s">雙</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="a">全</div>
                    </div>
                </div>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>

        <BetBar :options="options" :ruleInfo="ruleInfo" ></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            error:false,
            errorMsg:'',
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            len:1,
            rule:'SSC_ZX',
            actionRule:'Z5_120',
            delimiter:' ',
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '選擇',
                row: '0',
                nums: ['01','02','03','04','05','06','07','08','09','10','11'],
                max:6,
                min:5,
                maxball:11,
            }],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>
