<template>
    <div slot="content" >
		<div class="mainBar">
			<el-select v-model="filterData.LotteryValue" placeholder="请选择彩種">
				<el-option
					v-for="item in lt_type"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="mainPadding">
			<div class="mainSearch">
				<div class="trend-info">
					<i class="fas fa-info-circle"></i> 统计近50期
				</div>
				<div class="record-body">
						<div class="trend_div" v-if="showHot">
							<div class="record-code" v-for="(item, hot_index) in results" :key="hot_index" v-if="results && item >=2">
								{{getRcode(hot_index)}} {{item}}期
							</div>
						</div>
						<div class="no-record" v-if="!results">
							<img class="no-record-img" src="~assets/images/norecord.png">
							<div class="no-record-txt">暂无相关纪录</div>
						</div>
				</div>
			</div>
		</el-row>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetClong } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            filterData:{
                LotteryValue:this.options.type_id.toString(),
            },
            type_id: this.options.type_id,
            group_type: this.options.group_type,
            results:[],
            selectedDefault:true,
            showHot:true,
            showLost:false,
        }
    },
    props:['options'],
    methods: {
        showSearch()
        {
			this.getLog(this.current_page);
        },
        getRcode(str)
        {
            var codes = str.split('_');
            if(codes[0]=="ball")
            {
                var num=parseInt(codes[1])+1;
                var pos="第"+num+"球";
                switch(true)
                {
                    case codes[2]=="big":
                        return pos+" 大";
                    case codes[2]=="small":
                        return pos+" 小";
                    case codes[2]=="double":
                        return pos+" 双";
                    case codes[2]=="single":
                        return pos+" 单";
                }
            }
            if(codes[0]=="zh")
            {
                var pos="总和";
                switch(true)
                {
                    case codes[1]=="big":
                        return pos+" 大";
                    case codes[1]=="small":
                        return pos+" 小";
                    case codes[1]=="double":
                        return pos+" 双";
                    case codes[1]=="single":
                        return pos+" 单";
                    case codes[1]=="l":
                        return pos+" 龙";
                    case codes[1]=="h":
                        return pos+" 虎";
                    case codes[1]=="hh":
                        return pos+" 和";
                    case codes[1]=="ws" && codes[2]=="big":
                        return pos+" 尾数大";
                    case codes[1]=="ws" && codes[2]=="small":
                        return pos+" 尾数小";
                }
            }
            if(codes[0]=="gy")
            {
                var pos="冠亚";
                switch(true)
                {
                    case codes[1]=="big":
                        return pos+" 大";
                    case codes[1]=="small":
                        return pos+" 小";
                    case codes[1]=="double":
                        return pos+" 双";
                    case codes[1]=="single":
                        return pos+" 单";
                }
            }
        },
        getLog()
        {
            apiGetClong({
                type_id : this.filterData.LotteryValue,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        //this.results.splice(0,this.results.length);
                        this.results=response.data.data;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },

    },
    computed: {
		...mapGetters({
            config:'config',
			mapByType: "mapByType",
        }),
        lt_type(){
            var data=[];
            var lt=this.mapByType;
            for(var k in lt)
            {
				if(k==90)
				{
					continue;
				}
                data.push({value:String(lt[k].id),label:lt[k].title});
            }
            return data;
        },  
    },
    components: {
    },
    created() {
        this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainPadding
	height 630px;
.mainSearch
	.trend-info
		padding-top: 10px;
		margin: auto;
		width: 100%;
	.record-code
		font-size: 1rem;
		padding: 13px;
		border-bottom: 1px #ddd solid;
	.no-record
		margin: 30px auto;
	.no-record-txt
		color: #999;
		font-size: 14px;
		margin: 14px auto;
	.no-record-img
		width 121px;

</style>
