<template>
	<div class="mainTrend" >
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.betDate"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="开始日期"
				end-placeholder="结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-select v-model="filterData.LotteryValue" placeholder="请选择彩種">
				<el-option
					v-for="item in lt_type"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
		</div>
		<el-row class="mainPadding">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
					<table cellspacing="0" cellpadding="0" border="0">
						<tr v-if="group_type == 12">
							<td class="td-head lhc-tile" ></td>
							<td class="td-head lhc-tile">號碼</td>
							<td class="td-head lhc-tile" colspan="4">總和</td>
							<td class="td-head lhc-tile" colspan="5">特碼</td>
						</tr>
						<tr>
							<td class="td-head">獎期</td>
							<td class="td-head">開獎號碼</td>
							<td class="td-head" v-if="group_type == 1 || group_type == 2 || group_type == 3 || group_type == 4 || group_type == 9 || group_type == 11">總和</td>
							<td class="td-head" v-if="group_type == 1 || group_type == 2 || group_type == 3 || group_type == 4">龍虎</td>
							<td class="td-head" v-if="group_type == 1 || group_type == 3">前三</td>
							<td class="td-head" v-if="group_type == 1">中三</td>
							<td class="td-head" v-if="group_type == 1">後三</td>
							<td class="td-head" v-if="group_type == 2">1 ~ 5 大小</td>
							<td class="td-head" v-if="group_type == 6">冠亞軍和</td>
							<td class="td-head" v-if="group_type == 6">1 ~ 5 龍虎</td>
							<td class="td-head" v-if="group_type == 9">型態</td>
							<td class="td-head" v-if="group_type == 11">極值</td>
							<td class="td-head" v-if="group_type == 11">色波</td>
							<td class="td-head" v-if="group_type == 12">總數</td>
							<td class="td-head" v-if="group_type == 12">單雙</td>
							<td class="td-head" v-if="group_type == 12">大小</td>
							<td class="td-head" v-if="group_type == 12">七色波</td>
							<td class="td-head" v-if="group_type == 12">單雙</td>
							<td class="td-head" v-if="group_type == 12">大小</td>
							<td class="td-head" v-if="group_type == 12">合單雙</td>
							<td class="td-head" v-if="group_type == 12">合大小</td>
							<td class="td-head" v-if="group_type == 12">尾大小</td>
						</tr>
						<tr v-for="(item, index) in results"  :key="index"  :class="{'tr-color':index%2==1}">
							<td>
								<div>{{item.actionNo}}</div>
								<div>{{getMomentDTDate(item.OpenTime)}}</div>
							</td>
							<td>
								<div class="record-code">
									<span v-if="group_type == 1 || group_type == 2 || group_type == 3 || group_type == 4  || group_type == 8">
										<span  class="round blue-bgcolor" v-for="(item,index) in str_split(item.openCode)" :key="index">{{item}}</span>
									</span>
									<span v-if="group_type == 6">
										<span class="pk10 square" :class="'color'+ numberPk10(item)" v-for="(item,index) in str_split(item.openCode)" :key="index">{{numberPk10(item)}}</span>
									</span>
									<div v-if="group_type == 11"><span  class="round blue-bgcolor">{{str_split(item.openCode)[0]}}</span> <span class="pcdd-add">+</span> <span class="round blue-bgcolor">{{str_split(item.openCode)[1]}}</span> <span class="pcdd-add">+</span> <span class="round blue-bgcolor">{{str_split(item.openCode)[2]}}</span> <span class="pcdd-add">=</span> <span  class="round " :class="pcdd_color(item.openCode)">{{pcdd_code(item.openCode)}}</span></div>
									<span v-if="group_type == 9">
										<img class="k3" :src="require('@/assets/images/k3/'+code+'.png')" v-for="(code,index) in str_split(item.openCode)" :key="index">
									</span>
									<div v-if="group_type == 12">
										<span  class="round" :class="lhc_color(item)" v-for="(item,index) in str_split(item.openCode)" :key="index">{{item}}</span>
									</div>
									<div v-if="group_type == 12">
										<span class="zod-size" v-for="(item,key) in item.Ocs" :key="'code'+key"  v-if="key<7">{{item}}</span>
									</div>
									<span v-if="group_type == 17">
										<img  class="ld" :src="require('@/assets/images/ld/'+code+'.png')" v-for="(code,index) in str_split(item.openCode)" :key="index">
									</span>
									<span v-if="group_type == 15">
										<img  class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+item.openCode+'.png')" >
									</span>
									<span v-if="group_type == 18">
										<div v-for="(item, index) in item.openCode"  :key="index" style="text-align: left;">
											<span v-if="index=='1st'">First prize(首獎)  : <br>
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split(item)" :key="index+'-1st'">{{item}}</span>
											</span>
											<span v-if="index=='2nd'">Second prize(第二獎)  : <br>
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split_4d(item,0)" :key="index+'-2nd0'">{{item}}</span>
												&nbsp;&nbsp;
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split_4d(item,1)" :key="index+'-2nd1'">{{item}}</span>
											</span>
											<span v-if="index=='3th'">Third prize(第三獎)  : <br>
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split_4d(item,0)" :key="index+'-3th0'">{{item}}</span>
												&nbsp;&nbsp;
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split_4d(item,1)" :key="index+'-3th1'">{{item}}</span>
												&nbsp;&nbsp;
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split_4d(item,1)" :key="index+'-3th2'">{{item}}</span>
											</span>
											<span v-if="index=='en1'">Encouragement prize 1(安慰獎 1)  : <br>
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split(item)" :key="index+'-en1'">{{item}}</span>
											</span>
											<span v-if="index=='en2'">Encouragement prize 2(安慰獎 2)  : <br>
												<span  class="round blue-bgcolor" v-for="(item,index) in str_split(item)" :key="index+'-en2'">{{item}}</span>
											</span>
										</div>
									</span>

								</div>
							</td>
							<td v-if="group_type == 1 || group_type == 3 || group_type == 6 || group_type == 9 || group_type == 11"><span v-for="(item,key) in item.Ocs" :key="'code'+key"  ><el-tag class="tag-code tag-margin" v-if="key <= 2">{{item}}</el-tag></span></td>
							<td v-if="group_type == 1 || group_type == 3 || group_type == 9 || group_type == 11"><span v-for="(item,key) in item.Ocs" :key="'code'+key"  ><el-tag class="tag-code" v-if="key==3">{{item}}</el-tag></span></td>
							<td v-if="group_type == 1 || group_type == 3"><span v-for="(item,key) in item.Ocs" :key="'code'+key"  ><el-tag class="tag-code" v-if="key==4">{{item}}</el-tag></span></td>
							<td v-if="group_type == 1"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code"  v-if="key==5">{{item}}</el-tag></span></td>
							<td v-if="group_type == 1"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==6">{{item}}</el-tag></span></td>
							<td v-if="group_type == 2 || group_type == 4"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code tag-margin"  v-if="key <= 3">{{item}}</el-tag></span></td>
							<td v-if="group_type == 2"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==4">{{item}}</el-tag></span></td>
							<td v-if="group_type == 2"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code tag-margin" v-if="key >= 5">{{item}}</el-tag></span></td>
							<td v-if="group_type == 4 || group_type == 6"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code tag-margin" v-if="key >= 4">{{item}}</el-tag></span></td>
							<td v-if="group_type == 11"><span v-for="(item,key) in item.Ocs" :key="'code'+key" >
															<span v-if="key==4">
																<el-tag class="tag-code" type="danger" v-if="item=='红'">{{item}}</el-tag>
																<el-tag class="tag-code" type="success" v-if="item=='绿'">{{item}}</el-tag>
																<el-tag class="tag-code" v-if="item=='蓝'">{{item}}</el-tag>
															</span>
														</span>
							</td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==7">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==8">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==9">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==10">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==11">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==12">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==13">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==14">{{item}}</el-tag></span></td>
							<td v-if="group_type == 12"><span v-for="(item,key) in item.Ocs" :key="'code'+key" ><el-tag class="tag-code" v-if="key==15">{{item}}</el-tag></span></td>
						</tr>
					</table>
					<p v-if="loading">加载中...</p>
					<p v-if="noMore && results.length > 0">没有更多了</p>
					<div class="no-record" v-if="!results.length">
						<img class="no-record-img" src="~assets/images/norecord.png">
						<div class="no-record-txt">暂无相关纪录</div>
					</div>
			</div>
		</el-row>
	</div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetRecentOpenCode } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
				betDate:'',
                LotteryValue:this.options.type_id.toString(),
            },
            type_id: this.options.type_id,
            group_type: this.options.group_type,
            results:[],
            current_page:1,
        }
    },
    props:['options'],
    methods: {
		str_split_4d(str,pos)
		{
			let temp = str.split(" ");
			str = temp[pos].toString();
            return str.split(",");
		},
        showSearch()
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			if(this.filterData.betDate==null)
			{
				this.filterData.betDate='';
			}
			this.getLog(this.current_page);
        },
        getOcs(code)
        {
            var tred=this.ocs.generate(this.group_type,code);
            var hisTred=[];
            for(var k in tred)
            {
                hisTred.push(tred[k]);
            }
            return hisTred;
        },
        getLog(page)
        {
			this.loading = true;
			if(this.filterData.LotteryValue=='')
			{
				return;
			}
            apiGetRecentOpenCode({
                type_id : this.filterData.LotteryValue,
                fromTime: moment(this.filterData.betDate[0]).format("YYYY-MM-DD"),
                toTime: moment(this.filterData.betDate[1]).format("YYYY-MM-DD"),
                page: page,
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
							this.stopLoad();
                            return;
                        }
						this.group_type = this.mapByType[this.filterData.LotteryValue].type;
						for(var n in response.data.data)
						{
							this.results.push(
								{
									id:response.data.data[n].id,
									actionNo:response.data.data[n].actionNo,
									openCode:response.data.data[n].openCode,
									OpenTime:response.data.data[n].OpenTime,
									Ocs:this.getOcs(response.data.data[n].openCode.toString()),
								}
							);
						}
                        //this.results=this.results.concat(response.data.data);
                    }
					this.loading = false;
                    return;
                }).catch(error => {
                    console.log(error);
					this.stopLoad();
                    return;
                });
        },
		load () {
			if(!this.loading)
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		}
    },
    computed: {
		...mapGetters({
            config:'config',
			mapByType: "mapByType",
        }),
        lt_type(){
            var data=[];
            var lt=this.mapByType;
            for(var k in lt)
            {
				if(this.mapByType[k].type!=16)
				{
					data.push({value:String(lt[k].id),label:lt[k].title});
				}
            }
            return data;
        },
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainTrend
	.mainPadding
		height 630px;
	.mainSearch
			td
				line-height: 25px;
				text-align center
				border-bottom 1px #ddd solid
				border-left 1px #ddd solid
				.ld
					width 5rem
			td:last-child
				border-right 1px #ddd solid
			.td-head
				border-top 1px #ddd solid
			.tag-code
				font-size .9rem
			.tag-margin
				margin-right 4px
			.lhc-tile
				border-bottom unset
			.zod-size
				display: inline-block;
				text-align: center;
				width: 1.8rem;
				height: 1.8rem;
				margin-right: 0.5rem;
</style>
