<template>
    <div slot="content" >
		<div class="mainBar">
			<el-select v-model="filterData.LotteryValue" placeholder="请选择彩種">
				<el-option
					v-for="item in lt_type"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
			<div style="display: inline-flex;margin-left: 15px;">
				<el-switch
					style="display: block"
					v-model="selectedDefault"
					active-color="#ff4949"
					inactive-color="#13ce66"
					active-text="热门"
					inactive-text="遗漏" @change="clickHandler" :width="50">
				</el-switch>
			</div>
		</div>
		<el-row class="mainPadding">
			<div class="mainSearch">
				<div class="trend-info">
					<i class="fas fa-info-circle"></i> 统计近50期
				</div>
				<div class="record-body">
					<div class="trend_div" v-if="showHot">
						<table v-for="(item, hot_index) in results.hot"  :key="hot_index" v-if="results" cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="trend_pos" v-if="group_type != 11">
									<span  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">第{{hot_index}}球</span>
									<span v-if="group_type == 9 || group_type == 6 || group_type == 17">第{{hot_index}}位</span>
									<span v-if="group_type == 12 ">正码</span>
								</td>
								<td>
									<ul class="trend_num">
										<li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 1 || group_type == 4  || group_type == 8 || group_type == 3">
											<div class="round blue-bgcolor">{{hot_nindex}}</div>
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
										<li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 12">
											<div class="round " :class="lhc_color(hot_nindex)">{{hot_nindex}}</div>
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
										<li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 11">
											<div class="round " :class="pcdd_color(hot_nindex)">{{hot_nindex}}</div>
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
										<li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 6 ">
											<div class="pk10 square" :class="'color'+hot_nindex">{{hot_nindex}}</div>
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
										<li class="trend_list_6" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 9">
											<img v-if="group_type == 9" class="k3" :src="require('@/assets/images/k3/'+hot_nindex+'.png')" >
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
										<li class="trend_list_11" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 2">
											<div class="round blue-bgcolor">{{hot_nindex}}</div>
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
										<li class="trend_list_6" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 17">
                                            <img v-if="group_type == 17" class="ld" :src="require('@/assets/images/ld/'+hot_nindex+'.png')" >
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
									</ul>
								</td>
							</tr>
						</table>
						<table v-for="(item, sp_hot_index) in results.sp_hot"  :key="sp_hot_index" v-if="results  && group_type == 12" cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="trend_pos" >
									<span>特码</span>
								</td>
								<td>
									<ul class="trend_num">
										<li class="trend_list" v-for="(number, sp_hot_nindex) in item" :key="sp_hot_nindex" >
											<div class="round " :class="lhc_color(sp_hot_nindex)">{{sp_hot_nindex}}</div>
											<div class="trend_count_hot">
												{{number}}
											</div>
										</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>

					<div class="trend_div" v-if="showLost">
						<table v-for="(item, lost_index) in results.lost"  :key="lost_index" v-if="results" cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="trend_pos" v-if="group_type != 11">
									<span  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">第{{lost_index}}球</span>
									<span v-if="group_type == 9 || group_type == 6 || group_type == 17">第{{lost_index}}位</span>
									<span v-if="group_type == 12 ">正码</span>
								</td>
								<td>
									<ul class="trend_num">
										<li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">
											<div class="round blue-bgcolor">{{lost_nindex}}</div>
											<div class="trend_count_lost">
												{{number}}
											</div>
										</li>
										<li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 12">
											<div class="round " :class="lhc_color(lost_nindex)">{{lost_nindex}}</div>
											<div class="trend_count_lost">
												{{number}}
											</div>
										</li>
										<li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 11">
											<div class="round " :class="pcdd_color(lost_nindex)">{{lost_nindex}}</div>
											<div class="trend_count_lost">
												{{number}}
											</div>
										</li>
										<li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 6 ">
											<div class="pk10 square" :class="'color'+lost_nindex">{{lost_nindex}}</div>
											<div class="trend_count_lost">
												{{number}}
											</div>
										</li>
										<li class="trend_list_6" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 9">
											<img v-if="group_type == 9" class="k3" :src="require('@/assets/images/k3/'+lost_nindex+'.png')" >
											<div class="trend_count_lost">
												{{number}}
											</div>
										</li>
										<li class="trend_list_6" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 17">
                                            <img v-if="group_type == 17" class="ld" :src="require('@/assets/images/ld/'+lost_nindex+'.png')" >
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
									</ul>
								</td>
							</tr>
						</table>
						<table v-for="(item, sp_lost_index) in results.sp_lost"  :key="sp_lost_index" v-if="results  && group_type == 12" cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="trend_pos" >
									<span>特码</span>
								</td>
								<td>
									<ul class="trend_num">
										<li class="trend_list" v-for="(number, sp_lost_nindex) in item" :key="sp_lost_nindex" >
											<div class="round " :class="lhc_color(sp_lost_nindex)">{{sp_lost_nindex}}</div>
											<div class="trend_count_lost">
												{{number}}
											</div>
										</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>

					<div class="no-record" v-if="!results">
						<img class="no-record-img" src="~assets/images/norecord.png">
						<div class="no-record-txt">暂无相关纪录</div>
					</div>
				</div>
			</div>
		</el-row>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetHotlost } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            filterData:{
                LotteryValue:this.options.type_id.toString(),
            },
            type_id: this.options.type_id,
            group_type: this.options.group_type,
            results:[],
            selectedDefault:true,
            showHot:true,
            showLost:false,
        }
    },
    props:['options'],
    methods: {
        showSearch()
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.getLog(this.current_page);
        },
        clickHandler()
        {
            switch(this.selectedDefault)
            {
                case true:
                    this.showHot=true;
                    this.showLost=false;
                    break;
                case false:
                    this.showHot=false;
                    this.showLost=true;
                    break;
            }
        },
        getLog()
        {
            apiGetHotlost({
                type_id : this.filterData.LotteryValue,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.group_type = this.mapByType[this.filterData.LotteryValue].type;
                        this.results=response.data.data;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
            config:'config',
			mapByType: "mapByType",
        }),
        lt_type(){
            var data=[];
            var lt=this.mapByType;
            for(var k in lt)
            {
                data.push({value:String(lt[k].id),label:lt[k].title});
            }
            return data;
        },
    },
    components: {
    },
    created() {
        this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainPadding
	height 630px;
.mainSearch
	table
		padding-top 0px
		td
			text-align center;
	.trend_div
		overflow-x: hidden;
		.k3
			padding 8px 0px;
			margin-right: 0rem;
		.square
			margin 8px 0px;
	.trend-info
		padding-top: 10px;
		margin: auto;
		width: 100%;
	.trend_pos
		width: 60px;
		vertical-align: middle;    
	.trend_num
		list-style: none;
		.trend_list
			float left
			width 10%;
		.trend_list_6
			float left
			width 16%;
		.trend_list_11
			float left
			width 9%;
	.trend_count_hot
		background-color: rgba(240, 142, 159, 0.1);
		border-radius: 5px;
		padding: 5px;
		width: 25px;
		margin: auto;
	.trend_count_lost
		background-color: rgba(142, 198, 240, 0.1);
		border-radius: 5px;
		padding: 5px;
		width: 25px;
		margin: auto;
	.round
		margin-right 0px;
</style>
