<template>
	<div class="game-content">
		<el-row>
			<el-col :span="8" v-for="(issue, index) in typeList" :key="index" v-if="time_center && index_issue[issue.id] && index_issue[issue.id].group_type!=16" class="time-center-card">
				<el-card shadow="always" >
					<el-row class="time-center-inside">
						<el-container >
							<el-aside width="80" class="time-center-img" >
								<img :src="require('@/assets/images/lottery/'+issue.id+'.png')" >
							</el-aside>
							<el-main class="time-center-countdown">
								<el-row class="time-center-head">
									<el-col class="time-center-action">
										{{issue.actionNo}}期
									</el-col>
									<el-col class="time-center-content">
										<div class="time-center-block" v-if="index_issue[issue.id].group_type == 18">
											{{time[issue.id].day}}
										</div>
										<div class="time-center-split" v-if="index_issue[issue.id].group_type == 18">
											:
										</div>
										<div class="time-center-block">
											{{time[issue.id].hr}}
										</div>
										<div class="time-center-split">
											:
										</div>
										<div class="time-center-block">
											{{time[issue.id].min}}
										</div>
										<div class="time-center-split">
											:
										</div>
										<div class="time-center-block">
											{{time[issue.id].sec}}
										</div>
									</el-col>
								</el-row>
							</el-main>
						</el-container>
						<el-divider content-position="left"><span style="color: #909399;">上期號碼</span></el-divider>
						<el-container>
							<el-main style="padding: unset;">
								<el-row class="time-center-number">
									<el-col >
										<span v-if="index_issue[issue.id].group_type == 1 || index_issue[issue.id].group_type == 2 || index_issue[issue.id].group_type == 3  || index_issue[issue.id].group_type == 4  || index_issue[issue.id].group_type == 8" class="round blue-bgcolor" v-for="(item,index) in str_split(index_issue[issue.id].data)" :key="index">{{item}}</span>
										<img v-if="index_issue[issue.id].group_type == 9" class="k3"  :src="require('@/assets/images/k3/'+item+'.png')" v-for="(item,index) in str_split(index_issue[issue.id].data)" :key="index">
										<img v-if="index_issue[issue.id].group_type == 17" class="ld"  :src="require('@/assets/images/ld/'+item+'.png')" v-for="(item,index) in str_split(index_issue[issue.id].data)" :key="index">
										<span v-if="index_issue[issue.id].group_type == 6"  class="square" :class="'color'+numberPk10(item)" v-for="(item,index) in str_split(index_issue[issue.id].data)" :key="index">{{numberPk10(item)}}</span>
										<span v-if="index_issue[issue.id].group_type == 12" class="round" :class="lhc_color(item)" v-for="(item,index) in str_split(index_issue[issue.id].data)" :key="index">{{item}}</span>
										<div v-if="index_issue[issue.id].group_type == 11"><span class="round blue-bgcolor">{{str_split(index_issue[issue.id].data)[0]}}</span> + <span class="round blue-bgcolor">{{str_split(index_issue[issue.id].data)[1]}}</span> + <span class="round blue-bgcolor">{{str_split(index_issue[issue.id].data)[2]}}</span> = <span  class="round " :class="pcdd_color(index_issue[issue.id].data)">{{pcdd_code(index_issue[issue.id].data)}}</span> </div>
										<span v-if="index_issue[issue.id].group_type == 15" class="round blue-bgcolor" >{{index_issue[issue.id].data}}</span>
										<span v-if="index_issue[issue.id].group_type == 18" class="round blue-bgcolor" v-for="(item,index) in str_split(index_issue[issue.id].data)" :key="index">{{item}}</span>
									</el-col>
								</el-row>
							</el-main>
						</el-container>
					</el-row>
					<el-row class="time-center-menu">
						<el-col :span="24">
							<el-button-group style="width: 100%;">
								<el-button size="mini" icon="el-icon-arrow-left" style="width: 50%;" @click="getHistory(issue.id,index_issue[issue.id].group_type)">走勢</el-button>
								<el-button size="mini" style="width: 50%;" @click="go2page('/game/credit/'+mapByType[issue.id].name)">下注<i class="el-icon-arrow-right el-icon--right"></i></el-button>
							</el-button-group>
						</el-col>
					</el-row>
				</el-card>
			</el-col>
		</el-row>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import { apiGetAllIssueGame } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
	data() {
		return {
			cd:null,
			time:[],
			time_center:[],
			index_issue:[],
			activeName: '1',
			zh_subname:[],
		}
	},
    methods: {
        get_zh_subname(code)
        {
            if(this.zh_subname.length==0)
            {
                for(var key in this.mapByPlay)
                {
                    if(this.mapByPlay[key].sub_name)
                    {
                        this.zh_subname[this.mapByPlay[key].name] = this.mapByPlay[key].sub_name;
                    }
                }
            }
            return this.zh_subname[code];
        },
		getHistory(id,group_type)
		{
			this.$router.push(
				{
					path: "history",
					name:'history',
					params: {
						id: id,
						group_type:group_type,
					},
				},
			);
		},
		getAllIssue(check_issue=null)
		{
			apiGetAllIssueGame({
				check_issue:check_issue,
			})
			.then(response => {
				if(response.data.error)
				{
					this.error_handler(response.data);
				}
				if(response.data.status)
				{
					let msec = 0;
					if(this.time_center.length == 0)
					{
						this.time_center=response.data.data.current
					}
					this.index_issue.splice(0,this.index_issue.length);
					for(var n in response.data.data.index_issue)
					{
						this.index_issue[n]={
						}
						this.index_issue.splice(n, 1, {
							id:n,
							title:response.data.data.index_issue[n].title,
							group_type:response.data.data.index_issue[n].group_type,
							number:response.data.data.index_issue[n].number,
							data:response.data.data.index_issue[n].data,
						})
						if(response.data.data.index_issue[n].group_type==18)
						{
							var _json = JSON.parse(response.data.data.index_issue[n].data);
							this.index_issue[n].data = _json['1st'];
						}


					}

					var current=response.data.data.current;
					var clientTime=(Date.parse( new Date())/1000);
					for(var n in current)
					{
						msec=current[n].stopTime-clientTime;
						var timeData=this.gethms(msec);
						this.time[current[n].id]={
						}

						this.time.splice(current[n].id, 1, {
							day:timeData.day,
							hr:timeData.hr,
							min:timeData.min,
							sec:timeData.sec,
							countdown:msec,
						})
					}
					clearInterval(this.cd);
					this.cd = setInterval(() => {
						this.countDown();
					}, 1000);
				}
				return;
			}).catch(error => {
				console.log(error);
				return;
			});
		},
        countDown() {
            clearInterval(this.cd);
			let msec = 0;
			var check_issue = [];
			for(var n in this.time)
			{
				msec = this.time[n].countdown - 1;
				var timeData=this.gethms(msec);
				if(msec<0 )
				{
					check_issue.push(n);
				}
				if(msec<0)
				{
					timeData.day=0;
					timeData.hr="00";
					timeData.min="00";
					timeData.sec="00";
				}
				this.time.splice(n, 1, {
					day:timeData.day,
				 	hr:timeData.hr,
				 	min:timeData.min,
				 	sec:timeData.sec,
				 	countdown:msec,
				})
			}
			if(check_issue.length>0)
			{
				this.getAllIssue(check_issue);
				//return;
			}
            this.cd = setInterval(() => {
				this.countDown();
            }, 1000);
        },
    },
	components: {

	},
    computed: {
		...mapGetters({
            config: "config",
			mapByType: "mapByType",
			mapByPlay: "mapByPlay",
        }),
        typeList()
        {
          let temp=[];
          for(var n in this.time_center)
          {
            temp.push(this.time_center[n]);
          }
          temp=temp.sort(function (a, b) {return a.sort > b.sort ? 1 : -1;});
          return temp;
        }
    },
    created() {
		if(!Object.keys(this.time_center).length)
		{
			this.getAllIssue();
		}
    },
    destroyed: function() {
        clearInterval(this.cd);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.game-content
	.time-center-card
		padding 5px
		.time-center-inside
			.time-center-number
				height 46px;
			.time-center-img
				img
					height 4.5rem
			.time-center-countdown
				width 100%;
				padding: 0px 10px;
				.time-center-block
					width: 40px;
					text-align: center;
					height: 40px;
					background: #F2F6FC;
					border-radius: 5px;
					line-height: 40px;
				.time-center-split
					width: 16px;
					text-align: center;
					height: 40px;
					line-height: 40px;
					font-weight: bold;
	.time-center-head
		text-align left
		color: #909399;
		font-size: .9rem;
		.time-center-action
			margin-left 10px;
	.time-center-content
		text-align left
		display flex
		padding: 8px
	.time-center-menu
		margin-top 10px
	.el-divider--horizontal
		margin 15px 0px
	.round
		display: inline-block;
		text-align: center;
		width: 1.7rem;
		height: 1.7rem;
		border-radius: 50%;
		color: #fff;
		margin-top: 0.5rem;
		margin-right: 0.3rem;
		margin-bottom: 0.3rem;
		line-height: 1.7rem;
		font-size: 1rem;
	.k3
		width: 2rem;
		margin-top: 0.5rem;
		margin-right: 1rem;
		margin-bottom: 0.3rem;
		display: inline-block;
		vertical-align: middle;
	.ld
		width: 2.5rem;
		margin-right: 1rem;
		margin-top: 0rem;
		display: inline-block;
		vertical-align: middle;
	.square
		display: inline-block;
		text-align: center;
		width: 1.5rem;
		height: 2rem;
		color: #fff;
		margin-top: 0.5rem;
		margin-right: 0.2rem;
		margin-bottom: 0.3rem;
		line-height: 2rem;
		font-size: 1.1rem;
		border-radius: 3px;
		font-style: italic;
		-webkit-text-stroke: 0.3px #333;
		font-weight: 600;
</style>
