<template>
    <div>
        <div class="mainSearch">
            <div class="zhuihao-info">
                <div class="zhuihao-row">
                    <div class="zhuihao-item">起始倍数</div>
                    <div class="zhuihao-item">每隔</div>
                    <div class="zhuihao-item">倍数</div>
                    <div class="zhuihao-item">期数</div>
                </div>
                <div class="zhuihao-row">
                    <div class="zhuihao-item zhuihao-flex">
						<el-input v-model="form.start_beisu"  class="zhuihao-input" @blur="checkNum" @keypress.native="$bet.onlyNumber()" ></el-input>
                        <div class="zhuihao-box">倍</div>
                    </div>
                    <div class="zhuihao-item zhuihao-flex">
						<el-input v-model="form.split_no"  class="zhuihao-input" @blur="checkNum" @keypress.native="$bet.onlyNumber()" ></el-input>
                        <div class="zhuihao-box">期</div>
                    </div>
                    <div class="zhuihao-item zhuihao-flex">
						<el-input v-model="form.n_beisu"  class="zhuihao-input" @blur="checkNum" @keypress.native="$bet.onlyNumber()" ></el-input>
                        <div class="zhuihao-box">倍</div>
                    </div>
                    <div class="zhuihao-item zhuihao-flex">
						<el-input v-model="form.total_no"  class="zhuihao-input" @blur="checkNum" @keypress.native="$bet.onlyNumber()" ></el-input>
                        <div class="zhuihao-box">期</div>
                    </div>
                </div>
            </div>
            <div class="record-body">
                    <div class="trend_div" >
                        <div class="record-code" v-for="(item, index) in results" :key="index" >
                            <div class="record-item record-item-small" @click.stop='delIssue(index)'><i class="fas fa-times-circle" ></i></div>
							<div class="record-item record-item-large">{{options.title}}</div>
                            <div class="record-item record-item-large">{{item.no}}期</div>
                            <div class="record-item">{{item.amount}}元</div>
                            <div class="record-item record-item-large record-row">
                                <div class="button-plus">
                                    <i class="fas fa-minus" @click.stop='clickBeisu(index,-1)'></i>
                                </div>
                                <div class="record-beisu">{{item.beisu}}</div>
                                <div class="button-plus"  @click.stop='clickBeisu(index,1)'>
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div style="margin-left:3px">倍</div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="bet-bar">
                <div class="top_betBox" >
                    <div class='count'>
                        <span >共<span class="colorInherit blue-color"> {{betCount()}} </span>注  <span class="colorInherit blue-color">{{results.length}}</span> 期 <span class="colorInherit blue-color">{{betCoin()}}</span> 元</span>
                    </div>
                    <div class='zhuihao_stop'>
                        <div >
                            <el-checkbox v-model="zhuihao_stop" shape="square">中獎既停</el-checkbox>
                        </div>
                    </div>
                    <div class='import_button'>
                        <div class="button">
                            <el-button :light="true" @click="clickZH">下注</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetTodayLast } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            title:"追號",
            form:{
                start_beisu:1,
                split_no:1,
                n_beisu:1,
                total_no:10,
            },
            target:null,
            zhuihao_stop:false,
            type_id: this.options.type_id,
            limit_zh:100,
            max_issue:0,
            results:[],
        }
    },
    props:['options'],
    methods: {
		clickZH()
		{
			if(this.betCoin() <=0)
			{
                this.message("请先选择号码");
                return;
			}
			this.postZhuihao_OF();
			this.$emit('callback');
		},
		checkNum()
		{
			if(this.form.start_beisu < 1)
			{
				this.form.start_beisu = 1;
			}
			if(this.form.split_no < 1)
			{
				this.form.split_no = 1;
			}
			if(this.form.n_beisu < 1)
			{
				this.form.n_beisu = 1;
			}
			if(this.form.total_no < 1)
			{
				this.form.total_no = 1;
			}
		},
        deleteLast(){
            if(this.form[this.target] === 1){
                this.showme = false;
            }else{
                let str =  this.form[this.target].toString();
                if(str.length > 1)
                {
                    this.form[this.target] = parseInt(str.substring(0,str.length-1));
                }else
                {
                    this.form[this.target] = 1;
                }
            }
        },
        clickBeisu(index,value)
        {
            let Data = this.results[index];
            Data.beisu +=value;
            if(Data.beisu < 1 )
            {
                Data.beisu = 1;
            }
            Data.amount = Data.beisu * 2 * this.betCount();
            this.results.splice(index,1,Data);
        },
        delIssue(index)
        {
            this.results.splice(index,1);
        },
        betCount(){
            var betCount = 0;
            for(var i = 0 ;i < this.CartData.length;i++)
            {
                betCount += this.CartData[i].betCount;
            }
            return betCount;
        },
        betCoin(){
            if(this.CartData.length > 0)
            {
                let amount = 0;
                for(var i=0;i<this.results.length;i++)
                {
                    amount += this.results[i].amount
                }
                return amount;
            }else
            {
				//this.restIssue();
                return '0';
            }
        },
        restIssue()
        {
            let count = 0;
            let now_beisu = this.form.start_beisu;
            let Data = [];
			let betCount = this.betCount();
            var now_issue = parseInt(this.currentIssue.actionNo);
            var limit_issue = parseInt(this.max_issue);
            if(limit_issue - now_issue > this.form.total_no)
            {
                limit_issue = now_issue + parseInt(this.form.total_no);
            }
            for(var i=now_issue; i<=limit_issue; i++)
            {
                if(count%this.form.split_no == 0 && count > 0)
                {
                    now_beisu = now_beisu * this.form.n_beisu;
                }
                Data.push(
                    {
                        no:i,
                        beisu:now_beisu,
                        amount:now_beisu*2*betCount,
                        count:betCount,
                        zhuihao_stop:(this.zhuihao_stop)?1:0,
                    }
                );
                count ++;
            }
            this.results.splice(0,this.results.length);
            this.results = Data;
        },
        getIssue()
        {
            apiGetTodayLast({
                type_id : this.type_id,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        var now_issue = parseInt(this.currentIssue.actionNo);
                        var limit_issue = parseInt(response.data.data);
                        this.max_issue = limit_issue;
                        if(limit_issue - now_issue > this.form.total_no)
                        {
                            limit_issue = now_issue + this.form.total_no;
                        }
                        var count = 0;
                        var now_beisu = this.form.start_beisu;
                        this.results.splice(0,this.results.length);
                        for(var i=now_issue; i<=limit_issue; i++)
                        {
                            if(count%this.form.split_no == 0 && count > 0)
                            {
                                now_beisu = now_beisu * this.form.n_beisu;
                            }
                            var Data ={
                                no:i,
                                beisu:now_beisu,
                                amount:now_beisu*2*this.betCount(),
                                count:this.betCount(),
                                zhuihao_stop:(this.zhuihao_stop)?1:0,
                            }
                            count ++;
                            this.results.push(Data);
                        }
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    watch: {
        'form.start_beisu': function () {
            this.restIssue();
        },
        'form.split_no': function () {
            this.restIssue();
        },
        'form.n_beisu': function () {
            this.restIssue();
        },
        'form.total_no': function () {
            if(this.form.total_no > this.limit_zh)
            {
                this.form.total_no = this.limit_zh;
            }
			console.log(this.form.total_no);
            this.restIssue();
        },
        CartData: function () {
            this.restIssue();
		},
        currentIssue: function () {
			if(this.results.length > 0)
			{
				if(this.results[0].no != this.currentIssue.actionNo)
				{
					this.message("獎期產生變化,自動刷新追號期數");
					this.restIssue();
				}
			}
		},
        zhuihao_stop: function () {
            this.restIssue();
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            beiShu: "beiShu",
            mapByPlay: "mapByPlay",
            currentIssue: "currentIssue",
            user: "user",
			config: "config",
			CartData: "CartData",
        }),
    },
    components: {
    },
	activated()
	{
		this.getIssue();
	},
    created() {
        this.getIssue();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	width: 100%;
	text-align: -webkit-center;
	font-size: 0.9rem;
.bet-bar
	width: 100%
	background: #fff
	height: 60px
	.board
		width: 100%;
		height: 240px;
		background: #fff;
		.icon
			font-size 1.2 rem;
	.input_board
		bottom: 239px;
		z-index: 10000 !important;
	button
		border-radius: 5px !important;
		padding: 10px 10px !important;
		background: #ff5151;
		color: #fff;
	.top_betBox
		z-index: 9000;
		background: #f5f6f7;
		height: 60px;
		display: table;
		width: 100%;
		position: relative;
		.zhuihao_stop
			display: table-cell;
			vertical-align: middle;
			font-size: 1rem;
		.count
			display: table-cell;
			vertical-align: middle;
			font-size: .9rem;
			padding: 0px 10px;
		.import_button
			display: table-cell;
			vertical-align: middle;
			position: relative;
			width: 60px;
			padding-right: 5px;
			.button
				vertical-align: middle;
				padding-right: 5px;
				width: 60px;
.zhuihao-info
	margin: auto;
	width: 100%;
	background-color #fff
	padding:10px 0px;
	.zhuihao-row
		display:flex;
	.zhuihao-item
		width 25%;
		text-align center;
		.zhuihao-box
			line-height: 2.3rem;
			border-radius: 0px 5px 5px 0px;
			padding: 0px 5px;
			border-bottom: 1px #ddd solid;
			border-top: 1px #ddd solid;
			border-right: 1px #ddd solid;
		.zhuihao-input
			width: 70px;
			overflow: hidden;
			line-height: 26px;
	.zhuihao-flex
		display flex;
		padding: 10px;
		justify-content: center;
.record-body
	overflow:hidden;
	background-color #fff
	.record-code
		display flex;
		padding 8px 5px;
		border-bottom: 1px #ddd dashed;
		.button-plus
			text-align: center;
			border: 1px solid #ccc;
			width: 20px;
			height: 20px;
			padding: 3px;
			border-radius: 3px;
			line-height: 21px;
			background: #efefef;
		.record-beisu
			border: 1px solid #ccc;
			border-radius: 3px;
			margin 0px 5px;
			width: 28px;
			height: 20px;
			padding: 3px;
			line-height: 21px;
		.record-item
			width 25%;
			text-align center;
			line-height: 30px;
		.record-row
			display:flex;
		.record-item-small
			width 5%;
		.record-item-large
			width 35%;

</style>
