<template>
    <div class="bet_space official_bet">

            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 手动输入号码，至少输入1个二位数号码组成一注</div>
            <div style="margin: 10px 0px;">
                <el-checkbox-group v-model="WeiShuList" :min="1" :max="5" @input="SSCInputRxDs" >
                <el-checkbox :label="16" ><i>万</i></el-checkbox>
                <el-checkbox :label="8" ><i>千</i></el-checkbox>
                <el-checkbox :label="4" ><i>百</i></el-checkbox>
                <el-checkbox :label="2" ><i>十</i></el-checkbox>
                <el-checkbox :label="1" ><i>个</i></el-checkbox>
                </el-checkbox-group>
            </div>
            <div style="padding-top: 10px;">
                <el-input type="textarea" :rows="6" placeholder="每一注号码之间的间隔符支持 回车  空格[ ]" v-model="value" @input="SSCInputRxDs"></el-input>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>
            <div class="padding">
                <el-button  @click="clearNum_OF" :disabled="value == ''" type="primary" class="clear-number-button" ><i class="fas fa-exclamation-circle cart-button-icon"></i> 清空號碼</el-button>
            </div>

        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
        <div ref="no-rand"></div>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            WeiShuList:[16,8],
            error:false,
            errorMsg:'',
            value:'',
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            len:2,
            numberLen:2,
            rule:'SSC5X_ZH',
            actionRule:'2X_R2',
            playedId:this.options.playedId,
            ruleInfo: [],
        }
    },
    props: ['options'],
    methods: {
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>
