<template>
    <div class="bet_space official_bet">
        
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 手动输入号码，至少输入1个三位数号码</div>
            <div style="padding-top: 10px;">
                <el-input type="textarea" :rows="6" placeholder="每一注号码之间的间隔符支持 回车  空格[ ]" v-model="value" @input="SSCInputDsZX"></el-input>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>
            <div class="padding">
                <el-button  @click="clearNum_OF" :disabled="value == ''" type="primary" class="clear-number-button" ><i class="fas fa-exclamation-circle cart-button-icon"></i> 清空號碼</el-button>
            </div>
        
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
        <div ref="no-rand"></div>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            error:false,
            errorMsg:'',
            value:'',
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            played:'中',
            actionRule:'Z3_ZX',
            len:3,
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '千',
                row: '0',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '百',
                row: '1',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '十',
                row: '2',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            }
            ],
        }
    },
    props: ['options'],
    methods: {
        // clearNum_OF()
        // {
        //     console.log(this.value)
        //     this.value='';
        // }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>