<template>
    <div class="bet_space official_bet">
        
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 至少选择1个二重号和3个单号组成一注，竞猜开奖号码的全部五位，号码一致顺序不限即中奖</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
                        <el-tag >{{item.label}}</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls" 
                                    :ref="item.row+'-'+num" 
                                    :data-row="item.row" 
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="betTool"  >
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="c">清</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="max">大</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="min">小</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="d">單</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="s">雙</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="a">全</div>
                    </div>
                </div>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>
        
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            error:false,
            errorMsg:'',
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            len:5,
            rule:'SSC_ZX',
            actionRule:'Z5_60',
            playedId:this.options.playedId,
            ruleInfo: [
            {
                label: '二重号',
                row: '0',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
                maxball:1,
            },
            {
                label: '单号',
                row: '1',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
                maxball:3,
            }
            ],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>