<template>
    <div slot="content" >
        <div class="mainSearch" >
            <div class="record-body" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
				<div v-for="(item, index) in results" class="record-item" :key="index" @click="onItemClick(index)" v-if="results.length>0" style="cursor:pointer;">
                    <div class="record-top">
                        <div class="record-title text-left">
                            {{ item.title }}
                        </div>
                        <div class=" text-right">
                            {{ getMomentDate(item.addTime) }}
                        </div>
                    </div>
                    <div class="record-line">
                    </div>
					<div class="record-bot">
						<div class="col record-subtitle text-left">{{ item.content }}</div>
					</div>                    
				</div>
                <div class="no-record" v-if="!results.length">
                    <img class="no-record-img" src="~assets/images/norecord.png">
                    <div class="no-record-txt">暂无相关纪录</div>
                </div>
            </div>
        </div>
		<el-dialog :title="dialog_title" :visible.sync="dialogVisible">
			<el-row>
				<el-col style="text-align: left;line-height: 25px;">
					{{dialog_content}}
				</el-col>
			</el-row>
			<el-row>
				<el-col style="text-align: left;margin-top: 20px;">
					{{dialog_time}}
				</el-col>
			</el-row>
		</el-dialog>
    </div>
</template>

<script type="text/ecmascript-6" >
import { apiGetBulletin } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
			dialog_title:"",
			dialog_content:"",
			dialog_time:"",
			dialogVisible:false,
            results:[],
            current_page:1,
        }
    },
    methods: {
        getLog(page)
        {
			this.loading = true;
            apiGetBulletin({
                page: page,
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0, this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
							this.stopLoad();
                            return;
                        }
						if(response.data.data.length<20)
						{
							this.stopLoad();
						}
                        this.results=this.results.concat(response.data.data);
                    }
					this.loading = false;
                }).catch(error => {
					this.stopLoad();
                    console.log(error);
                });
        },
        dialog(title, content, time="")
        {
			this.dialog_title=title;
			this.dialog_content=content;
			this.dialog_time=time;
			this.dialogVisible=true;
        },
        onItemClick(index)
        {
			this.dialog(this.results[index].title, this.results[index].content, this.getMomentDate(this.results[index].addTime));
        },
		load () {
			if(!this.loading)
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		}
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	height 600px;
	font-size: 0.9rem;
	.record-body
		overflow-y scroll;
		height 100%;
	.record-line
		height 1px;
		border-bottom: 1px #ddd solid;
	.no-record
		text-align: center;
		margin: 30px auto;
	.no-record-txt
		color: #999;
		font-size: 14px;
		margin: 14px auto;
	.no-record-img
		width 121px;
	.record-bot
		padding-bottom: 5px;
		.col
			width 100%;
		.record-subtitle
			line-height: 20px;
			font-size: 0.85rem;
			white-space : nowrap;
			text-overflow: ellipsis;
			width :100%
			overflow: hidden;
			padding-top: 10px;
	.record-top
		display flex;
		padding-bottom: 5px;
		.record-title
			font-weight: bold;
			line-height: 29px;
			font-size: 1.1rem;
			flex: auto;
	.record-item
		padding: 10px 10px;
		margin-bottom: 10px;
		background-color #fff;
	.text-left
		text-align left;
	.text-right
		text-align: center;
		font-size: 0.85rem;
		line-height: 29px;
</style>
