<template>
    <div class="bet_space official_bet">

            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 从0-27中任意选择1个或1个以上号码。所选数值等于三个开奖号相加之和，即为中奖</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
                        <el-tag >{{item.label}}</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls"
                                    :ref="item.row+'-'+num"
                                    :data-row="item.row"
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="betTool"  >
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="c">清</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="max">大</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="min">小</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="d">單</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="s">雙</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="a">全</div>
                    </div>
                </div>
            </div>

        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            rule:'SSC5X_ZH',
            actionRule:'ZXHZ3D', //機選 直投rule
            len:1,
            delimiter:',',
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '选择',
                row: '0',
                nums: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27'],
                max:14,
                min:13,
            }],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>
