<template>
    <div class="bet_space credit_bet" >
		<el-container>
			<el-aside width="50%">
                <div class="game-title" >
                        <div class="icon-title">正一VS正二</div>
                </div>
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5299">{{mapByPlay[5299].name}} <span class="pl">{{mapByPlay[5299].bp | numFilter}}</span> <el-input v-model="finput[5299]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5300">{{mapByPlay[5300].name}} <span class="pl">{{mapByPlay[5300].bp | numFilter}}</span> <el-input v-model="finput[5300]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正一VS正三</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5301">{{mapByPlay[5301].name}} <span class="pl">{{mapByPlay[5301].bp | numFilter}}</span> <el-input v-model="finput[5301]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5302">{{mapByPlay[5302].name}} <span class="pl">{{mapByPlay[5302].bp | numFilter}}</span> <el-input v-model="finput[5302]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
		</el-container>
                
		<el-container>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正一VS正四</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5303">{{mapByPlay[5303].name}} <span class="pl">{{mapByPlay[5303].bp | numFilter}}</span> <el-input v-model="finput[5303]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5304">{{mapByPlay[5304].name}} <span class="pl">{{mapByPlay[5304].bp | numFilter}}</span> <el-input v-model="finput[5304]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正一VS特码</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5305">{{mapByPlay[5305].name}} <span class="pl">{{mapByPlay[5305].bp | numFilter}}</span> <el-input v-model="finput[5305]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5306">{{mapByPlay[5306].name}} <span class="pl">{{mapByPlay[5306].bp | numFilter}}</span> <el-input v-model="finput[5306]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
		</el-container>

		<el-container>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正二VS正三</div>
                </div>
                
                    <div class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5307">{{mapByPlay[5307].name}} <span class="pl">{{mapByPlay[5307].bp | numFilter}}</span> <el-input v-model="finput[5307]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5308">{{mapByPlay[5308].name}} <span class="pl">{{mapByPlay[5308].bp | numFilter}}</span> <el-input v-model="finput[5308]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正二VS正四</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5309">{{mapByPlay[5309].name}} <span class="pl">{{mapByPlay[5309].bp | numFilter}}</span> <el-input v-model="finput[5309]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5310">{{mapByPlay[5310].name}} <span class="pl">{{mapByPlay[5310].bp | numFilter}}</span> <el-input v-model="finput[5310]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
		</el-container>

		<el-container>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正二VS特码</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5311">{{mapByPlay[5311].name}} <span class="pl">{{mapByPlay[5311].bp | numFilter}}</span> <el-input v-model="finput[5311]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5312">{{mapByPlay[5312].name}} <span class="pl">{{mapByPlay[5312].bp | numFilter}}</span> <el-input v-model="finput[5312]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正三VS正四</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5313">{{mapByPlay[5313].name}} <span class="pl">{{mapByPlay[5313].bp | numFilter}}</span> <el-input v-model="finput[5313]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5314">{{mapByPlay[5314].name}} <span class="pl">{{mapByPlay[5314].bp | numFilter}}</span> <el-input v-model="finput[5314]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
		</el-container>

		<el-container>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正三VS特码</div>
                </div>
                
                    <div class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5315">{{mapByPlay[5315].name}} <span class="pl">{{mapByPlay[5315].bp | numFilter}}</span> <el-input v-model="finput[5315]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5316">{{mapByPlay[5316].name}} <span class="pl">{{mapByPlay[5316].bp | numFilter}}</span> <el-input v-model="finput[5316]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
			<el-aside width="50%">
                <div class="game-title" >
                    <div class="icon-title">正四VS特码</div>
                </div>
                
                    <div  class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5317">{{mapByPlay[5317].name}} <span class="pl">{{mapByPlay[5317].bp | numFilter}}</span> <el-input v-model="finput[5317]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                                <td colspan="3" class="col2 name" data-id="5318">{{mapByPlay[5318].name}} <span class="pl">{{mapByPlay[5318].bp | numFilter}}</span> <el-input v-model="finput[5318]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                            </tr>
                        </table>
                        
                    </div>
			</el-aside>
		</el-container>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

