<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第一球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5244"><span class="balls ">{{mapByPlay[5244].name}}</span> <span class="pl">{{mapByPlay[5244].bp | numFilter}}</span> <el-input v-model="finput[5244]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5245"><span class="balls ">{{mapByPlay[5245].name}}</span> <span class="pl">{{mapByPlay[5245].bp | numFilter}}</span> <el-input v-model="finput[5245]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5246"><span class="balls ">{{mapByPlay[5246].name}}</span> <span class="pl">{{mapByPlay[5246].bp | numFilter}}</span> <el-input v-model="finput[5246]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5247"><span class="balls ">{{mapByPlay[5247].name}}</span> <span class="pl">{{mapByPlay[5247].bp | numFilter}}</span> <el-input v-model="finput[5247]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5248"><span class="balls ">{{mapByPlay[5248].name}}</span> <span class="pl">{{mapByPlay[5248].bp | numFilter}}</span> <el-input v-model="finput[5248]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5249"><span class="balls ">{{mapByPlay[5249].name}}</span> <span class="pl">{{mapByPlay[5249].bp | numFilter}}</span> <el-input v-model="finput[5249]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5250"><span class="balls ">{{mapByPlay[5250].name}}</span> <span class="pl">{{mapByPlay[5250].bp | numFilter}}</span> <el-input v-model="finput[5250]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5251"><span class="balls ">{{mapByPlay[5251].name}}</span> <span class="pl">{{mapByPlay[5251].bp | numFilter}}</span> <el-input v-model="finput[5251]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5252"><span class="balls ">{{mapByPlay[5252].name}}</span> <span class="pl">{{mapByPlay[5252].bp | numFilter}}</span> <el-input v-model="finput[5252]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5253"><span class="balls ">{{mapByPlay[5253].name}}</span> <span class="pl">{{mapByPlay[5253].bp | numFilter}}</span> <el-input v-model="finput[5253]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5254"><span class="balls ">{{mapByPlay[5254].name}}</span> <span class="pl">{{mapByPlay[5254].bp | numFilter}}</span> <el-input v-model="finput[5254]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>                                       
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

