<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第二球</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5255"><span class="balls ">{{mapByPlay[5255].name}}</span> <span class="pl">{{mapByPlay[5255].bp | numFilter}}</span> <el-input v-model="finput[5255]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5256"><span class="balls ">{{mapByPlay[5256].name}}</span> <span class="pl">{{mapByPlay[5256].bp | numFilter}}</span> <el-input v-model="finput[5256]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5257"><span class="balls ">{{mapByPlay[5257].name}}</span> <span class="pl">{{mapByPlay[5257].bp | numFilter}}</span> <el-input v-model="finput[5257]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5258"><span class="balls ">{{mapByPlay[5258].name}}</span> <span class="pl">{{mapByPlay[5258].bp | numFilter}}</span> <el-input v-model="finput[5258]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5259"><span class="balls ">{{mapByPlay[5259].name}}</span> <span class="pl">{{mapByPlay[5259].bp | numFilter}}</span> <el-input v-model="finput[5259]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5260"><span class="balls ">{{mapByPlay[5260].name}}</span> <span class="pl">{{mapByPlay[5260].bp | numFilter}}</span> <el-input v-model="finput[5260]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5261"><span class="balls ">{{mapByPlay[5261].name}}</span> <span class="pl">{{mapByPlay[5261].bp | numFilter}}</span> <el-input v-model="finput[5261]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5262"><span class="balls ">{{mapByPlay[5262].name}}</span> <span class="pl">{{mapByPlay[5262].bp | numFilter}}</span> <el-input v-model="finput[5262]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5263"><span class="balls ">{{mapByPlay[5263].name}}</span> <span class="pl">{{mapByPlay[5263].bp | numFilter}}</span> <el-input v-model="finput[5263]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5264"><span class="balls ">{{mapByPlay[5264].name}}</span> <span class="pl">{{mapByPlay[5264].bp | numFilter}}</span> <el-input v-model="finput[5264]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5265"><span class="balls ">{{mapByPlay[5265].name}}</span> <span class="pl">{{mapByPlay[5265].bp | numFilter}}</span> <el-input v-model="finput[5265]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

