<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第三球</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5266"><span class="balls ">{{mapByPlay[5266].name}}</span> <span class="pl">{{mapByPlay[5266].bp | numFilter}}</span> <el-input v-model="finput[5266]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5267"><span class="balls ">{{mapByPlay[5267].name}}</span> <span class="pl">{{mapByPlay[5267].bp | numFilter}}</span> <el-input v-model="finput[5267]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5268"><span class="balls ">{{mapByPlay[5268].name}}</span> <span class="pl">{{mapByPlay[5268].bp | numFilter}}</span> <el-input v-model="finput[5268]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5269"><span class="balls ">{{mapByPlay[5269].name}}</span> <span class="pl">{{mapByPlay[5269].bp | numFilter}}</span> <el-input v-model="finput[5269]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5270"><span class="balls ">{{mapByPlay[5270].name}}</span> <span class="pl">{{mapByPlay[5270].bp | numFilter}}</span> <el-input v-model="finput[5270]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5271"><span class="balls ">{{mapByPlay[5271].name}}</span> <span class="pl">{{mapByPlay[5271].bp | numFilter}}</span> <el-input v-model="finput[5271]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5272"><span class="balls ">{{mapByPlay[5272].name}}</span> <span class="pl">{{mapByPlay[5272].bp | numFilter}}</span> <el-input v-model="finput[5272]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5273"><span class="balls ">{{mapByPlay[5273].name}}</span> <span class="pl">{{mapByPlay[5273].bp | numFilter}}</span> <el-input v-model="finput[5273]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5274"><span class="balls ">{{mapByPlay[5274].name}}</span> <span class="pl">{{mapByPlay[5274].bp | numFilter}}</span> <el-input v-model="finput[5274]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5275"><span class="balls ">{{mapByPlay[5275].name}}</span> <span class="pl">{{mapByPlay[5275].bp | numFilter}}</span> <el-input v-model="finput[5275]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5276"><span class="balls ">{{mapByPlay[5276].name}}</span> <span class="pl">{{mapByPlay[5276].bp | numFilter}}</span> <el-input v-model="finput[5276]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

