<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第四球</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5277"><span class="balls ">{{mapByPlay[5277].name}}</span> <span class="pl">{{mapByPlay[5277].bp | numFilter}}</span> <el-input v-model="finput[5277]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5278"><span class="balls ">{{mapByPlay[5278].name}}</span> <span class="pl">{{mapByPlay[5278].bp | numFilter}}</span> <el-input v-model="finput[5278]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5279"><span class="balls ">{{mapByPlay[5279].name}}</span> <span class="pl">{{mapByPlay[5279].bp | numFilter}}</span> <el-input v-model="finput[5279]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5280"><span class="balls ">{{mapByPlay[5280].name}}</span> <span class="pl">{{mapByPlay[5280].bp | numFilter}}</span> <el-input v-model="finput[5280]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5281"><span class="balls ">{{mapByPlay[5281].name}}</span> <span class="pl">{{mapByPlay[5281].bp | numFilter}}</span> <el-input v-model="finput[5281]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5282"><span class="balls ">{{mapByPlay[5282].name}}</span> <span class="pl">{{mapByPlay[5282].bp | numFilter}}</span> <el-input v-model="finput[5282]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5283"><span class="balls ">{{mapByPlay[5283].name}}</span> <span class="pl">{{mapByPlay[5283].bp | numFilter}}</span> <el-input v-model="finput[5283]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5284"><span class="balls ">{{mapByPlay[5284].name}}</span> <span class="pl">{{mapByPlay[5284].bp | numFilter}}</span> <el-input v-model="finput[5284]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5285"><span class="balls ">{{mapByPlay[5285].name}}</span> <span class="pl">{{mapByPlay[5285].bp | numFilter}}</span> <el-input v-model="finput[5285]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5286"><span class="balls ">{{mapByPlay[5286].name}}</span> <span class="pl">{{mapByPlay[5286].bp | numFilter}}</span> <el-input v-model="finput[5286]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5287"><span class="balls ">{{mapByPlay[5287].name}}</span> <span class="pl">{{mapByPlay[5287].bp | numFilter}}</span> <el-input v-model="finput[5287]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

