<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第五球</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5288"><span class="balls ">{{mapByPlay[5288].name}}</span> <span class="pl">{{mapByPlay[5288].bp | numFilter}}</span> <el-input v-model="finput[5288]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5289"><span class="balls ">{{mapByPlay[5289].name}}</span> <span class="pl">{{mapByPlay[5289].bp | numFilter}}</span> <el-input v-model="finput[5289]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5290"><span class="balls ">{{mapByPlay[5290].name}}</span> <span class="pl">{{mapByPlay[5290].bp | numFilter}}</span> <el-input v-model="finput[5290]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5291"><span class="balls ">{{mapByPlay[5291].name}}</span> <span class="pl">{{mapByPlay[5291].bp | numFilter}}</span> <el-input v-model="finput[5291]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5292"><span class="balls ">{{mapByPlay[5292].name}}</span> <span class="pl">{{mapByPlay[5292].bp | numFilter}}</span> <el-input v-model="finput[5292]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5293"><span class="balls ">{{mapByPlay[5293].name}}</span> <span class="pl">{{mapByPlay[5293].bp | numFilter}}</span> <el-input v-model="finput[5293]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5294"><span class="balls ">{{mapByPlay[5294].name}}</span> <span class="pl">{{mapByPlay[5294].bp | numFilter}}</span> <el-input v-model="finput[5294]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5295"><span class="balls ">{{mapByPlay[5295].name}}</span> <span class="pl">{{mapByPlay[5295].bp | numFilter}}</span> <el-input v-model="finput[5295]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5296"><span class="balls ">{{mapByPlay[5296].name}}</span> <span class="pl">{{mapByPlay[5296].bp | numFilter}}</span> <el-input v-model="finput[5296]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5297"><span class="balls ">{{mapByPlay[5297].name}}</span> <span class="pl">{{mapByPlay[5297].bp | numFilter}}</span> <el-input v-model="finput[5297]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5298"><span class="balls ">{{mapByPlay[5298].name}}</span> <span class="pl">{{mapByPlay[5298].bp | numFilter}}</span> <el-input v-model="finput[5298]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

