<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">任一中一</div>
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5233"><span class="balls ">{{mapByPlay[5233].name}}</span> <span class="pl">{{mapByPlay[5233].bp | numFilter}}</span> <el-input v-model="finput[5233]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5234"><span class="balls ">{{mapByPlay[5234].name}}</span> <span class="pl">{{mapByPlay[5234].bp | numFilter}}</span> <el-input v-model="finput[5234]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5235"><span class="balls ">{{mapByPlay[5235].name}}</span> <span class="pl">{{mapByPlay[5235].bp | numFilter}}</span> <el-input v-model="finput[5235]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5236"><span class="balls ">{{mapByPlay[5236].name}}</span> <span class="pl">{{mapByPlay[5236].bp | numFilter}}</span> <el-input v-model="finput[5236]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5237"><span class="balls ">{{mapByPlay[5237].name}}</span> <span class="pl">{{mapByPlay[5237].bp | numFilter}}</span> <el-input v-model="finput[5237]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5238"><span class="balls ">{{mapByPlay[5238].name}}</span> <span class="pl">{{mapByPlay[5238].bp | numFilter}}</span> <el-input v-model="finput[5238]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5239"><span class="balls ">{{mapByPlay[5239].name}}</span> <span class="pl">{{mapByPlay[5239].bp | numFilter}}</span> <el-input v-model="finput[5239]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5240"><span class="balls ">{{mapByPlay[5240].name}}</span> <span class="pl">{{mapByPlay[5240].bp | numFilter}}</span> <el-input v-model="finput[5240]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5241"><span class="balls ">{{mapByPlay[5241].name}}</span> <span class="pl">{{mapByPlay[5241].bp | numFilter}}</span> <el-input v-model="finput[5241]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5242"><span class="balls ">{{mapByPlay[5242].name}}</span> <span class="pl">{{mapByPlay[5242].bp | numFilter}}</span> <el-input v-model="finput[5242]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5243"><span class="balls ">{{mapByPlay[5243].name}}</span> <span class="pl">{{mapByPlay[5243].bp | numFilter}}</span> <el-input v-model="finput[5243]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>                                       
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

