<template>
    <div class="bet_space credit_bet" >
		<div class="game-title" >
			<div class="icon-title">总和</div>
		</div>
		
		<div  class="play-menu">
			<table>
				<tr>
					<td colspan="3" class="col2 name" data-id="5205"><span class="fonts long-fonts">{{mapByPlay[5205].name}}</span> <span class="pl">{{mapByPlay[5205].bp | numFilter}}</span> <el-input v-model="finput[5205]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5209"><span class="fonts long-fonts">{{mapByPlay[5209].name}}</span> <span class="pl">{{mapByPlay[5209].bp | numFilter}}</span> <el-input v-model="finput[5209]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td colspan="3" class="col2 name" data-id="5206"><span class="fonts long-fonts">{{mapByPlay[5206].name}}</span> <span class="pl">{{mapByPlay[5206].bp | numFilter}}</span> <el-input v-model="finput[5206]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5210"><span class="fonts long-fonts">{{mapByPlay[5210].name}}</span> <span class="pl">{{mapByPlay[5210].bp | numFilter}}</span> <el-input v-model="finput[5210]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td colspan="3" class="col2 name" data-id="5207"><span class="fonts long-fonts">{{mapByPlay[5207].name}}</span> <span class="pl">{{mapByPlay[5207].bp | numFilter}}</span> <el-input v-model="finput[5207]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5211"><span class="fonts long-fonts">{{mapByPlay[5211].name}}</span> <span class="pl">{{mapByPlay[5211].bp | numFilter}}</span> <el-input v-model="finput[5211]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td colspan="3" class="col2 name" data-id="5208"><span class="fonts long-fonts">{{mapByPlay[5208].name}}</span> <span class="pl">{{mapByPlay[5208].bp | numFilter}}</span> <el-input v-model="finput[5208]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5212"><span class="fonts long-fonts">{{mapByPlay[5212].name}}</span> <span class="pl">{{mapByPlay[5212].bp | numFilter}}</span> <el-input v-model="finput[5212]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>

		<el-container>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第一球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5213">{{mapByPlay[5213].name}} <span class="pl">{{mapByPlay[5213].bp | numFilter}}</span> <el-input v-model="finput[5213]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5214">{{mapByPlay[5214].name}} <span class="pl">{{mapByPlay[5214].bp | numFilter}}</span> <el-input v-model="finput[5214]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5215">{{mapByPlay[5215].name}} <span class="pl">{{mapByPlay[5215].bp | numFilter}}</span> <el-input v-model="finput[5215]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5216">{{mapByPlay[5216].name}} <span class="pl">{{mapByPlay[5216].bp | numFilter}}</span> <el-input v-model="finput[5216]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第二球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5217">{{mapByPlay[5217].name}} <span class="pl">{{mapByPlay[5217].bp | numFilter}}</span> <el-input v-model="finput[5217]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5218">{{mapByPlay[5218].name}} <span class="pl">{{mapByPlay[5218].bp | numFilter}}</span> <el-input v-model="finput[5218]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5219">{{mapByPlay[5219].name}} <span class="pl">{{mapByPlay[5219].bp | numFilter}}</span> <el-input v-model="finput[5219]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5220">{{mapByPlay[5220].name}} <span class="pl">{{mapByPlay[5220].bp | numFilter}}</span> <el-input v-model="finput[5220]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第三球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5221">{{mapByPlay[5221].name}} <span class="pl">{{mapByPlay[5221].bp | numFilter}}</span> <el-input v-model="finput[5221]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5222">{{mapByPlay[5222].name}} <span class="pl">{{mapByPlay[5222].bp | numFilter}}</span> <el-input v-model="finput[5222]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5223">{{mapByPlay[5223].name}} <span class="pl">{{mapByPlay[5223].bp | numFilter}}</span> <el-input v-model="finput[5223]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5224">{{mapByPlay[5224].name}} <span class="pl">{{mapByPlay[5224].bp | numFilter}}</span> <el-input v-model="finput[5224]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第四球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5225">{{mapByPlay[5225].name}} <span class="pl">{{mapByPlay[5225].bp | numFilter}}</span> <el-input v-model="finput[5225]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5226">{{mapByPlay[5226].name}} <span class="pl">{{mapByPlay[5226].bp | numFilter}}</span> <el-input v-model="finput[5226]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5227">{{mapByPlay[5227].name}} <span class="pl">{{mapByPlay[5227].bp | numFilter}}</span> <el-input v-model="finput[5227]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5228">{{mapByPlay[5228].name}} <span class="pl">{{mapByPlay[5228].bp | numFilter}}</span> <el-input v-model="finput[5228]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第五球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5229">{{mapByPlay[5229].name}} <span class="pl">{{mapByPlay[5229].bp | numFilter}}</span> <el-input v-model="finput[5229]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5230">{{mapByPlay[5230].name}} <span class="pl">{{mapByPlay[5230].bp | numFilter}}</span> <el-input v-model="finput[5230]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5231">{{mapByPlay[5231].name}} <span class="pl">{{mapByPlay[5231].bp | numFilter}}</span> <el-input v-model="finput[5231]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5232">{{mapByPlay[5232].name}} <span class="pl">{{mapByPlay[5232].bp | numFilter}}</span> <el-input v-model="finput[5232]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
		</el-container>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

