<template>
    <div class="bet_space official_bet">

            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 选择对子(11*,22*,33*,44*,55*,66*)投注，开奖号码中包含选择的对子即中奖</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label label-big-btn">
                        <el-tag >{{item.label}}
						</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF" style="margin-top: 8px;">
                                <span class="balls square-of"
                                    :ref="item.row+'-'+num"
                                    :data-row="item.row"
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>

        <BetBar :options="options" :ruleInfo="ruleInfo" ></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            error:false,
            errorMsg:'',
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            len:1,
            rule:'SSC5X_ZH',
            actionRule:'5X_DW',
            delimiter:' ',
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '号码',
                row: '0',
                nums: ['11*','22*','33*','44*','55*','66*'],
                max:6,
                min:5,
                maxball:10,
            }
            ],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>
