<template>
    <div class="game-center" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area" >
				<el-tabs type="border-card" v-if="betCfg[options.group_type]">
					<BetBar :type_id="options.type_id" :Chips="true"></BetBar>
					<el-tab-pane :label="item.label" v-for="(item,index) in tabs" :key="index">
						<div @click="addBet">
						<keep-alive>
							<component :is="item.tpl" v-on:checkAmount="changeAmount" ></component>
						</keep-alive>
						</div>
					</el-tab-pane>
					<BetBar :type_id="options.type_id" :Chips="false"></BetBar>
				</el-tabs>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar.vue';
import PreInfo from '@/components/game/pre-info.vue';
import play_index from '@/components/game/credit/k3/index.vue';

import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
				title:"广西快3",
                type_id:52,
                model:"credit",
                type_name:"gxk3",
                group_type:9,
            },
            default_view:play_index,
            tabs: [{
                label: '整合',
                tpl:play_index
            }
            ],
        }
    },
    methods: {

    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
			betAmount:"betAmount",
        }),
    },
    components: {
		BetBar,
		PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
