<template>
	<div class="game-center" >
		<div class="bet">
			<pre-info :options="options"></pre-info>
			<div class="bet-area" >
				<el-tabs type="border-card" v-if="betCfg[options.group_type]">
					<BetBar :type_id="options.type_id" :Chips="true"></BetBar>
					<el-tab-pane :label="item.label" v-for="(item,index) in tabs" :key="index">
						<div @click="addBet">
						<keep-alive>
							<component :is="item.tpl" v-on:checkAmount="changeAmount" ></component>
						</keep-alive>
						</div>
					</el-tab-pane>
					<BetBar :type_id="options.type_id" :Chips="false"></BetBar>
				</el-tabs>
			</div>
		</div>
	</div>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar.vue';
import PreInfo from '@/components/game/pre-info.vue';
import play_6 from '@/components/game/credit/ssc/6.vue';
import play_5 from '@/components/game/credit/ssc/5.vue';
import play_4 from '@/components/game/credit/ssc/4.vue';
import play_3 from '@/components/game/credit/ssc/3.vue';
import play_2 from '@/components/game/credit/ssc/2.vue';
import play_1 from '@/components/game/credit/ssc/1.vue';
import play_index from '@/components/game/credit/ssc/index.vue';

import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
				title:"30秒时时彩",
                type_id:101,
                model:"credit",
                type_name:"jc30sssc",
                group_type:1,
            },            
            default_view:play_index,
            tabs: [{
                label: '整合',
                tpl:play_index
            },{
                label: '第一球',
                tpl:play_1
            },{
                label: '第二球',
                tpl:play_2
            },{
                label: '第三球',
                tpl:play_3
            },{
                label: '第四球',
                tpl:play_4
            },{
                label: '第五球',
                tpl:play_5
            },{
                label: '龙虎斗',
                tpl:play_6
            }
            ],
        }
    },
    methods: {

    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
			betAmount:"betAmount",
        }),
    },
    components: {
		BetBar,
		PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
