<template>
    <div class="game-center" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area" >
				<el-tabs type="border-card" v-if="betCfg[options.group_type]">
					<BetBar :type_id="options.type_id" :Chips="true"></BetBar>
					<div class="dice-box" v-show="isQualified" >
						<!-- 擲骰子前 -->
						<img class="dices bg_pinned roll_before" v-show="isRollingBefore" :src="require('@/assets/images/ld/dices.jpg')">
						<!-- 擲骰子-前半 -->
						<img class="dices bg_pinned roll_ing" v-show="isRolling" :src="require('@/assets/images/ld/roll_dice.gif')">
						<!-- 擲骰子-後半 -->
						<img class="dices" :src="require('@/assets/images/ld/bg_dices.jpg')">
						<div class="dice dice1" :class="[playingState, dice[0]]" :style="{backgroundImage: 'url('+ sprite +')'}"></div>
						<div class="dice dice2" :class="[playingState, dice[1]]" :style="{backgroundImage: 'url('+ sprite +')'}"></div>
						<div class="dice dice3" :class="[playingState, dice[2]]" :style="{backgroundImage: 'url('+ sprite +')'}"></div>
						<span class="dice_tip">投注最大者可掷骰子</span>
						<img class="bar_btn scale_effect" v-show="isRollingBefore" @click.stop="bar()" v-loading.fullscreen.lock="fullscreenLoading" :src="require('@/assets/images/ld/btn_active.png')">

					</div>
					<div class="dice-box" v-show="!isQualified">
						<!-- 非下注最大 -->
						<img class="dices" :src="require('@/assets/images/ld/dices.jpg')">
						<span class="dice_tip">投注最大者可掷骰子</span>
						<img class="bar_btn" :src="require('@/assets/images/ld/btn_disabled.png')">
					</div>
					<el-tab-pane :label="item.label" v-for="(item,index) in tabs" :key="index">
						<div @click="addBet">
						<keep-alive>
							<component :is="item.tpl" v-on:checkAmount="changeAmount" :options="options"></component>
						</keep-alive>
						</div>
					</el-tab-pane>
					<BetBar :type_id="options.type_id" :Chips="false"></BetBar>
				</el-tabs>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar.vue';
import PreInfo from '@/components/game/pre-info.vue';
import play_index from '@/components/game/credit/ld/index.vue';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { apiGetCodeLD } from '@/api.js'
import sprite from '@/assets/images/ld/dice_sprite.png'
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
				title:"老捣",
                type_id:120,
                model:"credit",
                type_name:"ld",
                group_type:17,
            },
            default_view:play_index,
            tabs: [{
                label: '整合',
                tpl:play_index
            }
            ],
			sprite: sprite,
			dice:{
				0: "",
				1: "",
				2: "",
			},
			playingState:"pause",
			isQualified: true,
			isRolling: false,
			isRollingBefore: true,
			isRollingAfter: false,
			fullscreenLoading: false,
        }
    },
    methods: {
		bar(){
			//this.toast('Loading...',null,0,'loading'); // 防用户连点
			// 播放擲骰子 gif
			this.isRollingBefore = false;
			this.isRolling = true;
			// 拿到決定花色 (轉動綁定花色)
			let dice1Suit = 1;
			let dice2Suit = 1;
			let dice3Suit = 1;
			// API 請求拿開獎花色
			apiGetCodeLD({
				type_id : this.options.type_id,
				})
				.then(response => {
					//this.$createToast().hide();
					if(response.data.error)
					{
						this.isQualified=false;
						this.isRollingBefore = true;
						this.error_handler(response.data);
					}
					if(response.data.status)
					{
						let code=this.str_split(response.data.data);
						dice1Suit = code[0];
						dice2Suit = code[1];
						dice3Suit = code[2];
						let vm = this;
						setTimeout(function(){
							vm.isRolling = false;
							vm.setSuit(0,dice1Suit);
							vm.setSuit(1,dice2Suit);
							vm.setSuit(2,dice3Suit);
						}, 750); // gif時長
					}
					return;
				}).catch(error => {
					console.log(error);
					//this.$createToast().hide();
					return;
				});
			// 當期只能轉一次
			this.isRollingAfter =true;
		},
		rollDice(){

		},
		setSuit(diceNum, suitNum){
			this.dice[diceNum]= "suit_"+suitNum ;
		},
		clearSlotBar(){
			// 每期一分鐘結束後重置 (骰子花色 拉霸)
			this.isRollingBefore = true;
			this.isRollingAfter =false;
			this.playingState = "pause";
			this.dice[0]= "";
			this.dice[1]= "";
			this.dice[2]= "";
			this.isQualified = false;

			// 設定有沒有資格拉霸
			// this.isQualified = true;
		}
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
			betAmount:"betAmount",
        }),
    },
    components: {
		BetBar,
		PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.dice-box
	position relative
	margin-top: 20px;
.dice
	position absolute
	top 18%
	z-index 10
	width 14% !important
	padding-bottom: 14%;
	-moz-background-size:100% auto;
	-webkit-background-size:100% auto;
	-o-background-size:100% auto;
	background-size:100% auto;
	background-position: 0 0;
	animation-fill-mode: forwards;

.dice1
	left 7.5%;

.dice2
	left 27.5%;
	animation-duration: .7s
	animation-delay: 0.2s;

.dice3
	left 47%;
	animation-duration: .9s
	animation-delay: 0.4s;

.pause
	animation-play-state: paused;

.play
	animation-play-state: running;

.dice.suit_1
	animation: play 0.9s linear 1;
	background-position: 0% 0%;

.dice.suit_2
	animation: play 0.75s linear 1;
	background-position: 0% 20%;

.dice.suit_3
	animation: play 1s linear 1;
	background-position: 0% 40%;

.dice.suit_4
	animation: play 1.1s linear 1;
	background-position: 0% 59%;

.dice.suit_5
	animation: play 1.15s linear 1;
	background-position: 0% 80%;

.dice.suit_6
	animation: play 0.8s linear 1;
	background-position: 0% 100%;

.dices
	width 100% !important;
	height auto !important;
	border-radius: 5px;
.bg_pinned
	position absolute;
	top 0;
	left 0;

.roll_before
	z-index 25;

.roll_ing
	z-index 20;

@keyframes play {
	0% { background-position: 0% 0%; }
	100% { background-position: 0% 120%; }
}

.dice_tip
	font-size 12px
	color white
	position absolute
	top 10%
	right 3%
	z-index 30


.bar_btn
	position:absolute;
	z-index: 30;
	top: 34%;
	right: 9%;
	width 12% !important;
	height auto !important;


.scale_effect
	animation: rotate-scale-up 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both infinite;

@keyframes rotate-scale-up {
	0% { transform: scale(1) rotateZ(0); }
	50% { transform: scale(1.2) rotateZ(0); }
	100% { transform: scale(1) rotateZ(10deg); }
}

.grayscale
	filter: grayscale(90%);
</style>
