<template>
    <div class="game-center" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area" >
				<el-tabs type="border-card" v-if="betCfg[options.group_type]">
					<BetBar :type_id="options.type_id" :Chips="true"></BetBar>
					<el-tab-pane :label="item.label" v-for="(item,index) in tabs" :key="index">
						<div @click="addBet">
						<keep-alive>
							<component :is="item.tpl" v-on:checkAmount="changeAmount" ></component>
						</keep-alive>
						</div>
					</el-tab-pane>
					<BetBar :type_id="options.type_id" :Chips="false"></BetBar>
				</el-tabs>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar.vue';
import PreInfo from '@/components/game/pre-info.vue';
import play_13 from '@/components/game/credit/lhc/13.vue';
import play_12 from '@/components/game/credit/lhc/12.vue';
import play_11 from '@/components/game/credit/lhc/11.vue';
import play_10 from '@/components/game/credit/lhc/10.vue';
import play_9 from '@/components/game/credit/lhc/9.vue';
import play_8 from '@/components/game/credit/lhc/8.vue';
import play_7 from '@/components/game/credit/lhc/7.vue';
import play_6 from '@/components/game/credit/lhc/6.vue';
import play_5 from '@/components/game/credit/lhc/5.vue';
import play_4 from '@/components/game/credit/lhc/4.vue';
import play_3 from '@/components/game/credit/lhc/3.vue';
import play_2 from '@/components/game/credit/lhc/2.vue';
import play_1 from '@/components/game/credit/lhc/1.vue';
import play_index from '@/components/game/credit/lhc/index.vue';

import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
				title:"香港六合彩",
                type_id:90,
                model:"credit",
                type_name:"lhc",
                group_type:12,
            },
            default_view:play_index,
            tabs: [{
                label: '特码',
                tpl:play_index
            },{
                label: '两面',
                tpl:play_1
            },{
                label: '色波',
                tpl:play_2
            },{
                label: '特肖',
                tpl:play_3
            },{
                label: '特码头尾',
                tpl:play_4
            },{
                label: '正码',
                tpl:play_5
            },{
                label: '正码特',
                tpl:play_6
            },{
                label: '正码1-6',
                tpl:play_7
            },{
                label: '五行',
                tpl:play_8
            },{
                label: '平特一肖',
                tpl:play_9
            },{
                label: '平特尾数',
                tpl:play_10
            },{
                label: '正肖',
                tpl:play_11
            },{
                label: '七色波',
                tpl:play_12
            },{
                label: '总肖',
                tpl:play_13
            }
            ],
        }
    },
    methods: {

    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
			betAmount:"betAmount",
        }),
    },
    components: {
		BetBar,
		PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>