<template>
    <div class="game-center" >
        <div class="bet">
            <PreInfo :options="options"></PreInfo>
            <div class="bet-area" v-if="betCfg[options.group_type] && betGroupCheck[options.group_type]">
				<el-tabs type="border-card" v-model="selectMenu" @tab-click="click_play_menu">
					<el-tab-pane  :label="item.groupName" v-for="(item) in Groups" :name="item.id" :key="item.id" >
						<el-row>
							<div class="menu-group" @click="get_play_4dmenu('p-'+pitem.id,pitem.id,'max4d')" v-for="(pitem) in max4d_play(item.id)" :key="pitem.id" :data-id="pitem.id" :ref="'p-'+pitem.id"
							:class="{'checked':options.playedId == pitem.id}"
							>
								{{pitem.name}}
							</div>
						</el-row>
						<el-divider></el-divider>
						<component :is="default_view" :options="options" ref="bet_mun_area"></component>
					</el-tab-pane>
				</el-tabs>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import PreInfo from '@/components/game/pre-info-4d.vue';
import play_1 from '@/components/game/credit/max4d/4d_big.vue';
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            options:{
                title:"Max4D",
                type_id:127,
                model:"credit",
                type_name:"max4d",
                group_type:18,
                playedId:6644,
                gplayedId:265,
            },
            default_view:play_1,
            targetMenu:null,
            targetPMenu:[],
            selectMenu:'',
            max_4d_play_data:Object.freeze({
                '265':[
                    {
                        id:6644,
                        name:'4D大',
                    },
                    {
                        id:6645,
                        name:'4D小',
                    },
                    {
                        id:6646,
                        name:'4A',
                    },
                ],
                '266':[
                    {
                        id:6647,
                        name:'3ABC',
                    },
                    {
                        id:6648,
                        name:'3A',
                    },
                ],
                '267':[
                    {
                        id:6649,
                        name:'2ABC',
                    },
                    {
                        id:6650,
                        name:'2A',
                    },
                ],
                '268':[
                    {
                        id:6651,
                        name:'首奖单双',
                    },
                    {
                        id:6659,
                        name:'首奖高低',
                    },
                    {
                        id:6667,
                        name:'首奖位数',
                    }
                ],
            }),
        }
    },
    methods: {
        max4d_play(id)
        {
            return this.max_4d_play_data[id];
        },
        get_play_4dmenu(ref,id,path)
        {
   //          let target=this.$refs[ref][0];
   //          let str=target.className;
   //          if(this.targetPMenu)
   //          {
			// 	for(var key in this.targetPMenu)
			// 	{
			// 		this.$refs[this.targetPMenu[key]][0].className = this.$refs[this.targetPMenu[key]][0].className.replace(" checked", "");
			// 	}
   //          }else
			// {
			// 	this.$refs['p-'+this.options.gplayedId][0].className = this.$refs['p-'+this.options.gplayedId][0].className.replace(" checked", "");
			// }
			// this.targetMenu = target;
   //          this.targetPMenu=[];
   //          this.targetPMenu[this.selectMenu] = ref;
   //          target.className = str+" checked";
			this.options.playedId = id;
			this.default_view = require('@/components/game/credit/'+path+'/'+this.mapByPlay[id].tpl+'.vue').default;
			this.RestChooseBet();
            return;
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            mapByGroup:"mapByGroup",
			mapByGroupToPlay: "mapByGroupToPlay",
            betCfg:"betCfg",
			betGroupCheck:"betGroupCheck",
            mapByType:"mapByType",
			betAmount:"betAmount",
        }),
        Groups()
        {
            let Data = [];
            for(var key in this.mapByGroup[this.options.group_type])
            {
                Data.push({
                    "id":this.mapByGroup[this.options.group_type][key].id.toString(),
                    "groupName":this.mapByGroup[this.options.group_type][key].groupName,
                });
            }
            return Data;
        },
    },
    components: {
		BetBar,
		PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        if(!this.mapByGroup[this.options.group_type])
        {
            this.$store.dispatch('setGroup',this.options.group_type);
        }
        if(this.targetMenu==null)
        {
            this.selectMenu = this.options.gplayedId.toString();
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/bet-official.styl'
</style>
