<template>
    <div slot="content" >
		<div class="main-title">
			會員列表
		</div>
		<div class="mainBar">
			<el-date-picker
				v-model="filterData.Date"
				type="daterange"
				align="right"
				unlink-panels
				range-separator="至"
				start-placeholder="註冊开始日期"
				end-placeholder="註冊结束日期"
				:picker-options="DatePickerOptions">
			</el-date-picker>
			<el-input class="agent-member-list"
			v-model="filterData.UserName" placeholder="输入用戶名" clearable
			></el-input>
			<el-button type="primary" icon="el-icon-search" @click="showSearch">搜索</el-button>
			<el-button type="primary"  @click="addMember"><i class="fas fa-user-plus"></i> 添加下級會員</el-button>
		</div>
		<el-row class="user-padding">
			<div class="mainSearch" v-infinite-scroll="load" infinite-scroll-disabled="disabled">
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td class="td-head">會員名</td>
						<td class="td-head">注册</td>
						<td class="td-head">最后登录</td>
						<td class="td-head">额度</td>
						<td class="td-head">備註</td>
						<td class="td-head">操作</td>
					</tr>
					<tr v-for="(item, index) in results" class="record-item" :key="index"  :class="{'tr-color':index%2==1}">
						<td>{{ item.username }}</td>
						<td>{{ item.regTime }}</td>
						<td>{{ item.updateTime }}</td>
						<td style="text-align: right;">{{ item.coin }}</td>
						<td style="width: 300px;"><div class="recharge-info" v-if="item.memo!=''">{{ item.memo }}</div></td>
						<td><el-button type="primary" @click="editMember(index)" size="small"><i class="fas fa-pencil-alt"></i> 修改</el-button></td>
					</tr>
				</table>
				<p v-if="loading">加载中...</p>
				<p v-if="noMore && results.length > 0">没有更多了</p>
				<div class="no-record" v-if="!results.length">
					<img class="no-record-img" src="~assets/images/norecord.png">
					<div class="no-record-txt">暂无相关纪录</div>
				</div>
			</div>
		</el-row>

		<el-dialog :title="dialog.title" :visible.sync="dialog.dialogFormVisible" :destroy-on-close="true" :close-on-click-modal="false">
		  <el-form :model="form" :rules="rules" status-icon>
			<el-form-item label="帐号" prop="username" >
			  <el-input v-model="form.username" placeholder="請輸入帐号" :disabled="true"></el-input>
			</el-form-item>
			<el-form-item :label="'可用额度 : '+form.coin" prop="coin" style="margin-bottom: -10px;">
			  <el-input v-model="transfer" placeholder="請输入佔成" @keypress.native="$bet.onlyNumber()"></el-input>
			  <div style="padding-top: 10px;">
				<el-button type="danger" @click="amount_up" :disabled="!check_amount()" :loading="loading">存 入</el-button>
				<el-button type="success" @click="amount_down" :disabled="!check_amount()" :loading="loading">取 出</el-button>
			  </div>
			</el-form-item>
			<el-form-item label="備註" prop="memo">
			  <el-input v-model="form.memo" placeholder="請输入備註"  type="textarea" :rows="3"></el-input>
			</el-form-item>
		  </el-form>
		  <div slot="footer" class="dialog-footer">
			<el-button @click="dialog.dialogFormVisible = false">取 消</el-button>
			<el-button type="primary" @click="up" :disabled="form.username=='' || form.pwd=='' ">修 改</el-button>
		  </div>
		</el-dialog>

		<el-dialog :title="regdialog.title" :visible.sync="regdialog.dialogFormVisible" :destroy-on-close="true" :close-on-click-modal="false">
		  <el-form :model="form" :rules="rules" status-icon>
			<el-form-item label="帐号" prop="username" >
			  <el-input v-model="form.username" placeholder="請輸入帐号" ></el-input>
			</el-form-item>
			<el-form-item label="密碼" prop="pwd">
			  <el-input v-model="form.pwd" placeholder="請输入密碼" ></el-input>
			</el-form-item>
			<el-form-item label="備註" prop="memo">
			  <el-input v-model="form.memo" placeholder="請输入備註"  type="textarea" :rows="3"></el-input>
			</el-form-item>
		  </el-form>
		  <div slot="footer" class="dialog-footer">
			<el-button @click="regdialog.dialogFormVisible = false">取 消</el-button>
			<el-button type="primary" @click="register" :disabled="form.username=='' || form.pwd=='' ">确 定</el-button>
		  </div>
		</el-dialog>
    </div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiAgentList,apiAgentAdd,apiAgentUpdate,apiAgentAmountUP,apiAgentAmountDOWN } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin],
    data() {
        return {
			loading:false,
			noMore:false,
			disabled:false,
            filterData:{
                Date:'',
                UserName:'',
            },
			dialog:{
				title:'',
				dialogFormVisible:false,
			},
			regdialog:{
				title:'',
				dialogFormVisible:false,
			},
			form:{
				uid:'',
				username: '',
				coin: '',
				fenHong: '',
				pwd: '',
				memo: '',
			},
			transfer:0,
            results:[],
            current_page:1,
			rules: {
			  username: [
				{ required: true, message: '請輸入帳號', trigger: 'blur' },
			  ],
			  pwd: [
				{ required: true, message: '請輸入密碼', trigger: 'blur' },
			  ],
			  fenHong:[
				{ required: true, message: '請輸入佔成', trigger: 'blur' },
			  ]
			},
        }
    },
    methods: {
        check_amount()
        {
            if(this.transfer.amount <= 0)
            {
                return false;
            }
            if(!validator.num_pos_int(this.transfer))
            {
                return false;
            }
            return true;
        },
		amount_down()
		{
			let check = this.check_amount();
			if(!check)
			{
				this.toast('请输入额度');
				return
			}
			if(this.transfer > parseFloat(this.form.coin))
			{
				this.toast('额度不足');
				return;
			}
			this.loading = true;
			apiAgentAmountDOWN({
                uid:this.form.uid,
                amount:this.transfer,
			})
			.then(response => {
				this.loading = false;
				if(response.data.error)
				{
					this.toast(response.data.error,null);
					return;
				}
				if(response.data.msg)
				{
					this.form.coin=parseFloat(this.form.coin) - parseFloat(this.transfer);
					this.$store.dispatch('setCoin',response.data.coin);
					this.toast(response.data.msg);
					return;
				}
				return;
			}).catch(error => {
				this.loading = false;
				console.log(error);
				return;
			});
		},
        amount_up()
        {
            let check = this.check_amount();
            if(!check)
            {
                this.toast('请输入额度');
                return

            }
            if(this.transfer > this.user.coin)
            {
                this.toast('额度不足');
                return;
            }
			this.loading = true;
            apiAgentAmountUP({
                uid:this.form.uid,
                amount:this.transfer,
            })
            .then(response => {
				this.loading = false;
                if(response.data.error)
                {
                    this.toast(response.data.error,null);
                    return;
                }
                if(response.data.msg)
                {
                    this.form.coin=parseFloat(this.form.coin)+parseFloat(this.transfer);
                    this.$store.dispatch('setCoin',response.data.coin);
                    this.toast(response.data.msg);
                    return;
                }
                return;
            }).catch(error => {
				this.loading = false;
                console.log(error);
                return;
            });
        },
        addMember()
        {
			this.regdialog.dialogFormVisible=true;
			this.regdialog.title="添加下級";
			this.form={
				username:'',
				pwd:'',
				fenHong:0,
				memo:'',
			}
            return;
        },
        editMember(index)
        {
			this.dialog.dialogFormVisible=true;
			this.dialog.title="修改下級";
			this.dialog.edit=true;
			this.form={
				uid:this.results[index].uid,
				username:this.results[index].username,
				coin:this.results[index].coin,
				fenHong:this.results[index].fenHong,
				memo:this.results[index].memo,
				uid:this.results[index].uid,
			}
            return;
        },
        up()
        {
            // if(this.form.fanDian > this.user.fanDian || this.form.fanDian < 0){
            //     this.toast('返点不可大于'+this.user.fanDian);
            //     return;
            // };
            if(this.form.fenHong > this.user.fenHong || this.form.fenHong < 0){
                this.toast('占成不可大于'+this.user.fenHong);
                return;
            };
			this.dialog.dialogFormVisible = false;
            apiAgentUpdate({
                uid:this.form.uid,
                //fandian:this.form.fanDian,
				fenHong:this.form.fenHong,
				memo:this.form.memo,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.toast(response.data.error,null);
                    return;
                }
                if(response.data.msg)
                {
                    this.toast(response.data.msg);
					this.getLog(1);
                    return;
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
        register(){
            if(!validator.isUsername(this.form.username)){
                this.toast('帐号格式不正确');
                return;
            };
            if(this.form.fenHong > this.user.fenHong || this.form.fenHong < 0){
                this.toast('佔成不可大于'+this.user.fenHong);
                return;
            };
			this.dialogFormVisible = false;
            apiAgentAdd({
                username:this.form.username,
                password:this.form.pwd,
                fenHong:this.form.fenHong,
                memo:this.form.memo,
				type:0,
                client_type:'web',
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    this.toast(response.data.msg);
					this.getLog(1);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
        showSearch(value,data)
        {
			this.loading=false;
			this.noMore=false;
			this.disabled=false;
			this.current_page=1;
			this.getLog(this.current_page);
        },
        getLog(page)
        {
			this.loading = true;
			let fromTime = "";
			let toTime = "";
			if(this.filterData.Date)
			{
				fromTime = moment(this.filterData.Date[0]).format("YYYY-MM-DD");
				toTime = moment(this.filterData.Date[1]).format("YYYY-MM-DD");
			}
            apiAgentList({
                page: page,
                username: this.filterData.UserName,
                fromTime: fromTime,
                toTime: toTime,
				type:0,
                })
                .then(response => {
                    if(response.data.error)
                    {
						this.stopLoad();
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
							this.stopLoad();
                            return;
                        }
						if(response.data.data.length<20)
						{
							this.stopLoad();
						}
                        this.results=this.results.concat(response.data.data);
                    }
					this.loading = false;
                    return;
                }).catch(error => {
					this.stopLoad();
                    console.log(error);
                    return;
                });
        },
		load () {
			if(!this.loading )
			{
				this.loading = true;
				setTimeout(() => {
					this.current_page++;
					this.getLog(this.current_page);
				}, 1500)
			}
		},
    },
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	overflow-y scroll;
	height 100%;
	font-size: 0.9rem;
	.record-item
		margin-bottom 1px;
		padding: 0px 10px;
	.recharge-info
		background: #ebeef5;
		padding: 5px 10px;
		border-radius: 5px;
		line-height: 25px;
</style>
