.game-center
	.bet
		.bet-area
			.menu-group
				float: left;
				width: 18%;
				border: 1px #ddd solid;
				font-size: 0.9rem;
				margin: 5px 2px;
				border-radius: 5px;
				padding: 10px 3px;
				text-align: center;
				cursor pointer;
			.checked
				background-color: rgba(102,177,255,0.1);
				border: 1px solid #66b1ff;
			.official_bet
				left: 0px;
			.addOF
				background-color: #409eff;
				border: 1px solid #66b1ff;
				color: #fff !important;
			.addOF:hover
				background-color: #409eff !important;
				border: 1px solid #66b1ff !important;
				color: #fff !important;
			.bet-error-mag
				padding: 15px;
				color: #ff5151;
			.padding
				padding: 15px;
			.play-info
				font-size: .9rem;
				text-align: left;
				padding: 3px 10px;
				line-height: 20px;
			.icon-info
				color: #66b1ff;
			.betBlock
				margin-bottom: 5px;
				border-bottom: 1px #ddd solid;
				overflow: hidden;
				.numBlock
					display: flex;
					.label
						width: 100px;
						line-height: 75px;
						.betToolIcon
							margin-top: -23px;
							font-size: 1.25rem;
							color: #c0c0c0;
						.title
							line-height: 75px;
					.label-big-btn
						line-height: 111px;
					.label-big-btn-2-line
						line-height: 186px;
					.nums
						width 100%;
						line-height: 45px;
						li
							float left;
							width 10%;
							list-style: none;
						.dxds_ul
							line-height: 50px;
					.balls
						line-height: 2rem;
						font-size: 1.4rem;
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						cursor pointer;
					.balls:hover
						background-color: rgba(102,177,255,0.1);
					.square-of
						border-radius: 0.3rem;
						padding: 15px;
						width: unset;
						margin-bottom: 10px;
				.betTool
					display: flex;
					padding: 10px 15px;
					justify-content: space-between;
					width: 420px;
					.betToolItem
						border: 1px #ddd solid;
						width: 15%;
						height: 30px;
						border-radius: 5px;
						line-height: 30px;
						margin-right: 10px;
						background: #efefef;
						margin-top: 10px;
						cursor pointer;
				.betTool-2-line
					margin-top 22px;
