body,html
	height:100%;
	font-size:16px;
	color :#333;
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,SimSun,sans-serif;
	text-align center;
.default-body
	width 100%
	.default-content
		width 1180px
		margin: auto;
.card-red
	color #F56C6C;
	padding: 10px 0px;
.green-bgcolor
	background: #04be02;
.red-bgcolor
	background: #f64848;
.red-color
	color: #f64848;
.blue-color
	color: #409eff;
.blue-bgcolor
	background: #409eff;
.bonus-color
	color #f02828 !important;
.nbonus-color
	color #188217 !important;
.bonus-bgcolor
	background #c52b2b !important;
.nbonus-bgcolor
	background #188217 !important;
.agent-color
	color #e8864c;
.member-color
	color #61b6e5;
.round
	display: inline-block;
	text-align: center;
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 50%;
	color: #fff;
	margin-top: 1.1rem;
	margin-right: 0.5rem;
	margin-bottom: 0.3rem;
	line-height: 2.3rem;
	font-size: 1.3rem;
.code-title
	color: #909399
.title-mark
	width: 4px;
	height: 18px;
	background: #409eff;
	left: 0;
	margin-top: 3px;
.title-content
	margin-left: 10px;
.title-sub-content
	font-size: .85rem;
	margin-left: 10px;
	line-height: 20px;
.resultPos
	color: #19b4f5;
	text-align: center;
	margin-right: 1.68rem;
	font-size: 1.1rem;
.roundPos
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
.resultData
	border: solid 1px #17b1f2;
	border-radius: 4px;
	text-decoration: none;
	color: #19b4f5;
	text-align: center;
	margin-right: 0.3rem;
	font-size: 1.1rem;
	line-height: 2rem;
	display: inline-block;
	margin-top: 0.8rem;
	margin-bottom: 0.3rem;
	padding: 2px 5px;
	min-width: 1.1rem;
.square
	display: inline-block;
	text-align: center;
	width: 2.1rem;
	height: 2.6rem;
	color: #fff;
	margin-top: 0.7rem;
	margin-right: 0.2rem;
	margin-bottom: 0.3rem;
	line-height: 2.6rem;
	font-size: 1.5rem;
	border-radius: 3px;
	font-style: italic;
	-webkit-text-stroke: 0.3px #333;
	font-weight: 600;
.pcdd-add
	display: inline-block;
	margin-left: -8px;
	font-size: 1.2rem;
.pcround
	border: 1px #17b1f2 solid !important;
	color: #17b1f2 !important;
	margin-bottom 1px;
.color1
	background-color: #e5b800;
.color2
	background-color: #0278d7;
.color3
	background-color: #474c50;
.color4
	background-color: #f17403;
.color5
	background-color: #25b5cb;
.color6
	background-color: #003e92;
.color7
	background-color: #aa9e9e;
.color8
	background-color: #ea075f;
.color9
	background-color: #7e0209;
.color10
	background-color: #288c06;
.lhc_red
	color: #ff5151 !important;
.lhc_green
	color: #3fa93f !important;
.lhc_blue
	color: #2f84e5 !important;
.lhc_bg_red
	background-color: #ff5151 !important;
	color: #fff !important;
.lhc_bg_green
	background-color: #3fa93f !important;
	color: #fff !important;
.lhc_bg_blue
	background-color: #2f84e5 !important;
	color: #fff !important;
.k3
	width: 3rem;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.3rem;
	display: inline-block;
	vertical-align: middle;
.ld
	width: 6rem;
	margin-top: 1rem;
	margin-right: 1rem;
.pcdd_red
	background: #ff5151 ;
	color: #fff !important;
.pcdd_green
	background-color: #3fa93f ;
	color: #fff !important;
.pcdd_blue
	background-color: #2f84e5 ;
	color: #fff !important;
.pcdd_bg_red
	background-color: #ff5151 ;
	color: #fff !important;
.pcdd_no
	background: gray ;
	color: #fff !important;
.pcdd_bg_green
	background-color: #3fa93f ;
	color: #fff !important;
.pcdd_bg_blue
	background-color: #2f84e5 ;
	color: #fff !important;
.pcdd_bg_no
	background-color: gray ;
	color: #fff !important;
	border: 1px gray solid;
.app-sub-title
	font-size: 0.7rem;
	color: rgb(144, 147, 153);
	text-align: center;
.zod-size
	display: inline-block;
	text-align: center;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	margin-right: 1rem;
	margin-top: 0.2rem;
	margin-bottom: .25rem;
.body-center
	.round
		display: inline-block;
		text-align: center;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		color: #fff;
		margin-top: 1.1rem;
		margin-right: 1rem;
		margin-bottom: 0.3rem;
		line-height: 3rem;
		font-size: 1.5rem;
	.square
		display: inline-block;
		text-align: center;
		width: 2.6rem;
		height: 3rem;
		color: #fff;
		margin-top: 1.1rem;
		margin-right: 0.5rem;
		margin-bottom: 0.3rem;
		line-height: 3rem;
		font-size: 1.8rem;
		border-radius: 3px;
		font-style: italic;
		-webkit-text-stroke: 0.3px #333;
		font-weight: 600;
	.k3
		width: 3rem;
		margin-top: 1.1rem;
		margin-right: 1rem;
		margin-bottom: 0.3rem;
		display: inline-block;
		vertical-align: middle;
.game-center
	.bet-area
		margin-top 10px
		.credit_bet
		.bet_space
			.cart-button-icon
				margin-right 3px;
			.clear-number-button
				width 150px;
				height 45px;
			.playmenu-enter,.playmenu-leave-to
				max-height 0px
			.playmenu-enter-to,.playmenu-leave
				max-height 350px
			.playmenu-enter-active,.playmenu-leave-active
				transition all 0.2s
			.el-aside
				margin-right: 2px;
			.game-title
				font-size 1.2rem
				background #F2F6FC
				padding 8px
				margin-top 10px
				border-radius 5px
			.play-menu
				width 100%
				overflow hidden;
				table
					border-collapse: unset;
					border-spacing: 10px;
					width 100%
			.name
				line-height: 45px;
				text-align: center;
				border: 1px solid #ddd;
				border-radius: 4px;
				font-weight: 600;
				margin-right 10px;
				cursor: pointer;
			.pl
				color: #F56C6C;
				line-height: 7px;
				font-size: 0.9rem;
				font-weight: 400;
				margin-right 10px;
				display: inline-block;
				width: 2.5rem;
			.input-amount
				width 4rem;
			.addbet
				background-color: rgba(102,177,255,0.1) !important;
				border: 1px solid #66b1ff !important;
			.balls
				display: inline-block;
				text-align: center;
				width: 1.6rem;
				height: 1.6rem;
				border-radius: 0.9rem;
				color: #409eff;
				line-height: 1.7rem;
				font-size: 1.2rem;
				border: 1px #409eff solid;
				margin: 0px 0.3rem;
			.balls2
				display: inline-block;
				text-align: center;
				width: 1.6rem;
				height: 1.6rem;
				border-radius: 0.9rem;
				line-height: 1.7rem;
				font-size: 1.2rem;
			.balls3
				width: 2rem;
				height: 2rem;
				border-radius: 1rem;
				line-height: 2rem;
			.five-balls-space
				display: inline-block;
				width: 11rem;
			.ten-balls-space
				display: inline-block;
				width: 23rem;
				text-align: left;
			.fonts
				display: inline-block;
				text-align: center;
				width: 2.4rem;
				height: 1.6rem;
				font-size: 1.2rem;
			.long-fonts
				width: 4rem;
				font-size: 1rem;
			.sort-fonts
				width: 2.5rem;
				font-size: 1rem;
			.square
				display: inline-block;
				text-align: center;
				color: #409eff;
				font-size: 1.6rem;
				font-weight: 600;
				font-style: italic;
				-webkit-text-stroke: 1px #333;
				margin-top: 0.5rem;
				margin-right: 0.5rem;
				width unset;
			.color1
				color: #e5b800;
				background-color: unset;
			.color2
				color: #0278d7;
				background-color: unset;
			.color3
				color: #474c50;
				background-color: unset;
			.color4
				color: #f17403;
				background-color: unset;
			.color5
				color: #25b5cb;
				background-color: unset;
			.color6
				color: #003e92;
				background-color: unset;
			.color7
				color: #aa9e9e;
				background-color: unset;
			.color8
				color: #ea075f;
				background-color: unset;
			.color9
				color: #7e0209;
				background-color: unset;
			.color10
				color: #288c06;
				background-color: unset;
			.k3
				width: 2rem;
				margin-top: 0.5rem;
				margin-right: 0.5rem;
				margin-bottom: 0.5rem;
			.ld
				width: 3rem;
			.pcdd_red
				color: #ff5151 !important;
				background-color: unset;
			.pcdd_green
				color: #3fa93f !important;
				background-color: unset;
			.pcdd_blue
				color: #2f84e5 !important;
				background-color: unset;
			.zh_img
				width 120px;
				margin-bottom: -15px;
.mainSearch
	table
		width: 100%;
		padding: 10px 20px;
		font-size .95rem;
		tr:hover
			background: #f5f7fa;
		td
			border-bottom: 1px solid #ebeef5;
			padding: 12px 10px;
			box-sizing: border-box;
			text-overflow: ellipsis;
			vertical-align: middle;
			position: relative;
			text-align: left;
		.td-head
			text-align left;
	.tr-color
		background: #fafafa;
	.round
		display: inline-block;
		text-align: center;
		width: 1.8rem;
		height: 1.8rem;
		border-radius: 50%;
		color: #fff;
		margin-top: 0.3rem;
		margin-right: .5rem;
		margin-bottom: 0.3rem;
		line-height: 1.8rem;
		font-size: 1.2rem;
	.square
		display: inline-block;
		text-align: center;
		width: 2.2rem;
		height: 2.7rem;
		color: #fff;
		margin-top: 0.3rem;
		margin-right: 0.5rem;
		margin-bottom: 0.3rem;
		line-height: 2.8rem;
		font-size: 1.5rem;
		border-radius: 3px;
		font-style: italic;
		-webkit-text-stroke: 0.3px #333;
		font-weight: 600;
	.k3
		width: 2.3rem;
		margin-top: 0.3rem;
		margin-right: 1rem;
		margin-bottom: 0.3rem;
		display: inline-block;
		vertical-align: middle;
	.zh_img
		width: 4rem;
	.no-record
		margin: 30px auto;
	.no-record-txt
		color: #999;
		font-size: 14px;
		margin: 14px auto;
	.no-record-img
		width 121px;
.rules
	h1
		margin: 20px 25px;
		font-weight: 600;
		font-size: 1.1rem;
		margin-bottom: 0.75em;
	ul
		list-style-type: disc;
	li
		margin: 0px 25px;
		line-height: 1.4;
		list-style-type: disc;
		margin-bottom: 0.75em;
		word-break: break-all;
		font-size: 0.95rem;
		text-align: left;
.keyboard_block
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 2000px;
	z-index: -1;
	background: rgba(0,0,0,.5);
	position: fixed;
.keyboard_block_video
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 2000px;
	z-index: 9999;
	background: rgba(0,0,0,.5);
	position: fixed;
.el-dialog__header
	background-color: #409eff;
.el-dialog__title
	color: #ffffff !important;
.el-dialog__headerbtn .el-dialog__close
	color: #409eff;
	border-radius: 50%;
	padding: 3px;
	background-color: #fff;
@media screen and (max-width: 1024px){
	.default-head{
		width: 1180px !important;
	}
	.default-foot{
		width: 1180px !important;
	}
}
