<template>
	<div class="bet-bar">
		<el-row v-if="Chips==true">
			<el-tag
				:key="tag"
				v-for="tag in dynamicTags"
				closable
				:disable-transitions="false"
				@click.stop="add_amount(tag)"
				@close.stop="handleClose(tag)"
				class="tag-amount"
			>
			{{tag}}
			</el-tag>
			<el-input
				class="input-new-tag"
				v-if="inputVisible"
				v-model="inputValue"
				ref="saveTagInput"
				size="small"
				@keyup.enter.native="handleInputConfirm"
				@blur="handleInputConfirm"
			>
			</el-input>
			<el-button v-else class="button-new-tag" size="small" @click.stop="showInput">+ 設置籌碼</el-button>
		</el-row>
		<el-row class="input-area">
			<el-col >
				<div class='count'>
					<span >共<span  class="colorInherit blue-color" > {{betCount()}} </span>注</span>
				</div>
				<el-input v-model="amount" placeholder="金額"  class="input-amount" @blur="setAmount" @keypress.native="$bet.onlyNumber()"></el-input>
				<el-button type="danger" @click.stop="postBet">下注</el-button>
				<el-button icon="el-icon-delete" @click.stop="restBet">清除</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin],
    data() {
        return {
			dynamicTags: [10, 100, 500, 1000,3000,10000],
			inputVisible: false,
			inputValue: '',
			amount:10,
        }
    },
    props: ['type_id','Chips','options'],
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay: "mapByPlay",
            currentIssue: "currentIssue",
			betAmount:"betAmount",
			user: "user",
			config: "config",
        }),

    },
	mounted: function() {
		this.amount = this.betAmount;
	},
	watch:{
		betAmount:function (value){
			this.amount = this.betAmount;
		},
	},
    methods: {
		setAmount()
		{
			if(!validator.isNumber(this.amount))
			{
				this.toast("請輸入數字");
			}
			this.$store.dispatch('setBetAmount',parseInt(this.amount));
		},
        betCount(){
            if(this.betData)
            {
                return this.betData.length;
            }else
            {
                return '0';
            }
        },
		handleClose(tag) {
			this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
		},
		showInput() {
			this.inputVisible = true;
			this.$nextTick(_ => {
				this.$refs.saveTagInput.$refs.input.focus();
			});
		},
		handleInputConfirm() {
			let inputValue = this.inputValue;
			if (inputValue) {
				if(!validator.isNumber(inputValue))
				{
					this.toast("請輸入數字");
				}else
				{
					this.dynamicTags.push(inputValue);
				}
			}
			this.inputVisible = false;
			this.inputValue = '';
		},
		add_amount(num){
			if(this.betAmount!='')
			{
				this.$store.dispatch('setBetAmount',parseInt(this.betAmount) + parseInt(num));
				this.amount=this.betAmount;
			}
		},
    },
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.bet-bar
	text-align center
	.tag-amount
		cursor: pointer;
	.el-tag + .el-tag
		margin-left 10px
	.button-new-tag
		margin-left 10px
		height 32px
		line-height 30px
		padding-top 0
		padding-bottom 0
	.input-new-tag
		width 90px
		margin-left 10px
		vertical-align bottom
	.input-area
		margin-top 10px
		.count
			display: inline-block;
		.input-amount
			width: 80px;
			margin-right 5px;

</style>
