<template>
	<div class="bet-bar">
		<el-row class="input-area">
			<el-col>
				<div class='count'>
					<span >共<span class="colorInherit blue-color"> {{betCount()}} </span>注 <span class="colorInherit blue-color">{{betCoin()}}</span> 元</span>
				</div>
				<div class='import_input'>
					<div class="button-plus" @click.stop='beiShuClick(-1)'>
						<i class="fas fa-minus"  ></i>
					</div>
					<el-popover
					  placement="top"
					  v-model="visible">
					  <div class="fast-beiShu" @click.stop='beiShuClick(1)'>+ 1</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(2)'>+ 2</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(3)'>+ 3</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(4)'>+ 4</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(5)'>+ 5</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(6)'>+ 6</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(7)'>+ 7</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(8)'>+ 8</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(9)'>+ 9</div>
					  <div class="fast-beiShu" @click.stop='beiShuClick(10)'>+ 10</div>
						<el-input slot="reference" v-model="amount" placeholder="金額"  class="input-amount" @blur="setAmount" @keypress.native="$bet.onlyNumber()"></el-input>
					</el-popover>
					<div class="button-plus"  @click.stop='beiShuClick(1)'>
						<i class="fas fa-plus"></i>
					</div>
					<!-- <div class='count'>倍</div> -->
				</div>
				<el-button type="danger" @click.stop="fastBet"><i class="fas fa-fire cart-button-icon"></i> 下注</el-button> <el-button @click.stop="restBet"  icon="el-icon-delete"> 清除</el-button>
			</el-col>
		</el-row>
<!-- 		<el-row style="margin-top: 15px;">
			<el-col :span="20">
				<div class="cart-wrapper-title">
					<div class="top-border"></div>
				</div>
				<el-row>
					<el-table
					:data="CartData"
					border
					stripe
					style="width: calc(100% - 10px);margin-left: 5px;margin-top: -5px;">
					<el-table-column prop="actionName" label="玩法" align="center">
					</el-table-column>
					<el-table-column prop="betData" label="號碼" align="center" show-overflow-tooltip width="200px">
					</el-table-column>
					<el-table-column prop="bonus" label="獎金" align="center">
					</el-table-column>
					<el-table-column prop="betCount" label="注數" align="center">
					</el-table-column>
					<el-table-column prop="beiShu" label="倍數" align="center">
					</el-table-column>
					<el-table-column prop="actionAmount" label="金額" align="center">
					</el-table-column>
					<el-table-column prop="playedId" label="操作" align="center">
						<template slot-scope="scope">
							<div @click="handleDelete(scope.$index, scope.row)"><i class="fas fa-times-circle cart-del-icon" ></i></div>
						</template>
					</el-table-column>
					</el-table>
				</el-row>
			</el-col>
			<el-col :span="4" style="margin-top: 25px;">
				<div style="margin-bottom: 8px;">
					<el-button @click.stop="postBet_OF" type="danger"><i class="fas fa-marker cart-button-icon"></i> 確認投注</el-button>
				</div>
				<div style="margin-bottom: 8px;">
					<el-button @click.stop="randBet_OF" type="primary"><i class="fas fa-random cart-button-icon"></i> 機選一注</el-button>
				</div>
				<div style="margin-bottom: 8px;">
					<el-button @click.stop="set_zhuihao" type="primary"><i class="fas fa-search-plus cart-button-icon"></i> 我要追號</el-button>
				</div>
				<div style="margin-bottom: 8px;">
					<el-button @click.stop="restBet" type="primary"><i class="fas fa-trash-alt cart-button-icon"></i> 清除號碼</el-button>
				</div>
			</el-col>
		</el-row> -->
<!-- 		<el-dialog :title="'追號'" :visible.sync="show_zhuihao" width="650px">
			<component :is="zhuihao_view" :options="options" v-on:callback="zhuihao_back"></component>
		</el-dialog> -->
	</div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
			visible: false,
			amount:10,
			zhuihao_view:null,
			show_zhuihao:false,
			show_block:false,
        }
    },
    props: ['type_id','Chips','options','ruleInfo'],
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay: "mapByPlay",
            currentIssue: "currentIssue",
			betAmount:"betAmount",
			user: "user",
			beiShu: "beiShu",
			CartData: "CartData",
			config: "config",
        }),
    },
    methods: {
		fastBet()
		{
			this.addCart();
			this.postBet_4d();
		},
		zhuihao_back()
		{
			this.show_zhuihao = !this.show_zhuihao;
		},
        set_zhuihao()
        {
            this.show_zhuihao = true;
            this.zhuihao_view = require('@/page/game/zhuihao.vue').default;
        },
		handleDelete(index,row)
		{
			this.$store.commit('DelCartData',index);
		},
        beiShuClick(num){
            var beiShu=1;
            if(this.beiShu!='')
            {
                if(num==0)
                {
                    beiShu = (parseInt(this.beiShu) *10);
                }
                else
                {
                    beiShu = (parseInt(this.beiShu) + num);
                }
            }else
            {
                beiShu=num;
            }
            if(beiShu < 1)
            {
                beiShu = 1;
            }
			this.amount = beiShu;
            this.$store.commit('SetBeiShu',beiShu.toString());
        },

		setAmount()
		{
			if(!validator.isNumber(this.amount))
			{
				this.toast("請輸入數字");
			}
			this.$store.dispatch('setBetAmount',parseInt(this.amount));
			this.$store.commit('SetBeiShu',this.amount);
		},
        betCount(){
            var betCount = 0;
            for(var i = 0 ;i < this.betData.length;i++)
            {
                betCount += this.betData[i].betCount;
            }
            return betCount;
        },
        betCoin(){
            if(this.betData)
            {
                return this.betCount()*parseInt(this.beiShu)*1;
            }else
            {
                return '0';
            }
        },
    },
    created() {
		this.$store.commit('SetBeiShu','10');
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.bet-bar
	text-align center;
	.cart-table
		width: calc(100% - 10px);margin-left: 5px;margin-top: -5px;
	.cart-del-icon
		font-size 1.2rem;
		cursor: pointer;
	.cart-wrapper-title
		height: 16px;
		width: 100%;
		border: 1px solid #d9d7d2;
		border-radius: 8px;
		background-color: #efeeeb;
		z-index: 0;
		position: relative;
		border-bottom: none;
		.top-border
			height: 8px;
			width: calc(100% - 10px);
			background: #434548;
			margin: 4px auto 0;
			border-radius: 4px;
	.input-area
		margin-top 10px
		.count
			display: inline-block;
			line-height: 40px;
		.input-amount
			width: 50px;
			margin-right 5px;
		.import_input
			display: inline-flex;
			.input
				border: 1px solid #ccc;
				height: 25px;
				text-align: center;
				width: 50px;
				overflow: hidden;
				padding: 5px;
				border-radius: 3px;
				background: #fff;
				line-height: 25px;
				margin-top: 11px;
				margin-right: 3px;
			.button-plus
				text-align center;
				border: 1px solid #ccc;
				width: 35px;
				height: 28px;
				padding: 5px;
				border-radius: 3px;
				line-height: 28px;
				margin-right: 3px;
				background: #efefef;
				cursor pointer;
.fast-beiShu
	margin-bottom 2px;
	border-bottom 1px #ddd dashed;
	line-height 30px;
	text-align center;
	cursor pointer;
</style>
