<template>
    <div class="showCode" :class="{'showCode-fixed':show_block}">
		<el-card class="card" @click="selectItem">
			<el-row v-if="last && current" class="code-wrap">
				<el-container>
					<el-aside width="540px" class="count-area">
						<el-container>
							<el-aside v-if="options.group_type!=6" width="150px" style="margin-top: 0px;margin-left: 0px;">
								<el-row >
									<el-col>
										<el-image :src="require('@/assets/images/lottery/'+options.type_id+'.png')" fit="contain" style="width: 113px;height: 113px;" >
										</el-image>
									</el-col>
									<el-button-group>
										<el-button type="danger" size="mini" icon="el-icon-arrow-left" @click="switchPlay('official')" :disabled="options.group_type==11 || options.group_type==12">官方</el-button>
										<el-button type="danger" size="mini" @click="switchPlay('credit')">信用<i class="el-icon-arrow-right el-icon--right"></i></el-button>
									</el-button-group>
								</el-row>
							</el-aside>
							<el-aside v-if="options.group_type==6" width="150px" style="margin-left: 0px;">
								<el-row>
									<el-col>
										<el-image :src="require('@/assets/images/lottery/'+options.type_id+'.png')" fit="contain" class="pk10-race-logo" >
										</el-image>
										<div class="pk10-race-image" :class="{'pk10-car-image':options.type_id==20 || options.type_id==75 || options.type_id==95 || options.type_id==96 || options.type_id==99 || options.type_id==100,'pk10-ft-image':options.type_id==61 || options.type_id==62 || options.type_id==63}"></div>
										<div class="pk10-race-video" @click="video"><i class="fas fa-play"></i></div>
									</el-col>
									<el-button-group>
										<el-button type="danger" size="mini" icon="el-icon-arrow-left" @click="switchPlay('official')">官方</el-button>
										<el-button type="danger" size="mini" @click="switchPlay('credit')">信用<i class="el-icon-arrow-right el-icon--right"></i></el-button>
									</el-button-group>
								</el-row>
							</el-aside>
							<el-main style="padding: 0px;">
								<el-row>
									<el-col>
										{{current.actionNo}}期 距封盤:
									</el-col>
									<el-col class="time-area">
										<div class="count-time">{{hr}}</div>
										<div class="count-time-split">
											<span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span>
										</div>
										<div class="count-time">{{min}}</div>
										<div class="count-time-split">
											<span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span>
										</div>
										<div class="count-time">{{sec}}</div>
									</el-col>
								</el-row>
							</el-main >
						</el-container>
					</el-aside>
					<el-main style="padding: 0px;">
						<el-row v-if="last.openCode!=null">
							<el-col>
								{{last.actionNo}}期
							</el-col>
							<el-col>
								<span v-if="options.group_type == 17">
									<img  class="ld" :src="require('@/assets/images/ld/'+item+'.png')" v-for="(item,index) in str_split(last.openCode)" :key="index">
								</span>
								<span v-if="options.group_type == 9">
									<img class="k3" :src="require('@/assets/images/k3/'+item+'.png')" v-for="(item,index) in str_split(last.openCode)" :key="index">
								</span>
								<el-col v-if="options.group_type == 1">
									<span class="resultPos" style="margin-left: 1rem;">萬</span><span class="resultPos">千</span><span class="resultPos">百</span><span class="resultPos">十</span><span class="resultPos">個</span>
								</el-col>
								<el-col v-if="options.group_type == 3">
									<span class="resultPos" style="margin-left: 1rem;">百</span><span class="resultPos">十</span><span class="resultPos">個</span>
								</el-col>
								<span v-if="options.group_type == 1 || options.group_type == 3">
									<span  class="round roundPos blue-bgcolor" v-for="(item,index) in str_split(last.openCode)" :key="index">{{item}}</span>
								</span>
								<span v-if="options.group_type == 2 || options.group_type == 4  || options.group_type == 8">
									<span  class="round blue-bgcolor" v-for="(item,index) in str_split(last.openCode)" :key="index">{{item}}</span>
								</span>
								<span v-if="options.group_type == 12">
									<span  class="round" :class="lhc_color(item)" v-for="(item,index) in str_split(last.openCode)" :key="index">{{item}}</span>
								</span>
								<span v-if="options.group_type == 15">
									<span class="round blue-bgcolor" >{{last.openCode}}</span>
								</span>
								<span v-if="options.group_type == 6">
									<span class="square" :class="'color'+numberPk10(item)" v-for="(item,index) in str_split(last.openCode)" :key="index">{{numberPk10(item)}}</span>
								</span>
								<div v-if="options.group_type == 11">
									<span class="round pcround">{{str_split(last.openCode)[0]}}</span> <span class="pcdd-add">+</span>
									<span class="round pcround">{{str_split(last.openCode)[1]}}</span> <span class="pcdd-add">+</span>
									<span class="round pcround">{{str_split(last.openCode)[2]}}</span> <span class="pcdd-add">=</span>
									<span  class="round " :class="pcdd_color(last.openCode)">{{pcdd_code(last.openCode)}}</span>
								</div>
							</el-col>
							<el-col>
								<span v-if="options.group_type != 12">
									<span  class="resultData" v-for="(item,index) in preTred" :key="index">{{item}}</span>
								</span>
								<span v-if="options.group_type == 12">
									<span v-for="(item,index) in preTred" :key="index" >
										<span class="zod-size" v-if="index < 7">{{item}}</span>
									</span>
								</span>
								<span v-if="options.group_type == 15">
									<span class="resultData" >{{get_zh_subname(last.openCode)}}</span>
								</span>
							</el-col>
						</el-row>
						<el-row v-else>
							<el-col>
								{{last.actionNo}}期
							</el-col>
							<el-col>
								<div class="lds-css ng-scope" style="float: left;"><div style="width:100%;height:100%;" class="lds-ellipsis lds-ellipsis-load-last"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
							</el-col>
						</el-row>
					</el-main >
				</el-container>
			</el-row>
			<el-row class="noissue" v-else>
				<div class="lds-css ng-scope" @click.stop="getIssue()" style="cursor: pointer;" >奖期信息读取中 <i class="fas fa-sync-alt" ></i> 点击刷新<div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
			</el-row>
			<el-row class="code-line">

			</el-row>
			<el-row class="code-bar">
				<el-col :span="7">
					<el-row>
						<el-col :span="12" v-if="user.username !=''">
							<i class="fas fa-user user"></i> {{user.username}}
						</el-col>
						<el-col :span="12" v-if="user.username !=''">
							<i class="fas fa-donate donate"></i> {{user.coin}} <el-link :underline="false" v-loading.fullscreen.lock="fullscreenLoading" @click="getCoin"><i class="fas fa-sync-alt" ></i></el-link>
						</el-col>
					</el-row>
				</el-col>
				<el-col :span="17">
					<el-row >
						<el-col :span="4" class="bar-item">
							<el-link class="bar-item-link" :underline="false" @click="selectItem('user')">會員中心 <i class="fas fa-caret-right"></i></el-link>
						</el-col>
						<el-col :span="4" class="bar-item" >
							<el-link class="bar-item-link" :underline="false" @click="selectItem('betlog')">投注紀錄 <i class="fas fa-caret-down"></i></el-link>
						</el-col>
						<el-col :span="4" class="bar-item">
							<el-link class="bar-item-link" :underline="false" @click="selectItem('codelist')">開獎紀錄 <i class="fas fa-caret-down"></i></el-link>
						</el-col>
						<el-col :span="4" class="bar-item">
							<el-link class="bar-item-link" :underline="false" @click="selectItem('hotlost')">冷熱遺漏 <i class="fas fa-caret-down"></i></el-link>
						</el-col>
						<el-col :span="4" class="bar-item" v-if="options.group_type!=12 && options.group_type!=15 && options.group_type!=17">
							<el-link class="bar-item-link" :underline="false" @click="selectItem('clong')">長龍走勢 <i class="fas fa-caret-down"></i></el-link>
						</el-col>
						<el-col :span="4" class="bar-item">
							<el-link class="bar-item-link" :underline="false" @click="selectItem('rule')">玩法說明 <i class="fas fa-caret-down"></i></el-link>
						</el-col>
					</el-row>
				</el-col>
			</el-row>
			<el-row>
				<transition name="el-fade-in-linear">
					<component :is="default_view" v-if="show_view" :options="options"></component>
				</transition>
				<div class="keyboard_block" @click='hide()' v-if="show_block" @touchmove.prevent></div>
			</el-row>
		</el-card>
		<component :is="default_view2" ref="race_component" :type_id="options.type_id" v-on:callback="hide_video_block" ></component>
		<transition name="el-fade-in-linear">
			<div class="keyboard_block_video" @click='hide_video()' v-if="show_block_video" @touchmove.prevent></div>
		</transition>
    </div>
</template>

<script type="text/ecmascript-6">
import { apiGetCurrentIssue,apiGetRecentOpenCode } from '@/api.js'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import DefaultLayout from '@/page/user/betlog.vue';
import pk10_car from '@/components/race/pk10/car/car.vue';
import pk10_ft from '@/components/race/pk10/ft/ft.vue';
export default {
    mixins: [globalMixin],
    data() {
        return {
			fullscreenLoading: false,
			TimeOptions: {
				digit: 0,
				countdown: true,
				dot:true,
				label:false,
			},
			day: 0, hr: 0, min: 0, sec: 0,
            cd:null,
            //noCodeCD:null,
            regetIssue:null,
            preTred:[],
			zh_subname:[],
            current:null,
            last:null,
            default_view:null,
			default_view2:null,
            show_view:false,
			show_block:false,
			show_block_video:false,
			now_index:null,
        }
    },
    mounted(){
    },
    props:{
      options: {
        type: Object,
        default() {
          return {}
        }
      },
    },
    components: {
	},
    methods: {
        get_zh_subname(code)
        {
            if(this.zh_subname.length==0)
            {
                for(var key in this.mapByPlay)
                {
                    if(this.mapByPlay[key].sub_name)
                    {
                        this.zh_subname[this.mapByPlay[key].name] = this.mapByPlay[key].sub_name;
                    }
                }
            }
            return this.zh_subname[code];
        },
        switchPlay(rule)
        {
			this.go2page('/game/'+rule+'/'+this.options.type_name);
        },
        getCoin()
        {
			this.$store.dispatch('setCoin','');
            this.$store.dispatch('getCoin');
        },
		video()
		{
			this.show_block_video=!this.show_block_video;
			this.$refs.race_component.video();
		},
		hide_video()
		{
			this.$refs.race_component.hide();
		},
		hide_video_block()
		{
			this.show_block_video=!this.show_block_video;
		},
		selectItem(item)
		{
			if(this.now_index == item)
			{
				document.documentElement.style.overflow = 'auto';
				this.show_view = !this.show_view;
				this.show_block = !this.show_block;
			}else
			{
				switch(item)
				{
					case 'user':
						if(this.user.username=='')
						{
							this.message('請先登錄');
							return;
						}
						if(this.user.forTest==1)
						{
							this.message('本功能不提供试玩');
							return;
						}
						document.documentElement.style.overflow = 'auto'
						this.go2page('/user/safe');
						return;
					break;
					case 'betlog':
						if(this.user.username=='')
						{
							this.message("請先登錄");
							return;
						}
						this.default_view = require('@/page/user/betlog.vue').default;
					break;
					case 'codelist':
						this.default_view = require('@/page/game/code-list.vue').default;
					break;
					case 'hotlost':
						this.default_view = require('@/page/game/hotlost.vue').default;
					break;
					case 'clong':
						this.default_view = require('@/page/game/clong.vue').default;
					break;
					case 'rule':
						this.default_view = require('@/components/rule/index.vue').default;
					break;
				}
				document.documentElement.style.overflow = 'hidden'
				this.now_index=item;
				if(!this.show_view)
				{
					this.show_view = !this.show_view;
					this.show_block = !this.show_block;
				}
			}
		},
        hide()
        {
			document.documentElement.style.overflow = 'auto'
            this.show_block = !this.show_block;
			this.show_view = !this.show_view;
        },
        getOcs(code)
        {
            var tred=this.ocs.generate(this.options.group_type,code);
            var hisTred=[];
            for(var k in tred)
            {
                hisTred.push(tred[k]);
            }
            return hisTred;
        },
        countDown() {
			this.current.countdown=this.current.countdown-1;
            clearInterval(this.cd);
			if( this.current.countdown < 0)
			{
				this.getIssue();
				return;
			}
            this.$store.commit('SetRaceCountdown',this.current.countdown);
            const msec = this.current.countdown;
            var timeData=this.gethms(msec);
            this.day = timeData.day;
            this.hr = timeData.hr;
            this.min = timeData.min;
            this.sec = timeData.sec;
            let time={
                hr:timeData.hr,
                min:timeData.min,
                sec:timeData.sec,
            };
            this.$store.dispatch('setbetCountdown',time);
            this.cd = setInterval(() => {
                    this.countDown();
            }, 1000);
        },
        getIssue()
        {
            clearInterval(this.regetIssue);
            apiGetCurrentIssue({
                    type_id : this.options.type_id,
                })
                .then(response => {
                    this.last=response.data.last;
                    if(!this.last)
                    {
                        clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 3000);
                        return;
                    }
                   //this.last.openCode=null;
                    this.$store.commit('SetLastIssue',this.last);
                    if(this.last.openCode!=null)
                    {
                        //clearInterval(this.noCodeCD);
                        this.preTred.splice(0,this.preTred.length);
                        var tred=this.ocs.generate(this.options.group_type,this.last.openCode.toString());
                        for(var k in tred)
                        {
                            this.preTred.push(tred[k]);
                        }
                    }else
                    {
                        clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 3000);
						//return;
                    }
                    if(response.data.current.actionNo==null)
                    {
                        this.toast("尚未开放投注");
                        return;
                    }
                    var clientTime=(Date.parse( new Date())/1000);
                    var check_countdown=response.data.current.stopTime-clientTime;
					if(check_countdown<=0)
					{
						clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 1000);
						return;
					}
                    if(this.options.group_type==17)
                    {
                            if(this.user.username == this.last.username && this.last.username !="")
                            {
                                this.$parent.isQualified = true;
                                this.$parent.isRollingBefore = true;
                            }else
                            {
                                if(this.current)
                                {
                                    if(this.current.actionNo != response.data.current.actionNo)
                                    {
                                        this.$parent.clearSlotBar();
                                    }
                                }
                            }
                    }
					this.current=response.data.current;
					this.current.countdown=check_countdown;
					this.$store.commit('SetIssue',this.current);
					var timeData=this.gethms(check_countdown);
					this.day = timeData.day;
					this.hr = timeData.hr;
					this.min = timeData.min;
					this.sec = timeData.sec;
					let time={
						hr:timeData.hr,
						min:timeData.min,
						sec:timeData.sec,
					};
					this.$store.dispatch('setbetCountdown',time);
					clearInterval(this.cd);
					this.cd = setInterval(() => {
						this.countDown();
					}, 1000);
					return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
    },
    computed: {
		...mapGetters({
			user: "user",
            betCountdown: "betCountdown",
            currentIssue: "currentIssue",
            lastIssue: "lastIssue",
			mapByPlay: "mapByPlay",
        }),
    },
    created() {
        this.getIssue();
		if(this.options.type_id==20 || this.options.type_id==75 || this.options.type_id==95 || this.options.type_id==96 || this.options.type_id==99 || this.options.type_id==100)
		{
			this.default_view2=pk10_car;
		}
        if(this.options.type_id==61 || this.options.type_id==62 ||this.options.type_id==63)
        {
          this.default_view2=pk10_ft;
        }
    },
    destroyed: function() {
        clearInterval(this.cd);
        //clearInterval(this.noCodeCD);
        clearInterval(this.regetIssue);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.showCode-fixed
	bottom: 0;
	width: 1100px;
	z-index: 50;
	position: fixed;
	top: 20px;
	left 0
	right 0
	margin auto
.showCode
	.mainBar
		margin-top: 10px;
	.mainSearch
		overflow-y auto;
		top: 298px;
		bottom: 30px;
		position: fixed;
		width: 1100px;
		background: #fff;
		margin-left: -21px;
		border-radius: 0 0 5px 5px;
	.code-wrap
		height: 135px;
		.zod-size
			display: inline-block;
			text-align: center;
			width: 2.3rem;
			height: 2.3rem;
			line-height: 2.3rem;
			font-size: 1.2rem;
			margin-right: .5rem;
			margin-top: 0.2rem;
			margin-bottom: .3rem;
		.count-area
			border-right: 1px #ddd dashed;
			.pk10-car-image
				background-image url('~assets/images/pk10.png');
			.pk10-ft-image
				background-image url('~assets/images/jsft.png');
			.pk10-race-image
				width: 116px;
				height: 95px;
				right: -22px;
				position: relative;
				margin-top: -33px;
			.pk10-race-video
				opacity:0;
				width: 116px;
				height: 95px;
				margin-top: -100px;
				margin-left: 22px;
				z-index: 1;
				position: relative;
			.pk10-race-video:hover
				opacity: 1;
				color: #f06478;
				z-index: 1;
				font-size: 2.5rem;
				line-height: 100px;
				cursor: pointer;
			.pk10-race-logo
				height: 60px;
				z-index: 2;
				margin-left: -87px;
			.time-area
				text-align center
				margin-top: 18px;
				.count-time
					padding: 10px;
					font-size: 3.6rem;
					background: #333;
					display: inline-block;
					text-shadow: 0 1px 2px #7e7e7e;
					color: #efefef;
					font-weight: bold;
					border-radius: 8px;
					margin-right: 5px;
					font-family: -webkit-pictograph;
					width: 4.2rem;
				.count-time-split
					display: inline-block;
					.flip-clock-dot
						display: block;
						background: #656565;
						width: 10px;
						height: 10px;
						position: relative;
						border-radius: 50%;
						left: -3px;
					.top
						top -18px
	.noissue
		height: 135px;
		text-align center
	.code-line
		margin-top: 20px;
		border-top: 1px #ddd dashed;
	.code-bar
		line-height: 40px;
		margin-top: 8px;
		.user
			color #67C23A;
		.donate
			color #E6A23C;
		.bar-item
			border-right 1px #ddd solid
			.bar-item-link
				font-size 1rem;
@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 220px;
  left: 32px;
  -webkit-animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -1.75s;
  animation-delay: -1.75s;
  background: #6a67ce;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
  background: #1aafd0;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #3be8b0;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis {
	margin-left: 163px;
  -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
  transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
}
.lds-ellipsis-load-last{
	margin-left: 137px;
}
</style>
