<template>
    <div class="bet_space official_bet">

            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 挑选一个2位数字号码，才有资格获得首奖。</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
						<el-tag >{{item.label}}位</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls"
                                    :ref="item.row+'-'+num"
                                    :data-row="item.row"
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
					<div class="betTool" >
						<div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="c">清</div>
						<div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="max">大</div>
						<div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="min">小</div>
						<div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="d">單</div>
						<div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="s">雙</div>
						<div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="a">全</div>
					</div>
                </div>
            </div>

        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-4d.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            rule:'SSC5X_ZH',
            actionRule:'5X_ZH',
            delimiter:'',
            len:2,
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '十',
                row: '0',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '个',
                row: '1',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            }],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>
