<template>
    <div class="bet_space official_bet">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 投注首奖百位数"低"，首奖百位数字是0~4；则玩家获胜</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
						<el-tag >{{item.label}}位</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_4d" class="name max4d-ds" :data-id="item.playedId[index]">
                                {{num}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <BetBar :options="options" :ruleInfo="ruleInfo" :type_id="options.type_id"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            ruleInfo: [{
                label: '千',
                row: '0',
                nums: ['高','低'],
                playedId:[6659,6660],
            },{
                label: '百',
                row: '1',
                nums: ['高','低'],
                playedId:[6661,6662],
            },{
                label: '十',
                row: '2',
                nums: ['高','低'],
                playedId:[6663,6664],
            },{
                label: '个',
                row: '3',
                nums: ['高','低'],
                playedId:[6665,6666],
            }],
        }
    },
    props: ['options'],
    methods: {

    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
			betAmount:"betAmount",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>
