<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">冠亚和</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5436"><span class="square">{{mapByPlay[5436].name}}</span> <span class="pl">{{mapByPlay[5436].bp | numFilter}}</span> <el-input v-model="finput[5436]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5437"><span class="square">{{mapByPlay[5437].name}}</span> <span class="pl">{{mapByPlay[5437].bp | numFilter}}</span> <el-input v-model="finput[5437]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5438"><span class="square">{{mapByPlay[5438].name}}</span> <span class="pl">{{mapByPlay[5438].bp | numFilter}}</span> <el-input v-model="finput[5438]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5439"><span class="square">{{mapByPlay[5439].name}}</span> <span class="pl">{{mapByPlay[5439].bp | numFilter}}</span> <el-input v-model="finput[5439]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5440"><span class="square">{{mapByPlay[5440].name}}</span> <span class="pl">{{mapByPlay[5440].bp | numFilter}}</span> <el-input v-model="finput[5440]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5441"><span class="square">{{mapByPlay[5441].name}}</span> <span class="pl">{{mapByPlay[5441].bp | numFilter}}</span> <el-input v-model="finput[5441]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5442"><span class="square">{{mapByPlay[5442].name}}</span> <span class="pl">{{mapByPlay[5442].bp | numFilter}}</span> <el-input v-model="finput[5442]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5443"><span class="square">{{mapByPlay[5443].name}}</span> <span class="pl">{{mapByPlay[5443].bp | numFilter}}</span> <el-input v-model="finput[5443]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5444"><span class="square">{{mapByPlay[5444].name}}</span> <span class="pl">{{mapByPlay[5444].bp | numFilter}}</span> <el-input v-model="finput[5444]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5445"><span class="square">{{mapByPlay[5445].name}}</span> <span class="pl">{{mapByPlay[5445].bp | numFilter}}</span> <el-input v-model="finput[5445]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5446"><span class="square">{{mapByPlay[5446].name}}</span> <span class="pl">{{mapByPlay[5446].bp | numFilter}}</span> <el-input v-model="finput[5446]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5447"><span class="square">{{mapByPlay[5447].name}}</span> <span class="pl">{{mapByPlay[5447].bp | numFilter}}</span> <el-input v-model="finput[5447]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5448"><span class="square">{{mapByPlay[5448].name}}</span> <span class="pl">{{mapByPlay[5448].bp | numFilter}}</span> <el-input v-model="finput[5448]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5449"><span class="square">{{mapByPlay[5449].name}}</span> <span class="pl">{{mapByPlay[5449].bp | numFilter}}</span> <el-input v-model="finput[5449]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5450"><span class="square">{{mapByPlay[5450].name}}</span> <span class="pl">{{mapByPlay[5450].bp | numFilter}}</span> <el-input v-model="finput[5450]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>                                                            
                    <tr>
                        <td  class="col3 name" data-id="5451"><span class="square">{{mapByPlay[5451].name}}</span> <span class="pl">{{mapByPlay[5451].bp | numFilter}}</span> <el-input v-model="finput[5451]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5452"><span class="square">{{mapByPlay[5452].name}}</span> <span class="pl">{{mapByPlay[5452].bp | numFilter}}</span> <el-input v-model="finput[5452]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>  
                </table>
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5382">{{mapByPlay[5382].name}} <span class="pl">{{mapByPlay[5382].bp | numFilter}}</span> <el-input v-model="finput[5382]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5383">{{mapByPlay[5383].name}} <span class="pl">{{mapByPlay[5383].bp | numFilter}}</span> <el-input v-model="finput[5383]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5384">{{mapByPlay[5384].name}} <span class="pl">{{mapByPlay[5384].bp | numFilter}}</span> <el-input v-model="finput[5384]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td  class="col3 name" data-id="5385">{{mapByPlay[5385].name}} <span class="pl">{{mapByPlay[5385].bp | numFilter}}</span> <el-input v-model="finput[5385]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>