<template>
    <div class="bet_space credit_bet">
		<el-container>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">冠军</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5453"><span class="square color1">{{mapByPlay[5453].name}}</span> <span class="pl">{{mapByPlay[5453].bp | numFilter}}</span> <el-input v-model="finput[5453]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5454"><span class="square color2">{{mapByPlay[5454].name}}</span> <span class="pl">{{mapByPlay[5454].bp | numFilter}}</span> <el-input v-model="finput[5454]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5455"><span class="square color3">{{mapByPlay[5455].name}}</span> <span class="pl">{{mapByPlay[5455].bp | numFilter}}</span> <el-input v-model="finput[5455]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5456"><span class="square color4">{{mapByPlay[5456].name}}</span> <span class="pl">{{mapByPlay[5456].bp | numFilter}}</span> <el-input v-model="finput[5456]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5457"><span class="square color5">{{mapByPlay[5457].name}}</span> <span class="pl">{{mapByPlay[5457].bp | numFilter}}</span> <el-input v-model="finput[5457]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5458"><span class="square color6">{{mapByPlay[5458].name}}</span> <span class="pl">{{mapByPlay[5458].bp | numFilter}}</span> <el-input v-model="finput[5458]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5459"><span class="square color7">{{mapByPlay[5459].name}}</span> <span class="pl">{{mapByPlay[5459].bp | numFilter}}</span> <el-input v-model="finput[5459]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5460"><span class="square color8">{{mapByPlay[5460].name}}</span> <span class="pl">{{mapByPlay[5460].bp | numFilter}}</span> <el-input v-model="finput[5460]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5461"><span class="square color9">{{mapByPlay[5461].name}}</span> <span class="pl">{{mapByPlay[5461].bp | numFilter}}</span> <el-input v-model="finput[5461]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5462"><span class="square color10">{{mapByPlay[5462].name}}</span> <span class="pl">{{mapByPlay[5462].bp | numFilter}}</span> <el-input v-model="finput[5462]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>

			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">亚军</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5463"><span class="square color1">{{mapByPlay[5463].name}}</span> <span class="pl">{{mapByPlay[5463].bp | numFilter}}</span> <el-input v-model="finput[5463]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5464"><span class="square color2">{{mapByPlay[5464].name}}</span> <span class="pl">{{mapByPlay[5464].bp | numFilter}}</span> <el-input v-model="finput[5464]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5465"><span class="square color3">{{mapByPlay[5465].name}}</span> <span class="pl">{{mapByPlay[5465].bp | numFilter}}</span> <el-input v-model="finput[5465]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5466"><span class="square color4">{{mapByPlay[5466].name}}</span> <span class="pl">{{mapByPlay[5466].bp | numFilter}}</span> <el-input v-model="finput[5466]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5467"><span class="square color5">{{mapByPlay[5467].name}}</span> <span class="pl">{{mapByPlay[5467].bp | numFilter}}</span> <el-input v-model="finput[5467]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5468"><span class="square color6">{{mapByPlay[5468].name}}</span> <span class="pl">{{mapByPlay[5468].bp | numFilter}}</span> <el-input v-model="finput[5468]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5469"><span class="square color7">{{mapByPlay[5469].name}}</span> <span class="pl">{{mapByPlay[5469].bp | numFilter}}</span> <el-input v-model="finput[5469]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5470"><span class="square color8">{{mapByPlay[5470].name}}</span> <span class="pl">{{mapByPlay[5470].bp | numFilter}}</span> <el-input v-model="finput[5470]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5471"><span class="square color9">{{mapByPlay[5471].name}}</span> <span class="pl">{{mapByPlay[5471].bp | numFilter}}</span> <el-input v-model="finput[5471]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5472"><span class="square color10">{{mapByPlay[5472].name}}</span> <span class="pl">{{mapByPlay[5472].bp | numFilter}}</span> <el-input v-model="finput[5472]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>

			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第三名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5473"><span class="square color1">{{mapByPlay[5473].name}}</span> <span class="pl">{{mapByPlay[5473].bp | numFilter}}</span> <el-input v-model="finput[5473]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5474"><span class="square color2">{{mapByPlay[5474].name}}</span> <span class="pl">{{mapByPlay[5474].bp | numFilter}}</span> <el-input v-model="finput[5474]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5475"><span class="square color3">{{mapByPlay[5475].name}}</span> <span class="pl">{{mapByPlay[5475].bp | numFilter}}</span> <el-input v-model="finput[5475]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5476"><span class="square color4">{{mapByPlay[5476].name}}</span> <span class="pl">{{mapByPlay[5476].bp | numFilter}}</span> <el-input v-model="finput[5476]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5477"><span class="square color5">{{mapByPlay[5477].name}}</span> <span class="pl">{{mapByPlay[5477].bp | numFilter}}</span> <el-input v-model="finput[5477]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5478"><span class="square color6">{{mapByPlay[5478].name}}</span> <span class="pl">{{mapByPlay[5478].bp | numFilter}}</span> <el-input v-model="finput[5478]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5479"><span class="square color7">{{mapByPlay[5479].name}}</span> <span class="pl">{{mapByPlay[5479].bp | numFilter}}</span> <el-input v-model="finput[5479]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5480"><span class="square color8">{{mapByPlay[5480].name}}</span> <span class="pl">{{mapByPlay[5480].bp | numFilter}}</span> <el-input v-model="finput[5480]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5481"><span class="square color9">{{mapByPlay[5481].name}}</span> <span class="pl">{{mapByPlay[5481].bp | numFilter}}</span> <el-input v-model="finput[5481]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5482"><span class="square color10">{{mapByPlay[5482].name}}</span> <span class="pl">{{mapByPlay[5482].bp | numFilter}}</span> <el-input v-model="finput[5482]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>

			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第四名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5483"><span class="square color1">{{mapByPlay[5483].name}}</span> <span class="pl">{{mapByPlay[5483].bp | numFilter}}</span> <el-input v-model="finput[5483]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5484"><span class="square color2">{{mapByPlay[5484].name}}</span> <span class="pl">{{mapByPlay[5484].bp | numFilter}}</span> <el-input v-model="finput[5484]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5485"><span class="square color3">{{mapByPlay[5485].name}}</span> <span class="pl">{{mapByPlay[5485].bp | numFilter}}</span> <el-input v-model="finput[5485]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5486"><span class="square color4">{{mapByPlay[5486].name}}</span> <span class="pl">{{mapByPlay[5486].bp | numFilter}}</span> <el-input v-model="finput[5486]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5487"><span class="square color5">{{mapByPlay[5487].name}}</span> <span class="pl">{{mapByPlay[5487].bp | numFilter}}</span> <el-input v-model="finput[5487]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5488"><span class="square color6">{{mapByPlay[5488].name}}</span> <span class="pl">{{mapByPlay[5488].bp | numFilter}}</span> <el-input v-model="finput[5488]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5489"><span class="square color7">{{mapByPlay[5489].name}}</span> <span class="pl">{{mapByPlay[5489].bp | numFilter}}</span> <el-input v-model="finput[5489]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5490"><span class="square color8">{{mapByPlay[5490].name}}</span> <span class="pl">{{mapByPlay[5490].bp | numFilter}}</span> <el-input v-model="finput[5490]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5491"><span class="square color9">{{mapByPlay[5491].name}}</span> <span class="pl">{{mapByPlay[5491].bp | numFilter}}</span> <el-input v-model="finput[5491]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5492"><span class="square color10">{{mapByPlay[5492].name}}</span> <span class="pl">{{mapByPlay[5492].bp | numFilter}}</span> <el-input v-model="finput[5492]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
			
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第五名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5493"><span class="square color1">{{mapByPlay[5493].name}}</span> <span class="pl">{{mapByPlay[5493].bp | numFilter}}</span> <el-input v-model="finput[5493]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5494"><span class="square color2">{{mapByPlay[5494].name}}</span> <span class="pl">{{mapByPlay[5494].bp | numFilter}}</span> <el-input v-model="finput[5494]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5495"><span class="square color3">{{mapByPlay[5495].name}}</span> <span class="pl">{{mapByPlay[5495].bp | numFilter}}</span> <el-input v-model="finput[5495]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5496"><span class="square color4">{{mapByPlay[5496].name}}</span> <span class="pl">{{mapByPlay[5496].bp | numFilter}}</span> <el-input v-model="finput[5496]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5497"><span class="square color5">{{mapByPlay[5497].name}}</span> <span class="pl">{{mapByPlay[5497].bp | numFilter}}</span> <el-input v-model="finput[5497]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5498"><span class="square color6">{{mapByPlay[5498].name}}</span> <span class="pl">{{mapByPlay[5498].bp | numFilter}}</span> <el-input v-model="finput[5498]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5499"><span class="square color7">{{mapByPlay[5499].name}}</span> <span class="pl">{{mapByPlay[5499].bp | numFilter}}</span> <el-input v-model="finput[5499]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5500"><span class="square color8">{{mapByPlay[5500].name}}</span> <span class="pl">{{mapByPlay[5500].bp | numFilter}}</span> <el-input v-model="finput[5500]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5501"><span class="square color9">{{mapByPlay[5501].name}}</span> <span class="pl">{{mapByPlay[5501].bp | numFilter}}</span> <el-input v-model="finput[5501]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5502"><span class="square color10">{{mapByPlay[5502].name}}</span> <span class="pl">{{mapByPlay[5502].bp | numFilter}}</span> <el-input v-model="finput[5502]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
		</el-container>
		
		<el-container>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第六名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5503"><span class="square color1">{{mapByPlay[5503].name}}</span> <span class="pl">{{mapByPlay[5503].bp | numFilter}}</span> <el-input v-model="finput[5503]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5504"><span class="square color2">{{mapByPlay[5504].name}}</span> <span class="pl">{{mapByPlay[5504].bp | numFilter}}</span> <el-input v-model="finput[5504]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5505"><span class="square color3">{{mapByPlay[5505].name}}</span> <span class="pl">{{mapByPlay[5505].bp | numFilter}}</span> <el-input v-model="finput[5505]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5506"><span class="square color4">{{mapByPlay[5506].name}}</span> <span class="pl">{{mapByPlay[5506].bp | numFilter}}</span> <el-input v-model="finput[5506]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5507"><span class="square color5">{{mapByPlay[5507].name}}</span> <span class="pl">{{mapByPlay[5507].bp | numFilter}}</span> <el-input v-model="finput[5507]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5508"><span class="square color6">{{mapByPlay[5508].name}}</span> <span class="pl">{{mapByPlay[5508].bp | numFilter}}</span> <el-input v-model="finput[5508]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5509"><span class="square color7">{{mapByPlay[5509].name}}</span> <span class="pl">{{mapByPlay[5509].bp | numFilter}}</span> <el-input v-model="finput[5509]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5510"><span class="square color8">{{mapByPlay[5510].name}}</span> <span class="pl">{{mapByPlay[5510].bp | numFilter}}</span> <el-input v-model="finput[5510]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5511"><span class="square color9">{{mapByPlay[5511].name}}</span> <span class="pl">{{mapByPlay[5511].bp | numFilter}}</span> <el-input v-model="finput[5511]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5512"><span class="square color10">{{mapByPlay[5512].name}}</span> <span class="pl">{{mapByPlay[5512].bp | numFilter}}</span> <el-input v-model="finput[5512]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第七名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5513"><span class="square color1">{{mapByPlay[5513].name}}</span> <span class="pl">{{mapByPlay[5513].bp | numFilter}}</span> <el-input v-model="finput[5513]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5514"><span class="square color2">{{mapByPlay[5514].name}}</span> <span class="pl">{{mapByPlay[5514].bp | numFilter}}</span> <el-input v-model="finput[5514]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5515"><span class="square color3">{{mapByPlay[5515].name}}</span> <span class="pl">{{mapByPlay[5515].bp | numFilter}}</span> <el-input v-model="finput[5515]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5516"><span class="square color4">{{mapByPlay[5516].name}}</span> <span class="pl">{{mapByPlay[5516].bp | numFilter}}</span> <el-input v-model="finput[5516]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5517"><span class="square color5">{{mapByPlay[5517].name}}</span> <span class="pl">{{mapByPlay[5517].bp | numFilter}}</span> <el-input v-model="finput[5517]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5518"><span class="square color6">{{mapByPlay[5518].name}}</span> <span class="pl">{{mapByPlay[5518].bp | numFilter}}</span> <el-input v-model="finput[5518]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5519"><span class="square color7">{{mapByPlay[5519].name}}</span> <span class="pl">{{mapByPlay[5519].bp | numFilter}}</span> <el-input v-model="finput[5519]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5520"><span class="square color8">{{mapByPlay[5520].name}}</span> <span class="pl">{{mapByPlay[5520].bp | numFilter}}</span> <el-input v-model="finput[5520]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5521"><span class="square color9">{{mapByPlay[5521].name}}</span> <span class="pl">{{mapByPlay[5521].bp | numFilter}}</span> <el-input v-model="finput[5521]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5522"><span class="square color10">{{mapByPlay[5522].name}}</span> <span class="pl">{{mapByPlay[5522].bp | numFilter}}</span> <el-input v-model="finput[5522]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第八名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5523"><span class="square color1">{{mapByPlay[5523].name}}</span> <span class="pl">{{mapByPlay[5523].bp | numFilter}}</span> <el-input v-model="finput[5523]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5524"><span class="square color2">{{mapByPlay[5524].name}}</span> <span class="pl">{{mapByPlay[5524].bp | numFilter}}</span> <el-input v-model="finput[5524]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5525"><span class="square color3">{{mapByPlay[5525].name}}</span> <span class="pl">{{mapByPlay[5525].bp | numFilter}}</span> <el-input v-model="finput[5525]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5526"><span class="square color4">{{mapByPlay[5526].name}}</span> <span class="pl">{{mapByPlay[5526].bp | numFilter}}</span> <el-input v-model="finput[5526]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5527"><span class="square color5">{{mapByPlay[5527].name}}</span> <span class="pl">{{mapByPlay[5527].bp | numFilter}}</span> <el-input v-model="finput[5527]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5528"><span class="square color6">{{mapByPlay[5528].name}}</span> <span class="pl">{{mapByPlay[5528].bp | numFilter}}</span> <el-input v-model="finput[5528]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5529"><span class="square color7">{{mapByPlay[5529].name}}</span> <span class="pl">{{mapByPlay[5529].bp | numFilter}}</span> <el-input v-model="finput[5529]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5530"><span class="square color8">{{mapByPlay[5530].name}}</span> <span class="pl">{{mapByPlay[5530].bp | numFilter}}</span> <el-input v-model="finput[5530]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5531"><span class="square color9">{{mapByPlay[5531].name}}</span> <span class="pl">{{mapByPlay[5531].bp | numFilter}}</span> <el-input v-model="finput[5531]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5532"><span class="square color10">{{mapByPlay[5532].name}}</span> <span class="pl">{{mapByPlay[5532].bp | numFilter}}</span> <el-input v-model="finput[5532]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第九名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5533"><span class="square color1">{{mapByPlay[5533].name}}</span> <span class="pl">{{mapByPlay[5533].bp | numFilter}}</span> <el-input v-model="finput[5533]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5534"><span class="square color2">{{mapByPlay[5534].name}}</span> <span class="pl">{{mapByPlay[5534].bp | numFilter}}</span> <el-input v-model="finput[5534]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5535"><span class="square color3">{{mapByPlay[5535].name}}</span> <span class="pl">{{mapByPlay[5535].bp | numFilter}}</span> <el-input v-model="finput[5535]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5536"><span class="square color4">{{mapByPlay[5536].name}}</span> <span class="pl">{{mapByPlay[5536].bp | numFilter}}</span> <el-input v-model="finput[5536]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5537"><span class="square color5">{{mapByPlay[5537].name}}</span> <span class="pl">{{mapByPlay[5537].bp | numFilter}}</span> <el-input v-model="finput[5537]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5538"><span class="square color6">{{mapByPlay[5538].name}}</span> <span class="pl">{{mapByPlay[5538].bp | numFilter}}</span> <el-input v-model="finput[5538]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5539"><span class="square color7">{{mapByPlay[5539].name}}</span> <span class="pl">{{mapByPlay[5539].bp | numFilter}}</span> <el-input v-model="finput[5539]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5540"><span class="square color8">{{mapByPlay[5540].name}}</span> <span class="pl">{{mapByPlay[5540].bp | numFilter}}</span> <el-input v-model="finput[5540]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5541"><span class="square color9">{{mapByPlay[5541].name}}</span> <span class="pl">{{mapByPlay[5541].bp | numFilter}}</span> <el-input v-model="finput[5541]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5542"><span class="square color10">{{mapByPlay[5542].name}}</span> <span class="pl">{{mapByPlay[5542].bp | numFilter}}</span> <el-input v-model="finput[5542]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第十名</div>
				</div>
					<div class="play-menu">
						<table>
							<tr>
								<td  class="col3 name" data-id="5543"><span class="square color1">{{mapByPlay[5543].name}}</span> <span class="pl">{{mapByPlay[5543].bp | numFilter}}</span> <el-input v-model="finput[5543]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5544"><span class="square color2">{{mapByPlay[5544].name}}</span> <span class="pl">{{mapByPlay[5544].bp | numFilter}}</span> <el-input v-model="finput[5544]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5545"><span class="square color3">{{mapByPlay[5545].name}}</span> <span class="pl">{{mapByPlay[5545].bp | numFilter}}</span> <el-input v-model="finput[5545]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>                        
								<td  class="col3 name" data-id="5546"><span class="square color4">{{mapByPlay[5546].name}}</span> <span class="pl">{{mapByPlay[5546].bp | numFilter}}</span> <el-input v-model="finput[5546]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5547"><span class="square color5">{{mapByPlay[5547].name}}</span> <span class="pl">{{mapByPlay[5547].bp | numFilter}}</span> <el-input v-model="finput[5547]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5548"><span class="square color6">{{mapByPlay[5548].name}}</span> <span class="pl">{{mapByPlay[5548].bp | numFilter}}</span> <el-input v-model="finput[5548]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5549"><span class="square color7">{{mapByPlay[5549].name}}</span> <span class="pl">{{mapByPlay[5549].bp | numFilter}}</span> <el-input v-model="finput[5549]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5550"><span class="square color8">{{mapByPlay[5550].name}}</span> <span class="pl">{{mapByPlay[5550].bp | numFilter}}</span> <el-input v-model="finput[5550]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5551"><span class="square color9">{{mapByPlay[5551].name}}</span> <span class="pl">{{mapByPlay[5551].bp | numFilter}}</span> <el-input v-model="finput[5551]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
							<tr>
								<td  class="col3 name" data-id="5552"><span class="square color10">{{mapByPlay[5552].name}}</span> <span class="pl">{{mapByPlay[5552].bp | numFilter}}</span> <el-input v-model="finput[5552]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							</tr>
						</table>
					</div>
			</el-aside>
		</el-container>

    </div>
</template>
<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>