<template>
    <div class="bet_space credit_bet" >
                <div class="game-title" >
                        <div class="icon-title">冠亚军和</div>
                </div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5382">{{mapByPlay[5382].name}} <span class="pl">{{mapByPlay[5382].bp | numFilter}}</span> <el-input v-model="finput[5382]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							<td colspan="3" class="col2 name" data-id="5383">{{mapByPlay[5383].name}} <span class="pl">{{mapByPlay[5383].bp | numFilter}}</span> <el-input v-model="finput[5383]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5384">{{mapByPlay[5384].name}} <span class="pl">{{mapByPlay[5384].bp | numFilter}}</span> <el-input v-model="finput[5384]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
							<td colspan="3" class="col2 name" data-id="5385">{{mapByPlay[5385].name}} <span class="pl">{{mapByPlay[5385].bp | numFilter}}</span> <el-input v-model="finput[5385]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
                
		<el-container>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">冠军</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5386">{{mapByPlay[5386].name}} <span class="pl">{{mapByPlay[5386].bp | numFilter}}</span> <el-input v-model="finput[5386]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5387">{{mapByPlay[5387].name}} <span class="pl">{{mapByPlay[5387].bp | numFilter}}</span> <el-input v-model="finput[5387]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5388">{{mapByPlay[5388].name}} <span class="pl">{{mapByPlay[5388].bp | numFilter}}</span> <el-input v-model="finput[5388]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5389">{{mapByPlay[5389].name}} <span class="pl">{{mapByPlay[5389].bp | numFilter}}</span> <el-input v-model="finput[5389]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5390">{{mapByPlay[5390].name}} <span class="pl">{{mapByPlay[5390].bp | numFilter}}</span> <el-input v-model="finput[5390]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5391">{{mapByPlay[5391].name}} <span class="pl">{{mapByPlay[5391].bp | numFilter}}</span> <el-input v-model="finput[5391]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">亚军</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5392">{{mapByPlay[5392].name}} <span class="pl">{{mapByPlay[5392].bp | numFilter}}</span> <el-input v-model="finput[5392]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5393">{{mapByPlay[5393].name}} <span class="pl">{{mapByPlay[5393].bp | numFilter}}</span> <el-input v-model="finput[5393]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5394">{{mapByPlay[5394].name}} <span class="pl">{{mapByPlay[5394].bp | numFilter}}</span> <el-input v-model="finput[5394]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5395">{{mapByPlay[5395].name}} <span class="pl">{{mapByPlay[5395].bp | numFilter}}</span> <el-input v-model="finput[5395]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5396">{{mapByPlay[5396].name}} <span class="pl">{{mapByPlay[5396].bp | numFilter}}</span> <el-input v-model="finput[5396]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5397">{{mapByPlay[5397].name}} <span class="pl">{{mapByPlay[5397].bp | numFilter}}</span> <el-input v-model="finput[5397]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第三名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5398">{{mapByPlay[5398].name}} <span class="pl">{{mapByPlay[5398].bp | numFilter}}</span> <el-input v-model="finput[5398]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5399">{{mapByPlay[5399].name}} <span class="pl">{{mapByPlay[5399].bp | numFilter}}</span> <el-input v-model="finput[5399]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5400">{{mapByPlay[5400].name}} <span class="pl">{{mapByPlay[5400].bp | numFilter}}</span> <el-input v-model="finput[5400]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5401">{{mapByPlay[5401].name}} <span class="pl">{{mapByPlay[5401].bp | numFilter}}</span> <el-input v-model="finput[5401]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5402">{{mapByPlay[5402].name}} <span class="pl">{{mapByPlay[5402].bp | numFilter}}</span> <el-input v-model="finput[5402]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5403">{{mapByPlay[5403].name}} <span class="pl">{{mapByPlay[5403].bp | numFilter}}</span> <el-input v-model="finput[5403]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第四名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5404">{{mapByPlay[5404].name}} <span class="pl">{{mapByPlay[5404].bp | numFilter}}</span> <el-input v-model="finput[5404]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5405">{{mapByPlay[5405].name}} <span class="pl">{{mapByPlay[5405].bp | numFilter}}</span> <el-input v-model="finput[5405]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5406">{{mapByPlay[5406].name}} <span class="pl">{{mapByPlay[5406].bp | numFilter}}</span> <el-input v-model="finput[5406]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5407">{{mapByPlay[5407].name}} <span class="pl">{{mapByPlay[5407].bp | numFilter}}</span> <el-input v-model="finput[5407]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5408">{{mapByPlay[5408].name}} <span class="pl">{{mapByPlay[5408].bp | numFilter}}</span> <el-input v-model="finput[5408]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5409">{{mapByPlay[5409].name}} <span class="pl">{{mapByPlay[5409].bp | numFilter}}</span> <el-input v-model="finput[5409]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第五名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5410">{{mapByPlay[5410].name}} <span class="pl">{{mapByPlay[5410].bp | numFilter}}</span> <el-input v-model="finput[5410]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5411">{{mapByPlay[5411].name}} <span class="pl">{{mapByPlay[5411].bp | numFilter}}</span> <el-input v-model="finput[5411]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5412">{{mapByPlay[5412].name}} <span class="pl">{{mapByPlay[5412].bp | numFilter}}</span> <el-input v-model="finput[5412]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5413">{{mapByPlay[5413].name}} <span class="pl">{{mapByPlay[5413].bp | numFilter}}</span> <el-input v-model="finput[5413]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5414">{{mapByPlay[5414].name}} <span class="pl">{{mapByPlay[5414].bp | numFilter}}</span> <el-input v-model="finput[5414]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5415">{{mapByPlay[5415].name}} <span class="pl">{{mapByPlay[5415].bp | numFilter}}</span> <el-input v-model="finput[5415]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
		</el-container>

		<el-container>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第六名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5416">{{mapByPlay[5416].name}} <span class="pl">{{mapByPlay[5416].bp | numFilter}}</span> <el-input v-model="finput[5416]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5417">{{mapByPlay[5417].name}} <span class="pl">{{mapByPlay[5417].bp | numFilter}}</span> <el-input v-model="finput[5417]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5418">{{mapByPlay[5418].name}} <span class="pl">{{mapByPlay[5418].bp | numFilter}}</span> <el-input v-model="finput[5418]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5419">{{mapByPlay[5419].name}} <span class="pl">{{mapByPlay[5419].bp | numFilter}}</span> <el-input v-model="finput[5419]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第七名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5420">{{mapByPlay[5420].name}} <span class="pl">{{mapByPlay[5420].bp | numFilter}}</span> <el-input v-model="finput[5420]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5421">{{mapByPlay[5421].name}} <span class="pl">{{mapByPlay[5421].bp | numFilter}}</span> <el-input v-model="finput[5421]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5422">{{mapByPlay[5422].name}} <span class="pl">{{mapByPlay[5422].bp | numFilter}}</span> <el-input v-model="finput[5422]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5423">{{mapByPlay[5423].name}} <span class="pl">{{mapByPlay[5423].bp | numFilter}}</span> <el-input v-model="finput[5423]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第八名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5424">{{mapByPlay[5424].name}} <span class="pl">{{mapByPlay[5424].bp | numFilter}}</span> <el-input v-model="finput[5424]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5425">{{mapByPlay[5425].name}} <span class="pl">{{mapByPlay[5425].bp | numFilter}}</span> <el-input v-model="finput[5425]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5426">{{mapByPlay[5426].name}} <span class="pl">{{mapByPlay[5426].bp | numFilter}}</span> <el-input v-model="finput[5426]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5427">{{mapByPlay[5427].name}} <span class="pl">{{mapByPlay[5427].bp | numFilter}}</span> <el-input v-model="finput[5427]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第九名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5428">{{mapByPlay[5428].name}} <span class="pl">{{mapByPlay[5428].bp | numFilter}}</span> <el-input v-model="finput[5428]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5429">{{mapByPlay[5429].name}} <span class="pl">{{mapByPlay[5429].bp | numFilter}}</span> <el-input v-model="finput[5429]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5430">{{mapByPlay[5430].name}} <span class="pl">{{mapByPlay[5430].bp | numFilter}}</span> <el-input v-model="finput[5430]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5431">{{mapByPlay[5431].name}} <span class="pl">{{mapByPlay[5431].bp | numFilter}}</span> <el-input v-model="finput[5431]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第十名</div>
				</div>
				<div  class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5432">{{mapByPlay[5432].name}} <span class="pl">{{mapByPlay[5432].bp | numFilter}}</span> <el-input v-model="finput[5432]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5433">{{mapByPlay[5433].name}} <span class="pl">{{mapByPlay[5433].bp | numFilter}}</span> <el-input v-model="finput[5433]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5434">{{mapByPlay[5434].name}} <span class="pl">{{mapByPlay[5434].bp | numFilter}}</span> <el-input v-model="finput[5434]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5435">{{mapByPlay[5435].name}} <span class="pl">{{mapByPlay[5435].bp | numFilter}}</span> <el-input v-model="finput[5435]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
		</el-container>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>