<template>
    <div >
            <h1>广东快乐十分</h1>
            <ul>
<li>营业时间为北京上午09：00至晚上23：00,每期间隔10分锺,共84期。</li>
<li>正/特码:第一至七球分别为正码一至正码七,第八球为特码.</li>
<li>总和大小:八个开奖号码的和值介于(含)85~132为总和大,介于(含)36至83为总和小.值为84时和局.</li>
<li>总和单双:八个开奖号码的和值是奇数时为总和单,若为偶数则是总和双.</li>
<li>总和尾大小:开奖的八个号码和值的尾数,若介于(含)0~4为小,介于(含)5~9为大.</li>
<li>正码单双:对应于正码位置的号码,若为奇数时为单,例01.若为偶数则双,例12.</li>
<li>正码大小:对应于正码位置的号码,介于(含)11~20为大,介于(含)01至10为小.</li>
<li>正码尾大小:对应于正码位置的号码尾数,若介于(含)0~4为小,介于(含)5~9为大.例:正一08,则正一尾大.</li>
<li>正码合数:对应于正码位置的数字相加,若是奇数为合数单,若是介数则为合数双.例:正一08,则正一合双.</li>
<li>正码龙虎:(非龙虎斗)正一VS特码(正八),正二VS正七,正三VS正六,正四VS正五.当前者大于后者时为龙,否则为虎.注:1最小,20最大.</li>
<li>龙虎斗:对应于正码位置,前者大于后者为龙,否则为虎.例正一VS正二.开奖号正一02,正二01时为虎.注:1最小,20最大.</li>
<li>八中一:1~20任购一个号码.当开出的八个号码内含有所购号码即中奖.</li>
            </ul>
    </div>
</template>
