<template>
    <div >
            <h1>加拿大五分彩</h1>
            <ul>
<li>营业时间为全天，五分钟一期;共288期。</li>
<li>第一球为万位,第二球千位,第三球百位,第四球十分,第五球个位.球号最大为9,最小为0.</li>
<li>总和大小:五个开奖号码的和值介于(含)23~45为总和大,介于(含)0至22为总和小.</li>
<li>总和单双:五个开奖号码的和值是奇数时为总和单,是偶数则为总和双.</li>
<li>总和-龙虎和:第一球大于第五球时为龙,第一球小于第五球为虎,相等则为和.投注组合不符合中奖结果，视为不中奖。</li>
<li>大小单双:相对于投注的位置.号码介于(含)0~4为小,介于(含)5~9为大.号码奇数时为单,偶数为双.</li>
<li>前三/中三/后三:共五个球,前三为处于万千百位置的的球号,中三为位于千百十位置的球号,后三为处于百十个位置的球号.</li>
<li>豹子:三个相同的号码.例000,999.</li>
<li>顺子:三个相连的号码,不分顺序.例789,890,901.</li>
<li>对子:两个相同的号码,不分顺序.例001,101.</li>
<li>半顺:三个号码中,有两个是相连,一个不相连,不分顺序.例124,790.</li>
<li>杂六:不包括豹子、对子、顺子、半顺的所有中奖号码.</li>
<li>注意:豹子>顺子>对子>半顺>杂六.例开奖为999,投注豹子中奖,投注对子不中奖.例开奖901,投注顺子中奖,半顺不中奖.</li>
<li>龙虎斗:前者大于后者为龙,前者小于后者为虎,相等为和.投注组合不符合中奖结果，视为不中奖。</li>
            </ul>
    </div>
</template>
