<template>
    <div class="scroll-rule-wrap">
            <h1>老捣</h1>
            <ul>
                <li>每分钟开奖一次，每场只开出三个动物图形。</li>
                <li>共有6种动物图形，分别为：虎、鸡、象、鱼、龟、虾。</li>
            </ul>
            <h1>玩法规则：</h1>
            
            <ul>
                <li>陆地动物：虎、鸡、象。</li>
                <li>水上动物：鱼、龟、虾。</li>
                <li>豹子：三个一样的动物称之为豹子。</li>
                <li>连线：两个相邻但不相同的动物连成一条线，可以是中线或对角线，共有11条连线。</li>
                <li>单骰：任一种动物。</li>
            <ul>
                <h1><img class="diagram" :src="require('@/assets/images/ld/diagram.png')"></h1>
            </ul>
                <li>前期最大投注者可于上方拉霸区负责开出前期的奖项，并于5秒内点击按“拉”，逾时未拉者视同放弃，系统将自动开奖。</li>
            </ul>
    </div>
</template>
<style lang="stylus" rel="stylesheet/stylus" scoped>
    .scroll-rule-wrap
        height 120vh
    .diagram
        width 500px !important;
        height auto !important;
</style>