<template>
    <div >
        <h1>DV字花</h1>
        <ul>
            <li>总共36个动物，不开蜜蜂及重彩（重复的动物）。其余34个动物均可开彩。每一场将会给出谜题、给出提示，顾客根据提示来猜是哪一种动物。猜中奖金为1赔28倍</li>
            <li>不连续开重彩</li>
            <li>开了“相生”， “相克” 动物后 20 期内必开飞龙和燕子其中之一</li>
            <li>
金：飞龙.蚯蚓.尼姑.马鹿.蛇.红燕。<br>
木：家猫.黄蜂.老鼠.马.猪.鸽子.蝴蝶.青蛙。<br>
水：野猫.牛.鹅.螺蛳.白鱼.金鱼.黄鳝.蜘蛛.乌鸦.猴子.金龙。<br>
火：乌龟。<br>
土：白鹤.大象.狗.兔子.老虎.孔雀.鸡.羊.螃蟹.宝石。<br>
相生：金生水、水生木、木生火、火生土、土生金。<br>
相克：金克木、木克土、土克水、水克火、火克金。<br>
            </li>
            <li>开了飞龙和燕子之后 6 期内必开“蝴蝶” 俗称“还魂”</li>
            <li>开了“乌鸦”12 期内必开“六白”，俗称“洗白”。六白：兔子.鹅.螺蛳.白鱼.尼姑.蝴蝶。</li>
        </ul>
    </div>
</template>
