<template>
    <div class="bet_space credit_bet zh_space" >
		<div class="game-title" >
			<div class="icon-title">特码</div>
		</div>
		<div  class="play-menu">
			<table>
				<tr>
					<td  class="col3 name zh_name" data-id="6579"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6579].name+'.png')"><el-input v-model="finput[6579]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6580"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6580].name+'.png')"><el-input v-model="finput[6580]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6581"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6581].name+'.png')"><el-input v-model="finput[6581]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6582"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6582].name+'.png')"><el-input v-model="finput[6582]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6583"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6583].name+'.png')"><el-input v-model="finput[6583]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6584"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6584].name+'.png')"><el-input v-model="finput[6584]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name zh_name" data-id="6585"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6585].name+'.png')"><el-input v-model="finput[6585]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6586"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6586].name+'.png')"><el-input v-model="finput[6586]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6587"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6587].name+'.png')"><el-input v-model="finput[6587]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6588"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6588].name+'.png')"><el-input v-model="finput[6588]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6589"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6589].name+'.png')"><el-input v-model="finput[6589]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6590"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6590].name+'.png')"><el-input v-model="finput[6590]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name zh_name" data-id="6591"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6591].name+'.png')"><el-input v-model="finput[6591]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6592"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6592].name+'.png')"><el-input v-model="finput[6592]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6593"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6593].name+'.png')"><el-input v-model="finput[6593]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6594"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6594].name+'.png')"><el-input v-model="finput[6594]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6595"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6595].name+'.png')"><el-input v-model="finput[6595]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6596"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6596].name+'.png')"><el-input v-model="finput[6596]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name zh_name" data-id="6597"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6597].name+'.png')"><el-input v-model="finput[6597]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6598"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6598].name+'.png')"><el-input v-model="finput[6598]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6599"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6599].name+'.png')"><el-input v-model="finput[6599]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6600"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6600].name+'.png')"><el-input v-model="finput[6600]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6601"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6601].name+'.png')"><el-input v-model="finput[6601]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6602"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6602].name+'.png')"><el-input v-model="finput[6602]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name zh_name" data-id="6603"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6603].name+'.png')"><el-input v-model="finput[6603]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6604"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6604].name+'.png')"><el-input v-model="finput[6604]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6605"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6605].name+'.png')"><el-input v-model="finput[6605]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6606"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6606].name+'.png')"><el-input v-model="finput[6606]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6607"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6607].name+'.png')"><el-input v-model="finput[6607]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6608"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6608].name+'.png')"><el-input v-model="finput[6608]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name zh_name" data-id="6609"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6609].name+'.png')"><el-input v-model="finput[6609]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6610"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6610].name+'.png')"><el-input v-model="finput[6610]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6611"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6611].name+'.png')"><el-input v-model="finput[6611]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6612"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6612].name+'.png')"><el-input v-model="finput[6612]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6613"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6613].name+'.png')"><el-input v-model="finput[6613]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name zh_name" data-id="6614"><img class="k3 zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6614].name+'.png')"><el-input v-model="finput[6614]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  created() {

  }
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>
