<template>
	<div class="login-panel">
		<el-card v-if="user.username==''" shadow="always">
			<div v-if="config.platform_type==1">
				<el-row >
					<el-col :span="12" class="login-head-left" >
						<i class="fas fa-users"></i>
					</el-col>
					<el-col :span="12" >
						<el-button type="primary" :loading="loading" @click="guestLogin">免費試玩</el-button>
					</el-col>
				</el-row>
				<el-row >
					<div class="login-head-left-title">
						<div>MEMBER LOGIN</div>
					</div>
				</el-row>
				<el-divider></el-divider>
				<el-form label-position="left" label-width="60px" :model="form" :rules="rules" ref="form" status-icon>
					<el-form-item label="帳號" prop="username">
						<el-input v-model="form.username" placeholder="帳戶名" prefix-icon="el-icon-s-custom"></el-input>
					</el-form-item>
					<el-form-item label="密碼" prop="pwd">
						<el-input show-password v-model="form.pwd" placeholder="密碼" auto-complete="off" prefix-icon="el-icon-unlock"></el-input>
					</el-form-item>
					<el-form-item label="">
						<el-checkbox-group v-model="form.chk" style="text-align: left;">
						  <el-checkbox label="記住帳號" name="chk"></el-checkbox>
						</el-checkbox-group>
					</el-form-item>
					<el-row style="margin-top: -20px;">
						<el-button type="primary" @click="UserReg" >註冊</el-button> <el-button type="primary" @click="login('form')" >登錄</el-button>
					</el-row>
				</el-form>
			</div>
			<div v-if="config.platform_type==0">
				<el-row >
					<el-col :span="12" class="login-head-left" >
						<i class="fas fa-users"></i>
					</el-col>
					<el-col :span="12" >
						<div>MEMBER LOGIN</div>
					</el-col>
				</el-row>
				<el-divider></el-divider>
				<el-form label-position="left" label-width="60px" :model="form" :rules="rules" ref="form" status-icon>
					<el-form-item label="帳號" prop="username">
						<el-input v-model="form.username" placeholder="帳戶名" prefix-icon="el-icon-s-custom"></el-input>
					</el-form-item>
					<el-form-item label="密碼" prop="pwd">
						<el-input show-password v-model="form.pwd" placeholder="密碼" auto-complete="off" prefix-icon="el-icon-unlock"></el-input>
					</el-form-item>
					<el-form-item label="">
						<el-checkbox-group v-model="form.chk" style="text-align: left;">
						  <el-checkbox label="記住帳號" name="chk"></el-checkbox>
						</el-checkbox-group>
					</el-form-item>
					<el-row style="margin-top: -20px;">
						<el-button type="primary" @click="login('form')" style="width: 120px;" >登 錄</el-button>
					</el-row>
				</el-form>
			</div>


		</el-card>
		<el-card v-if="user.username!=''" shadow="always">
			<el-row class="right-icon" justify="end"><i class="el-icon-star-on" style="color: #d3a04c;"></i></el-row>
			<el-row>
				<el-col :span="20" class="logined-content" >
					帳號:&nbsp;{{user.username}}
				</el-col>
				<el-col :span="4" class="logined-content">
					<el-link :underline="false" @click="logout"><i class="fas fa-sign-out-alt" ></i></el-link>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="20" class="logined-content" >
					餘額:&nbsp;
					<span v-show="user.coin===''"> <div class="lds-css" ><div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div></span>
					<span v-show="user.coin!==''">{{user.coin}} </span>
				</el-col>
				<el-col :span="4" class="logined-content" >
					<el-link :underline="false" v-loading.fullscreen.lock="fullscreenLoading" @click="getCoin"><i class="fas fa-sync-alt" ></i></el-link>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="20" class="logined-content" >
					積分:&nbsp;
					<span v-show="user.score===''"> <div class="lds-css" ><div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div></span>
					<span v-show="user.score!==''">{{user.score}} </span>
				</el-col>
				<el-col :span="4" class="logined-content" >
					<el-link :underline="false"  @click="getDzp"><i class="fas fa-gift" ></i></el-link>
				</el-col>
			</el-row>
			<el-row v-if="config.platform_type==1">
				<el-col :span="12" class="login-head-center" >
					<div><el-button type="primary" @click="getUcenter('/user/recharge')">充值</el-button></div>
				</el-col>
				<el-col :span="12" class="login-head-center" >
					<div><el-button type="primary" @click="getUcenter('/user/withdraw')">提款</el-button></div>
				</el-col>
			</el-row>
			<el-divider></el-divider>
			<el-row class="logined-bottom el-tag el-tag--info el-tag--light">
				<el-col :span="22" >
					<el-link class="bar-item-link" :underline="false" @click="getUcenter('/user/safe')" >會員中心</el-link>
				</el-col>
				<el-col :span="2" >
					<i class="fas fa-angle-double-right"></i>
				</el-col>
			</el-row>
			<el-row class="logined-bottom el-tag el-tag--info el-tag--light" style="margin-top: 5px;" v-if="user.type==1">
				<el-col :span="22" >
					<el-link class="bar-item-link" :underline="false" @click="getUcenter('/agent/cash/info')" v-if="config.platform_type==1">代理中心</el-link>
					<el-link class="bar-item-link" :underline="false" @click="getUcenter('/agent/credit/index')" v-if="config.platform_type==0">代理中心</el-link>
				</el-col>
				<el-col :span="2" >
					<i class="fas fa-angle-double-right"></i>
				</el-col>
			</el-row>
		</el-card>
		<el-row style="margin-top: 10px;">
			<el-card shadow="never">
				<el-row>
					<el-col :span="24" style="margin-bottom: 22px;">
						<img height="120px" src="~assets/images/main/kf.png">
					</el-col>
				</el-row>
				<el-row class="logined-bottom el-tag el-tag--info el-tag--light" style="margin-top: -10px;">
					<el-col :span="22" >
						<el-link class="bar-item-link" :underline="false" @click="getKF" >聯繫客服</el-link>
					</el-col>
					<el-col :span="2" >
						<i class="fas fa-angle-double-right"></i>
					</el-col>
				</el-row>
			</el-card>
		</el-row>
		<el-dialog :title="dialog.title" :visible.sync="dialog.Visible">
			<el-row>
				<el-col :span="12">
					<el-image fit="cover" :src="require('@/assets/images/main/login-info.jpg')"></el-image>
				</el-col>
				<el-col :span="12" class="reg-padding">
					<el-row>
						<el-col>
							注册{{config.app_name}}账户,您将会领略到前所未有的博彩体验.如果您已拥有{{config.app_name}}账户,则可直接登录
						</el-col>
						<el-col>
						  <el-form :model="reg" :rules="rules_reg" status-icon>
							<el-form-item label="帐号" prop="username" >
							  <el-input v-model="reg.username" placeholder="請輸入帐号" ></el-input>
							</el-form-item>
							<el-form-item label="密碼" prop="pwd">
							  <el-input v-model="reg.pwd" show-password placeholder="請輸入密碼" ></el-input>
							</el-form-item>
							<el-form-item label="確認密碼" prop="confirm_pwd">
							  <el-input v-model="reg.confirm_pwd" show-password placeholder="確認密碼" @keypress.native="$bet.onlyNumber()"></el-input>
							</el-form-item>
							<el-form-item label="邀請碼" prop="lid" v-if="this.$route.name!='spreg'">
							  <el-input v-model="reg.lid" placeholder="邀請碼(可不填)" ></el-input>
							</el-form-item>
							<el-checkbox v-model="reg.checked"><span style="color:black;">我已經屆滿合法博彩年齡,且同意各項</span></el-checkbox><a style="color:#e40000;font-size:14px;cursor:pointer;" @click="getRegInfo()">開戶條約</a>
						  </el-form>
						</el-col>
						<el-col>
							<div class="dialog-footer">
								<el-button style="width: 80%;" type="primary" :loading="loading" @click="register" :disabled="reg.username=='' || reg.pwd=='' || reg.confirm_pwd=='' || reg.checked==false">立 即 註 冊</el-button>
							</div>
						</el-col>
					</el-row>
				</el-col>
			</el-row>
		</el-dialog>
		<el-dialog :title="dzp.title" :visible.sync="dzp.Visible" width="550px">
			<component :is="default_view" ></component>
		</el-dialog>
	</div>
</template>

<script>
import { validator } from '@/utils/validator.js'
import { apiPostLogin,apiPostGuestLogin,apiPostLogout,apiGetCheckLetter,apiPostReg } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
	data() {
		return {
			loading:false,
			fullscreenLoading: false,
			default_view:null,
			form:{
				username:this.$cookies.get('username')?$cookies.get('username'):'',
				pwd:'',
				chk:this.$cookies.get('username')?true:false,
			},
			reg:{
				username:'',
				pwd:'',
				confirm_pwd:'',
				lid:'',
				checked:true,
			},
			rules: {
			  username: [
				{ required: true, message: '請輸入帳號', trigger: 'blur' },
				{ min: 4, max: 60, message: '长度在 4 到 60 个字符', trigger: 'blur' }
			  ],
			  pwd: [
				{ required: true, message: '請輸入密碼', trigger: 'blur' },
				{ min: 4,  message: '长度必須大於 4 个字符', trigger: 'blur' }
			  ],
			},
			rules_reg: {
			  username: [
				{ required: true, message: '請輸入帳號', trigger: 'blur' },
				{ min: 4, max: 60, message: '长度在 4 到 60 个字符', trigger: 'blur' }
			  ],
			  pwd: [
				{ required: true, message: '請輸入密碼', trigger: 'blur' },
				{ min: 4,  message: '长度必須大於 4 个字符', trigger: 'blur' }
			  ],
			  confirm_pwd: [
				{ required: true, message: '請輸入密碼', trigger: 'blur' },
				{ min: 4,  message: '长度必須大於 4 个字符', trigger: 'blur' }
			  ],
			},
			dialog:{
				title:'註冊',
				Visible:false,
			},
			dzp:{
				title:'幸運大轉盤',
				Visible:false,
			},
		}
	},
	methods: {
		getKF()
		{
			if(this.config.kfUrl!="")
			{
				window.open(this.config.kfUrl, '_blank');
			}
		},
		getUcenter(url)
		{
			if(this.user.forTest==1)
			{
				this.message('本功能不提供试玩');
				return
			}
			this.go2page(url);
		},
		getDzp()
		{	this.dzp.Visible = true;
			this.default_view = require('@/page/user/dzp.vue').default;
		},
        guestLogin()
        {
			this.loading=true;
            apiPostGuestLogin({
                client_type:'web',
            })
            .then(response => {
				this.loading=false;
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    setTimeout(()=> {
                        this.$store.dispatch('getCoin');
                    }, 15000);
                    this.$store.dispatch('setUserInfo',response.data.data);
                    this.$router.push("/");
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
		getRegInfo()
		{
			this.$router.push(
				{
					path: "help",
					name:'help',
					params: {
						path:'Cate1',
						id:'1',
					},
				},
			);
		},
        getCoin()
        {
			this.$store.dispatch('setCoin','');
            this.$store.dispatch('getCoin');
        },
        logout()
        {
            apiPostLogout({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
						this.toast(response.data.msg)
						this.$store.dispatch('clearUserInfo');
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
		UserReg()
		{
			this.dialog.Visible=true;
		},
        register(){
            if(!validator.isUsername(this.reg.username)){
                this.toast('帐号格式不正确');
                return;
            };
            // if(!validator.isPassword(this.form_reg.pwd)){
            //     this.toast('密码格式不正确,请输入6-12位数字及字母组合');
            //     return;
            // };
            if(this.reg.pwd != this.reg.confirm_pwd){
                this.toast('密码与确认密码不一致');
                return;
            };
			this.loading=true;
            apiPostReg({
                lid:this.reg.lid,
                username:this.reg.username,
                password:this.reg.pwd,
                password_repeat:this.reg.confirm_pwd,
                client_type:'web',
            })
            .then(response => {
				this.loading=false;
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
					this.dialog.Visible=false;
                    this.toast(response.data.msg,);
                    setTimeout(()=> {
                        this.$store.dispatch('getCoin');
                    }, 15000);
					this.$store.dispatch('setUserInfo',response.data.data);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
		login(formName) {
			this.$refs[formName].validate((valid) => {
			  if (valid) {
					if(!validator.isUsername(this.form.username)){
						this.toast('帐号格式不正确');
						return;
					};

					if(this.form.chk)
					{
						this.$cookies.set('username', this.form.username, '30d');
					}else
					{
						this.$cookies.remove('username');
					}
					apiPostLogin({
						username:this.form.username,
						password:this.form.pwd,
						client_type:'web',
					})
					.then(response => {
						if(response.data.error)
						{
							this.error_handler(response.data);
						}
						if(response.data.status)
						{
							setTimeout(()=> {
								this.$store.dispatch('getCoin');
							}, 15000);
							this.$store.dispatch('setUserInfo',response.data.data);
							this.form.pwd='';
						}
						return;
					}).catch(error => {
						console.log(error);
						return;
					});
				}
			});
		},
	},
    computed: {
		...mapGetters({
			user: "user",
			config: "config",
        }),
    },
    created() {
		if(this.$route.name=="spreg")
		{
			this.reg.lid=this.$route.params.id;
			this.UserReg();
		}
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.login-panel
	padding 10px
	.right-icon
		text-align: right;
		margin-top: -10px;
		margin-right: -10px;
	.login-head-left
		font-size: 2.5rem;
		line-height: 20px;
	.login-head-left-title
		margin-bottom: -13px;
		margin-top: 15px;
	.login-head-right
		text-align right
	.login-head-center
		text-align center
		line-height: 60px;
	.el-divider--horizontal
		margin: 15px 0;
	.logined-content
		display: flex;
		text-align: left;
		font-size: .9rem;
		line-height: 30px;
	.logined-bottom
		line-height: 40px;
		width: 100%;
		height: 40px;
		font-size: 0.95rem;
	.app-info
		line-height: 35px;
		font-size: 1.8rem;
		padding-top: 11px;
	.reg-padding
		padding 0px 35px;
		text-align left;
	.dialog-footer
		margin-top 15px;
		text-align center;
	.el-dialog
		.el-dialog__body
			padding 0px 0px;

@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -1.75s;
  animation-delay: -1.75s;
  background: #6a67ce;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
  background: #1aafd0;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #3be8b0;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis {
  width: 80px !important;
  height: 15px !important;
  -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
  transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
}
</style>
