<template>
	<div class="main">
		<el-row>
		  <el-col :span="24">
			<el-carousel height="350px" class="header-swiper">
			  <el-carousel-item v-for="(slide, index) in swiperSlides" :key="index">
				<!--
				<div class="header-swiper-img" :style="{background:'url(/static/images/banner/'+slide+') 50%/cover #000'}"></div>
				-->
				<img style="height: 350px; width: 100%;" :src="'/static/images/banner/'+slide">
			  </el-carousel-item>
			</el-carousel>
		  </el-col>
		</el-row>
		<el-row class="main-bar">
			<el-row class="main-bar-inside" >
				<el-menu :default-active="activeIndex" class="main-bar-el-menu" mode="horizontal" @select="handleSelect" :router="false">
                    <el-menu-item index="/" class="bar-item">首頁</el-menu-item>
					<el-menu-item index="/game" class="bar-item">彩票中心</el-menu-item>
					<!-- <el-menu-item index="binary" class="bar-item"><a href="/binary" target="_blank" style="text-decoration:none;">二元期权</a></el-menu-item> -->
					<el-menu-item index="/egame" class="bar-item">電子遊戲</el-menu-item>
                    <el-menu-item index="/promotion" class="bar-item">優惠活動</el-menu-item>
					<el-menu-item index="/history" class="bar-item">開獎紀錄</el-menu-item>
					<el-menu-item index="/app" class="bar-item">手機下注</el-menu-item>
					<el-menu-item index="/bulletin" class="bar-item">公告信息</el-menu-item>
				</el-menu>
			</el-row>
		</el-row>
	</div>
</template>

<script>
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
	data() {
		return {
			activeIndex: this.$router.currentRoute.path,
			swiperSlides: [
				//'7adeb3ce3ba6d7c6000ef3df773bf37f.jpg',
				// '7824aa90d480fdbdbd9dc027be291a33.png',
				 '4a3544a2008403d2b5e7cb4bda961d43.jpg',
				// 'banner.jpg',
			],
		}
	},
	methods: {
		handleSelect(key, keyPath) {
			this.activeIndex = key;
			if(key != "binary")
			{
				this.go2page(key);
			}
		},
	},
	components: {
	}
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.main
	width 100%
	.header-swiper-img
		width: 100%;
		height: 200px;
	.main-bar
		line-height: 48px;
		background: #f5f5f5;
		color: #606266;
		text-align: -webkit-center;
		text-align: -moz-center;
		box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
		border-bottom: 1px #ddd solid;
		.main-bar-inside
			width: 1110px;
			.main-bar-el-menu
				background-color:unset;
				border:none;
				.bar-item
					width 14%;
					font-size 1rem
@media screen and (max-width: 1024px){
	.main-bar-inside{
		width: 1180px !important;
	}
}
</style>
