<template>
	<div class="main-foot">
		<div class="main-foot-body">
			<el-row >
				<el-col :span="12">
						<ul class="foot-icon">
							<li>
								<svg width="23" height="23">
									<image xlink:href="~assets/images/main/foot-icon-1.svg" data-src="~assets/images/main/foot-icon-1.png" width="23" height="23"></image>
								</svg>
							</li>
							<li>
								<svg width="23" height="23">
									<image xlink:href="~assets/images/main/foot-icon-2.svg" data-src="~assets/images/main/foot-icon-2.png" width="23" height="23"></image>
								</svg>
							</li>
							<li>
								<svg width="23" height="23">
									<image xlink:href="~assets/images/main/foot-icon-3.svg" data-src="~assets/images/main/foot-icon-3.png" width="23" height="23"></image>
								</svg>
							</li>
							<li>
								<svg width="23" height="23">
									<image xlink:href="~assets/images/main/foot-icon-4.svg" data-src="~assets/images/main/foot-icon-4.png" width="23" height="23"></image>
								</svg>
							</li>
							<li>
								<svg width="23" height="23">
									<image xlink:href="~assets/images/main/foot-icon-5.svg" data-src="~assets/images/main/foot-icon-5.png" width="23" height="23"></image>
								</svg>
							</li>
							<li>
								<svg width="23" height="23">
									<image xlink:href="~assets/images/main/foot-icon-6.svg" src="~assets/images/main/foot-icon-6.png" width="23" height="23"></image>
								</svg>
							</li>
						</ul>
				</el-col>
				<el-col :span="12">
						<div class="foot-space-right" style="float: right">
							<ul class="foot-tip">
								<li class="li-1">
									<div class="tip-con">

									</div>
								</li>
								<li class="li-2">
									<div class="tip-con">

									</div>
								</li>
								<li class="li-3">
									<div class="tip-con">

									</div>
								</li>
							</ul>
						</div>
				</el-col>
			</el-row>
			<el-row class="foot-text">
				<el-col :span="16">
					<div class="copy-right">
						<span>© 2014 {{config.app_name}}权所有</span>
						<span class="approve">菲律宾政府PAGCOR博彩牌照认证</span>
					</div>
					<div>{{config.app_name}}郑重提示：彩票有风险，投注需谨慎，不向未满18周岁的青少年出售彩票</div>
				</el-col>
				<el-col :span="8">
					<div class="foot-space-right">
						<img src="~assets/images/main/footer-gamble.png" >
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    computed: {
		...mapGetters({
			config: "config",
        }),
    },
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-foot
	background: url('~assets/images/binding_dark.png') repeat;
	.main-foot-body
		width 1110px;
		margin: auto;
		text-align: center;
		padding: 0px 20px 20px 20px;
		.foot-text
			color: #a6a6a6;
			text-align left
			font-size .9rem
			.approve
				color: #dcdcdc;
		.foot-icon
			padding-top: 2px;
			display: flex;
			list-style none;
			li
				width: 22px;
				height: 22px;
				position: relative;
				margin-right: 8px;
				border-radius: 50%;
				transition: all 0.3s;
				opacity: 0.5;
			li:hover
				opacity: 1;
		.foot-tip
			padding-top: 2px;
			display: flex;
			li
				width: 30px;
				height: 31px;
				margin-left: 14px;
				position: relative;
				background: url("~assets/images/main/footer-approve.png") no-repeat;
				display: inline-block;
				.tip-con
					width: 30px;
					height: 31px;
					margin-left: 14px;
					position: relative;
			.li-1
				background-position: 0 0;
			.li-2
				background-position: -238px 0;
			.li-3
				width: 94px;
				background-position: -134px 0;
			.li-1:hover
				background-position: 0 -31px;
			.li-2:hover
				background-position: -238px -31px;
			.li-3:hover
				background-position: -134px -31px;
		.foot-space-right
			padding-right 40px;
			text-align right;
@media screen and (max-width: 1024px){
	.main-foot-body{
		width: 1180px !important;
	}
}
</style>
