<template>
    <div class="bet_space credit_bet">

        <div class="game-title" >
                        <div class="icon-title">陆 {{mapByPlay[6620].bp | numFilter}} / 水  {{mapByPlay[6619].bp | numFilter}}</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col2 name" data-id="6620">
                            <img class="k3 ld" :src="require('@/assets/images/ld/1.png')">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2.png')">
                            <img class="k3 ld" :src="require('@/assets/images/ld/3.png')">
							<el-input v-model="finput[6620]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col2 name" data-id="6619">
                            <img class="k3 ld" :src="require('@/assets/images/ld/4.png')">
                            <img class="k3 ld" :src="require('@/assets/images/ld/5.png')">
                            <img class="k3 ld" :src="require('@/assets/images/ld/6.png')">
                            <el-input v-model="finput[6619]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        <div class="game-title" >
                        <div class="icon-title">豹子 {{mapByPlay[6621].bp | numFilter}}</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6621">
                            <img class="k3 ld" :src="require('@/assets/images/ld/1_1_1.png')">
                            <el-input v-model="finput[6621]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6622">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2_2_2.png')">
                            <el-input v-model="finput[6622]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6623">
                            <img class="k3 ld" :src="require('@/assets/images/ld/3_3_3.png')">
                            <el-input v-model="finput[6623]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6624">
                            <img class="k3 ld" :src="require('@/assets/images/ld/4_4_4.png')">
                            <el-input v-model="finput[6624]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6625">
                            <img class="k3 ld" :src="require('@/assets/images/ld/5_5_5.png')">
                            <el-input v-model="finput[6625]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6626">
                            <img class="k3 ld" :src="require('@/assets/images/ld/6_6_6.png')">
                            <el-input v-model="finput[6626]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    </tr>
                </table>

                <div class="shadow"></div>
            </div>
        <div class="game-title" >
                        <div class="icon-title">连线 {{mapByPlay[6627].bp | numFilter}}</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6627">
                            <img class="k3 ld" :src="require('@/assets/images/ld/1_2.png')">
                            <el-input v-model="finput[6627]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6628">
                            <img class="k3 ld" :src="require('@/assets/images/ld/1_5.png')">
                            <el-input v-model="finput[6628]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6629">
                            <img class="k3 ld" :src="require('@/assets/images/ld/1_6.png')">
                            <el-input v-model="finput[6629]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6630">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2_3.png')">
                            <el-input v-model="finput[6630]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6631">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2_4.png')">
                            <el-input v-model="finput[6631]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6632">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2_5.png')">
                            <el-input v-model="finput[6632]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="6633">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2_6.png')">
                            <el-input v-model="finput[6633]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6634">
                            <img class="k3 ld" :src="require('@/assets/images/ld/3_4.png')">
                            <el-input v-model="finput[6634]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6635">
                            <img class="k3 ld" :src="require('@/assets/images/ld/3_5.png')">
                            <el-input v-model="finput[6635]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6636">
                            <img class="k3 ld" :src="require('@/assets/images/ld/4_5.png')">
                            <el-input v-model="finput[6636]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6637">
                            <img class="k3 ld" :src="require('@/assets/images/ld/5_6.png')">
                            <el-input v-model="finput[6637]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>

                    </tr>
                </table>

                <div class="shadow"></div>
            </div>
        <div class="game-title" >
                        <div class="icon-title">单骰 {{mapByPlay[6638].bp | numFilter}} </div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6638">
                            <img class="k3 ld" :src="require('@/assets/images/ld/1.png')">
                            <el-input v-model="finput[6638]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6639">
                            <img class="k3 ld" :src="require('@/assets/images/ld/2.png')">
                            <el-input v-model="finput[6639]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6640">
                            <img class="k3 ld" :src="require('@/assets/images/ld/3.png')">
                            <el-input v-model="finput[6640]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6641">
                            <img class="k3 ld" :src="require('@/assets/images/ld/4.png')">
                            <el-input v-model="finput[6641]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6642">
                            <img class="k3 ld" :src="require('@/assets/images/ld/5.png')">
                            <el-input v-model="finput[6642]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                        <td  class="col3 name" data-id="6643">
                            <img class="k3 ld" :src="require('@/assets/images/ld/6.png')">
                            <el-input v-model="finput[6643]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input>
                        </td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    props:{
      options: {
        type: Object,
        default() {
          return {}
        }
      },
    },
    components: {
    },
    methods: {

  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
},
  created() {}
};
</script>
