<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
			<div class="icon-title">三军</div>
        </div>
		<div  class="play-menu">
			<table>
				<tr>
					<td  class="col3 name" data-id="5326"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5326].name+'.png')"> <span class="pl">{{mapByPlay[5326].bp | numFilter}}</span> <el-input v-model="finput[5326]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5327"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5327].name+'.png')"> <span class="pl">{{mapByPlay[5327].bp | numFilter}}</span> <el-input v-model="finput[5327]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5328"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5328].name+'.png')"> <span class="pl">{{mapByPlay[5328].bp | numFilter}}</span> <el-input v-model="finput[5328]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name" data-id="5329"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5329].name+'.png')"> <span class="pl">{{mapByPlay[5329].bp | numFilter}}</span> <el-input v-model="finput[5329]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5330"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5330].name+'.png')"> <span class="pl">{{mapByPlay[5330].bp | numFilter}}</span> <el-input v-model="finput[5330]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5331"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5331].name+'.png')"> <span class="pl">{{mapByPlay[5331].bp | numFilter}}</span> <el-input v-model="finput[5331]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>

        <div class="game-title" >
			<div class="icon-title">和值</div>
        </div>
		<div  class="play-menu">
			<table>
				<tr>
					<td  class="col3 name" data-id="5332"><span class="fonts sort-fonts">{{mapByPlay[5332].name}}</span> <span class="pl">{{mapByPlay[5332].bp | numFilter}}</span> <el-input v-model="finput[5332]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5333"><span class="fonts sort-fonts">{{mapByPlay[5333].name}}</span> <span class="pl">{{mapByPlay[5333].bp | numFilter}}</span> <el-input v-model="finput[5333]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5334"><span class="fonts sort-fonts">{{mapByPlay[5334].name}}</span> <span class="pl">{{mapByPlay[5334].bp | numFilter}}</span> <el-input v-model="finput[5334]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5335"><span class="fonts sort-fonts">{{mapByPlay[5335].name}}</span> <span class="pl">{{mapByPlay[5335].bp | numFilter}}</span> <el-input v-model="finput[5335]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="6508"><span class="fonts sort-fonts">{{mapByPlay[6508].name}}</span> <span class="pl">{{mapByPlay[6508].bp | numFilter}}</span> <el-input v-model="finput[6508]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr><tr>
					<td  class="col3 name" data-id="6509"><span class="fonts sort-fonts">{{mapByPlay[6509].name}}</span> <span class="pl">{{mapByPlay[6509].bp | numFilter}}</span> <el-input v-model="finput[6509]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="6510"><span class="fonts sort-fonts">{{mapByPlay[6510].name}}</span> <span class="pl">{{mapByPlay[6510].bp | numFilter}}</span> <el-input v-model="finput[6510]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="6511"><span class="fonts sort-fonts">{{mapByPlay[6511].name}}</span> <span class="pl">{{mapByPlay[6511].bp | numFilter}}</span> <el-input v-model="finput[6511]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5343"><span class="fonts sort-fonts">{{mapByPlay[5343].name}}</span> <span class="pl">{{mapByPlay[5343].bp | numFilter}}</span> <el-input v-model="finput[5343]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5344"><span class="fonts sort-fonts">{{mapByPlay[5344].name}}</span> <span class="pl">{{mapByPlay[5344].bp | numFilter}}</span> <el-input v-model="finput[5344]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr><tr>
					<td  class="col3 name" data-id="5345"><span class="fonts sort-fonts">{{mapByPlay[5345].name}}</span> <span class="pl">{{mapByPlay[5345].bp | numFilter}}</span> <el-input v-model="finput[5345]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5346"><span class="fonts sort-fonts">{{mapByPlay[5346].name}}</span> <span class="pl">{{mapByPlay[5346].bp | numFilter}}</span> <el-input v-model="finput[5346]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5347"><span class="fonts sort-fonts">{{mapByPlay[5347].name}}</span> <span class="pl">{{mapByPlay[5347].bp | numFilter}}</span> <el-input v-model="finput[5347]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5348"><span class="fonts sort-fonts">{{mapByPlay[5348].name}}</span> <span class="pl">{{mapByPlay[5348].bp | numFilter}}</span> <el-input v-model="finput[5348]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5349"><span class="fonts sort-fonts">{{mapByPlay[5349].name}}</span> <span class="pl">{{mapByPlay[5349].bp | numFilter}}</span> <el-input v-model="finput[5349]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr><tr>
					<td  class="col3 name" data-id="5350"><span class="fonts sort-fonts">{{mapByPlay[5350].name}}</span> <span class="pl">{{mapByPlay[5350].bp | numFilter}}</span> <el-input v-model="finput[5350]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5351"><span class="fonts sort-fonts">{{mapByPlay[5351].name}}</span> <span class="pl">{{mapByPlay[5351].bp | numFilter}}</span> <el-input v-model="finput[5351]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5352"><span class="fonts sort-fonts">{{mapByPlay[5352].name}}</span> <span class="pl">{{mapByPlay[5352].bp | numFilter}}</span> <el-input v-model="finput[5352]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5353"><span class="fonts sort-fonts">{{mapByPlay[5353].name}}</span> <span class="pl">{{mapByPlay[5353].bp | numFilter}}</span> <el-input v-model="finput[5353]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5354"><span class="fonts sort-fonts">{{mapByPlay[5354].name}}</span> <span class="pl">{{mapByPlay[5354].bp | numFilter}}</span> <el-input v-model="finput[5354]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr><tr>
					<td  class="col3 name" data-id="5355"><span class="fonts sort-fonts">{{mapByPlay[5355].name}}</span> <span class="pl">{{mapByPlay[5355].bp | numFilter}}</span> <el-input v-model="finput[5355]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5356"><span class="fonts sort-fonts">{{mapByPlay[5356].name}}</span> <span class="pl">{{mapByPlay[5356].bp | numFilter}}</span> <el-input v-model="finput[5356]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>

        <div class="game-title" >
			<div class="icon-title">围骰全骰</div>
        </div>
		<div  class="play-menu">
			<table>
				<tr>
					<td  class="col3 name" data-id="5336"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/1.png')"> <span class="pl">{{mapByPlay[5336].bp | numFilter}}</span> <el-input v-model="finput[5336]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5337"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <span class="pl">{{mapByPlay[5337].bp | numFilter}}</span> <el-input v-model="finput[5337]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5338"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5338].bp | numFilter}}</span> <el-input v-model="finput[5338]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr><tr>
					<td  class="col3 name" data-id="5339"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5339].bp | numFilter}}</span> <el-input v-model="finput[5339]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5340"><img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5340].bp | numFilter}}</span> <el-input v-model="finput[5340]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5341"><img class="k3" :src="require('@/assets/images/k3/6.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5341].bp | numFilter}}</span> <el-input v-model="finput[5341]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>

        <div class="game-title" >
			<div class="icon-title">长牌</div>
        </div>
		<div  class="play-menu">
			<table>
				<tr>
					<td  class="col3 name" data-id="5357"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <span class="pl">{{mapByPlay[5357].bp | numFilter}}</span> <el-input v-model="finput[5357]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5358"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5358].bp | numFilter}}</span> <el-input v-model="finput[5358]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5359"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5359].bp | numFilter}}</span> <el-input v-model="finput[5359]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5360"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5360].bp | numFilter}}</span> <el-input v-model="finput[5360]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr> 
					<td  class="col3 name" data-id="5361"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5361].bp | numFilter}}</span> <el-input v-model="finput[5361]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5362"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5362].bp | numFilter}}</span> <el-input v-model="finput[5362]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5363"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5363].bp | numFilter}}</span> <el-input v-model="finput[5363]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5364"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5364].bp | numFilter}}</span> <el-input v-model="finput[5364]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr> 
					<td  class="col3 name" data-id="5365"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5365].bp | numFilter}}</span> <el-input v-model="finput[5365]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5366"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5366].bp | numFilter}}</span> <el-input v-model="finput[5366]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5367"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5367].bp | numFilter}}</span> <el-input v-model="finput[5367]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5368"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5368].bp | numFilter}}</span> <el-input v-model="finput[5368]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr> 
					<td  class="col3 name" data-id="5369"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5369].bp | numFilter}}</span> <el-input v-model="finput[5369]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5370"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5370].bp | numFilter}}</span> <el-input v-model="finput[5370]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5371"><img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5371].bp | numFilter}}</span> <el-input v-model="finput[5371]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>
		
        <div class="game-title" >
			<div class="icon-title">短牌</div>
        </div>
		<div  class="play-menu">
			<table>
				<tr>
					<td  class="col3 name" data-id="5372"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/1.png')"> <span class="pl">{{mapByPlay[5372].bp | numFilter}}</span> <el-input v-model="finput[5372]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5373"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <span class="pl">{{mapByPlay[5373].bp | numFilter}}</span> <el-input v-model="finput[5373]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5374"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5374].bp | numFilter}}</span> <el-input v-model="finput[5374]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td  class="col3 name" data-id="5375"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5375].bp | numFilter}}</span> <el-input v-model="finput[5375]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5376"><img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5376].bp | numFilter}}</span> <el-input v-model="finput[5376]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td  class="col3 name" data-id="5377"><img class="k3" :src="require('@/assets/images/k3/6.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5377].bp | numFilter}}</span> <el-input v-model="finput[5377]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>