<template>
    <div class="bet_space official_bet">
        
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 在万位、千位、百位、十位、个位任意位置上任意选择1个或1个以上号码</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
                        <el-tag >{{item.label}}</el-tag>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls" 
                                    :ref="item.row+'-'+num" 
                                    :data-row="item.row" 
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="betTool"  >
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="c">清</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="max">大</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="min">小</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="d">單</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="s">雙</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="a">全</div>
                    </div>
                </div>
            </div>
        
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/game/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
                5:false,
                6:false,
                7:false,
                8:false,
                9:false,
            },
            rule:'SSC5X_ZH',
            actionRule:'5X_DW', //機選 直投rule
            len:10,
            delimiter:' ',
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '冠军',
                row: '0',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '亚军',
                row: '1',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '季军',
                row: '2',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第四名',
                row: '3',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第五名',
                row: '4',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第六名',
                row: '5',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第七名',
                row: '6',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第八名',
                row: '7',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第九名',
                row: '8',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            },{
                label: '第十名',
                row: '9',
                nums: ['01','02','03','04','05','06','07','08','09','10'],
                max:6,
                min:5,
            }],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>