<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                        <div class="icon-title">第一球</div>
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5066"><span class="balls">{{mapByPlay[5066].name}}</span> <span class="pl">{{mapByPlay[5066].bp | numFilter}}</span> <el-input v-model="finput[5066]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5067"><span class="balls">{{mapByPlay[5067].name}}</span> <span class="pl">{{mapByPlay[5067].bp | numFilter}}</span> <el-input v-model="finput[5067]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5068"><span class="balls">{{mapByPlay[5068].name}}</span> <span class="pl">{{mapByPlay[5068].bp | numFilter}}</span> <el-input v-model="finput[5068]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5069"><span class="balls">{{mapByPlay[5069].name}}</span> <span class="pl">{{mapByPlay[5069].bp | numFilter}}</span> <el-input v-model="finput[5069]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5070"><span class="balls">{{mapByPlay[5070].name}}</span> <span class="pl">{{mapByPlay[5070].bp | numFilter}}</span> <el-input v-model="finput[5070]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5071"><span class="balls">{{mapByPlay[5071].name}}</span> <span class="pl">{{mapByPlay[5071].bp | numFilter}}</span> <el-input v-model="finput[5071]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5072"><span class="balls">{{mapByPlay[5072].name}}</span> <span class="pl">{{mapByPlay[5072].bp | numFilter}}</span> <el-input v-model="finput[5072]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5073"><span class="balls">{{mapByPlay[5073].name}}</span> <span class="pl">{{mapByPlay[5073].bp | numFilter}}</span> <el-input v-model="finput[5073]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5074"><span class="balls">{{mapByPlay[5074].name}}</span> <span class="pl">{{mapByPlay[5074].bp | numFilter}}</span> <el-input v-model="finput[5074]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5075"><span class="balls">{{mapByPlay[5075].name}}</span> <span class="pl">{{mapByPlay[5075].bp | numFilter}}</span> <el-input v-model="finput[5075]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5076"><span class="fonts">{{mapByPlay[5076].name}}</span> <span class="pl">{{mapByPlay[5076].bp | numFilter}}</span> <el-input v-model="finput[5076]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5077"><span class="fonts">{{mapByPlay[5077].name}}</span> <span class="pl">{{mapByPlay[5077].bp | numFilter}}</span> <el-input v-model="finput[5077]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5078"><span class="fonts">{{mapByPlay[5078].name}}</span> <span class="pl">{{mapByPlay[5078].bp | numFilter}}</span> <el-input v-model="finput[5078]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5079"><span class="fonts">{{mapByPlay[5079].name}}</span> <span class="pl">{{mapByPlay[5079].bp | numFilter}}</span> <el-input v-model="finput[5079]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

