<template>
    <div class="bet_space credit_bet">
        <div class="game-title">
                <div class="icon-title">第二球</div>            
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5080"><span class="balls">{{mapByPlay[5080].name}}</span> <span class="pl">{{mapByPlay[5080].bp | numFilter}}</span> <el-input v-model="finput[5080]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5081"><span class="balls">{{mapByPlay[5081].name}}</span> <span class="pl">{{mapByPlay[5081].bp | numFilter}}</span> <el-input v-model="finput[5081]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5082"><span class="balls">{{mapByPlay[5082].name}}</span> <span class="pl">{{mapByPlay[5082].bp | numFilter}}</span> <el-input v-model="finput[5082]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5083"><span class="balls">{{mapByPlay[5083].name}}</span> <span class="pl">{{mapByPlay[5083].bp | numFilter}}</span> <el-input v-model="finput[5083]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5084"><span class="balls">{{mapByPlay[5084].name}}</span> <span class="pl">{{mapByPlay[5084].bp | numFilter}}</span> <el-input v-model="finput[5084]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5085"><span class="balls">{{mapByPlay[5085].name}}</span> <span class="pl">{{mapByPlay[5085].bp | numFilter}}</span> <el-input v-model="finput[5085]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5086"><span class="balls">{{mapByPlay[5086].name}}</span> <span class="pl">{{mapByPlay[5086].bp | numFilter}}</span> <el-input v-model="finput[5086]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5087"><span class="balls">{{mapByPlay[5087].name}}</span> <span class="pl">{{mapByPlay[5087].bp | numFilter}}</span> <el-input v-model="finput[5087]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5088"><span class="balls">{{mapByPlay[5088].name}}</span> <span class="pl">{{mapByPlay[5088].bp | numFilter}}</span> <el-input v-model="finput[5088]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5089"><span class="balls">{{mapByPlay[5089].name}}</span> <span class="pl">{{mapByPlay[5089].bp | numFilter}}</span> <el-input v-model="finput[5089]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5090"><span class="fonts">{{mapByPlay[5090].name}}</span> <span class="pl">{{mapByPlay[5090].bp | numFilter}}</span> <el-input v-model="finput[5090]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5091"><span class="fonts">{{mapByPlay[5091].name}}</span> <span class="pl">{{mapByPlay[5091].bp | numFilter}}</span> <el-input v-model="finput[5091]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5092"><span class="fonts">{{mapByPlay[5092].name}}</span> <span class="pl">{{mapByPlay[5092].bp | numFilter}}</span> <el-input v-model="finput[5092]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5093"><span class="fonts">{{mapByPlay[5093].name}}</span> <span class="pl">{{mapByPlay[5093].bp | numFilter}}</span> <el-input v-model="finput[5093]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

