<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                <div class="icon-title">第三球</div>             
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5094"><span class="balls">{{mapByPlay[5094].name}}</span> <span class="pl">{{mapByPlay[5094].bp | numFilter}}</span> <el-input v-model="finput[5094]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5095"><span class="balls">{{mapByPlay[5095].name}}</span> <span class="pl">{{mapByPlay[5095].bp | numFilter}}</span> <el-input v-model="finput[5095]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5096"><span class="balls">{{mapByPlay[5096].name}}</span> <span class="pl">{{mapByPlay[5096].bp | numFilter}}</span> <el-input v-model="finput[5096]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5097"><span class="balls">{{mapByPlay[5097].name}}</span> <span class="pl">{{mapByPlay[5097].bp | numFilter}}</span> <el-input v-model="finput[5097]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5098"><span class="balls">{{mapByPlay[5098].name}}</span> <span class="pl">{{mapByPlay[5098].bp | numFilter}}</span> <el-input v-model="finput[5098]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5099"><span class="balls">{{mapByPlay[5099].name}}</span> <span class="pl">{{mapByPlay[5099].bp | numFilter}}</span> <el-input v-model="finput[5099]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5100"><span class="balls">{{mapByPlay[5100].name}}</span> <span class="pl">{{mapByPlay[5100].bp | numFilter}}</span> <el-input v-model="finput[5100]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5101"><span class="balls">{{mapByPlay[5101].name}}</span> <span class="pl">{{mapByPlay[5101].bp | numFilter}}</span> <el-input v-model="finput[5101]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5102"><span class="balls">{{mapByPlay[5102].name}}</span> <span class="pl">{{mapByPlay[5102].bp | numFilter}}</span> <el-input v-model="finput[5102]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5103"><span class="balls">{{mapByPlay[5103].name}}</span> <span class="pl">{{mapByPlay[5103].bp | numFilter}}</span> <el-input v-model="finput[5103]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5104"><span class="fonts">{{mapByPlay[5104].name}}</span> <span class="pl">{{mapByPlay[5104].bp | numFilter}}</span> <el-input v-model="finput[5104]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5105"><span class="fonts">{{mapByPlay[5105].name}}</span> <span class="pl">{{mapByPlay[5105].bp | numFilter}}</span> <el-input v-model="finput[5105]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5106"><span class="fonts">{{mapByPlay[5106].name}}</span> <span class="pl">{{mapByPlay[5106].bp | numFilter}}</span> <el-input v-model="finput[5106]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5107"><span class="fonts">{{mapByPlay[5107].name}}</span> <span class="pl">{{mapByPlay[5107].bp | numFilter}}</span> <el-input v-model="finput[5107]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

