<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                <div class="icon-title">第四球</div>               
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5108"><span class="balls">{{mapByPlay[5108].name}}</span> <span class="pl">{{mapByPlay[5108].bp | numFilter}}</span> <el-input v-model="finput[5108]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5109"><span class="balls">{{mapByPlay[5109].name}}</span> <span class="pl">{{mapByPlay[5109].bp | numFilter}}</span> <el-input v-model="finput[5109]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5110"><span class="balls">{{mapByPlay[5110].name}}</span> <span class="pl">{{mapByPlay[5110].bp | numFilter}}</span> <el-input v-model="finput[5110]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5111"><span class="balls">{{mapByPlay[5111].name}}</span> <span class="pl">{{mapByPlay[5111].bp | numFilter}}</span> <el-input v-model="finput[5111]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5112"><span class="balls">{{mapByPlay[5112].name}}</span> <span class="pl">{{mapByPlay[5112].bp | numFilter}}</span> <el-input v-model="finput[5112]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5113"><span class="balls">{{mapByPlay[5113].name}}</span> <span class="pl">{{mapByPlay[5113].bp | numFilter}}</span> <el-input v-model="finput[5113]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5114"><span class="balls">{{mapByPlay[5114].name}}</span> <span class="pl">{{mapByPlay[5114].bp | numFilter}}</span> <el-input v-model="finput[5114]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5115"><span class="balls">{{mapByPlay[5115].name}}</span> <span class="pl">{{mapByPlay[5115].bp | numFilter}}</span> <el-input v-model="finput[5115]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5116"><span class="balls">{{mapByPlay[5116].name}}</span> <span class="pl">{{mapByPlay[5116].bp | numFilter}}</span> <el-input v-model="finput[5116]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5117"><span class="balls">{{mapByPlay[5117].name}}</span> <span class="pl">{{mapByPlay[5117].bp | numFilter}}</span> <el-input v-model="finput[5117]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5118"><span class="fonts">{{mapByPlay[5118].name}}</span> <span class="pl">{{mapByPlay[5118].bp | numFilter}}</span> <el-input v-model="finput[5118]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5119"><span class="fonts">{{mapByPlay[5119].name}}</span> <span class="pl">{{mapByPlay[5119].bp | numFilter}}</span> <el-input v-model="finput[5119]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5120"><span class="fonts">{{mapByPlay[5120].name}}</span> <span class="pl">{{mapByPlay[5120].bp | numFilter}}</span> <el-input v-model="finput[5120]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5121"><span class="fonts">{{mapByPlay[5121].name}}</span> <span class="pl">{{mapByPlay[5121].bp | numFilter}}</span> <el-input v-model="finput[5121]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

