<template>
    <div class="bet_space credit_bet">
        <div class="game-title" >
                <div class="icon-title">第五球</div>             
        </div>
            <div  class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5122"><span class="balls">{{mapByPlay[5122].name}}</span> <span class="pl">{{mapByPlay[5122].bp | numFilter}}</span> <el-input v-model="finput[5122]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5123"><span class="balls">{{mapByPlay[5123].name}}</span> <span class="pl">{{mapByPlay[5123].bp | numFilter}}</span> <el-input v-model="finput[5123]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5124"><span class="balls">{{mapByPlay[5124].name}}</span> <span class="pl">{{mapByPlay[5124].bp | numFilter}}</span> <el-input v-model="finput[5124]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5125"><span class="balls">{{mapByPlay[5125].name}}</span> <span class="pl">{{mapByPlay[5125].bp | numFilter}}</span> <el-input v-model="finput[5125]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5126"><span class="balls">{{mapByPlay[5126].name}}</span> <span class="pl">{{mapByPlay[5126].bp | numFilter}}</span> <el-input v-model="finput[5126]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5127"><span class="balls">{{mapByPlay[5127].name}}</span> <span class="pl">{{mapByPlay[5127].bp | numFilter}}</span> <el-input v-model="finput[5127]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5128"><span class="balls">{{mapByPlay[5128].name}}</span> <span class="pl">{{mapByPlay[5128].bp | numFilter}}</span> <el-input v-model="finput[5128]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5129"><span class="balls">{{mapByPlay[5129].name}}</span> <span class="pl">{{mapByPlay[5129].bp | numFilter}}</span> <el-input v-model="finput[5129]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5130"><span class="balls">{{mapByPlay[5130].name}}</span> <span class="pl">{{mapByPlay[5130].bp | numFilter}}</span> <el-input v-model="finput[5130]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5131"><span class="balls">{{mapByPlay[5131].name}}</span> <span class="pl">{{mapByPlay[5131].bp | numFilter}}</span> <el-input v-model="finput[5131]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5132"><span class="fonts">{{mapByPlay[5132].name}}</span> <span class="pl">{{mapByPlay[5132].bp | numFilter}}</span> <el-input v-model="finput[5132]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5133"><span class="fonts">{{mapByPlay[5133].name}}</span> <span class="pl">{{mapByPlay[5133].bp | numFilter}}</span> <el-input v-model="finput[5133]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5134"><span class="fonts">{{mapByPlay[5134].name}}</span> <span class="pl">{{mapByPlay[5134].bp | numFilter}}</span> <el-input v-model="finput[5134]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                        <td colspan="3" class="col2 name" data-id="5135"><span class="fonts">{{mapByPlay[5135].name}}</span> <span class="pl">{{mapByPlay[5135].bp | numFilter}}</span> <el-input v-model="finput[5135]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
                    </tr>
                </table>
            </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

