<template>
    <div class="bet_space credit_bet" >
		<div class="game-title" >
			<div class="icon-title">总和-龙虎和</div>
		</div>
		<div class="play-menu">
			<table>
				<tr>
					<td colspan="3" class="col2 name" data-id="5059">{{mapByPlay[5059].name}} <span class="pl">{{mapByPlay[5059].bp | numFilter}}</span> <el-input v-model="finput[5059]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5060">{{mapByPlay[5060].name}} <span class="pl">{{mapByPlay[5060].bp | numFilter}}</span> <el-input v-model="finput[5060]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td colspan="3" class="col2 name" data-id="5061">{{mapByPlay[5061].name}} <span class="pl">{{mapByPlay[5061].bp | numFilter}}</span> <el-input v-model="finput[5061]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5062">{{mapByPlay[5062].name}} <span class="pl">{{mapByPlay[5062].bp | numFilter}}</span> <el-input v-model="finput[5062]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
				<tr>
					<td colspan="2" class="col3 name" data-id="5063">{{mapByPlay[5063].name}} <span class="pl">{{mapByPlay[5063].bp | numFilter}}</span> <el-input v-model="finput[5063]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="2" class="col3 name" data-id="5064">{{mapByPlay[5064].name}} <span class="pl">{{mapByPlay[5064].bp | numFilter}}</span> <el-input v-model="finput[5064]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="2" class="col3 name" data-id="5065">{{mapByPlay[5065].name}} <span class="pl">{{mapByPlay[5065].bp | numFilter}}</span> <el-input v-model="finput[5065]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>                        
			
		</div>

		<el-container>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第一球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5066"><span class="balls">{{mapByPlay[5066].name}}</span> <span class="pl">{{mapByPlay[5066].bp | numFilter}}</span> <el-input v-model="finput[5066]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5067"><span class="balls">{{mapByPlay[5067].name}}</span> <span class="pl">{{mapByPlay[5067].bp | numFilter}}</span> <el-input v-model="finput[5067]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5068"><span class="balls">{{mapByPlay[5068].name}}</span> <span class="pl">{{mapByPlay[5068].bp | numFilter}}</span> <el-input v-model="finput[5068]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5069"><span class="balls">{{mapByPlay[5069].name}}</span> <span class="pl">{{mapByPlay[5069].bp | numFilter}}</span> <el-input v-model="finput[5069]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5070"><span class="balls">{{mapByPlay[5070].name}}</span> <span class="pl">{{mapByPlay[5070].bp | numFilter}}</span> <el-input v-model="finput[5070]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5071"><span class="balls">{{mapByPlay[5071].name}}</span> <span class="pl">{{mapByPlay[5071].bp | numFilter}}</span> <el-input v-model="finput[5071]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5072"><span class="balls">{{mapByPlay[5072].name}}</span> <span class="pl">{{mapByPlay[5072].bp | numFilter}}</span> <el-input v-model="finput[5072]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5073"><span class="balls">{{mapByPlay[5073].name}}</span> <span class="pl">{{mapByPlay[5073].bp | numFilter}}</span> <el-input v-model="finput[5073]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5074"><span class="balls">{{mapByPlay[5074].name}}</span> <span class="pl">{{mapByPlay[5074].bp | numFilter}}</span> <el-input v-model="finput[5074]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5075"><span class="balls">{{mapByPlay[5075].name}}</span> <span class="pl">{{mapByPlay[5075].bp | numFilter}}</span> <el-input v-model="finput[5075]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5076"><span class="fonts">{{mapByPlay[5076].name}}</span> <span class="pl">{{mapByPlay[5076].bp | numFilter}}</span> <el-input v-model="finput[5076]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5077"><span class="fonts">{{mapByPlay[5077].name}}</span> <span class="pl">{{mapByPlay[5077].bp | numFilter}}</span> <el-input v-model="finput[5077]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5078"><span class="fonts">{{mapByPlay[5078].name}}</span> <span class="pl">{{mapByPlay[5078].bp | numFilter}}</span> <el-input v-model="finput[5078]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5079"><span class="fonts">{{mapByPlay[5079].name}}</span> <span class="pl">{{mapByPlay[5079].bp | numFilter}}</span> <el-input v-model="finput[5079]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
					
				</div>
			</el-aside>
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第二球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5080"><span class="balls">{{mapByPlay[5080].name}}</span> <span class="pl">{{mapByPlay[5080].bp | numFilter}}</span> <el-input v-model="finput[5080]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5081"><span class="balls">{{mapByPlay[5081].name}}</span> <span class="pl">{{mapByPlay[5081].bp | numFilter}}</span> <el-input v-model="finput[5081]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5082"><span class="balls">{{mapByPlay[5082].name}}</span> <span class="pl">{{mapByPlay[5082].bp | numFilter}}</span> <el-input v-model="finput[5082]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5083"><span class="balls">{{mapByPlay[5083].name}}</span> <span class="pl">{{mapByPlay[5083].bp | numFilter}}</span> <el-input v-model="finput[5083]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5084"><span class="balls">{{mapByPlay[5084].name}}</span> <span class="pl">{{mapByPlay[5084].bp | numFilter}}</span> <el-input v-model="finput[5084]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5085"><span class="balls">{{mapByPlay[5085].name}}</span> <span class="pl">{{mapByPlay[5085].bp | numFilter}}</span> <el-input v-model="finput[5085]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5086"><span class="balls">{{mapByPlay[5086].name}}</span> <span class="pl">{{mapByPlay[5086].bp | numFilter}}</span> <el-input v-model="finput[5086]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5087"><span class="balls">{{mapByPlay[5087].name}}</span> <span class="pl">{{mapByPlay[5087].bp | numFilter}}</span> <el-input v-model="finput[5087]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5088"><span class="balls">{{mapByPlay[5088].name}}</span> <span class="pl">{{mapByPlay[5088].bp | numFilter}}</span> <el-input v-model="finput[5088]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5089"><span class="balls">{{mapByPlay[5089].name}}</span> <span class="pl">{{mapByPlay[5089].bp | numFilter}}</span> <el-input v-model="finput[5089]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5090"><span class="fonts">{{mapByPlay[5090].name}}</span> <span class="pl">{{mapByPlay[5090].bp | numFilter}}</span> <el-input v-model="finput[5090]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5091"><span class="fonts">{{mapByPlay[5091].name}}</span> <span class="pl">{{mapByPlay[5091].bp | numFilter}}</span> <el-input v-model="finput[5091]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5092"><span class="fonts">{{mapByPlay[5092].name}}</span> <span class="pl">{{mapByPlay[5092].bp | numFilter}}</span> <el-input v-model="finput[5092]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5093"><span class="fonts">{{mapByPlay[5093].name}}</span> <span class="pl">{{mapByPlay[5093].bp | numFilter}}</span> <el-input v-model="finput[5093]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第三球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5094"><span class="balls">{{mapByPlay[5094].name}}</span> <span class="pl">{{mapByPlay[5094].bp | numFilter}}</span> <el-input v-model="finput[5094]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5095"><span class="balls">{{mapByPlay[5095].name}}</span> <span class="pl">{{mapByPlay[5095].bp | numFilter}}</span> <el-input v-model="finput[5095]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5096"><span class="balls">{{mapByPlay[5096].name}}</span> <span class="pl">{{mapByPlay[5096].bp | numFilter}}</span> <el-input v-model="finput[5096]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5097"><span class="balls">{{mapByPlay[5097].name}}</span> <span class="pl">{{mapByPlay[5097].bp | numFilter}}</span> <el-input v-model="finput[5097]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5098"><span class="balls">{{mapByPlay[5098].name}}</span> <span class="pl">{{mapByPlay[5098].bp | numFilter}}</span> <el-input v-model="finput[5098]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5099"><span class="balls">{{mapByPlay[5099].name}}</span> <span class="pl">{{mapByPlay[5099].bp | numFilter}}</span> <el-input v-model="finput[5099]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5100"><span class="balls">{{mapByPlay[5100].name}}</span> <span class="pl">{{mapByPlay[5100].bp | numFilter}}</span> <el-input v-model="finput[5100]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5101"><span class="balls">{{mapByPlay[5101].name}}</span> <span class="pl">{{mapByPlay[5101].bp | numFilter}}</span> <el-input v-model="finput[5101]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5102"><span class="balls">{{mapByPlay[5102].name}}</span> <span class="pl">{{mapByPlay[5102].bp | numFilter}}</span> <el-input v-model="finput[5102]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5103"><span class="balls">{{mapByPlay[5103].name}}</span> <span class="pl">{{mapByPlay[5103].bp | numFilter}}</span> <el-input v-model="finput[5103]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5104"><span class="fonts">{{mapByPlay[5104].name}}</span> <span class="pl">{{mapByPlay[5104].bp | numFilter}}</span> <el-input v-model="finput[5104]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5105"><span class="fonts">{{mapByPlay[5105].name}}</span> <span class="pl">{{mapByPlay[5105].bp | numFilter}}</span> <el-input v-model="finput[5105]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5106"><span class="fonts">{{mapByPlay[5106].name}}</span> <span class="pl">{{mapByPlay[5106].bp | numFilter}}</span> <el-input v-model="finput[5106]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5107"><span class="fonts">{{mapByPlay[5107].name}}</span> <span class="pl">{{mapByPlay[5107].bp | numFilter}}</span> <el-input v-model="finput[5107]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
			
			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第四球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5108"><span class="balls">{{mapByPlay[5108].name}}</span> <span class="pl">{{mapByPlay[5108].bp | numFilter}}</span> <el-input v-model="finput[5108]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5109"><span class="balls">{{mapByPlay[5109].name}}</span> <span class="pl">{{mapByPlay[5109].bp | numFilter}}</span> <el-input v-model="finput[5109]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5110"><span class="balls">{{mapByPlay[5110].name}}</span> <span class="pl">{{mapByPlay[5110].bp | numFilter}}</span> <el-input v-model="finput[5110]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5111"><span class="balls">{{mapByPlay[5111].name}}</span> <span class="pl">{{mapByPlay[5111].bp | numFilter}}</span> <el-input v-model="finput[5111]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5112"><span class="balls">{{mapByPlay[5112].name}}</span> <span class="pl">{{mapByPlay[5112].bp | numFilter}}</span> <el-input v-model="finput[5112]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5113"><span class="balls">{{mapByPlay[5113].name}}</span> <span class="pl">{{mapByPlay[5113].bp | numFilter}}</span> <el-input v-model="finput[5113]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5114"><span class="balls">{{mapByPlay[5114].name}}</span> <span class="pl">{{mapByPlay[5114].bp | numFilter}}</span> <el-input v-model="finput[5114]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5115"><span class="balls">{{mapByPlay[5115].name}}</span> <span class="pl">{{mapByPlay[5115].bp | numFilter}}</span> <el-input v-model="finput[5115]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5116"><span class="balls">{{mapByPlay[5116].name}}</span> <span class="pl">{{mapByPlay[5116].bp | numFilter}}</span> <el-input v-model="finput[5116]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5117"><span class="balls">{{mapByPlay[5117].name}}</span> <span class="pl">{{mapByPlay[5117].bp | numFilter}}</span> <el-input v-model="finput[5117]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5118"><span class="fonts">{{mapByPlay[5118].name}}</span> <span class="pl">{{mapByPlay[5118].bp | numFilter}}</span> <el-input v-model="finput[5118]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5119"><span class="fonts">{{mapByPlay[5119].name}}</span> <span class="pl">{{mapByPlay[5119].bp | numFilter}}</span> <el-input v-model="finput[5119]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5120"><span class="fonts">{{mapByPlay[5120].name}}</span> <span class="pl">{{mapByPlay[5120].bp | numFilter}}</span> <el-input v-model="finput[5120]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5121"><span class="fonts">{{mapByPlay[5121].name}}</span> <span class="pl">{{mapByPlay[5121].bp | numFilter}}</span> <el-input v-model="finput[5121]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>

			<el-aside width="20%">
				<div class="game-title" >
					<div class="icon-title">第五球</div>
				</div>
				<div class="play-menu">
					<table>
						<tr>
							<td colspan="3" class="col2 name" data-id="5122"><span class="balls">{{mapByPlay[5122].name}}</span> <span class="pl">{{mapByPlay[5122].bp | numFilter}}</span> <el-input v-model="finput[5122]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5123"><span class="balls">{{mapByPlay[5123].name}}</span> <span class="pl">{{mapByPlay[5123].bp | numFilter}}</span> <el-input v-model="finput[5123]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5124"><span class="balls">{{mapByPlay[5124].name}}</span> <span class="pl">{{mapByPlay[5124].bp | numFilter}}</span> <el-input v-model="finput[5124]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5125"><span class="balls">{{mapByPlay[5125].name}}</span> <span class="pl">{{mapByPlay[5125].bp | numFilter}}</span> <el-input v-model="finput[5125]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5126"><span class="balls">{{mapByPlay[5126].name}}</span> <span class="pl">{{mapByPlay[5126].bp | numFilter}}</span> <el-input v-model="finput[5126]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5127"><span class="balls">{{mapByPlay[5127].name}}</span> <span class="pl">{{mapByPlay[5127].bp | numFilter}}</span> <el-input v-model="finput[5127]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5128"><span class="balls">{{mapByPlay[5128].name}}</span> <span class="pl">{{mapByPlay[5128].bp | numFilter}}</span> <el-input v-model="finput[5128]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5129"><span class="balls">{{mapByPlay[5129].name}}</span> <span class="pl">{{mapByPlay[5129].bp | numFilter}}</span> <el-input v-model="finput[5129]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5130"><span class="balls">{{mapByPlay[5130].name}}</span> <span class="pl">{{mapByPlay[5130].bp | numFilter}}</span> <el-input v-model="finput[5130]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5131"><span class="balls">{{mapByPlay[5131].name}}</span> <span class="pl">{{mapByPlay[5131].bp | numFilter}}</span> <el-input v-model="finput[5131]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5132"><span class="fonts">{{mapByPlay[5132].name}}</span> <span class="pl">{{mapByPlay[5132].bp | numFilter}}</span> <el-input v-model="finput[5132]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5133"><span class="fonts">{{mapByPlay[5133].name}}</span> <span class="pl">{{mapByPlay[5133].bp | numFilter}}</span> <el-input v-model="finput[5133]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5134"><span class="fonts">{{mapByPlay[5134].name}}</span> <span class="pl">{{mapByPlay[5134].bp | numFilter}}</span> <el-input v-model="finput[5134]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
						<tr>
							<td colspan="3" class="col2 name" data-id="5135"><span class="fonts">{{mapByPlay[5135].name}}</span> <span class="pl">{{mapByPlay[5135].bp | numFilter}}</span> <el-input v-model="finput[5135]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						</tr>
					</table>
				</div>
			</el-aside>
		</el-container>

		<div class="game-title" >
			<div class="icon-title">前三</div>
		</div>
		<div class="play-menu">
			<table>
				<tr>
					<td colspan="3" class="col2 name" data-id="5136">{{mapByPlay[5136].name}} <span class="pl">{{mapByPlay[5136].bp | numFilter}}</span> <el-input v-model="finput[5136]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5137">{{mapByPlay[5137].name}} <span class="pl">{{mapByPlay[5137].bp | numFilter}}</span> <el-input v-model="finput[5137]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>

					<td colspan="3" class="col2 name" data-id="5138">{{mapByPlay[5138].name}} <span class="pl">{{mapByPlay[5138].bp | numFilter}}</span> <el-input v-model="finput[5138]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5139">{{mapByPlay[5139].name}} <span class="pl">{{mapByPlay[5139].bp | numFilter}}</span> <el-input v-model="finput[5139]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>

					<td colspan="3" class="col2 name" data-id="5140">{{mapByPlay[5140].name}} <span class="pl">{{mapByPlay[5140].bp | numFilter}}</span> <el-input v-model="finput[5140]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>
		
		<div class="game-title" >
			<div class="icon-title">中三</div>
		</div>
		<div class="play-menu">
			<table>
				<tr>
					<td colspan="3" class="col2 name" data-id="5141">{{mapByPlay[5141].name}} <span class="pl">{{mapByPlay[5141].bp | numFilter}}</span> <el-input v-model="finput[5141]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5142">{{mapByPlay[5142].name}} <span class="pl">{{mapByPlay[5142].bp | numFilter}}</span> <el-input v-model="finput[5142]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>

					<td colspan="3" class="col2 name" data-id="5143">{{mapByPlay[5143].name}} <span class="pl">{{mapByPlay[5143].bp | numFilter}}</span> <el-input v-model="finput[5143]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					<td colspan="3" class="col2 name" data-id="5144">{{mapByPlay[5144].name}} <span class="pl">{{mapByPlay[5144].bp | numFilter}}</span> <el-input v-model="finput[5144]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>

					<td colspan="3" class="col2 name" data-id="5145">{{mapByPlay[5145].name}} <span class="pl">{{mapByPlay[5145].bp | numFilter}}</span> <el-input v-model="finput[5145]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
				</tr>
			</table>
		</div>

		<div class="game-title" >
			<div class="icon-title">後三</div>
		</div>
			<div  class="play-menu">
				<table>
					<tr>
						<td colspan="3" class="col2 name" data-id="5146">{{mapByPlay[5146].name}} <span class="pl">{{mapByPlay[5146].bp | numFilter}}</span> <el-input v-model="finput[5146]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						<td colspan="3" class="col2 name" data-id="5147">{{mapByPlay[5147].name}} <span class="pl">{{mapByPlay[5147].bp | numFilter}}</span> <el-input v-model="finput[5147]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>

						<td colspan="3" class="col2 name" data-id="5148">{{mapByPlay[5148].name}} <span class="pl">{{mapByPlay[5148].bp | numFilter}}</span> <el-input v-model="finput[5148]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
						<td colspan="3" class="col2 name" data-id="5149">{{mapByPlay[5149].name}} <span class="pl">{{mapByPlay[5149].bp | numFilter}}</span> <el-input v-model="finput[5149]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>

						<td colspan="3" class="col2 name" data-id="5150">{{mapByPlay[5150].name}} <span class="pl">{{mapByPlay[5150].bp | numFilter}}</span> <el-input v-model="finput[5150]" size="small" class="input-amount" @blur.stop="changeAmount"></el-input></td>
					</tr>
				</table>
			</div>
    </div>
</template>

<script type="text/ecmascript-6">
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
	mixins: [globalMixin],
  data() {
    return {
		finput:[],
    };
  },
    components: {
    },
    methods: {
  },
computed: {
    ...mapGetters({
		mapByPlay: "mapByPlay",
		betData: "betData",
		betFlag: "betFlag",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

