<template>
	<div >
		<div class="main-app">
			<div class="main-app-content">
				<el-carousel :interval="30000" arrow="always" height="700px">
					<el-carousel-item v-for="(item, index) in swiperSlides" :key="index">
						<div style="width: 100%;height: 100%;background-position: center;background-size: cover;" v-bind:style="{ 'background-image': 'url(static/images/app/' + item.img + ')' }">
							<el-row class="main-app-body">
								<el-col :span="8">
									<el-row class="main-app-code">
										<el-col class="main-app-col">
											<p class="main-app-info">手机扫二维码下载</p>
										</el-col>
										<el-col class="main-app-col">
											<el-image src="static/images/app/TZ6A00ALJH.png" fit="contain" ></el-image>
										</el-col>
										<!--el-col class="main-app-col">
											<div class="main-app-download"><img class="main-app-icon" src="static/images/app/icon-iphone.png"><div class="main-app-txt">下载苹果版</div></div>
										</el-col-->
										<el-col class="main-app-col">
											<div class="main-app-download"><img class="main-app-icon" src="static/images/app/icon-android.png"><div class="main-app-txt">下载安卓版</div></div>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="8" v-show="item.setp=='1'">
									<el-row class="main-app-code">
										<el-col class="main-app-img-one">
											<el-image src="static/images/app/one-img-one.png" fit="contain" ></el-image>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="8" v-show="item.setp=='1'">
									<el-row class="main-app-code">
										<el-col>
											<el-image src="static/images/app/one-img-two.png" fit="contain" ></el-image>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="8" v-show="item.setp=='2'">
									<el-row class="main-app-code">
										<el-col >
											<el-image src="static/images/app/bg-human-lot.png" fit="contain" ></el-image>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="8" v-show="item.setp=='2'">
									<el-row class="main-app-code">
										<el-col class="main-app-img-one">
											<el-image src="static/images/app/bg-text-lot.png" fit="contain" ></el-image>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="8" v-show="item.setp=='3'">
									<el-row class="main-app-code">
										<el-col >
											<el-image src="static/images/app/bg-good-five.png" fit="contain" ></el-image>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="8" v-show="item.setp=='3'">
									<el-row class="main-app-code">
										<el-col class="main-app-img-one">
											<el-image src="static/images/app/bg-good-text.png" fit="contain" ></el-image>
										</el-col>
									</el-row>
								</el-col>
								<el-col :span="16" v-show="item.setp=='4'">
									<el-row class="main-app-code">
										<el-col class="main-app-agent">
											<el-row>
												<el-col style="text-align: left;width: 500px;">
													<el-image src="static/images/app/bg-text-agent.png" fit="contain" ></el-image>
												</el-col>
												<el-col class="main-app-agent-info">
													<div class="main-app-agent-icon"><img src="static/images/app/icon-join.png"></div>
													<div>
														<div class="main-app-agent-title">立即加入</div>
														<div class="main-app-agent-subtitle">业界最高赔率,稳定的游戏环境最全的游戏种类,永久的游戏返点</div>
													</div>
												</el-col>
												<el-col class="main-app-agent-info">
													<div class="main-app-agent-icon"><img src="static/images/app/icon-link.png"></div>
													<div>
														<div class="main-app-agent-title">推广链接</div>
														<div class="main-app-agent-subtitle">专属推广ID,实现多维度数据展现推广方式简易便捷</div>
													</div>
												</el-col>
												<el-col class="main-app-agent-info">
													<div class="main-app-agent-icon"><img src="static/images/app/icon-money.png"></div>
													<div>
														<div class="main-app-agent-title">轻松赚钱</div>
														<div class="main-app-agent-subtitle">轻松赚取无限佣金,平台助力惊喜双倍高额洗码量返佣,佣金记录清晰可查,安心</div>
													</div>
												</el-col>
											</el-row>
										</el-col>
									</el-row>
								</el-col>
							</el-row>
						</div>
					</el-carousel-item>
				</el-carousel>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			swiperSlides: [
				{
					"setp":"1",
					"img":"page-one.jpg",
				},
				{
					"setp":"2",
					"img":"page-two.jpg",
				},
				{
					"setp":"3",
					"img":"page-three.jpg",
				},
				{
					"setp":"4",
					"img":"page-four.jpg",
				},
			],
		}
	},
	methods: {
		handleSelect(key, keyPath) {
			this.activeIndex = key;
		},
	},
	components: {
	}
}	
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-app
	//overflow hidden;
	.main-app-content
		margin 15px 0px;
		box-shadow: 0 2px 12px 0 rgba(0,0,0,0.5);
		.main-app-body
			width 1200px
			margin: auto;
			.main-app-code
				margin-top 100px;
				text-align: -webkit-center;
				height 600px;
				.main-app-info
					color #ddd;
				.main-app-col
					margin-bottom 15px;
				.main-app-download
					color #fff;
					background #333;
					width 150px;
					display: flex;
					border: 1px solid #3c3c3c;
					border-radius: 4px;
					padding 10px;
				.main-app-txt
					line-height: 35px;
					padding 0px 15px;
				.main-app-icon
					height 35px;
				.main-app-img-one
					margin-top 70px;
				.main-app-agent
					background-image url("/static/images/app/bg-human-agent.png");
					width: 100%;
					height: 100%;
					background-position: center;
					background-size: cover;
					.main-app-agent-info
						display flex;
						padding 15px 15px 15px 0px;
						.main-app-agent-icon
							padding-right 15px
						.main-app-agent-title
							color: #c4aa80;
							text-align left;
							font-size 1.2rem;
						.main-app-agent-subtitle
							color: #fff;
							text-align left;
							width 300px;
</style>
