<template>
    <div slot="content" >
		<div class="main-body">
			<el-card shadow="never">
				<BulletinList></BulletinList>
			</el-card>
		</div>
    </div>
</template>

<script type="text/ecmascript-6" >
import BulletinList from '@/components/user/bulletin.vue'
export default {
    data() {
        return {
        }
    },
    methods: {
    },
    computed: {
    },
    components: {
		BulletinList
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-body
	padding: 25px 0px;
</style>
