<template >
    <div slot="content" >
        <div class="help-center-main">
			<el-row >
				<el-container>
					<el-aside class="body-left" width="200px" style="border-right: solid 1px #e6e6e6;">
						<div >
							<div class="help-title">幫助中心</div>
						</div>
						<el-menu :default-active="activeIndex"  class="main-user-menu" @select="CallView">
							<el-menu-item index="cate1">
								<el-row>
									<el-col :span="20">登录注册</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate2">
								<el-row>
									<el-col :span="20">存款流程</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate3">
								<el-row>
									<el-col :span="20">提款流程</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate7">
								<el-row>
									<el-col :span="20">银行相关</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate5">
								<el-row>
									<el-col :span="20">帐户安全</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate6">
								<el-row>
									<el-col :span="20">会员制度</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate4">
								<el-row>
									<el-col :span="20">关于我们</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate9">
								<el-row>
									<el-col :span="20">热门问题</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
							<el-menu-item index="cate8">
								<el-row>
									<el-col :span="20">其它问题</el-col>
									<el-col :span="4"><i class="el-icon-arrow-right pull-right"></i></el-col>
								</el-row>
							</el-menu-item>
						</el-menu>
					</el-aside>
					<el-main class="main-user-center">
						<component :is="default_view" v-if="show_view" ></component>
					</el-main>
				</el-container>
			</el-row>
		</div>
	</div>
</template>

<script type="text/ecmascript-6" >
import Cate1 from '@/components/index/help/cate1.vue'
import Cate2 from '@/components/index/help/cate2.vue'
import Cate3 from '@/components/index/help/cate3.vue'
import Cate4 from '@/components/index/help/cate4.vue'
import Cate5 from '@/components/index/help/cate5.vue'
import Cate6 from '@/components/index/help/cate6.vue'
import Cate7 from '@/components/index/help/cate7.vue'
import Cate8 from '@/components/index/help/cate8.vue'
import Cate9 from '@/components/index/help/cate9.vue'
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            activeIndex:"cate1",
            default_view:Cate1,
            show_view:true,
        }
    },
    methods: {
        CallView(index)
        {
            switch(index)
            {
                case "cate1":
                    this.default_view=Cate1;
                    break;
                case "cate2":
                    this.default_view=Cate2;
                    break;
                case "cate3":
                    this.default_view=Cate3;
                    break;
                case "cate4":
                    this.default_view=Cate4;
                    break;
                case "cate5":
                    this.default_view=Cate5;
                    break;
                case "cate6":
                    this.default_view=Cate6;
                    break;
                case "cate7":
                    this.default_view=Cate7;
                    break;
                case "cate8":
                    this.default_view=Cate8;
                    break;
                case "cate9":
                    this.default_view=Cate9;
                    break;
            }
        },
    },
    computed: {

    },
    components: {
    },
    created() {
		if(Object.keys(this.$route.params).length)
		{
			switch(this.$route.params.path)
			{
				case 'Cate1':
					this.default_view=Cate1;
				break;
				case 'Cate9':
					this.default_view=Cate9;
				break;
			}
		}
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.help-center-main
	border: 1px solid #eaeaea;
	margin-top 20px
	.help-title
		font-size: 18px;
		font-weight: 700;
		padding: 25px;
		border-bottom: 1px solid #eaeaea;
	.main-user-menu
		border-right unset;
		border-bottom: solid 1px #e6e6e6;
		margin-bottom: 60px;
	.main-user-center
		padding 0px;
		.help-main
			padding 0px 30px;
			text-align: left;
		.main-title
			height: 40px;
			background: #f9f9f9;
			line-height: 2.7rem;
			padding: 0 30px;
			text-align: left;
			font-size: 1.2rem;
		.el-collapse-item__header
			color: #009cdd;
			font-size .9rem;
	.hot-list
		p
			font-size: 0.9rem;
			margin: 18px 0 ;
			line-height: 1.5rem;
		h1
			font-weight: 700;
			color: #333;
</style>
