<template>
	<div>
		<el-card shadow="never" class="main-hiistory">
			<CodeList :options="options"></CodeList>
		</el-card>
	</div>
</template>

<script>
import CodeList from '@/page/game/code-list.vue';
export default {
    data() {
        return {
            options:{
                type_id:'',
                group_type:'',
            },
        }
    },
    components: {
		CodeList
	},
    created() {
		if(Object.keys(this.$route.params).length)
		{
			this.options.type_id = this.$route.params.id;
			this.options.group_type = this.$route.params.group_type;
		}
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.main-hiistory
	margin-top 25px;
	.mainSearch
		overflow-y auto;
		height 620px;
</style>
