<template>
	<div class="main-index">
		<el-row class="main-body">
			<el-container>
				<el-aside class="body-left" width="280px">
					<el-row class="menu-left">
					  <el-col >
						<p>熱門彩種</p>
						<el-menu
						  default-active="1"
						  class="el-menu">
						  <el-menu-item :index="index" class="body-left-hot-game" @click="go2page('/game/credit/'+item.name)" v-for="(item, index) in mapByType" :key="index" v-if="item.hot==1">
							<i class="el-icon-menu"></i>
							<span class="main-title">{{item.title}}</span>
							<span class="sub-title">{{item.subTitle}}</span>
						  </el-menu-item>
						</el-menu>
					  </el-col>
					</el-row>
					<el-row style="margin-top: 10px;">
						<el-card shadow="never">
							<el-row class="app-sub-title">
								<el-col :span="12">
									<el-image
									  style="width: 100px; height: 100px"
									  src="/static/images/app/TZ6A00ALJH.png"
									  fit="cover"></el-image>
								</el-col>
								<el-col :span="12" class="app-info">
									APP<br>下載
								</el-col>
							</el-row>
							<el-row class="app-sub-title">
								<el-col :span="12">
									卓越，只是日常
								</el-col>
								<el-col :span="12">
									中獎，彈指之間
								</el-col>
							</el-row>
						</el-card>
					</el-row>
				</el-aside>
				<el-main class="body-center">
					<el-carousel height="300px" class="body-swiper">
					  <el-carousel-item v-for="(slide, index) in swiperSlides" :key="index">
						<div class="header-swiper-img" :style="{background:'url(/static/images/main/'+slide+') 50%/cover #000'}"></div>
					  </el-carousel-item>
					</el-carousel>
					<el-row v-if="index_issue.length>0">
						<el-tabs v-model="activeName" >
							<el-tab-pane :label="options.title" :name="options.id" v-for="(options, index) in index_issue" :key="index" >
								<el-row>
									<span class="code-title">第{{options.number}}期</span>
								</el-row>
								<el-row>
									<img v-if="options.group_type == 9" class="k3"  :src="require('@/assets/images/k3/'+item+'.png')" v-for="(item,index) in str_split(options.data)" :key="index">
									<span v-if="options.group_type == 1 || options.group_type == 2 || options.group_type == 3  || options.group_type == 4  || options.group_type == 8" class="round blue-bgcolor" v-for="(item,index) in str_split(options.data)" :key="index">{{item}}</span>
									<span v-if="options.group_type == 6"  class="square" :class="'color'+numberPk10(item)" v-for="(item,index) in str_split(options.data)" :key="index">{{numberPk10(item)}}</span>

									<div v-if="options.group_type == 12">
										<span  class="round" :class="lhc_color(item)" v-for="(item,index) in str_split(options.data)" :key="index">{{item}}</span>
									</div>
									<div v-if="options.group_type == 12">
										<span class="zod-size" v-for="(item,key) in options.preTred" :key="'code'+key"  v-if="key<7">{{item}}</span>
									</div>
									<div v-if="options.group_type == 11"><span class="round blue-bgcolor">{{str_split(options.data)[0]}}</span> + <span class="round blue-bgcolor">{{str_split(options.data)[1]}}</span> + <span class="round blue-bgcolor">{{str_split(options.data)[2]}}</span> = <span  class="round " :class="pcdd_color(options.data)">{{pcdd_code(options.data)}}</span> </div>
								</el-row>
								<el-row>
									<span class="resultData" v-for="(item,index) in options.preTred" :key="index" v-if="options.group_type != 12">{{item}}</span>
								</el-row>
								<el-row style="margin-top: 15px;">
									<el-col :span="12">
										<el-link :underline="false" @click="getHistory(options.id,options.group_type)"><i class="fas fa-angle-double-left"></i> 查看開獎</el-link>
									</el-col>
									<el-col :span="12">
										<el-link :underline="false" type="danger" @click="go2page('/game/credit/'+mapByType[options.id].name)">立即投注 <i class="fas fa-angle-double-right"></i></el-link>
									</el-col>
								</el-row>
							</el-tab-pane>
						</el-tabs>
					</el-row>
				</el-main>
				<el-aside class="body-right" width="260px">
					<LoginPanel></LoginPanel>
				</el-aside>
			</el-container>
			<el-container>
				<el-main class="time-center">
					<el-row>
						<el-col :span="6" v-for="(issue, index) in typeList" :key="index" v-if="time_center && issue.type!=16" class="time-center-card">
							<el-card shadow="always" >
								<div class="time-center-inside">
									<div class="time-center-img">
										<img :src="require('@/assets/images/lottery/'+issue.id+'.png')" >
										<div>{{issue.actionNo}}期</div>
									</div>
									<div class="time-center-countdown">
										<div class="time-center-head">{{issue.title}}</div>
										<div class="time-center-content">
											<div class="time-center-block">
												{{time[issue.id].hr}}
											</div>
											<div class="time-center-split">
												:
											</div>
											<div class="time-center-block">
												{{time[issue.id].min}}
											</div>
											<div class="time-center-split">
												:
											</div>
											<div class="time-center-block">
												{{time[issue.id].sec}}
											</div>
										</div>
									</div>
								</div>
							</el-card>
						</el-col>
					</el-row>
				</el-main>
			</el-container>

			<el-container class="main-info-center">
				<el-aside  width="300px">
					<div class="time-right">
						<el-card class="box-card" shadow="never">
						  <div slot="header">
							<el-row>
								<el-col :span="12" class="text-left">
									<div class="title-mark"></div><div class="title-content">常見問題</div>
								</el-col>
								<el-col :span="12" class="text-right">
									<el-link :underline="false" @click="go2page('help')">更多 <i class="fas fa-angle-double-right"></i></el-link>
								</el-col>
							</el-row>
						  </div>
						  <div v-for="(item, index) in helps" :key="index" v-if="helps">
							<div class="bullet-content"><el-link :underline="false" @click="showHelp(index)"><i class="fas fa-caret-right"></i> {{item.title}}</el-link></div>
						  </div>
						</el-card>
					</div>
				</el-aside>
				<el-main class="info-center">
					<div class="time-right">
						<el-row>
							<el-row>
								<el-col :span="24" class="text-left" style="padding: 18px 20px;box-sizing: border-box;">
									<div class="title-mark"></div><div class="title-content">中獎瞬間</div> <span class="title-sub-content">驚喜連連 好運連連</span>
								</el-col>
							</el-row>
							<el-row class="bonus-head">
								<el-col :span="8">
									遊戲名稱
								</el-col>
								<el-col :span="8">
									帳號
								</el-col>
								<el-col :span="8">
									中獎金額
								</el-col>
							</el-row>
							<div style="overflow: hidden;" v-if="config.bonus_list!=''">
								<div id="marquee" class="left-marquee" >
									<el-row v-for="(bonus, index) in config.bonus_list" :key="index" class="bonus-content">
										<el-col :span="8">
											{{bonus.game}}
										</el-col>
										<el-col :span="8">
											{{bonus.username}}
										</el-col>
										<el-col :span="8">
											{{bonus.bonus}}
										</el-col>
									</el-row>
								</div>
							</div>
						</el-row>
					</div>
				</el-main>
				<el-aside  width="300px">
					<div class="time-right">
						<el-card class="box-card" shadow="never">
						  <div slot="header">
							<el-row>
								<el-col :span="12" class="text-left">
									<div class="title-mark"></div><div class="title-content">網站公告</div>
								</el-col>
								<el-col :span="12" class="text-right">
									<el-link :underline="false" @click="go2page('bulletin')">更多 <i class="fas fa-angle-double-right"></i></el-link>
								</el-col>
							</el-row>
						  </div>
						  <div v-for="(item, index) in bullets" :key="index" v-if="bullets">
							<div class="bullet-content"><el-link :underline="false" @click="showBullet(index)"><i class="fas fa-caret-right"></i> {{item.title}}</el-link></div>
						  </div>
						</el-card>
					</div>
				</el-aside>
			</el-container>
		</el-row>

		<el-dialog :title="dialog.title" :visible.sync="dialog.Visible">
			<el-row>
				<el-col style="text-align: left;line-height: 25px;">
					{{dialog.content}}
				</el-col>
			</el-row>
			<el-row>
				<el-col style="text-align: left;margin-top: 20px;">
					{{dialog.time}}
				</el-col>
			</el-row>
		</el-dialog>

	</div>
</template>
<script>
import { mapGetters } from "vuex";
import LoginPanel from '@/components/main-login-panel.vue'
import { apiGetAllIssue,apiGetBulletin } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
	mixins: [globalMixin],
	data() {
		return {
			cd:null,
			time:[],
			time_center:[],
			index_issue:[],
			bullets:{},
			activeName: '1',
			swiperSlides: [
				'12101515478331.png', '28551515478337.jpg', '59591515478321.png', '76111515478315.jpg',
			],
			dialog:{
				title:'',
				Visible:false,
				content:'',
				time:'',
			},
			helps:[
				{
					title:'为什麽支付成功後额度没有立即增加',
					path:'Cate9',
					id:'1',
				},
				{
					title:'快速入款存款未到帐如何处理',
					path:'Cate9',
					id:'2',
				},
				{
					title:'提款什麽时候可以到帐？',
					path:'Cate9',
					id:'3',
				},
				{
					title:'提款申请为什麽会不通过？',
					path:'Cate9',
					id:'4',
				},
				{
					title:'隐私信息是否安全？',
					path:'Cate9',
					id:'5',
				}
			]
		}
	},
    methods: {
		showHelp(index)
		{
			this.$router.push(
				{
					path: "help",
					name:'help',
					params: {
						path: this.helps[index].path,
						id: this.helps[index].id,
					},
				},
			);
		},
		showBullet(index)
		{
			this.dialog.Visible = true;
			this.dialog.title = this.bullets[index].title;
			this.dialog.content = this.bullets[index].content;
			this.dialog.time = this.getMomentDate(this.bullets[index].addTime);
		},
		getHistory(id,group_type)
		{
			this.$router.push(
				{
					path: "history",
					name:'history',
					params: {
						id: id,
						group_type:group_type,
					},
				},
			);
		},
		getAllIssue(check_issue=null)
		{
			apiGetAllIssue({
				check_issue:check_issue,
			})
			.then(response => {
				if(response.data.error)
				{
					this.error_handler(response.data);
				}
				if(response.data.status)
				{
					let msec = 0;
					if(this.time_center.length == 0)
					{
						this.time_center=response.data.data.current
					}
					//this.index_issue=response.data.data.index_issue;
					this.index_issue.splice(0,this.index_issue.length);
					for(var n in response.data.data.index_issue)
					{
						var preTred=[];
                        var tred=this.ocs.generate(response.data.data.index_issue[n].group_type,response.data.data.index_issue[n].data);
                        for(var k in tred)
                        {
                            preTred.push(tred[k]);
                        }

						this.index_issue.splice(n, 1, {
							id:n,
							title:response.data.data.index_issue[n].title,
							group_type:response.data.data.index_issue[n].group_type,
							number:response.data.data.index_issue[n].number,
							data:response.data.data.index_issue[n].data,
							preTred:preTred,
						})
					}
					var current=response.data.data.current;
					var clientTime=(Date.parse( new Date())/1000);
					for(var n in current)
					{
						msec=current[n].stopTime-clientTime;
						var timeData=this.gethms(msec);
						this.time[current[n].id]={
							day:timeData.day,
							hr:timeData.hr,
							min:timeData.min,
							sec:timeData.sec,
							countdown:msec
						}

						this.time.splice(current[n].id, 1, {
							day:timeData.day,
							hr:timeData.hr,
							min:timeData.min,
							sec:timeData.sec,
							countdown:msec
						})
					}
					clearInterval(this.cd);
					this.cd = setInterval(() => {
						this.countDown();
					}, 1000);
				}
				return;
			}).catch(error => {
				console.log(error);
				return;
			});
		},
		getBulletin()
		{
			apiGetBulletin({
				page:1
			})
			.then(response => {
				if(response.data.error)
				{
					this.error_handler(response.data);
				}
				if(response.data.status)
				{
					this.bullets=response.data.data;
				}
				return;
			}).catch(error => {
				console.log(error);
				return;
			});
		},
        countDown() {
            clearInterval(this.cd);
			let msec = 0;
			var check_issue = [];
			for(var n in this.time)
			{
				msec = this.time[n].countdown - 1;
				var timeData=this.gethms(msec);
				if(msec<0 )
				{
					check_issue.push(n);
				}
				if(msec<0)
				{
					timeData.day=0;
					timeData.hr="00";
					timeData.min="00";
					timeData.sec="00";
				}
				this.time.splice(n, 1, {
					day:timeData.day,
				 	hr:timeData.hr,
				 	min:timeData.min,
				 	sec:timeData.sec,
				 	countdown:msec
				})
			}
			if(check_issue.length>0)
			{
				this.getAllIssue(check_issue);
				//return;
			}
            this.cd = setInterval(() => {
				this.countDown();
            }, 1000);
        },
    },
	components: {
		LoginPanel
	},
    computed: {
		...mapGetters({
            config: "config",
			mapByType: "mapByType",
        }),
        typeList()
        {
          let temp=[];
          for(var n in this.time_center)
          {
            temp.push(this.time_center[n]);
          }
          temp=temp.sort(function (a, b) {return a.sort > b.sort ? 1 : -1;});
          return temp;
        }
    },
    created() {
		if(!Object.keys(this.time_center).length)
		{
			this.getAllIssue();
		}
        if(!Object.keys(this.bullets).length)
        {
          this.getBulletin();
        }
    },
    destroyed: function() {
        clearInterval(this.cd);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.main-index
	width 100%;
	text-align: -webkit-center;
	margin-top: 10px;
	.main-body
		text-align center
		.body-left
			margin-top 10px
			text-align left
			.menu-left
				border 1px red solid
				width 100%;
				p
					text-align: center;
					background: #F56C6C;
					padding: 10px;
					margin: 0;
					color: #fff;
			.el-menu
				border 0px;
				width 100%;
			.el-menu-item
				font-size: 1rem;
				height: 44px;
				line-height: 44px;
			.el-menu-item.is-active
				color #F56C6C
			.sub-title
				font-size: 0.7rem;
				float: right;
				color: #909399;
			.main-title
				font-size: 1.2rem;
		.app-info
			line-height: 35px;
			font-size: 1.8rem;
			padding-top: 11px;
			text-align: center;
			color: #333;
		.body-center
			margin-top 10px
			padding 0px 10px;
			.body-swiper
				margin-bottom 15px
				overflow hidden
			.header-swiper-img
				width: 100%;
				height: 300px;
	.time-center
		padding-right: 4px;
		padding-left: 4px;
		.time-center-card
			padding 5px
			.time-center-inside
				display flex
				.time-center-img
					text-align center
					font-size .7rem
					img
						height 5rem
					margin-right 5px;
					line-height: 26px;
					width: 130px;
				.time-center-countdown
					width 110px;
					.time-center-block
						width: 40px;
						text-align: center;
						height: 40px;
						background: #F2F6FC;
						border-radius: 5px;
						line-height: 40px;
					.time-center-split
						width: 16px;
						text-align: center;
						height: 40px;
						line-height: 40px;
						font-weight: bold;
		.time-center-head
			text-align left
			font-weight 700
			line-height 40px
			border-bottom 1px #ddd solid
		.time-center-content
			text-align left
			display flex
			padding: 8px
	.time-right
		padding 0 10px
		.text-left
			text-align left
			display: flex;
		.text-right
			text-align right
		.bullet-content
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: left;
			line-height: 40px;
			font-size: 0.7rem;
			border-bottom: 1px #ddd dashed;
	.main-info-center
		margin-top 10px
		.info-center
			padding: 0px 0px;
			height: 309px;
			overflow: hidden;
			margin-bottom: 20px;
			border: 1px solid #EBEEF5;
			border-radius: 4px;
			.left-marquee
				position: relative;
				animation: marquee 20s linear infinite;
				.bonus-content
					padding 10px 0px;
					border-bottom: 1px #ddd dashed;
			.bonus-head
				background: #eaeaea4d;
				margin-left: -20px;
				margin-right: -20px;
				padding: 10px;
				border-bottom: 1px #ddd solid;
				margin-top: -1px;
				border-top: 1px #ddd solid;
				box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);

/* Make it move! */
@keyframes marquee {
  0% {
	transform: translate3d(0, 0em, 0);
  }
  100% {
    transform: translate3d(0, -20em, 0);
  }
}
</style>
