<template>
    <div slot="content" >
        <div class="mainSearch">
			<el-card shadow="never">
				<el-divider></el-divider>
				<div class="record-body">
					<el-row>
						<el-col :span="12">
							<div>
								<img :src="'/static/images/egame/blg/ky.jpg'" class="egame-content" @click="onItemClick('ky')">
							</div>
							<div class="record-content">
								<div class="record-title">开元棋牌</div>
							</div>
						</el-col>
						<el-col :span="12">
							<div>
								<img :src="'/static/images/egame/blg/leg.jpg'" class="egame-content" @click="onItemClick('leg')">
							</div>
							<div class="record-content">
								<div class="record-title">乐游棋牌</div>
							</div>
						</el-col>
					</el-row>
				</div>
			</el-card>
			</div>
			<el-dialog :title="dialog.title" :visible.sync="dialog.Visible" width="1100px" :center="true" top="20px">
				<el-row>
					<el-col>
						<iframe :src="dialog.url" frameborder="0" scrolling="no" class="egame-iframe"></iframe>
					</el-col>
				</el-row>
			</el-dialog>
			<TransferBox ref="TransferBox"></TransferBox>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
import TransferBox from '@/page/index/TransferBox.vue'
import { apiGetEgame } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			search:'',
			keyword:'',
            results:[],
            current_page:1,
			dialog:{
				title:'',
				Visible:false,
				url:'',
			},
			content:'',
        }
    },
    methods: {
        onItemClick(index)
        {
			if(this.user.username=="")
			{
				this.toast('请先登入');
				return;
			}
			this.$refs.TransferBox.open('BLG',index);
        },
		startGame(index)
		{
			if(this.user.username=="")
			{
				this.toast('请先登入');
				return;
			}
			this.dialog.title='';
			this.dialog.Visible=true;
			apiGetEgame({
				id:index,
				vendor:'BLG'
			})
			.then(response => {
				if(response.data.error)
				{
					this.error_handler(response.data);
				}
				if(response.data.status)
				{
					this.dialog.url=response.data.data;
				}
				return;
			}).catch(error => {
				console.log(error);
				return;
			});
		}
    },
	watch:
	{
		'dialog.Visible':function(value)
		{
			if(this.dialog.Visible==false)
			{
				this.dialog.url='';
			}
		}
	},
    computed: {
		...mapGetters({
            config:'config',
			mapByEgame:'mapByEgame',
			user: "user",
        }),
    },
    components: {
		'TransferBox' : TransferBox,
    },
    created() {
        //this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	padding 25px 0px;;
	.record-body
		padding 0;
		.egame-content
			cursor: pointer;
			-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
			box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
			border-radius: 4px;
		.record-item
			padding 10px 17px;
		.record-content
			padding 5px 0px;
			.record-title
				font-weight: 700;
				font-size: 1rem;
				line-height: 16px;
				margin: 0;
				padding: 0;
				border: 0;
				text-align center;
.egame-iframe
	width 100%;
	height 650px;
	//margin -30px -20px;
</style>
