<template>
    <div slot="content" >
        <div class="mainSearch">
			<el-card shadow="never">
				<div class="promotion-search">
					<div style="">
					  <el-input placeholder="請輸入優惠關鍵詞" clearable v-model="keyword" @keyup.native.enter="search=keyword">
						<el-button slot="append" icon="el-icon-search" @click="search=keyword"></el-button>
					  </el-input>
					</div>
				</div>
				<el-divider></el-divider>
				<div class="record-body">
					<el-row>
						<el-col :span="8" 
							v-for="(item, index) in results" :key="index"
							class="record-item"
							v-if="search ? item.title.indexOf(search) != -1 || item.subtitle.indexOf(search) != -1 : item.title!=''" >
						  <el-card :body-style="{ padding: '0px', cursor: 'pointer' }" @click.native="onItemClick(index)">
							<img v-bind:src="'/static/images/banner/'+item.pc_banner" style="height: 257px;width: 341px;">
							<div class="record-content">
							  <div class="record-title">{{ item.title }}</div>
							  <div class="record-subtitle">{{ item.subtitle }}</div>
							</div>
						  </el-card>
						</el-col>
					</el-row>
					<div class="no-record" v-if="!results.length">
						<img class="no-record-img" src="~assets/images/norecord.png">
						<div class="no-record-txt">暂无相关纪录</div>
					</div>
				</div>
			</el-card>
			</div>
			<el-dialog :title="dialog.title" :visible.sync="dialog.Visible" width="800px">
				<el-row>
					<el-col>
						<img v-bind:src="'/static/images/banner/'+content" >
					</el-col>
				</el-row>
			</el-dialog>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetPromotion } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
			search:'',
			keyword:'',
            results:[],
            current_page:1,
			dialog:{
				title:'',
				Visible:false,
			},
			content:'',
        }
    },
    methods: {
        getLog(page)
        {
            apiGetPromotion({
                page: page,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            return;
                        }
                        this.results=this.results.concat(response.data.data);
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        onItemClick(index)
        {
            this.dialog.title=this.results[index].title;
			this.dialog.Visible=true;
			this.content=this.results[index].pc_content;
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	padding 25px 0px;;
	.record-body
		padding 0;
		.record-item
			padding 10px 17px;
		.record-content
			padding 20px 25px;
			.record-title
				font-weight: 700;
				font-size: 1.1rem;
				line-height: 16px;
				margin: 0;
				padding: 0;
				border: 0;
				text-align left;
			.record-subtitle
				margin-top: 10px;
				font-size: .95rem;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-align left;
</style>
