<template>
	<div class="Transfer-box">
		<el-dialog title="遊戲轉點" :visible.sync="dialog.Visible"  :close-on-click-modal="false" width="460px">
			<el-row >
				<el-form label-width="90px">
					<el-form-item label="轉出">
						<span class="tip-amount" v-if="transfer.out && wallet[transfer.out].amount >= 0">${{ displayAmount(wallet[transfer.out].amount) || '0.00'}}</span>
						<el-select class="form-item" placeholder="請選擇" v-model="transfer.out" @change="changeOut" :clearable="false" >
							<el-option v-for="(item, index) in wallet" :key="index" :label="item.name" :value="item.id">
								<el-col :span="12" style="text-align: left;">
									<span>{{ item.name }}</span>
								</el-col>
								<el-col :span="12" style="text-align: right;">
									${{ displayAmount(item.amount) || '0.00' }}
								</el-col>
							</el-option>
						</el-select>
						<div class="button-span"></div>
					</el-form-item>
					<el-form-item label="轉入">
						<span class="tip-amount" v-if="transfer.in && wallet[transfer.in].amount >= 0">${{ displayAmount(wallet[transfer.in].amount) || '0.00'}}</span>
						<el-select class="form-item" placeholder="請選擇" v-model="transfer.in"  @change="changeIn" :clearable="false" >
							<el-option v-for="(item, index) in wallet" :key="index" :label="item.name" :value="item.id" >
								<el-col :span="12" style="text-align: left;">
									<span>{{ item.name }}</span>
								</el-col>
								<el-col :span="12" style="text-align: right;">
									${{ displayAmount(item.amount) || '0.00' }}
								</el-col>
							</el-option>
						</el-select>
						<div class="button-span"></div>
					</el-form-item>
					<el-form-item label="金額">
						<el-input class="form-item" placeholder="請輸入金額" @keyup.enter.native="onSubmit" @keypress.native="$bet.onlyNumber()" v-model="transfer.amount" :value="transfer.amount" :clearable="true"></el-input>
						<el-button class="button-span" type="text" @click="transferAll">全部轉入</el-button>
					</el-form-item>

					<el-form-item style="text-align: left;">
						<el-button type="primary" @click="onSubmit" :loading="transfer.loading" style="width:125px;">確定轉點</el-button>
						<el-button type="primary" @click="startGame" style="width:125px;" ><i class="el-icon-money"></i> 直接遊戲</el-button>
					</el-form-item>
				</el-form>
			</el-row>
		</el-dialog>
	</div>
</template>

<script type="text/ecmascript-6" >
import { apiGetECoin,apiGetCoin,apiGetECoinIn,apiGetECoinOut } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { TweenLite } from 'gsap';
export default {
	mixins: [globalMixin],
	data() {
		return {
			dialog:{
				title:'',
				Visible:false,
				url:'',
			},
			transfer: {
				amount:'',
				out :'',
				in :'',
				id:'',
				vendor:'',
				loading:false,
			},
			wallet:{
				main:{
					name:'主錢包',
					amount:0,
					id:'main',
					vendor:'',
				},
			},
			gameID:''
		};
	},
	methods: {
		startGame(){
			this.dialog.Visible = false;
			this.$parent.startGame(this.gameID);
		},
		displayAmount(amount){
			return parseFloat(amount).toFixed(2);
		},
		changeOut(value){
			for(var k in this.wallet)
			{
				if(this.transfer.out!=k)
				{
					this.transfer.in=k;
				}
			}
		},
		changeIn(value){
			for(var k in this.wallet)
			{
				if(this.transfer.in!=k)
				{
					this.transfer.out=k;
				}
			}
		},
		transferAll(){
			if(!this.transfer.out) {
				return this.message('請選擇轉出平台');
			}
			var amount = parseInt(this.wallet[this.transfer.out].amount);
			if(!amount) {
				return this.message('金額不足');
			}
			this.transfer.amount = amount;
		},
		onSubmit() {
			if(!this.transfer.out) {
				return this.message('請選擇轉出帳戶');
			}
			if(!this.transfer.in) {
				return this.message('請選擇轉入帳戶');
			}
			if (!this.transfer.amount || parseFloat(this.transfer.amount) < 1)
			{
				return this.message('請輸入金額');
			}
			this.transfer.amount = parseFloat(this.transfer.amount);

			if (this.transfer.amount > this.wallet[this.transfer.out].amount)	{
				this.transfer.amount = this.wallet[this.transfer.out].amount;
				return this.message('金額不得大於' + this.wallet[this.transfer.out].amount);
			}
			this.transfer.loading = true;
			let api = null;
			if(this.transfer.out=="main")
			{
				api = apiGetECoinIn;
				this.transfer.id = this.wallet[this.transfer.in].id;
				this.transfer.vendor = this.wallet[this.transfer.in].vendor;
			}else
			{
				api = apiGetECoinOut;
				this.transfer.id = this.wallet[this.transfer.out].id;
				this.transfer.vendor = this.wallet[this.transfer.out].vendor;
			}
			api({
				id:this.transfer.id,
				vendor:this.transfer.vendor,
				amount:this.transfer.amount,
			}).then(response => {
				if(response.data.error)
				{
					this.message(response.data.error);
				}
				if(response.data.status){
					this.message('額度轉帳成功');
					this.wallet[this.transfer.out].amount -= parseFloat(this.transfer.amount);
					this.wallet[this.transfer.in].amount += parseFloat(this.transfer.amount);
					//this.user.wallet.deploy[this.transfer.in].amount = this.user.wallet.deploy[this.transfer.in].amount + parseFloat(this.transfer.amount);
					setTimeout(() => {
						this.getMyCoin();
						if(this.transfer.in=="main")
						{
							this.refreshBalance(this.wallet[this.transfer.out].vendor,this.wallet[this.transfer.out].id);
						}else
						{
							this.refreshBalance(this.wallet[this.transfer.in].vendor,this.wallet[this.transfer.in].id);
						}
					}, 300);
				}
				this.transfer.loading = false;
			}).catch(error => {
				this.transfer.loading = false;
				console.log(error);
			});
		},
		open(vendor,game) {
			this.wallet[game]={
				id:game,
				name:this.config['vendor'][vendor][game],
				vendor:vendor,
				amount:0,
			};
			this.wallet['main']={
				name:'主錢包',
				amount:0,
				id:'main',
				vendor:vendor,
			};
			this.gameID = game;
			this.dialog.Visible = true;
			this.transfer.out = 'main';
			this.transfer.in = game;
			this.refreshBalance(vendor,game);
			this.getMyCoin();
		},
		getMyCoin()
		{
			apiGetCoin({
				})
				.then(response => {
					if(response.data.error)
					{
						return;
					}
					TweenLite.to(this.wallet['main'], 0.5, {amount:response.data.data.coin,onComplete:function (){}});
				})
				.catch(error => {
					console.log(error);
				});
		},
		refreshBalance(vendor,game) {
			apiGetECoin({
				id:game,
				vendor:vendor
			})
			.then(response => {
				if (response.data.status) {
					TweenLite.to(this.wallet[game], 0.5, {amount:response.data.data,onComplete:function (){}});
				}
			}).catch(error => {
				console.log(error);
			});
		},
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),
    },
	created() {
	}
}
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.Transfer-box
	.tip-amount
		position: absolute;
		left: 95px;
		color:rgb(192, 203, 218);
		font-size:15px;
		text-align: right;
		width:100px;
		z-index:1;
	.form-item
		width 200px;
	.button-span
		width 70px;
		display: inline-block;
</style>
